[2020-02-14 23:24] nschonni commented on #2956
Thanks, this is being tracked over on https://github.com/nodejs/node/issues/29216

[2020-02-14 23:24] #2956 closed, assigned to nobody

[2020-02-15 00:32] nschonni commented on #2836
Ping @nodejs/nodejs-es

[2020-02-15 17:42] Trott commented on #2906
@nodejs/i18n: Should this be added to the @nodejs/tsc agenda so we can get this resolved one way or the other? Or is there still some work and/or data-gathering that needs to happen?

[2020-02-15 20:11] vrunoa commented on #2836
@rafo0183 I'll create a PR for changing the "Ó to "O", I think we should keep "Agenda de LTS".

[2020-02-16 12:32] brandt2891 opened #2959 "File manager blob master"
* **URL**:
* **Browser version**:
* **Operating system**:

[2020-02-16 18:25] #2959 closed, assigned to nobody

[2020-02-17 04:48] bnb commented on #2906
@trott is the TSC the proper body to decide this? i18n is technically a CommComm initiative. Not sure if there’s historical blocking of this from the TSC.

My assumption would be requests like this would be an admin issue. Is that accurate?

[2020-02-17 04:50] jasnell commented on #2906
i18n was transitioned to commcomm but if commcomm isn't making progress with it, it could be transitioned back

[2020-02-17 04:55] obensource commented on #2906
@Trott @bnb @jasnell we just started picking up progress again this past week ([had a WG meeting on Friday](https://www.youtube.com/watch?v=qlW40Ehk8aU)), and have generated action items including this. We need to repeat similar steps to [this](https://github.com/nodejs/build/issues/1220#issuecomment-379916791) in order to set this up. I took this as an action item this week, since we're planning

[2020-02-17 05:28] bnb commented on #2906
If there are folks who are willing to work on it, it shouldn’t matter where it lives - not sure how progress is associated with CommComm or TSC ownership. I would hope such a line in the sand does not exist ❤️

[2020-02-17 07:10] obensource commented on #2906
@bnb same here. Also i18n itself isn't so cut and dry already. There is diversity in the WG that spans between both TSC-oriented and CommComm-oriented work (which we [reassessed and reasserted at length during our last meeting](https://www.youtube.com/watch?v=qlW40Ehk8aU#t=19m3s)), and it is niche enough that it's within the best interest of the WG to maintain that diversity to mutually support ea

[2020-02-18 02:58] Trott commented on #2906
@bnb I suggested TSC because that's where integration requests usually get held up based on security concerns etc. But yes, the admin repo would be a fine place to take it instead. Maybe even add labels to get it on both TSC and CommComm agendas if necessary.

[2020-02-18 03:12] obensource commented on #2906
@Trott @bnb @jasnell apologies if I misread the context of this thread (re my last/long-winded comment).

[2020-02-18 03:16] jasnell commented on #2906
I was just responding to whether things could be taken back to the tsc if necessary :) As the one who initially proposed moving i18n under commcomm I'm more than happy to see it thrive there!

[2020-02-24 14:19] megothub opened #2980 "http module emits 'end' event after 'error' event being called"
Update2: moved to the corresponding Issue tracker. Closing the ticket.

Hello

Update: Found another similar topic:
https://github.com/nodejs/node/issues/2156

Couldn't find solution, but, found similar issue related to TCP sockets
https://github.com/nodejs/node/issues/6083

* OS: Ubuntu 18.04.3 LTS
* node v12.16.1

What I need is to receive Github webhook request and handle it within 'End' event

[2020-02-24 16:43] #2980 closed, assigned to nobody

[2020-02-25 15:11] Trott opened #2984 "Language toggler code fails on 404 pages"
* **URL**: https://nodejs.org/fhqwhgads
* **Browser version**: Chrome 79
* **Operating system**: macOS Mojave

Language toggler JS code errors on 404 resulting in the thank-a-contributor feature never running, and possibly other issues. The toggler should fail gracefully on 404.

[code]

Refs: https://github.com/nodejs/nodejs.org/pull/2635#issuecomment-590908375

@XhmikosR @tniessen

[2020-02-25 15:13] XhmikosR commented on #2984
The thing is that I cannot find a way to get the a 404 page locally to reproduce the issue.

AFAICT we just need to check for `currentLangElement` before this line https://github.com/nodejs/nodejs.org/blob/master/static/js/main.js#L20

[2020-02-25 15:14] XhmikosR commented on #2907
@liquidbyte that will be fixed in #2914 which I accidentally came across this link https://github.com/nodejs/nodejs.org/pull/2914#pullrequestreview-364189300

[2020-02-25 21:24] #2836 closed, assigned to nobody

[2020-02-25 23:02] Trott commented on #2984
Looks like it's not failing on the live server anymore either. Weird.....

[2020-02-25 23:03] Trott commented on #2984
Oh, it only fails if you leave out the locale (e.g., `en`) in the URL.

[2020-02-25 23:07] nschonni commented on #2984
Probably not related, but the rewrite rules were updated recently https://github.com/nodejs/build/pull/2195

[2020-02-26 16:14] mkrawczuk opened #2988 "Decide on what to do with Node version in dockerization guide."
* **URL:** https://nodejs.org/en/docs/guides/nodejs-docker-webapp/ (and all translations)

Currently, an old version of LTS Node is mentioned in the guide. A fix has been proposed in PR #2953, and shortly after, #2983 followed. I'm opening this issue to avoid splitting the discussion between these two PRs.

The former lets the maintainers forget about manual version bumping which may be a source o

[2020-02-26 17:01] richardlau commented on #2988
The current text uses Node.js 10 and that’s still in support until next year (April 2021). Doing nothing for now and leaving the text as-is is an option.

[2020-02-26 17:22] mkrawczuk commented on #2988
The text explicitly recommends the latest LTS version (12), while the text inconsequently mentions versions 8 and 10. Please see the PRs.

[2020-02-27 21:12] mhdawson commented on #2988
I'd be ok with leaving the doc as is, but then adding a line somewhere that says something like this: "we recommend the latest lts version which was 10 at the time this guide was written. Please use the latest lts version instead of 10 as shown in the examples"

[2020-03-01 03:37] ghost opened #2990 "Is there an official installation guide ?"
I want to install nodejs on centos 7, but I didn't find the installation guide on the official website. If there is one on the official website, please tell me where it is. If not, I hope the official website can organize and put an installation guide. (I just want to see the official installation guide, thanks.)

[2020-03-01 19:37] nschonni commented on #2990
There is https://nodejs.dev/how-to-install-nodejs/ on the dev site, but I'm note sure if i'm missing an article over here that i'm not remembering

[2020-03-02 01:39] ghost commented on #2990
Thank you. For convenience, https://nodejs.dev/how-to-install-nodejs/ recommends using a package manager for nodejs installation. Maybe I can use _nvm_ to install nodejs on centos system, and here is a link that I got from the link above: https://nodejs.org/en/download/package-manager/, hope this will be useful. Thanks again.

[2020-03-02 01:39] #2990 closed, assigned to nobody

[2020-03-02 07:17] yosuke-furukawa opened #2995 "Windows download link is shown on top if Google Chrome UA string will be fixed."
![image](https://user-images.githubusercontent.com/555645/75653368-ce118980-5ca0-11ea-80bf-366bd43777f9.png)
Chrome UA string will be fixed in soon. https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/-2JIRNMWJ7s/yHe4tQNLCgAJ

According to the link, September 2020, Chrome 85 will fix and unify all UserAgent strings.
If the UA is fixed, we could see the windows download link on top.

we

[2020-03-03 03:03] nschonni commented on #2995
I'll just add that it wasn't particularly well received when presented to the other vendors https://github.com/w3ctag/design-reviews/issues/467 even though they claim in the Google group that they have support

[2020-03-03 03:05] nschonni commented on #2995
Also from that thread

Originally, we planned to ship UA-CH for M81, but as feedback resulted in proposal changes, that didn't happen.

[2020-03-04 09:15] XhmikosR commented on #2907
I'll fix this but I also see another issue: the `title` taken from the frontmatter key is not being passed through Markdown. I'll see if this can be fixed while at it.

[2020-03-05 06:30] #2907 closed, assigned to XhmikosR

[2020-03-05 09:19] KonstKh opened #3007 "404 Error of 'Get involved -> Code of Conduct' menu item"
* **URL**:
https://github.com/nodejs/node/blob/master/doc/guides/contributing/coc.md#code-of-conduct
* **Browser version**:
All browsers
* **Operating system**:
Any OS

Quite simple -> click on "Get involved" top menu item. Try to open "Code of Conduct" side menu.

[2020-03-10 16:25] zeke commented on #2906
Hey @alexandrtovmach I finally managed to get my PGP setup working again (gory details at https://github.com/nodejs-private/secrets/pull/87#issuecomment-597173069) and I now have access to the @nodejs-crowdin GitHub user again, so I can generate a new personal access token to re-enable the Crowdin integration.

I see two projects when I log into Crowdin using GitHub SSO as @nodejs-crowdin:

- http

[2020-03-10 22:13] nschonni commented on #2906
I believe it should be `nodejs-website`. The regular `nodejs` should be the existing API docs from nodejs/node.
It looks like the API docs also got pushed to `nodejs-website`, which isn't correct.

[2020-03-13 01:58] nschonni opened #3018 "Setup GitHub Action to deploy site"
@XhmikosR want to draft up a GitHub Action for this? If I can encrypt and store a secret that has an SSH key then we could isolate it to a single user account on the server and push content up directly. It'll need to be two step - 1) rsync content and 2) run an ssh command on the server to queue an invalidation of our cloudflare cached content. As long as we have strong assurance of the secret con

[2020-03-13 02:00] nschonni commented on #3018
Just pulling the conversation out so it's a little more obvious if someone goes looking.

For the SSH key, it seems like GitHub supports it through Deploy Keys that are repo specific https://developer.github.com/v3/guides/managing-deploy-keys/

[2020-03-13 17:23] zeke commented on #2906
Added a new token! Details here: https://github.com/nodejs/i18n/issues/223#issuecomment-598830317

[2020-03-13 19:49] nschonni commented on #2906
Re-opening since that isn't the right project, and the content that the node-website is still pointing to the API docs, not this repo

[2020-03-13 20:26] RichardLitt commented on #2906
@nschonni Thanks for being on top of this! Apologies.

[2020-03-13 21:32] zeke commented on #2906
Thanks for pointing that out. Fixed in https://github.com/nodejs/i18n/issues/72#issuecomment-598920261

[2020-03-13 21:32] #2906 closed, assigned to nobody

[2020-03-14 06:22] jonas0915 opened #3019 "Not Able to download on MacOS Catalina 10.15.3"

[2020-03-14 06:27] nschonni commented on #3019
Duplicate of #3020

[2020-03-14 06:27] #3019 closed, assigned to nobody

[2020-03-16 23:00] ghost opened #3023 "Re-invitation into the organization"
Hi,
I hope this is the proper place to post my request. I was a member of nodejs/nodejs.org  team, but I got locked out my account by 2FA. For a couple of months I was unavailable to do anything about my account, until the support introduced an option that would remove 2FA from my account. The unfortunate part is that they had to quit nodejs organization for me in order for 2FA to get disabled. I'

[2020-03-18 21:51] alexandrtovmach commented on #2906
@zeke Thanks for amazing news and sorry for delay

[2020-03-18 21:57] alexandrtovmach commented on #2906
BTW: I haven't access to https://github.com/nodejs-private/secrets/pull/87#issuecomment-597173069, probably you can write guide somewhere else? Gist, wiki?

[2020-03-20 19:44] zeke opened #3031 "Requesting access for @nodejs-crowdin GitHub user to integrate with Crowdin"
@nodejs-crowdin is the GitHub user we use to integrate Crowdin with the nodejs/i18n GitHub repository. We'd also like to be able to integrate Crowdin with this repo (nodejs/nodejs.org).

Is someone on the @nodejs/website or @nodejs/website-redesign team able to grant @nodejs-crowdin admin access to this repo?

The scopes required by the Crowdin-GitHub integration are these:  https://github.com/set

[2020-03-27 01:37] alexandrtovmach commented on #3031
@nodejs/website ping

[2020-03-27 01:51] nschonni commented on #3031
@Trott do you have the ability to do this? Or is it something that should get raised formally on nodejs/admin?

[2020-03-30 00:04] Trott commented on #3031
Done. Sorry about the delay.

[2020-03-30 00:04] #3031 closed, assigned to nobody

[2020-03-30 04:12] zeke commented on #3031
Thanks @Trott!

Invitation accepted:

<img width="1036" alt="Screen Shot 2020-03-29 at 6 47 20 PM" src="https://user-images.githubusercontent.com/2289/77874520-048be700-7202-11ea-92b2-3d1084d38488.png">

[2020-03-30 10:43] alexandrtovmach commented on #3031
@zeke Did you have a chance to integrate https://github.com/nodejs/nodejs.org with crowdin?

[2020-03-30 16:05] zeke commented on #3031
@alexandrtovmach  to which Crowdin project should this repo be connected?

[2020-03-30 16:36] nschonni commented on #3031
https://crowdin.com/project/nodejs-website

[2020-03-30 16:37] nschonni commented on #3031
not sure if it makes sense to rename it to `nodejs-website-org` like the other having "dev" at the end

[2020-03-30 19:30] alexandrtovmach commented on #3031
@zeke, as @nschonni said it should be `nodejs-website` project

[2020-03-30 21:20] zeke commented on #3031
Done!

![Screen Shot 2020-03-30 at 2 19 40 PM](https://user-images.githubusercontent.com/2289/77963045-88d97b00-7291-11ea-92db-f90611824947.png)

[2020-03-31 14:41] tuckmeng opened #3051 "Typo in end of life dates"
Under https://nodejs.org/en/about/releases/, the end of life date for v13 is 2020-06-01 which is earlier than end of life for earlier versions. A typo in the year?

[2020-03-31 14:57] richardlau commented on #3051
No, the dates are (at this point in time) correct. Odd numbered release lines (e.g. v13) do not become Long Term Support (LTS) release lines so have a much shorter life than the even numbered major release lines.

[2020-04-01 09:20] #3051 closed, assigned to nobody

[2020-04-01 09:59] alexandrtovmach opened #3057 "Updates for translations"
We finally have progress with configuring localization process for nodejs.org. That's also affected to the code, build scripts that we already have.

- [ ] update markdown linter to lint only original locale `/en`
- [ ] update development build script to use specific locales to speed up local bootstraping
- [x] update guides for translators to use Crowdin in current repo (#3061, #3062 )

@nodejs/w

[2020-04-02 13:52] okuryu commented on #3057
I think we need to sync existing translations in this repo to Crowdin. Is the first sync going to be done automatically?

[2020-04-02 15:09] alexandrtovmach commented on #3057
@okuryu it's already done, you can check here https://crowdin.com/project/nodejs-website

[2020-04-02 23:51] nschonni commented on #3057
The remark-lint shouldn't be disabled on translations. It's already been catching things like broken reference links in translation PRs

[2020-04-03 12:12] alexandrtovmach commented on #3057
@nschonni Makes sense, so let's postpone this changes for a week or so, until we complete with transitioning localization process from GitHub to Crowdin:
1. Need to resolve all exist PRs with translations (merge or close)
2. Actualize localization guides in current repo and in all locale team repos

After that we should turn off `remark-lint` for translated content, as not required, in case that C

[2020-04-03 16:03] nschonni commented on #3057
Crowdin doesn't handle it though, and actually reformats the files so that they no longer follow the nodejs Markdown format styleguide

[2020-04-03 17:40] alexandrtovmach commented on #3057
@nschonni Would you like to join our weekly meeting to discuss?
https://github.com/nodejs/i18n/issues/267

[2020-04-04 11:59] ghost opened #3070 "sm_code_getglobalpreloadcode_code_hook missing brackets"
https://nodejs.org/dist/latest-v13.x/docs/api/esm.html#esm_code_getglobalpreloadcode_code_hook
current:
[code]
should be
[code]

[2020-04-04 15:45] nschonni commented on #3070
Thanks, it's confusing, but that content is actually in the https://github.com/nodejs/node repo. Do you want to open an issue or [PR](https://github.com/nodejs/node/edit/master/doc/api/esm.md) there? I don't have the ability to transfer you issue myself.

[2020-04-04 16:09] ghost commented on #3070
https://github.com/nodejs/node/pull/32657

[2020-04-04 16:25] nschonni commented on #3070
Thanks @sla100 I think the docs will get updated after it lands, and the next time v13 is released

[2020-04-04 16:25] #3070 closed, assigned to nobody

[2020-04-05 18:48] Trott commented on #3057
If there are changes that can be made to [remark-preset-lint-node](https://github.com/nodejs/remark-preset-lint-node) such that it will reduce friction with Crowdin results, I'm definitely open to making those changes. Of course, they'll have to be balanced against issues of churn in the existing docs and website. But I'm certainly open to the idea that the rules can be more lax or otherwise diffe

[2020-04-06 08:23] tobias-theobald opened #3075 "Getting random 500s on several file downloads and directory listings + downloads slow"
* **URL**: https://nodejs.org/dist/v12.13.0/ , https://nodejs.org/dist/v12.13.0/SHASUMS256.txt.asc , https://nodejs.org/dist/v12.16.1/node-v12.16.1-darwin-x64.tar.gz
* **Browser version**: Chrome 80.0.3987.162 , curl 7.64.1
* **Operating system**: macOS 10.15.4

I'm getting a mix of slow / broken binary downloads, non-functional directory listings and file downloads both on my home internet connec

[2020-04-06 08:23] ddorkin opened #3076 "500 http code for taking node-v9.5.0-linux-x64.tar.gz distributive"
Can not download
https://nodejs.org/dist/v9.5.0/node-v9.5.0-linux-x64.tar.gz
receive 500 error code

**Browser version:**
Google Chrome | 80.0.3987.149 (Official Build) (64-bit) (cohort: Stable)
**Operating system:**
Windows 10 Enterprise

Here is snapshot:
![image](https://user-images.githubusercontent.com/2884430/78537960-f25d0a80-77f8-11ea-9eed-b8187aa8cc06.png)

-- | --

[2020-04-06 08:28] ddorkin commented on #3076
seems like it works again. Close the issue.

[2020-04-06 08:30] ddorkin commented on #3076
UPD: it failed again ...

[2020-04-06 08:38] mscharl commented on #3075
I have the same problem here in Austria

[code]

[2020-04-06 08:45] Tejendi commented on #3076
I'm experincing the same error, when trying to get the following:
https://nodejs.org/dist/v12.5.0/node-v12.5.0-win-x64.7z

This issue is likely a duplicate of: #3075

[2020-04-06 08:46] bognarlaszlo commented on #3075
Same issue for https://nodejs.org/dist/v5.7.0/node-v5.7.0-linux-x64.tar.xz when trying to install with `nvm install 5.7.0`

[2020-04-06 08:47] Skgtouch commented on #3076
Facing same issue.
Not able download tar.gz for any version.
Getting 500

[2020-04-06 08:49] adjerbetian commented on #3076
Same with https://nodejs.org/dist/v12.16.1/node-v12.16.1-linux-x64.tar.gz, very slow and sometimes times out.

[2020-04-06 08:51] nclifton commented on #3075
same issue https://nodejs.org/dist/v8.2.1/node-v8.2.1-linux-x64.tar.gz

[2020-04-06 09:23] rpragesh commented on #3075
same issue: [https://nodejs.org/dist/v10.16.3/node-v10.16.3-darwin-x64.tar.gz](url)

anyone can tell why this is happening...???

[2020-04-06 09:23] mustafa-turk commented on #3075
same issue: https://nodejs.org/dist/v10.18.1/node-v10.18.1-linux-x64.tar.gz

[2020-04-06 09:24] tobiasthorin commented on #3075
Can confirm, this is still ongoing. Same issue: https://nodejs.org/dist/v11.15.0/node-v11.15.0-linux-x64.tar.gz

[2020-04-06 09:25] loukianov commented on #3076
Same with all of https://nodejs.org/dist/v10.15.x/ - 500

[2020-04-06 09:38] clpatp commented on #3075
Same for https://nodejs.org/dist/v10.14.1/node-v10.14.1-linux-x64.tar.gz

[2020-04-06 10:42] mogindi opened #3077 "Getting 500 for https://nodejs.org/dist/v12.7.0/"
Saw other bug reports mentioning 500s but thought the more info the better :)

[2020-04-06 10:49] BoazWarshawsky commented on #3077
I am getting 500 for that URL: https://nodejs.org/dist/v12.16.1/node-v12.16.1-darwin-x64.tar.gz

[2020-04-06 10:50] BoazWarshawsky opened #3078 "Getting 500 for https://nodejs.org/dist/v12.16.1/node-v12.16.1-darwin-x64.tar.gz"
* **URL**: https://nodejs.org/dist/v12.16.1/node-v12.16.1-darwin-x64.tar.gz

* **Browser version**: trying to download the package in Azure pipeline
* **Operating system**: Mac OS

[2020-04-06 10:59] afractal opened #3079 "Getting 500 for https://nodejs.org/dist/v10.15.0/"
This happens for other versions as well.
![image](https://user-images.githubusercontent.com/8417583/78551678-5c2fe100-7806-11ea-97c9-4ff0bde849a9.png)

[2020-04-06 10:59] dborishansky commented on #3075
Appears to be sitewide, as also impacts: https://nodejs.org/dist/v8.15.1/node-v8.15.1-linux-x64.tar.xz

(How many thousands of deployments and builds are failing right now because of this?)

[2020-04-06 11:12] BoazWarshawsky commented on #3075
yet, another "same for" :)
Same for here: https://nodejs.org/dist/v12.16.1/node-v12.16.1-darwin-x64.tar.gz

[2020-04-06 11:19] BoazWarshawsky commented on #3075
Does someone know if there is any web status page we can have some info about downtime?

[2020-04-06 11:25] XhmikosR commented on #3079
Duplicate of #3075, please look for existing issues before creating a new one.

[2020-04-06 11:25] #3079 closed, assigned to nobody

[2020-04-06 11:25] XhmikosR commented on #3078
Duplicate of #3075, please look for existing issues before creating a new one.

[2020-04-06 11:25] #3078 closed, assigned to nobody

[2020-04-06 11:25] XhmikosR commented on #3077
Duplicate of #3075, please look for existing issues before creating a new one.

[2020-04-06 11:25] #3077 closed, assigned to nobody

[2020-04-06 11:25] XhmikosR commented on #3076
Duplicate of #3075, please look for existing issues before creating a new one.

[2020-04-06 11:25] #3076 closed, assigned to nobody

[2020-04-06 11:29] BoazWarshawsky commented on #3078
@XhmikosR can you share some web staus page to see if something is down?

[2020-04-06 11:31] XhmikosR commented on #3078
I don't think there's such a page available. This kind of issues are handled by @nodejs/build IIRC, so the issue doesn't belong to this repo.

[2020-04-06 11:51] lausdahl commented on #3075
Same for https://nodejs.org/dist/v12.11.1/node-v12.11.1-linux-x64.tar.gz this time it downloads but just very slow.

[2020-04-06 12:25] mtter commented on #3075
Seeing the same in Zurich
[code]

[2020-04-06 13:08] mogindi commented on #3075
https://nodejs.org/dist/v12.7.0/node-v12.7.0-linux-x64.tar.gz works now
but not https://nodejs.org/dist/v12.7.0/SHASUMS256.txt.asc

[2020-04-06 13:36] DaisyT-G commented on #3075
Same here for https://nodejs.org/dist/v10.15.1/node-v10.15.1-win-x64.7z

[2020-04-06 13:42] orrc commented on #3075
I've reproduced this from various networks and countries, and posted on the Cloudflare forum:
https://community.cloudflare.com/t/http-500-errors-hitting-nodejs-org-downloads/162133

It's not clear to me whether these artifacts (some of which are years old) are actually trying to be served from nodejs.org, or from Cloudflare's cache directly, so I don't know what's going on. It would seem odd to no

[2020-04-06 13:42] nschonni commented on #3075
Nothing in this repo controls the "downloads" directory, and the website team have no access to troubleshoot. Please do not add "same for" comments. Leaving unlocked for now

[2020-04-06 13:47] judge2020 commented on #3075
*reposting from the CF forum*
[code]

As the responses show `nginx`, this is most likely an issue with their server. If Cloudflare had an issue, the nginx server token would be `cloudflare` or `nginx-cloudflare`.

Even with something like nodejs (which is likely on the pro/business plan), cache assets aren't stored on Cloudflare forever and will be evicted if CF's higher-paying customers need the

[2020-04-06 15:11] amol-wanjare-emtec commented on #3075
I am also facing the same error -
https://nodejs.org/dist/v12.13.0/node-v12.13.0-win-x64.7z

2020-04-06T14:49:11.0992666Z ##[section]Starting: Use Node 12.13.0
2020-04-06T14:49:11.1105195Z ==============================================================================
2020-04-06T14:49:11.1105544Z Task         : Node.js tool installer
2020-04-06T14:49:11.1105907Z Description  : Finds or downloads an

[2020-04-06 15:47] BoazWarshawsky commented on #3075
@XhmikosR any update about this issue? the issue blocks our CI jobs.
thank you!

[2020-04-06 15:55] Trott commented on #3075
/ping @nodejs/build

[2020-04-06 15:57] michaellady commented on #3075
same for https://nodejs.org/dist/v6.7.0/node-v6.7.0-linux-x64.tar.gz

[2020-04-06 17:26] rbreslow commented on #3075
We're also experiencing timeouts across some of our build processes that rely on these distributions being available.

[2020-04-06 19:37] Trott commented on #3075
There is not, unfortunately. It's been suggested in the past, but no one ever stepped up to do it, and the project is volunteer-run. I have a feeling that if nothing else comes out of a postmortem on this incident, that will be something that finally gets done.

[2020-04-06 20:49] juddgaddie commented on #3075
Are there any mirros that one could use for NodeJS ? Or perhaps a company is willing to start one.

[2020-04-06 20:50] bnb commented on #3075
Since @mhdawson has pointed to https://github.com/nodejs/build/issues/2263 as the single source of truth for this discussion (ref: https://github.com/nodejs/node/issues/32683#issuecomment-610014994), I'm going to lock this discussion in favor of that one. There are already further updates there ❤️

[2020-04-06 21:17] bnb commented on #3075
Re-opening but keeping locked per @sam-github's request: https://github.com/nodejs/node/issues/32683#issuecomment-610040853

[2020-04-07 00:01] Trott commented on #3075
This is resolved now, although root cause analysis is ongoing. Closing. See https://github.com/nodejs/build/issues/2263 for further information.

[2020-04-07 00:01] #3075 closed, assigned to nobody

[2020-04-10 12:33] #3007 closed, assigned to nobody

[2020-04-13 15:37] GautDlpr opened #3097 "Download Speed"
* **URL**:https://nodejs.org/dist/v12.16.2/node-v12.16.2-x64.msi
* **Browser version**:Google Chrome Version 80.0.3987.163
* **Operating system**: Windows 10

Hey
I'm not an expert, but wtf 40 min for downloading 18 mo :
Something went wrong and it's not me

This massage must be useless but you had to say it

Have a nice easter day !
GautDlpr

[2020-04-13 15:49] gekim commented on #3097
20 seconds here on a 20Mb DSL line.
Points to something between you and the download site.

[2020-04-14 04:01] Trott commented on #3097
Took seconds over here. I'm going to close this because there's nothing in here that's action-able and it is unlikely to be an issue with nodejs.org. Feel free to re-open if there's anything credible that suggests otherwise.

[2020-04-14 04:01] #3097 closed, assigned to nobody

[2020-04-14 11:29] bttger opened #3101 "doc: Error in the "How to log in Node.js" docs - custom logging solution"
Regarding the custom logging solution: https://nodejs.org/en/knowledge/intermediate/how-to-log/#custom-logging

The comparison of the `level` and the `debugLevel` is not working like that, because it must be `>=` instead of `<=`. Otherwise if you set the `debugLevel` to something lower than "error" it won't show the error logs. Also I would not recommend declaring a new variable with every call of

[2020-04-14 13:05] Trott commented on #3101
Hi, @bttger! Thanks for the issue.

The knowledge base articles were originally written something like 9 years ago and have not been much maintained since then. In my opinion, we should decommission the whole thing and maybe refer people to nodejs.dev instead.

That said, if you want to improve this one, please do open a pull request against https://github.com/nodejs/nodejs.org/blob/master/locale/

[2020-04-14 13:10] Trott commented on #3101
Looking more closely, I think this article can and should be removed entirely. There are no doubt better treatments of the topic elsewhere and we don't need to include "how to attain log levels" in the knowledge base. And I'm not sure that the official site should be promoting `winston` (which is great) over `loglevel`, `pino`, etc.

[2020-04-18 07:17] JoseJPR opened #3114 "Question about "Node.js Meetups" translations."
🙋‍♂️ Hi everyone,

I have a question with the translation that I should do in the "Node.js Meetups" section. We currently have a format defined with which people should send their Meetup information.

Should this format be translated too? Would there be any kind of problem if the person who receives this information receives it in Spanish? for example:

**Meetup
Frecuencia de las reuniones
¿Cómo e

[2020-04-20 13:49] ghost commented on #676
i also came to request a website improvement of "link linux install documentation alongside the download button."

I am now in the process of reinstalling nodejs. I don't know what I did wrong last time but `npm cache clean` died looking for ../lib/utils/unsupported.js .

I'm still not sure where to extract this tar and with what permissions, I'm confident I will be able to find the install docs o

[2020-04-23 02:48] #3101 closed, assigned to nobody

[2020-04-25 07:09] JoseJPR commented on #3114
If there are no comments during the day, I'll let them remain in English for consistency.

[2020-04-26 06:27] #3114 closed, assigned to nobody

[2020-04-28 04:01] #3023 closed, assigned to nobody

[2020-04-28 21:29] cjihrig opened #3143 "The Node 12.16.3 release post didn't go live"
* **URL**: missing
* **Browser version**: All
* **Operating system**: All

It looks like the 12.16.3 release blog post (https://github.com/nodejs/node/pull/33009) never got published to the site.

[2020-04-28 22:20] cjihrig commented on #3143
cc: @nodejs/build

[2020-04-28 22:28] nschonni commented on #3143
Someone with access might need to restart the hooks https://github.com/nodejs/build/issues/2123#issuecomment-570987532 or it's the delay in the CDN purge https://github.com/nodejs/nodejs.org/pull/3129#issuecomment-617438032

[2020-04-29 02:38] rvagg commented on #3143
I can't actually fully explain this, everything seems to be running properly on our end.

I ran it manually on the sever (`build-site.sh`) but it said that the HEAD commit was the HEAD-1 commit (https://github.com/nodejs/nodejs.org/commit/9b23caac1d7d62087160db3d2bdf38223264899b) and built from that.

Here's a tail of a grep of 'HEAD is now at' from github-webhook.log that shows something similar:

[2020-04-29 04:06] cjihrig commented on #3143
Thanks Rod. I'll close this issue. If anyone wants to reopen it for some type of postmortem, feel free.

[2020-04-29 04:06] #3143 closed, assigned to nobody

[2020-04-30 15:46] bnb opened #3149 "Non-translated pages in translated directories taking over search results"
Looking for a reference to the New Buffer depreciation, I searched for "node js new buffer deprecated" on Google, and this was the first result:

![image](https://user-images.githubusercontent.com/502396/80730495-a8093980-8ad7-11ea-9e90-b429f65b4627.png)

Going to the page, however, I realized that this was a "translated" version of the page:

![image](https://user-images.githubusercontent.com/502

[2020-04-30 22:21] nschonni commented on #3149
@alexandrtovmach I think you were going to enable the setting so that untranslated pages weren't pushed from Crowdin till they started to be translated

[2020-05-09 05:54] #2866 closed, assigned to nobody

[2020-05-14 10:15] vsemozhetbyt opened #3174 "Last Chrome Canary cannot download some files"
* **URL**: https://nodejs.org/download/release/latest/win-x64/, https://nodejs.org/en/download/current/ etc.
* **Browser version**: Chrome 84.0.4146.0 canary
* **Operating system**: Windows 10 x64

This is just a heads-up cross-post. Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1082683

[2020-05-15 10:58] aghArdeshir opened #3176 "doc: refer to not-up-to-date website: six-speed"
https://nodejs.org/en/docs/es6/

In the link above there is a refrence to websit: six-speed. About performance of EcmaScript features. The website is so outdated.

[2020-05-15 10:59] aghArdeshir commented on #3176
![Screenshot_20200515-152241_Firefox](https://user-images.githubusercontent.com/5755214/82043446-20a4f400-969b-11ea-9882-a0f7ca5a8666.jpg)

[2020-05-16 08:43] vsemozhetbyt commented on #3174
It seems fixed in the next Chrome version.

[2020-05-16 08:43] #3174 closed, assigned to nobody

[2020-05-19 05:41] Trott commented on #3176
I suspect the ES6 page should be removed entirely. It was a big and important thing when io.js forked and shortly after the merge back with Node.js. But it has been some time since it's been worth such a big call out, I think. Anyway, I'll open PR to remove the six-speed stuff. Thanks!

[2020-05-19 12:41] MrSlimCoder opened #3183 "Dockerized nodejs.org"
Hi i was interested in dockerized node.org.

[2020-05-19 16:56] awerlang commented on #3183
Have you seen the official nodejs images ([1]), as linked in the website ([2])?

[1]: https://hub.docker.com/_/node/
[2]: https://nodejs.org/en/download/

[2020-05-19 17:02] MrSlimCoder commented on #3183
Nope currently node.org is not dockerized.

[2020-05-19 23:33] nschonni commented on #3183
Thanks, that's not used by the current deployment infrastructure, so it's not needed

[2020-05-19 23:33] #3183 closed, assigned to nobody

[2020-05-20 19:18] #3176 closed, assigned to nobody

[2020-05-21 02:27] nschonni commented on #3149
Ping @alexandrtovmach do you have a way of fixing this on the Crowdin side before I manually nuke all these untranslated pages that were added?

[2020-06-03 22:58] MylesBorins opened #3207 "Should we tell dependabot to chill out?"
Refs: https://github.com/nodejs/nodejs.dev/issues/668

Nodejs.dev was getting ALOT of noise from dependabot. We ended up changing the settings to only notify us for security related issues and auto land semver-patch

Should we replicate these settings here?

![Screen Shot 2020-05-05 at 11 37 04 AM](https://user-images.githubusercontent.com/498775/81085535-555bc300-8ec5-11ea-95ba-b5981746a9e6.png)

[2020-06-04 13:29] XhmikosR commented on #3207
The only change I'd make is switch to weekly or monthly checks.

Having security only should be like not having it enabled, since automated security fixes already do the same.

[2020-06-05 09:37] ghost opened #3223 "Revert site index page"
Hi!

Why did you change nodejs site index page? It brings a lot of problems with documentation page searching with downloading page searching and others pages.

We are developers. Nobody cares about your skin color or your nationality or something else. The only measure is your code skills.

So why are you bringing problems to the place where they never occurred?
If you want to support something c

[2020-06-05 11:54] Jisagi commented on #3223
I strongly agree on what was said so far. Bringing attention to (important) topics is good, but in which location and how is the question. Without google or other site indexer, it's impossible to find a download link to any version of nodejs. The only way is to find the single blog post link and from there go to downloads, but good luck finding that at the bottom of the page in the middle of a tex

[2020-06-05 12:13] chaimochs opened #3225 "Node website hacked"
Was the nodejs website hacked by BLM?

[2020-06-05 12:15] sxa commented on #3225
Despite how it may initially appear it has not been hacked - this was a deliberate decision by the Node.js community as per https://github.com/nodejs/nodejs.org/pull/3202

[2020-06-05 12:29] #3225 closed, assigned to nobody

[2020-06-05 12:34] #3223 closed, assigned to nobody

[2020-06-05 12:37] benjamingr opened #3226 "Anonymous feedback regarding the #BlackLivesMatter site"
Hey,

I have received feedback from a third party who wished to stay anonymous regarding the new website being very US-centric in nature.

I am honestly not sure if police brutality towards people of color is a bigger problem in the US (I personally felt a lot more racism in the US walking around with friends who were not white than anywhere else I ever visited).

Would it be possible to add some

[2020-06-05 12:37] sxa commented on #3225
@jasnell Would it be worth leaving one of these open and/or pinned to attempt to stop duplicates being opened?

[2020-06-05 12:37] jasnell commented on #3223
The website changes have the full support of the nodejs/tsc and nodejs/community-committee and will remain for a period of time.

Node.js downloads are easily found https://nodejs.org/download/ and https://nodejs.org/dist

[2020-06-05 12:40] jasnell commented on #3226
A pull request with a concrete suggestion would likely be the best approach.

[2020-06-05 12:45] jasnell commented on #3225
I would close the issues but have someone from the project open a new pinned and locked issue.. it's not going to stop duplicates from being opened, unfortunately.

[2020-06-05 12:53] jasnell opened #3229 "Node.js stands with #BlackLivesMatter"
On June 4th, 2020, the Node.js project temporarily replaced it's website at https://nodejs.org in support and solidarity with Black Lives Matter. The decision to do so was made by the Node.js Technical Steering Committee (TSC) and the Node.js Community Committee and was done through a public pull request.

FAQ

1. Was the website hacked?

No. The changes to the website were made by Node.js TSC and

[2020-06-05 14:36] bzoz opened #3231 "Main page docs link"
The documentation link on the main page points to https://nodejs.org/docs/:
![image](https://user-images.githubusercontent.com/17704638/83888812-a3751800-a74a-11ea-822e-7043e4ffcc5f.png)

it should probably point to https://nodejs.org/en/docs/

[2020-06-05 14:57] addaleax commented on #3231
Or https://nodejs.org/api/?

[2020-06-05 14:59] bzoz commented on #3231
I would go with https://nodejs.org/en/docs/, so it has the links to both current and LTS docs.

[2020-06-05 15:59] bzoz commented on #3231
Fixed in https://github.com/nodejs/nodejs.org/commit/f913c0260055ccb73ede17f685a8282da6c52045

[2020-06-05 15:59] #3231 closed, assigned to nobody

[2020-06-06 15:03] Jolly-Pirate commented on #3226
NodeJS, Github is not an outlet for American politics. It's an international community, so leave your domestic problems out of it and stick to coding.

[2020-06-06 19:19] DaniilVysotskiy commented on #3226
Seriously, stop mixing professional life with social/political life.

[2020-06-07 19:04] markusdresch opened #3237 "node.js website and BLM content"
i just tried to enter the node.js website, but it's full with some #BLM stuff and names.  the download links etc are still available via google.

[2020-06-07 19:16] markusdresch commented on #3237
ok, so this is on purpose... https://github.com/nodejs/nodejs.org/issues/3229

can users who are not citicens of the USA and do feel uncomfortable about having politics shoved down their throat in their daily work get a different landing page? i do know that there are riots over there and stuff, that's all in the newspapers. but i am very disturbed about this popping out in tools commonly used all

[2020-06-07 20:11] Trott commented on #3237
@markusdresch For what it's worth, the German language pages do not have this content. (I'm mentioning it only because GitHub says you're in Austria.) https://nodejs.org/de/

[2020-06-07 20:14] markusdresch commented on #3237
ah ok. i always use english operating systems, didn't notice. thanks.

[2020-06-07 20:14] #3237 closed, assigned to nobody

[2020-06-08 07:24] Lukortech commented on #3226
Is it Node.js priority now to answer all things that matter? Would it be appreciated if I made a PR asking to remember all the gay people stoned to death in certain countries? Why does it matter for people in Ukraine that USA has problems with corruption and racism? Maybe NODE.js mainapge should be a news page from now on, then?

[2020-06-08 07:31] rusekr commented on #3226
Use https://nodejs.org/ru/ (just not "/en/" page). It is more adequate.

[2020-06-08 07:48] fristys commented on #3237
What if I want to read the site in English and am not from the US? It's only the most spoken language on the planet... I just don't understand why politics has to be brought into everything, even work

[2020-06-08 08:26] benjamingr commented on #3226
Hey, this was addressed in the PR and discussion - so I am going to close this - thanks :]

[2020-06-08 08:26] #3226 closed, assigned to nobody

[2020-06-08 08:29] Lukortech commented on #3226
@benjamingr which PR, if you'd be so kind?

[2020-06-08 08:30] benjamingr commented on #3226
https://github.com/nodejs/nodejs.org/pull/3228

[2020-06-08 08:39] benjamingr commented on #3226
Preface: I don't speak for Node.js in the following comment, nor am I speaking in my capacity as a collaborator or moderation team member - I only speak for myself and from my own anecdotal experience.

As a side note - the easiest way to get a say regarding what Node.js does or doesn't do is to get involved. If any one of the hundreds of members (or tens of leadership body members) objected to th

[2020-06-08 12:42] Trott commented on #3237
Not sure if the question is entirely rhetorical, but in case a practical answer helps: There are three links at the bottom of the page to get people to the English website. In addition, you can also go to a path that you know doesn't exist (or guess a path that you think exists) and the 404 page has a top nav that is the same as always and can be used to get to downloads, docs, etc.

[2020-06-10 10:34] JJPandari commented on #3237
I was going to troll a slight little bit by opening a new issue against the changes to the website, but somehow I'm keep a bit decency and commenting here...

**So my thought is**, do you node.js collaborators think open source belongs to the whole mankind? If so, why mess its website with an issue only related to the U.S.?

You political correctnessts may then say that I'm cold blooded and cares

[2020-06-10 16:47] achingbrain opened #3244 "Version download metrics are all wonky"
The download metrics at https://nodejs.org/metrics/ take a massive downward leap on Nov 5th 2019 and then again at the beginning of April this year.  Since they're generated from the logs I'm guessing a CDN was deployed or similar?

They are useful to gauge the adoption of various node versions - is there a different place these stats are presented?

[2020-06-10 16:53] richardlau commented on #3244
It's a known issue. See also https://github.com/nodejs/TSC/issues/794 and https://github.com/nodejs/build/pull/2025.

[2020-06-10 17:36] achingbrain commented on #3244
Great, as long as someone's aware.

[2020-06-10 17:36] #3244 closed, assigned to nobody

[2020-06-11 18:46] cedricbu opened #3245 "missing release notes for CVE-2020-10531"
Hello,

CVE-2020-10531 was silently fixed in 14.3.0 and v14.3.0 , as a side effect of ICU rebase.

fix in v12.17.0  : https://github.com/nodejs/node/commit/2d76ae7497bfc3ac2d6a747e41d7bc594cfcdab9#diff-bd007b7962bfa64fcd3a1e11d91f03daL1566

14.3.0 : https://github.com/nodejs/node/commit/331f0b3420af205817cb9974b751b02224f40f75#diff-bd007b7962bfa64fcd3a1e11d91f03daL1566

Could you please update the

[2020-06-11 18:50] cedricbu commented on #3245
Original upstream ICU fix for the CVE: https://github.com/unicode-org/icu/commit/b7d08bc04a4296982fcef8b6b8a354a9e4e7afca

[2020-06-11 20:46] nschonni commented on #3245
I think these were called out in the separate Security Release blog post https://nodejs.org/en/blog/vulnerability/june-2020-security-releases/
Not sure how the previous ones were handled, but I guess you're suggesting that block at the top of the v10 blog post gets copied over to the others?

[2020-06-11 21:03] cedricbu commented on #3245
yes, these were called out in the June 2020 security releases ... but that release note states : "Does not affect 12.x or 14.x, they do not include an affected version of ICU." ... which is true, ... but the reason that it is true is because it was silently fixed in their respective previous version.

I guess the release notes for v12.17.0 & v14.3.0 could be modified to mention that they are fixin

[2020-06-11 21:38] nschonni commented on #3245
@nodejs/releasers maybe you can answer this one, since you folks usually cut the release note PRs

[2020-06-13 00:26] 0x00000FF opened #3250 "I would like to suggest change the way of supporting #BlackLivesMatter"
First of all, Let me clarify that there's no intention for racial discrimination or being against the BLM movement.

I little bit surprised when I enter the nodejs.org because I couldn't find any download links for Node.js. Of course, I know you people doing it for the right thing with good will, human rights must be respected.

However, nodejs.org is basically for providing information about Node

[2020-06-13 02:43] MylesBorins commented on #3250
@0x00000FF the intent was for the full page replacement to be there for a week. There is a PR open already to replace the full page replacement with a banner that we plan to land Monday.

I understand that it is frustrating and inconvenient to not be able to quickly have access to the landing page. This was the point of the statement we made. While many projects included a banner we thought that r

[2020-06-13 02:43] #3250 closed, assigned to nobody

[2020-06-14 00:23] mmarchini opened #3251 "`en` shows twice on the change language dropbox"
* **URL**: https://nodejs.org/pt-br/ (right now any home page except for /en/)
* **Browser version**: 77.0.1 (64-bit)
* **Operating system**: Windows 10

Duplicated `English` entry on the change language dropbox. Both entries will redirect to https://nodejs.org/en/

![image](https://user-images.githubusercontent.com/4048656/84581865-8075e400-ad9a-11ea-89bb-dcd31679df24.png)

![image](https://user-

[2020-06-14 03:16] nschonni commented on #2841
@clecorre the Crowdin setup has been enabled if you want to suggest translations now over https://crowdin.com/project/nodejs-website/fr#

[2020-06-14 03:16] #2841 closed, assigned to nobody

[2020-06-16 17:57] MylesBorins opened #3257 "Accessibility issues with BLM landing page"
Hey All,

We received an email report that the links on the BLM landing page were hard to read for those who can't distinguish color contrast well.

Did a quick report and saw that there are indeed some accessibility improvements we can make on the page

https://try.powermapper.com/demo/Report/577ee505-f5f6-425e-b1ca-450447bd7cce

I've not run this across the entire site, but as the BLM landing pa

[2020-06-16 18:57] davidfekke commented on #3257
A lot of organizations have a banner and link for supporting the BLM movement. It might be a better UX experience to move the BLM support to another page, and have a link to it on the homepage.

I know I came to the nodejs.org site the other day to try to download the installer, and I had to search for awhile until I found it at the bottom of the page.

[2020-06-16 19:12] nschonni commented on #3257
@davidfekke that already happened in #3246

@MylesBorins Looking at Wave, I'm not seeing any contrast issues flagged https://wave.webaim.org/report#/https://nodejs.org/en/black-lives-matter/ but that can sometimes be subjective, even if the ratio is correct

[2020-06-16 19:29] MylesBorins commented on #3257
@davidfekke the change to make a banner landed yesterday. The original plan was to replace the landing page for a week.

[2020-06-17 04:21] Trott commented on #3257
https://wave.webaim.org/report#/https://nodejs.org/en/black-lives-matter/ flags 32 color contrast issues for me, all in links.

<img width="523" alt="Screen Shot 2020-06-16 at 9 20 58 PM" src="https://user-images.githubusercontent.com/718899/84854758-4c5b2700-b017-11ea-8557-2befb8b70075.png">

[2020-06-17 04:23] nschonni commented on #3257
Weird, maybe a browser related thing? I'm running in Firefox on Windows 10
![image](https://user-images.githubusercontent.com/1297909/84854902-c946ca80-b030-11ea-86d1-056a1360eb1c.png)

[2020-06-17 04:26] Trott commented on #3257
I was running in Chrome but I get the same 32 errors in Firefox too. I'm on macOS.

[2020-06-17 04:34] nschonni commented on #3257
OK, think I figured out why I wasn't seeing it. I use Stylish for custom CSS, and even though I toggled it off, it seems like it was still picked up in the iframe

[2020-06-17 04:34] #3251 closed, assigned to nobody

[2020-06-18 02:05] calidion opened #3260 "Remove Black Lives Matter!"
don't use nodejs official web site for political propagation

[2020-06-18 03:40] nalaveras commented on #3260
**ALL LIVES MATTER YOU IDIOTS!**

[2020-06-18 05:02] MylesBorins commented on #3260
We will not be removing the banner at this time.

[2020-06-18 05:02] #3260 closed, assigned to nobody

[2020-06-18 07:06] calidion commented on #3260
Then add Yellow Lives Matter && White Lives Matter && All Lives Matter.
Don't be racist by only picking black!
The black should not be a privileged race!

[2020-06-18 18:10] XhmikosR commented on #3257
The main page passes WCAG2AA AFAICT. I remember I checked it in the past also.

EDIT: NVM, this issue is for https://nodejs.org/en/black-lives-matter/ which indeed has issues.

[2020-06-19 00:05] Trott opened #3263 "Broken link on BLM page"
* **URL**: https://nodejs.org/en/black-lives-matter/
* **Browser version**: Chrome 83
* **Operating system**: macOS

The word _more_ links to https://apps.npr.org/documents/document.html?id=6933593-NPR-CodeSwitch-Saytheirnameslistv3 but that page isn't loading. Console is reporting a 404 error for https://www.documentcloud.org/documents/6933593-NPR-CodeSwitch-Saytheirnameslistv3.js. This was repor

[2020-06-19 20:58] jonchurch commented on #3263
Here's an archive.org link that could replace it https://web.archive.org/web/20200607130311/https://apps.npr.org/documents/document.html?id=6933593-NPR-CodeSwitch-Saytheirnameslistv3

Or alternatively, a wikipedia page that lists lists of people killed by police in the US https://en.wikipedia.org/wiki/Lists_of_killings_by_law_enforcement_officers_in_the_United_States#Lists_of_killings

[2020-06-20 00:14] #3257 closed, assigned to nobody

[2020-06-23 08:45] dilyanpalauzov opened #3275 "Document the dependency on ICU in the online documentation"
NodeJS can be built with bundled ICU or `--with-intl=system-icu`.

Document the dependency on ICU at https://nodejs.org/en/docs/meta/topics/dependencies/

[2020-06-23 08:46] dilyanpalauzov opened #3276 "Document the dependency on libbrotli in the online documentation"
NodeJS can be built with bundled libbrotly or with `--shared-brotli`.

Document the dependency on libbrotli at https://nodejs.org/en/docs/meta/topics/dependencies/ .

[2020-06-23 21:27] maxdygaf opened #3274 "#AllLivesMatter"
* **URL**:  mental science
* **Browser version**:  mind-set
* **Operating system**:  Mind

Probably you wanted to say that **all lives matter**. When someone says  that anyone's live matter emphasising differences he lows down the value of the lives of the other groups of people.
So #AllLivesMatter  would be closer to everyone.

[2020-06-23 21:32] #3274 closed, assigned to nobody

[2020-06-23 21:33] addaleax commented on #3274
See https://github.com/nodejs/nodejs.org/issues/3229.

[2020-06-24 05:23] nel417 commented on #3263
I swapped out the link in [more] for the wiki link but I'm having some failing tests. I would love to contribute to this, this is super cool. Anything I can do to get the tests passing? here's my PR https://github.com/nodejs/nodejs.org/pull/3277

Thanks!

**Edit after posting this**
I think my failed tests were from my linter and code not matching the style guide, Just resubmitted with passing tes

[2020-06-24 09:38] mrmki opened #3280 "Remove BLM"
Since when did the programming tool become an instrument of political agitation? Why should users all over the world watch the circus in the USA? If this is so important, help these people financially or in other ways. Why litter on the main page of the project?

[2020-06-24 12:23] Trott commented on #3280
See https://github.com/nodejs/nodejs.org/issues/3229

[2020-06-24 12:23] #3280 closed, assigned to nobody

[2020-06-24 17:21] BootprojectStore opened #3282 "Remove BLM banner on node js website!!!!"
When a company/organisation like Node Js supports BLM I’m getting really angry... what has programming to do with racism?  Remove the banner !!!! BLM is just a reason to spread racism nothing else!!!  Idiots !!!

[2020-06-24 18:43] pierreneter commented on #3282
See #3229

[2020-06-24 18:43] #3282 closed, assigned to nobody

[2020-06-25 02:17] nschonni commented on #3276
@Trott why did you transfer the issue over here? That page is part of the docs in the node repo

[2020-06-25 02:24] Trott commented on #3276
It's in this repo: https://github.com/nodejs/nodejs.org/blob/d0be2aeef14e089b5afbc0bceb6b7cf9bf578c46/locale/en/docs/meta/topics/dependencies.md

[2020-06-25 02:32] nschonni commented on #3276
👍 thanks, I was mixing up the `api` and `docs` folders

[2020-06-25 04:07] MylesBorins commented on #3263
Closing as I believe this is fixed

[2020-06-25 04:07] #3263 closed, assigned to nobody

[2020-06-25 04:08] MylesBorins commented on #3276
There's actually quite a few dependencies we are missing there. I think we might want to just remove this.

Thoughts?

[2020-06-26 04:04] Trott commented on #3276
+1. It's hard to know what the purpose of this page is. None of these are dependencies you need to install to run Node.js. So this is more appropriately in the build docs in the main repo. And if we update it, it will just go out of date again.

[2020-06-27 07:43] Arkdevnoder opened #3284 "#AllLivesMatter"
Node js is not your system. It is opensource system which created by many participants including members of #AllLivesMatter. Please, remove the banner. It is not your repository

[2020-06-27 12:46] addaleax commented on #3284
See https://github.com/nodejs/nodejs.org/issues/3229.

[2020-06-27 12:46] #3284 closed, assigned to nobody

[2020-06-30 03:11] nerdlabs001 opened #3287 "BLM # in the way of my apt-get link"
* **https://nodejs.org/en/**:
* **chrome**:
* **lunbuntu**:

the blm# is covering where the apt-get line should be to download

[2020-06-30 03:15] nerdlabs001 commented on #3287
got it somewhere else

[2020-06-30 03:15] #3287 closed, assigned to nobody

[2020-06-30 15:19] nschonni commented on #3287
FYI, the pages with those lines is https://nodejs.org/en/download/package-manager/, it isn't covering an apt-get line

[2020-07-02 09:03] niftylettuce opened #3294 "Typo on #1 blog post outlining processing argv"
https://nodejs.org/en/knowledge/command-line/how-to-parse-command-line-arguments/

The example console output here should have `'five'`, but it ends at `'four'` instead.

![Screen Shot 2020-07-02 at 4 03 05 AM](https://user-images.githubusercontent.com/523141/86339252-f9898e00-bc18-11ea-9dd2-2f8a5a43aad7.png)

[2020-07-03 18:59] Trott commented on #3294
The docs are correct as they stand now. For `five` to be included, it would need to be added to the command line. It's not there in the last example, so it's not in the corresponding output.

[2020-07-03 19:00] Trott commented on #3294
(It is confusing that the first example includes `five` and the last one doesn't, so maybe they should be updated to have the same inputs and therefore the same outputs..)

[2020-07-10 08:18] VuppalaMahesh opened #3302 "How can i include my organisation name in Node.js website list of companies using their technology?"
This issue is regarding help:

Hi all. Hope everyone is doing good. The help which I need is, We use Node.js in our Project and I want to include my organization in Node.js website list of companies who are using their technology. Just want to know if Node.js is allowing that way. If yes, Please let me know how to that. Below is the sample link of Elixir Technology using companies list in there we

[2020-07-10 09:39] bnoordhuis commented on #3302
I don't think we have anything like that on nodejs.org but you could ask over at https://github.com/nodejs/nodejs.org/issues. I'll move the issue.

[2020-07-20 18:02] DayStar24 opened #3313 "Political Interference"

[2020-07-20 21:54] nschonni commented on #3313
Closing, see https://github.com/nodejs/nodejs.org/issues/3229

[2020-07-20 21:54] #3313 closed, assigned to nobody

[2020-07-23 10:20] tykokoss opened #3318 "Kk"

[2020-07-23 12:50] ghost commented on #3318
What's this? I guess this one may be closed.

[2020-07-23 15:57] #3318 closed, assigned to nobody

[2020-07-27 02:33] dinther opened #3320 "Stay out of politics."
Remove #BlackLivesMatter from your web-site. I find it offensive. I am white and my life matters too.
![ITS_OK_TO_HAVE_SKIN](https://user-images.githubusercontent.com/1192916/88498012-1184df80-d016-11ea-8ef2-3d88e6bd09cf.png)

[2020-07-28 01:05] Trott commented on #3320
Closing. Ref: https://github.com/nodejs/nodejs.org/issues/3229

[2020-07-28 01:05] #3320 closed, assigned to nobody

[2020-08-06 16:19] Varun-garg opened #3327 "Variables such as username seem to be cached globally"
* **https://nodejs.org/, https://nodejs.org/en/about/releases/ , other pages**:
* **chrome (84)**:
* **Arch Linux (rolling)**:

Please check footers of attached in the mail, as much as I would like to I haven't committed to nodejs yet :p

![Screenshot from 2020-08-06 21-47-37](https://user-images.githubusercontent.com/5960246/89556280-bed5cf80-d82e-11ea-91d2-b1137bcc2239.png)

![Screenshot from 20

[2020-08-07 21:09] leonardondev opened #3331 "doc: missing openSUSE Leap current version"
Hi guys,

I've been using node 12.18 on my **openSUSE Leap 15.2** and noticed that the documentation only describes support for [Leap 42.x](https://nodejs.org/en/download/package-manager/#opensuse-and-sle)
The doc could be update for this supported version.

---

[code]

[2020-08-11 07:58] #3207 closed, assigned to nobody

[2020-08-22 09:30] IbrahimMohammed47 opened #3345 "Event Loop guide article improvement"
I think the part about pending callbacks and poll phases is quite ambiguous in [this article](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#pending-callbacks),
I had confusion between these 2 phases, I read many articles and watched many videos but almost all of them contradict or give wrong information about these 2 event loop phases in particular, or sometimes they deal with

[2020-08-26 06:24] skbr1234 opened #3348 "Update Apache Workbench with an alternative in Profiling document"
* **URL**: https://nodejs.org/en/docs/guides/simple-profiling/
* **Browser version**: Chrome Version 84.0.4147.135 (Official Build) (64-bit)
* **Operating system**: Windows 10

The Apache workbench Node module is dead and is incompatible with the latest Node version. Please update it with an alternative in your profiling advisory document.

[2020-08-26 16:18] MylesBorins opened #3349 "This is a test of org permissions"
sorry for the noise

[2020-08-26 16:18] #3349 closed, assigned to nobody

[2020-08-30 11:47] mariusglauer opened #3352 "Nodejs.org down"
I noticed this as our Travis CI builds keep failing since a few minutes.

Location: Germany

[code]

[2020-08-30 12:03] DerekNonGeneric commented on #3352
I just checked and it's not down for me. Would you be able to try again using another device?

[2020-08-30 12:15] MattIPv4 commented on #3352
I'm seeing downloads from nodejs.org also fail with 522 errors (via multiple GitHub Actions)

[2020-08-30 12:18] mariusglauer commented on #3352
Maybe dedicated to Cloudflare: https://www.cloudflarestatus.com/incidents/hptvkprkvp23

[2020-08-30 15:48] nschonni commented on #3352
Anyone still seeing any issues? Looks like the Cloudflare incident is resolved now on their end.

/cc @nodejs/build for visibility

[2020-08-30 16:45] #3352 closed, assigned to nobody

[2020-08-31 00:39] joyously opened #3353 "Missing info and circular links for Getting Started"
https://github.com/nodejs/help/issues/

You should link to this somewhere where people will see it!!! But this issue is about the site.

There is a circular set of links for Getting Started, and no real information for a new user.
I finally got Node installed by following instructions buried in the wiki: https://github.com/nodejs/help/wiki/Installation
I don't remember how I got there, but it wasn

[2020-09-08 18:58] mhdawson opened #3360 "The banner for the security release next week is not showing up"
* **URL**: all
* **Browser version**: all
* **Operating system**: all

There should be a banner active for the security release next week, however, it is not showing up...

[2020-09-08 19:03] richardlau commented on #3360
@mhdawson I think we need to flip a value for visibility: https://github.com/nodejs/nodejs.org/pull/3359#pullrequestreview-484412042

[2020-09-08 19:44] richardlau commented on #3360
Opened https://github.com/nodejs/nodejs.org/pull/3361

[2020-09-08 22:44] #3360 closed, assigned to nobody

[2020-09-09 03:25] xdhmoore opened #3362 "Clear install information on the nodejs home page"
I installed on macOS using the Node installer and then after [hitting permissions problems](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) the first time I used `npm install -g` I wasted a bunch of time figuring out how to remove system level node and use a virtual environment instead. I think it would be helpful if the information available [here](ht

[2020-09-14 01:08] missmatsuko opened #3372 "Change language-picker icon so it's not the Google Translate icon"
I saw that a language picker was added in #2294, that's great!

However, I noticed that the language picker icon uses the Google Translate icon:
<img width="52" alt="Google Translate icon" src="https://user-images.githubusercontent.com/17884198/93033583-b02bc680-f5eb-11ea-82ad-456f07f6f9ee.png">

I think this makes it look like the site will be automatically translated with Google Translate, rathe

[2020-09-14 20:38] ahtee commented on #3327
Not exactly sure what the issue is here, could you explain further? I don't understand the relation between the title and the issue description here.

[2020-09-24 11:57] mbelsky opened #3396 ""How to access query string parameters" describes how to use deprecated API"
Hi,

I've tried to find how to work with search params in nodejs and google shown me [How to access query string parameters](https://nodejs.org/en/knowledge/HTTP/clients/how-to-access-query-string-parameters/)

This article describes how to use `url.parse`, however this API marked as deprecated in [nodejs docs](https://nodejs.org/dist/latest-v12.x/docs/api/url.html#url_legacy_url_api).

What do yo

[2020-09-26 14:04] ippei0605 opened #3401 "How long will you continue?"
Black Lives Matter

[2020-09-26 18:13] MylesBorins commented on #3401
I'm closing this issue. We do not have any consensus yet or timeline on removing the banner

[2020-09-26 18:13] #3401 closed, assigned to nobody

[2020-10-03 02:39] benhalverson commented on #3362
https://nodejs.dev has clearer instructions. TLDR: use nvm to install if you are on macOS
Similar instructions can also be found here. https://nodejs.org/en/download/package-manager/#nvm

[2020-10-03 14:05] Trott opened #3430 "canonical md link for 404 page"
Anyone know why this appears in the source when you get a 404 page on the website?

[code]

The md file does not exist, so...broken link. Should be `https://nodejs.org/en/404.html`. I haven't spent time trying to find where this is generated, but didn't want to leave it unaddressed so...opening an issue.

[2020-10-03 15:46] nschonni commented on #3430
Nothing obviously pops into my head. But here are my two hunches:
- Something baked into Metalsmith
- Something in the nginx config used to do the language detection/fallback in nodejs/build

[2020-10-03 22:13] xdhmoore commented on #3362
Thanks, yes after my turnaround I successfully followed the instructions at https://docs.npmjs.com/downloading-and-installing-node-js-and-npm using nvm.

[2020-10-04 03:08] #3362 closed, assigned to nobody

[2020-10-07 00:57] 8BitRobot opened #3437 "Replace "cannot" with "can not" in the Trademark Policy page on the website"
* **URL**: https://nodejs.org/en/about/trademark/
* **Browser version**: Firefox Browser 81.0.1 (64-bit
* **Operating system**: Windows 10 Pro 2004

Hi! This is my first issue, so please let me know if this is the wrong place to post this. Clicking "Edit" on the website led me here to fork the repo, but I didn't think forking it and making the change myself was necessary for such a tiny issue.

On

[2020-10-09 08:42] Mithgarthsormr opened #3441 "nodejs.dev/learn not working on PC (smartphone working)"
I hope I'm at the right address for this report!
Today I've tried to access the tutorial again but this time it wasn't working on two laptops of mine. The problem happened in three different browsers: Firefox, Brave Browser and Chromium.

When I tried to access the website with my smartphone, in the smartphone mode in the developer tools, it also worked.

* **URL**:
* **Browser version**:
* **Oper

[2020-10-09 08:50] Mithgarthsormr commented on #3441
Sorry, found the right place to post this afterwards!

[2020-10-09 08:50] #3441 closed, assigned to nobody

[2020-10-10 01:50] mosadahmed opened #3443 "Node.js.api"

[2020-10-10 01:54] #3443 closed, assigned to nobody

[2020-10-12 02:36] Lonniebiz commented on #3226
I can't believe the board members of this organization would allow the promotion of **any cause** outside of javascript, node.js, and open source software.

I think the best way to avoid police brutality is to being respectful, polite and cooperative when dealing with police officers. My philosophy is similar to that of [Chris Rock](https://www.youtube.com/watch?v=uj0mtxXEGE8). But, do you really

[2020-10-13 16:51] AbdoliMR commented on #2759
Dear @XhmikosR can I do it?

[2020-10-16 13:55] andyfisher100 opened #3458 "Nodejs.org ip address flagged by Cisco for serving up malware"
* **URL**: https://nodejs.org/
* **Browser version**: NA
* **Operating system**: NA

Currently the node JS website is served by 2 cloudflare IP addresses, these being
- 104.20.22.46
- 104.20.23.46

Cisco have currently flagged the 104.20.22.46 address as serving up malware and therefore the ip addresses has been added to global block lists. you can find more information here https://talosintellige

[2020-10-16 16:26] nschonni commented on #3458
Not sure if there is anything to do here, but I had to chuckle at hitting the Talos page and seeing that is also running on CloudFlare

[2020-10-16 21:29] Drewster727 commented on #3458
We are seeing the same issue. Who can resolve? :)

[2020-10-16 21:39] nschonni commented on #3458
Since the only way to "dispute" a rating requires a login via a Cisco account, I think it needs to be someone that is using their services.

[2020-10-19 09:20] andyfisher100 commented on #3458
I don't think it's really for us to dispute as we don't own the IP. I believe a Cisco login is free to create in order to create a dispute or this should be something you can contact cloudflare about as they are providing an IP to you that has been blacklisted for whatever reason

[2020-10-19 14:45] nschonni commented on #3458
/cc @nodejs/build

[2020-10-19 18:25] MylesBorins commented on #3458
I've pinged some internal GitHub folks to get a message to the Azure team to make sure they are aware of this issue.

I'm also going through my network of folks right now to see if I can find a contact at Cisco to escalate this to. Also pinging some folks I know at cloudflare.

[2020-10-19 19:06] xxdesmus commented on #3458
Hi -- Head of Trust & Safety at Cloudflare here. I've reached out to folks at Cisco to get additional information about this listing.

UPDATE: spoke with a friend at Talos. They are reviewing now.

[2020-10-19 20:15] MylesBorins commented on #3458
TYVM @xxdesmus

[2020-10-19 21:57] mhdawson commented on #3458
Sounds like we've got @xxdesmus investigating at Cloudflare. If we need to do anything else like open a ticket through the Node.js  Cloudflare account just let me know and I'll take a look.

[2020-10-19 22:15] jayantchaudhary002 commented on #3437
I would like to work on this issue

[2020-10-19 22:47] xxdesmus commented on #3458
I'm seeing that it's flagged as neutral now, instead of malicious.Though looks like this change is still propagating.

[2020-10-20 05:43] xxdesmus commented on #3458
https://talosintelligence.com/reputation_center/lookup?search=104.20.22.46  says `"Questionable  |  Neutral"` now -- should be fine.

[2020-10-20 08:12] andyfisher100 commented on #3458
Just checked now and can ping the ip again. great work guys! 👍

[2020-10-20 14:14] #3458 closed, assigned to nobody

[2020-10-27 15:31] #3294 closed, assigned to nobody

[2020-10-29 10:16] jonathanmeibergen opened #3488 "Please keep politics and ideologies away from products and or services"
* **URL**:
* **Browser version**:
* **Operating system**:

Altough i understand it comes from a good place, it's inappropriate to add politics and or ideologies into products and or services.
So the #BlackLivesMatter is better left out (or any other well intended endorsements in any case) of Node.js. Good intentions are assumed by default and they dont need to be verbose when products or services

[2020-10-29 12:34] Trott commented on #3488
Thanks for the comments. I'm going to lock/close this and refer people to https://github.com/nodejs/nodejs.org/issues/3229. In particular:

[2020-10-29 12:34] #3488 closed, assigned to nobody

[2020-11-02 22:00] wardaks24 opened #3493 "Node.js"

[2020-11-02 22:15] #3493 closed, assigned to nobody

[2020-11-09 14:00] Glideh opened #3504 "doc: Docker - Shouldn't we use included npm ?"
Instead of suggesting to use host's npm to [initialize a new node app](https://github.com/nodejs/nodejs.org/blob/3df18110ebc0721affbb6e34a23b69813f9af3cb/locale/en/docs/guides/nodejs-docker-webapp.md#create-the-nodejs-app), shouldn't we use the one included into the image that we are going to use ?

Example with a basic `docker-compose.yml`

[code]

[code]

Then

[code]

Maybe user doesn't have np

[2020-11-10 10:53] kasicka opened #3505 "Add Slovak locale to Crowdin"
Can I get Slovak locale added to Crowdin? I am not confident enough with my knowledge of Czech language to contribute to that locale, but I am sure Slovak translation would help Czech speakers as well.

[2020-11-10 15:36] vitaly-zdanevich opened #3507 "add dark theme"
Please consider https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-11-11 03:04] nschonni commented on #3505
Ping @nodejs/crowdin-managers

[2020-11-12 02:47] appskitachat opened #3514 "Bug laporan"
* **URL**:
* **Browser version**:
* **Operating system**:

[2020-11-12 02:47] #3514 closed, assigned to nobody

[2020-11-12 02:48] appskitachat commented on #3514
https://github.com/nodejs/nodejs.org/issues/3514#issue-741224435[Laporan bug](https://github.com/nodejs/nodejs.org/issues/3514#issue-741224435)

[2020-11-19 08:11] AlphaDio opened #3534 "Are you guys going to talk about the White lives that have been reaped by Police Brutality?"
That's a nice list of Black lives that have been reaped by Police Brutality and Injustice you have there.

Are you going to also feature a list of all the people of other ethnicities that have been unjustly killed by a police officer who was high on power?

I can show you the video of a young white man begging for 30 mins while aimed at by a police officer who spent that time abusing him and humil

[2020-11-19 22:57] manupik opened #3535 ""#BlackLivesMatter" covers opened language menu on mobile"
* **URL**: nodejs.org/en
* **Browser version**: Chrome
* **Operating system**: Android

On mobile, when opening the language menu, the "#BlackLivesMatter" banner stays on top and it covers some of the languages.

[2020-11-19 23:04] nschonni commented on #3535
Thanks, I also see this on Firefox for Android

[2020-11-20 07:42] sumukhah commented on #3535
Working on the issue.

[2020-11-20 09:06] elvizcacho opened #3539 "Keep nodejs political and ideology neutral."
* **URL**: https://nodejs.org/
* **Browser version**: All
* **Operating system**: All

Node.js doesn't play any role in politics and ideology so makes no sense to have a #BlackLivesMatter banner. Remove it.

[2020-11-20 16:09] nickserv commented on #3539
https://github.com/nodejs/nodejs.org/issues/3229

[2020-11-20 16:09] #3539 closed, assigned to nobody

[2020-11-20 17:55] #3535 closed, assigned to nobody

[2020-11-20 18:48] nickserv commented on #3534
#3229

[2020-11-20 18:48] #3534 closed, assigned to nobody

[2020-11-20 19:10] nschonni commented on #3302
It looks like there was discussion around including a sponsors page in https://github.com/nodejs/nodejs.org/issues/1257, but there isn't a page for companies that are using Node

[2020-11-20 19:10] #3302 closed, assigned to nobody

[2020-11-24 10:43] kasicka commented on #3505
Ping? @nodejs/crowdin-managers

[2020-11-24 11:03] alexandrtovmach commented on #3505
Hello,
Sorry for delay, I lost notification...
Here we go: https://crowdin.com/project/nodejs-website/sk
Thanks for contributing! :+1:

[2020-11-24 11:03] #3505 closed, assigned to nobody

[2020-11-24 11:06] alexandrtovmach commented on #3505
I can't find your profile on Crowdin, so let me know your username or simply go to:
https://crowdin.com/project/nodejs-website/invite?d=p6653605351793a3e5o4a323r4f3f3
(link to sign up as Slovak translator for `nodejs-website`)

[2020-12-02 19:05] himself65 opened #3556 "cnodejs website shutdown"
For some reason, http://cnodejs.org/ has shut down for a few months.

[2020-12-02 20:58] nschonni commented on #3556
Should it be removed from the community page? I think that's the only relation it has to this site

[2020-12-17 06:30] DantrazTrev commented on #2759
Is this issue still open ?

[2020-12-17 06:56] fadsik opened #3581 "js"

[2020-12-17 07:57] MrSlimCoder commented on #3581
I'm curious what is your issue?

[2020-12-17 17:38] #3581 closed, assigned to nobody

[2020-12-18 05:46] #3556 closed, assigned to nobody

[2020-12-19 09:36] MrSlimCoder commented on #3556
Guy's why this website is down?

[2020-12-23 15:29] fulldecent opened #3591 "Link from releases.md to a machine-readable version"
Currently the page https://nodejs.org/en/about/releases/ provides a human-readable list of supported Node.js versions. That's great.

Please link directly from that page to a machine-readable version of the same information.

---

P.S. I am working on GitHub Actions for building Node.js projects. Having this information will be helpful for me because then GitHub Actions can stay up-to-date and sup

[2020-12-23 16:04] rodion-arr commented on #3591
Hey @fulldecent, does this link fits your needs?
https://nodejs.org/dist/index.json

[2020-12-23 18:36] fulldecent commented on #3591
Thank you, this is related. But it does not show which releases are supported.

[2020-12-23 21:10] richardlau commented on #3591
The canonical source of truth for releases is the Release WG (https://github.com/nodejs/Release). A machine readable format can be found in https://github.com/nodejs/Release/blob/master/schedule.json and is what is used to build https://nodejs.org/en/about/releases/ (see https://github.com/nodejs/nodejs.org/blob/master/scripts/helpers/release-schedule.js).

I believe the Package Maintenance Group

[2020-12-25 00:16] ugultopu opened #3594 "Is `if (err) { return callback(err); }` just a shorthand for `if (err) { callback(err); return; }`"
In the article [What are callbacks?], we have the following code snippet:

[code]

Now, if I understand correctly, `fetchData` is an asynchronous function. And `function (err, data) {// Function body}` is the callback that's passed to `fetchData`. `fetchData` will call this callback whenever the data is available, or whenever an error occurs while fetching the data.

My question is, in the callbac

[2020-12-25 02:36] ugultopu commented on #3594
In other words, if the callback used if-else, instead of just if, then it wouldn't need to use `return callback(err);` right? Then the code would have just been:

[code]

Is this correct?

[2020-12-25 13:43] Trott commented on #3594
`return callback(err)` is idiomatic in Node.js. It makes it clear that we're dealing with error handling but that the happy path is the rest of the code. It avoids the happy path from being tucked away in an else block. I'm not saying these are or aren't good reasons for the idiom--just that it happens to be the idiom and that's why the docs do that.

[2020-12-25 13:45] Trott commented on #3594
For what it's worth, I do find your suggestion harder to read. Where's the happy path? It's not clear. And if the function were longer, it wouldn't be clear whether or not more code runs after the callback if there's an error. With the existing code, it's clear that it doesn't.

[2020-12-25 13:47] Trott commented on #3594
Yes. (However the first resembles the idiom in Node.js and the second resembles the idiom of Python.)

[2020-12-25 13:47] #3594 closed, assigned to nobody

[2020-12-25 23:45] 0501814314 opened #3596 "عربي"

[2020-12-25 23:51] #3596 closed, assigned to nobody

[2020-12-26 06:46] himself65 commented on #3556
@slimcoders

previously there're ads about the proxy server(to bypass the GFW), and the server of the website is in CN mainland. So they banned the site.

currently, the server of the site is outside now

[2020-12-28 18:29] pongo opened #3600 "Change "Current" to "Beta""
Many people think that the "Current" version is the actual stable version. In fact, it is a beta version.

I suggest renaming "Current" to "Beta" to avoid misunderstandings.

[2020-12-28 18:36] nschonni commented on #3600
This is the repo for the website. You might open something on https://github.com/nodejs/Release, but I doubt the suggestion will be accepted

[2020-12-28 18:36] #3600 closed, assigned to nobody

[2020-12-29 17:13] pspletinckx opened #3602 "Incorrect npm version information on download page"
https://nodejs.org/en/download/current/
Google Chrome Version 87.0.4280.88 (64-bits)
Windows 10

The current version download page claims:
"Latest Current Version: 15.5.0 (includes npm 7.3.0)"

But the release ships with npm 6.2.0

[2020-12-29 17:17] nschonni commented on #3602
No, it's correct https://github.com/nodejs/node/tree/master/deps/npm
Maybe you have an older NPM version that you installed yourself

[2020-12-29 17:49] pspletinckx commented on #3602
Yes you are correct.
I was executing ./npm --version in the the extracted zip package of 15.5.0
somehow this still outputted the version found in ~\AppData\Roaming\npm (6.2.0)
Version is indeed 7.3.0

Thanks for clarifying!

[2020-12-29 17:49] #3602 closed, assigned to nobody

[2021-01-04 02:48] yuanchieh-cheng opened #3610 "doc: no document page about Atomics API"
I didn't found any documentation about the Atomics API but only on MDN.
Did I miss something or where the doc exists ?

Thanks.

[2021-01-04 03:15] Trott commented on #3610
MDN would be the right place. We generally don't document language features like Atomics, Promises, or TypedArrays. These things are usually better and more accurately documented in places like MDN.

I'm going to close this, but feel free to comment and/or re-open if there's more to be said!

[2021-01-04 03:15] #3610 closed, assigned to nobody

[2021-01-06 07:18] codymatthew opened #3621 "#BlackLivesMatter"
Planned on downloading until I saw that crap on the homepage.  Off to PureJS I go :)

[2021-01-06 07:48] #3621 closed, assigned to nobody

[2021-01-11 20:32] thbar opened #3634 "Discrepancy in advertised 14.x LTS versions (14.15.0 vs 14.15.4)"
If one looks at https://nodejs.org, the advertised LTS version is "14.15.4 LTS".

On the other hand, querying the registry via the API here :

`curl https://registry.npmjs.org/-/package/node/dist-tags | jq .`

will show LTS as `14.15.0`:

[code]

The versions displayed at https://www.npmjs.com/package/node show the same numbers:

![CleanShot 2021-01-11 at 21 30 47@2x](https://user-images.githubuse

[2021-01-11 20:44] richardlau commented on #3634
You'll have to ask the maintainers of the [`node` package](https://www.npmjs.com/package/node) on npm -- it's not managed by this project.

[2021-01-11 20:48] thbar commented on #3634
@richardlau thanks for the clarification! I'll ask over there.

[2021-01-11 20:48] #3634 closed, assigned to nobody

[2021-01-26 20:25] jorydotcom opened #3652 "[Info] OpenJS - upcoming conference news"
Wanted to share this FYI out to the Node.js community to let ya’ll know that the OpenJS Foundation has opened its [call for speakers](https://openjsf.org/announcement/2021/01/11/openjs-world-2021-save-the-date/) for the upcoming virtual OpenJS World event on 9 June 2021. We would love to make sure the project is well represented in the conference content! If anyone is interested and has more quest

[2021-02-14 18:32] XhmikosR commented on #3430
This is definitely something in this repo. It looks that 404.md has `permalink: false` and this causes the issue. Unsure how to work around it.

[2021-02-14 18:33] XhmikosR commented on #2510
@nschonni I haven't followed the translations on his repo so if this is sorted or if it will be sorted, feel free to close this issue.

[2021-02-14 18:43] nschonni commented on #2510
Crowdin is hooked up now, but it's not really used. Primarily the changes comes as PRs to the repo

[2021-02-21 00:49] m5440 opened #3719 "The company is the first to offer a new person to the next generation and will forever and be able and able and have to do it in the future"

[2021-02-21 00:54] #3719 closed, assigned to nobody

[2021-02-25 15:01] #3327 closed, assigned to nobody

[2021-02-28 10:14] ghost opened #3738 "translation"
* **URL**:
* **Browser version**:
* **Operating system**:

### the main contant does not translate to farsi

[2021-02-28 18:23] nschonni commented on #3738
https://github.com/nodejs/nodejs.org/blob/master/TRANSLATION.md

[2021-03-04 07:33] targos opened #3748 "could dependabot be disabled on forks?"
Since I forked this repository, I'm getting dependabot pull requests on my fork, which is very annoying: https://github.com/targos/nodejs.org/pulls
Is it possible to only enable it for the main repository?

[2021-03-04 14:47] nschonni commented on #3748
No, its something that's currently missing from a GitHub perspective. When the .yaml file exists, it currently creates them in forks

[2021-03-04 14:52] targos commented on #3748
I don't understand, because the GitHub's documentation says it has to be explicitly enabled in forks: https://docs.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-version-updates-on-forks

I suppose I can delete the file to disable it on my side?

[2021-03-04 18:51] ThisIsMissEm commented on #1269
I've just encountered this issue with a developer as well, they didn't know how they'd installed node.js, but had version 13.x; Perhaps it can be `Download LTS | Other versions` as the buttons, where other versions takes you to the LTS schedule or the "downloads tab"

I think the downloads page does a good job and signalling which should be used:

<img width="1038" alt="Screenshot 2021-03-04 at 19

[2021-03-04 20:39] Trott commented on #1269
@ThisIsMissEm Thanks for the screenshot and details and for reviving this issue because it's an important one.

The home page does now use the "Recommended for most users" vs. "Latest features" language, and I do think we can do a bit more to steer the average user to LTS.

![image](https://user-images.githubusercontent.com/718899/110027336-af483780-7ce6-11eb-936a-1e2ca2d24e83.png)

Perhaps the ho

[2021-03-05 23:55] nickserv commented on #1269
@friday raises a good point that the better syntax support in latest makes it more beginner friendly, as setting up tooling for this can be very complex. I think it would be better to have a "For Production" label for LTS, and "For Developers" label for Current. Personally I'd also like to emphasize Current instead of LTS for the same reason.

[2021-03-06 15:57] ThisIsMissEm commented on #1269
But shouldn't want you use in development match your production environment? Also, what v8 language features exist in 15.x that don't exist in 14.x, apart from very new bleeding edge spec features?

[2021-03-06 16:06] ThisIsMissEm commented on #1269
Like, "less likely need to transpile" really depends on the developer & project — for a very large number of people installing node.js, they only need it to run `create-react-app` or webpack or gulp or something. That is, they're not actually building new modules or servers or anything like that.

I think the current education curve for new comers, i.e., folks writing modules or servers, is that t

[2021-03-06 18:34] av1shek opened #3752 "Grammatical error in privacy.md doc"
There is a grammatical error in privacy.md. ```Below, we provide a brief summary these activities.``` it should be "Below, we provide a brief summary  **of** these activities."

Screenshot
![img1](https://user-images.githubusercontent.com/59140024/110217106-5809b900-7ed8-11eb-81f5-16478a61234c.png)

[2021-03-07 23:35] kemitchell commented on #1269
Aside: I opened this issue nearly three years ago, but don't currently have bandwidth to keep up on comments. So I've unsubscribed.

Please feel free to handle the issue however you like.

[2021-03-08 08:11] friday commented on #1269
My "less likely need to transpile" comment is 4 years old. Things have changed. I stand by it, but I also don't think it's as relevant today.

I also never meant this was an argument for defaulting to the current release. I'm mostly agnostic to which one you default to. I just don't think beginner friendliness is an argument that should be made for the LTS release, as suggested in earlier discussi

[2021-03-08 15:43] ThisIsMissEm commented on #1269
Right, but steering people towards stability _is_ improving beginner friendliness.

[2021-03-11 14:10] focarroll opened #3758 "Bash script on downloads page uses a command that is not installed on Mac"
* **URL**: [https://nodejs.org/en/download/package-manager/#macos](https://nodejs.org/en/download/package-manager/#macos)
* **Browser version**: Google Chrome 88.0.4324.192
* **Operating system**: Mac OSX 10.15.7

By going to [the link above](https://nodejs.org/en/download/package-manager/#macos), you can see the following code:

[code]

This bash script uses the command `wget`. However, Mac OS do

[2021-03-11 15:15] focarroll commented on #3758
After some trial and error, I've found a possible solution for Mac users:

[code]

[2021-03-18 00:01] nickserv commented on #1269
The non-LTS releases are not unstable. They're just not long term support. Non-LTS releases may actually be more stable because they have more active bug fixes, though hopefully anything also affecting LTS would be backported.

Still, I don't think we should assume beginners are using build tools. CRA is popular, but for someone making a backend for example manually setting up Babel is relatively

[2021-03-18 17:39] nschonni opened #3761 "[meta] Rename default branch to main"
Issue tracking the renames across the org https://github.com/nodejs/node/issues/33864

- [x] PR to change the instances where it is hardcoded https://github.com/nodejs/nodejs.org/pull/3762
- [x] Any changes needed to the nodejs/build webhook setup https://github.com/nodejs/build/pull/2676
- [x] Update Crowdin config?

[2021-03-21 18:14] peZhmanParsaee commented on #3738
I asked to join the translation team at Crowdin, based on the descriptions in TRANSLATION.md file.

[2021-04-04 12:49] aldarmak commented on #3758
Thanks a lot sir

[2021-04-05 09:19] windsmasher opened #3785 "doc: "tick" incorrectly defined in "Learn" section in nodejs.dev"
In https://nodejs.dev/learn/understanding-process-nexttick we can read that `Every time the event loop takes a full trip, we call it a tick.`

Is it for sure right? I'm not sure even more knowing how process.nextTick() works.

[2021-04-05 16:54] #3785 closed, assigned to nobody

[2021-04-05 16:56] windsmasher commented on #3785
It turns out that nextTick and setImmediate got named backwards and this is why:
https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#process-nexttick-vs-setimmediate

[2021-04-06 20:29] cbbeau opened #3792 "Latest security release message has the wrong version of Node 12"
This is a content issue (typo) rather than a website issue.

[https://nodejs.org/en/blog/vulnerability/april-2021-security-releases/](https://nodejs.org/en/blog/vulnerability/april-2021-security-releases/) lists Node 12.21.1, when it looks like that should be 12.22.1 instead.

[2021-04-06 20:56] cbbeau commented on #3792
Looks like this has been fixed!

[2021-04-06 20:56] #3792 closed, assigned to nobody

[2021-04-14 14:14] ivgur opened #3801 "Any request to the urls *.nodejs.org blocked."
* **https://deb.nodesource.com/node_15.x**:
* **curl**:
* **Debian**:

Hi,
 Recently we discovered that updates from repository *.nodesource.com not works. As well as new installations.
 We discovered that any requests from this network segment denied:

[code]

We do checks with curl and as standart apt:
`# curl https://deb.nodesource.com/node_15.x
<HTML><HEAD>
<TITLE>Access Denied</TITLE>
</HEAD>

[2021-04-14 14:33] nschonni commented on #3801
@nodejs/build probably makes sense to move this to the build repo

[2021-04-14 14:33] nschonni commented on #3801
Oops, just realized you're talking about `nodesource`, that is a different org

[2021-04-14 14:33] #3801 closed, assigned to nobody

[2021-04-14 15:34] Trott commented on #3801
Perhaps try submitting an issue at https://github.com/nodesource/distributions/. Good luck.

[2021-04-15 07:54] ivgur commented on #3801
@Trott  @nschonni
Yep, I'lll try this.
Thanks for reply!

[2021-04-16 11:00] ghost opened #3802 ""404 Page Not Found" Cannot work properly when we don't have a language"
Now for the Nodejs page, if we have a language that doesn't exist, a 404 page will be shown.
E.g: https://nodejs.org/cn

However, if you see the page, everything doesn't seem work properly (Language Icon cannot be clicked to choose a language, "Contributor" is still running....), ect.

![image](https://user-images.githubusercontent.com/52018749/115014627-29bec680-9ee5-11eb-8db5-757d615d29f6.png)

[2021-04-16 15:20] nschonni commented on #3802
Might be a duplicate of https://github.com/nodejs/nodejs.org/issues/2984, but there is more details here

[2021-04-17 13:02] ghost commented on #3802
Thank you @nschonni to notify me on another issue related to this，sorry for the late response because of busy work.

Ping @nodejs/build ，maybe two senarios should be included after reading the issues：

1. https://nodejs.org/wronglang
2. https://nodejs.org/rightlang/wronglocation

[2021-04-20 16:21] targos opened #3810 "Website doesn't mention v16.0.0 current"
https://direct.nodejs.org/en/

Is there something to do?

/cc @nodejs/releasers

[2021-04-20 16:23] targos commented on #3810
The blog post at https://nodejs.medium.com/node-js-16-available-now-7f5099a97e70 links to https://nodejs.org/en/download/current/ which is still rendered with v15.14.0.

[2021-04-20 16:26] nschonni commented on #3810
![image](https://user-images.githubusercontent.com/1297909/115431721-9e3e8180-a1d3-11eb-8c04-2eade100a1f4.png)
It takes time for the site to build out after the PR was merged

[2021-04-20 16:26] #3810 closed, assigned to nobody

[2021-04-20 16:27] nschonni commented on #3810
PS: Note sure what the "direct" subdomain is used for

[2021-04-20 16:35] targos commented on #3810
Sorry, I thought that the build was finished because the blog post was there.

I use that subdomain to make sure it's not related to Cloudflare's cache.

[2021-04-20 16:38] targos opened #3811 "Missing link for Apple Silicon (arm64) on download page"
Starting with v16.0.0, we have official Apple Silicon tarballs.
It should be available on https://nodejs.org/en/download/current/

[2021-04-20 16:39] nschonni commented on #3810
No worries, I never remember where that webhook status log URL is either 😄

Neat, thanks!

[2021-04-20 16:43] richardlau commented on #3811
https://github.com/nodejs/nodejs.org/blob/master/layouts/partials/primary-download-matrix.hbs is the relevant template, but some care will need to be taken to not insert the Apple Silicon tarball for the LTS release.

[2021-04-23 23:04] Kajachuan opened #3816 "Request to be a proofreader"
Hi everyone. I have been translating the nodejs-website to Spanish language. I noticed that this project has 42% of translated words but only 5% of approved words. I would like to help to review the Spanish translations to increase the percentage of approved words.

I currently have about 12000 words translated in this project in Crowdin and I attach a screenshot to prove it.

![image](https://use

[2021-04-25 19:58] Trott commented on #3816
@nodejs/nodejs-es
@nodejs/crowdin-managers-website

Hi! Are you asking for something to happen on Crowdin? Or asking to be added to @nodejs/nodejs-es? Or something else?

[2021-04-25 20:19] Kajachuan commented on #3816
Hi. I am requesting to be a proofreader in Crowdin. Is this the right repository or should I ask for it in another one?
Thanks.

[2021-04-25 21:41] alexandrtovmach commented on #3816
@Kajachuan Thanks for your effort, and yeah, sorry for delay. It's because your mentions doesn't works =| (thanks @Trott for proper one 😉)

Checked your contributions and added you proofreader access in "nodejs-website" and "api-docs" projects

[2021-04-27 02:54] Trott commented on #3816
Sounds like this can be closed, but if I"m wrong, please comment or re-open.

[2021-04-27 02:54] #3816 closed, assigned to nobody

[2021-04-27 20:33] MrJithil commented on #3802
@MaledongGit For a part of the statements, "language icon will not work properly", I added a fix for that. #3823

Could you please elaborate specifically what are the other areas which not working while accessing a invalid locale.

I think, we can work together to rectify all these issues.

[2021-04-28 10:35] ghost commented on #3802
Thank you.
Just as what I said in my 1st post：Contributor block cannot work, either.

[2021-04-29 02:29] liquidmetalrob opened #3826 "To semicolon or not to semicolon"
Hey Node,
I thought you didn't believe in trailing semicolons.
No semicolons: https://nodejs.dev/learn/reading-files-with-nodejs
Yes semicolons: https://nodejs.org/en/docs/guides/getting-started-guide/
Which is it?

[2021-04-29 02:50] nschonni commented on #3826
`nodejs.dev` is a different repo. In terms of the style, there isn't one currently as there is no in-line linting, as being tracked in https://github.com/nodejs/nodejs.org/issues/2523

[2021-04-29 02:50] #3826 closed, assigned to nobody

[2021-04-29 09:12] MrJithil commented on #3811
@targos @richardlau Could you please confirm the download URL for Silicon Tarball?
https://nodejs.org/dist/latest-v16.x/node-v16.0.0-darwin-arm64.tar.gz

[2021-04-29 09:21] targos commented on #3811
That's the right URL

[2021-04-29 11:31] MrJithil commented on #3758
Can I update it? @aldarmak

[2021-04-29 19:25] #2654 closed, assigned to nobody

[2021-04-29 21:42] richardlau opened #3828 "website build is broken"
Cross posting here for visibility. The assertion failure is from fibers which is incompatible with Node.js 16: https://github.com/laverdet/node-fibers/issues/451

_Originally posted by @richardlau in https://github.com/nodejs/build/issues/2123#issuecomment-829551740_

I'm seeing this is https://nodejs.org/github-webhook.log for https://github.com/nodejs/nodejs.org/commit/ef6cf1f2ef51aeef222859c7fc

[2021-04-29 21:44] richardlau commented on #3828
The build has been broken since three days ago when `node:latest` in docker was updated to use Node.js 16: https://hub.docker.com/layers/node/library/node/latest/images/sha256-2b67c5888e26a4427faec4741c9db1445df567c3bd76bc35c59a39f83ba75ba1?context=explore

[2021-04-29 22:17] XhmikosR commented on #3828
We could probably drop fibers, or pin to node.js 14 which is the current LTS?

[2021-04-29 22:41] richardlau commented on #3828
I'm going to switch the docker image being pulled in https://github.com/nodejs/build/blob/5b9b0689b69bc3ea04d47cc881ebf8400b4764ac/ansible/www-standalone/resources/scripts/build-site.sh#L40-L45 from `node:latest` (i.e. Node.js 16) to `node:lts` (currently Node.js 14) which will give six months until Node.js 16 becomes LTS. I'd recommend dropping fibers before then.

Using `node:lts` instead of pin

[2021-04-29 22:47] MylesBorins commented on #3828
that's a great idea @richardlau. +1

[2021-04-29 22:54] XhmikosR commented on #3828
I'm going to make a PR tomorrow since the gain from using fibers is
negligible anyway.

On Fri, Apr 30, 2021, 01:47 Myles Borins ***@***.***> wrote:

[2021-04-29 22:57] richardlau commented on #3828
Script has been switched to `node:lts` (https://github.com/nodejs/build/pull/2639). I believe the webhook should be working again now (I manually ran the updated script successfully but I think we'd need to push to this repo to test the webhook).

I suggest the issue in this repo be used to track switching away from fibers.

[2021-04-30 14:15] #3828 closed, assigned to nobody

[2021-04-30 15:22] XhmikosR commented on #3748
@targos yup, you need to delete the file since there's no way to do this any other way yet.

[2021-04-30 19:13] asciimike commented on #3748
Dependabot PM here,

Version updates should be disabled on forks by default, but there's a gnarly edge case that sometimes happens here. Deleting and re-forking should solve it, though admittedly it's not the best experience.

We're tracking this issue internally and hopefully can resolve it soon!

[2021-05-01 04:14] #3811 closed, assigned to nobody

[2021-05-01 08:54] MrJithil commented on #3752
@av1shek Can we close this issue?

[2021-05-01 12:24] av1shek commented on #3752
@MrJithil I thought it is already closed along with my PR.

[2021-05-01 12:24] #3752 closed, assigned to nobody

[2021-05-01 13:21] targos commented on #3748
I recreated my fork. Thanks for the workaround!

[2021-05-01 13:21] #3748 closed, assigned to nobody

[2021-05-03 12:50] Trott opened #3851 "Get nodejs.dev and nodejs.org folks talking somehow"
The current website is in the nodejs.org repository (this repository).

The website in the nodejs.dev repository is, or at least was at some point, intended as a redesign to eventually replace the content at nodejs.org. I honestly don't know if that's still a thing or if it is now intended to be a forever-parallel site hosted at nodejs.dev.

Regardless, there seems to be little overlap between the

[2021-05-03 12:53] Trott commented on #3851
Hi! I'm Rich! I've worked a bit on both sites, but haven't been working on nodejs.dev in a long time. My involvement in nodejs.org has been light of late, but I do a lot of work on nodejs docs in the main repo, including fixing up accessibility issues and assuring that our text conforms to our style guide. So I do significant work on the *content* of the sites that way.

[2021-05-03 18:40] benhalverson commented on #3851
👋🏻  I'm Ben I work on nodejs.dev. I've been on the team for about a year and 5 months now. I've heavily contributed to the current [nodejs.dev](nodejs.dev) homepage and [downloads](nodejs.dev/download) page among other things...
A few weeks ago @joesepi and I went though and created a projects view to see what is missing between the nodejs.org and nodejs.dev for feature parity. You can see it [her

[2021-05-03 18:56] Trott commented on #3851
Thanks, @benhalverson!

Reading Ben's answer, I realized I asked a bunch of questions about nodejs.dev but I assumed (perhaps incorrectly, hence this comment) that everyone would know that there are no plans/roadmap/timeline/etc. for nodejs.org. People work on what interests them. But if there's going to be a merge or a replacement of nodejs.org with nodejs.dev, it's probably a good idea to get a

[2021-05-10 12:33] ekuusela opened #3862 "Outdated info on Node.js awareness of package.json fields"
* **URL**: https://nodejs.org/en/knowledge/getting-started/npm/what-is-the-file-package-json/
* **Browser version**: any
* **Operating system**: any

The "What is the file `package.json`?" article says that Node.js itself is only aware of two fields in the `package.json`: `name` and `version`. But this is outdated and also not very clear how exactly those fields are relevant.

The info here seems

[2021-05-10 20:03] joesepi commented on #3851
Hey @Trott and @benhalverson and others. Joe Sepi here chiming in. I help with nodejs.dev now and again, usually from more of a project management standpoint but never with enough time and focus to really be super effective. However, I'm trying to give the effort more of my attention recently (starting last week?) to really help the project achieve its goals.

I'm hoping in the coming weeks, we wi

[2021-05-16 14:17] MrJithil opened #3873 "package-manager docs doesn't have any reference about the `nvs`"
The package-manager API docs don't contain any details about the `nvs`. As per the `OpenJS Node.js Services Developer (JSNSD)` certification training, we recommend the devs to use `nvs` to install `NodeJS` in windows machine as the `nvm` not available from Windows. But, we missed adding it to the official documentation here [https://nodejs.org/en/download/package-manager](https://nodejs.org/en/dow

[2021-05-16 14:18] MrJithil commented on #3873
Working on it.

[2021-05-16 14:28] InigoRomero opened #3875 "nodejs.org/locale/es/about/index.md url Blocking vs Non-Blocking doesnt exists"
* ** https://nodejs.org/es/about/**:
* **Brave  V1.24.85 (May 13, 2021)**:
* **Windows 10**:

The url https://github.com/nodejs/node/blob/master/doc/topics/blocking-vs-non-blocking.md doesnt exists and is in the about node page

[2021-05-16 17:09] Trott commented on #3873
@nodejs/version-management

[2021-05-16 17:17] Trott commented on #3875
It should be updated to point to https://nodejs.org/es/docs/guides/blocking-vs-non-blocking/. Are you interested in opening a pull request for it?

[2021-05-16 17:22] InigoRomero commented on #3875
Yes! I do

[2021-05-16 19:38] ljharb commented on #3873
`nvm` is quite available on windows; sounds like the OpenJS certification training needs updating.

[2021-05-17 06:27] aayushjainx opened #3879 "provide a default .env"

[2021-05-17 06:28] #3879 closed, assigned to nobody

[2021-05-17 07:01] MrJithil commented on #3873
You are right in few cases. But, that statement is not fully true. The docs of `nvm` say that "**_nvm also support Windows in some cases. It should work through WSL (Windows Subsystem for Linux) depending on the version of WSL. It should also work with GitBash (MSYS) or Cygwin. Otherwise, for Windows, a few alternatives exist, which are neither supported nor developed by us:_**"

So, we can not ed

[2021-05-17 15:06] ljharb commented on #3873
@MrJithil indeed there’s caveats, but let’s chat in the OpenJS foundation slack about updating the certification training so it’s accurate.

[2021-05-17 16:07] #3229 closed, assigned to nobody

[2021-05-17 18:39] MrJithil commented on #3652
Hi @jorydotcom

I registered for OpenJS World 2021, and the registration details showing the event date as 02 June 2021. So, could you please reverify whether it's on 9th June or 2nd June?

Evidence:
![image](https://user-images.githubusercontent.com/26359740/118539481-182f3f80-b76d-11eb-90d3-be2056104253.png)

![image](https://user-images.githubusercontent.com/26359740/118539704-5d537180-b76d-11e

[2021-06-05 20:54] markjm opened #3906 "Classes are being stripped from output html, causing incorrect download links"
* **URL**: https://nodejs.org/en/download/current/
* **Browser version**: Edge Latest
* **Operating system**: Windows (64 bit)

It seems something in the build process is removing classes that are relevant to the site choosing the right download bitness for windows.

As you can see, the script which decides whether default install should be 32 or 64 bit is returning early because both `.home-downl

[2021-06-06 07:40] saveenkamboj opened #3907 "Navbar Issue"
I have found issue in the top of navbar.
We see the translation button. It's working fine.
But when we click outside the translation div it is not disappearing it remain still there when i again tap on the translation icon
Fix this issue

[2021-06-06 07:45] niyozbek opened #3908 "Translate to Uzbek"
Uzbek is my native language, and I would like to contribute by translating it.

[2021-06-06 15:04] nschonni commented on #3908
Ping @nodejs/crowdin-managers

[2021-06-08 07:38] niyozbek commented on #3908
hi,
is it okay to contribute? I'm waiting for an approval

[2021-06-09 06:58] XhmikosR commented on #3907
That's by design, but you are welcome to submit a PR if it's a clean and performant way to achieve this.

[2021-06-09 06:59] XhmikosR commented on #3875
@Trott can this can be closed since #3882 has landed?

[2021-06-09 07:01] #3875 closed, assigned to nobody

[2021-06-09 12:11] #3906 closed, assigned to nobody

[2021-06-12 05:47] aeshakhzod commented on #3908
@niyozbek good idea! just PR your commit =)

[2021-06-15 15:40] MrJithil commented on #3873
Code changes merged

[2021-06-15 15:40] #3873 closed, assigned to nobody

[2021-06-16 11:10] Shreyamkmr opened #3928 "Why the BLM donation link was removed?"
I used to see the BLM donation link on the website but now it has been removed. Any specific reason why?

[2021-06-16 17:08] nschonni commented on #3928
Looks like it was toggled off in https://github.com/nodejs/nodejs.org/commit/a87f468982dde3e5931f4c3a2ee7c67cc6253e67

[2021-06-17 19:29] mhdawson commented on #3761
Assume this is still underway?

[2021-06-17 21:07] nschonni commented on #3761
@mhdawson I just sent a PR for the nodejs/build webhook, so I think it's mainly the rename that needs to happen before the 2 PRs are landed.
The Crowdin part isn't really used right now, so it can probably get cleaned up later

[2021-06-18 18:40] mhdawson commented on #3761
@nschonni I can do the rename if you think everything is ready, just let me know.

[2021-06-18 18:45] nschonni commented on #3761
I think it should be good to go, as long as there isn't a pending release that might need release notes to get published today. I'm guessing there might be some manual work to redeploy the webhook on the build PR, so the related PR here is picked up

[2021-06-18 19:30] mhdawson commented on #3761
@BethGriggs what would be a good time to do the rename from the perspective of avoiding releases?

[2021-06-21 12:10] BethGriggs commented on #3761
It looks like our next set of releases are not scheduled until 29th June, so anytime this week should be a good. But, generally, we aim for Tuesday releases, so just avoiding those seems reasonable.

Edit: Looks like we delayed v16.4.0 until 22nd June  - so worth waiting until that has gone out

[2021-06-21 12:14] richardlau commented on #3761
We still haven't released https://github.com/nodejs/node/pull/39031 yet (when discussed in last weeks' Release WG meeting the plan was to delay/try for tomorrow (22 June)).

[2021-06-24 20:50] mhdawson commented on #3761
At this point I think we should likely wait until after the upcoming security release.

[2021-07-06 00:02] #3907 closed, assigned to nobody

[2021-07-06 01:22] ghost opened #3960 "Browser Detection Notification"
Now Nodejs.org official site has been open and support some very old (they are all tired) browsers for a long time for some users to download/watch...ect. Is it a necesary because some companies such as Microsoft, which doesn't support them totally?

So my idea is to give them a tip, something like "Your browser is out of service, please upgrade to the latest version....."(sometimes like GitHub),

[2021-07-06 19:37] kitarp29 commented on #3507
Hi @vitaly-zdanevich
Is this issue still open?
I would love to work on it.
Please assign me this issue.

[2021-07-06 20:52] vitaly-zdanevich commented on #3507
I am not the administrator, I cannot assign issues.

And firstly we should approve this feature before implementation.

[2021-07-07 23:28] benhalverson opened #3961 "Automate the announcement banners"
In the nodejs.dev repo I opened an issue to automate the showing or hiding of the banner announcements based on data from this repo. see https://github.com/nodejs/nodejs.dev/issues/1502#issuecomment-872201961

Any thoughts on this?

[2021-07-09 16:57] azev opened #3966 "Native support for windows-1251 char encoding"
Hi, I'd like to request NodeJS to **natively** support [windows-1251](https://en.wikipedia.org/wiki/Windows-1251) characters encoding.

I can't parse html pages encoded in `windows-1251` (web scraping) because there are no available packages that will work correctly on that conversion properly.

For example, if I have a binary buffer and try `.toString('utf8')` it will work as expected if the data

[2021-07-14 10:10] #3802 closed, assigned to nobody

[2021-07-14 10:18] Trott opened #3976 "single quotes are being converted to `&apos` and displaying incorrectly in code snippet for new release blog post"
Anybody know why the single quotes are being converted to `&apos` and displaying incorrectly on the website?

![image](https://user-images.githubusercontent.com/718899/125605701-9073df9d-2851-49bf-a7c0-2321b764b8f2.png)

_Originally posted by @Trott in https://github.com/nodejs/nodejs.org/pull/3974#r669481512_

[2021-07-14 10:23] Trott commented on #3976
Looks like `mjs` code fence highlighting doesn't work outside docs so maybe that's the problem? Trying `js`.

[2021-07-14 10:31] Trott commented on #3976
Yup, that was it.

[2021-07-14 10:34] #3976 closed, assigned to nobody

[2021-07-18 02:23] Hackdemon23 opened #3984 "Here the bug fix"
* **URL**:
* **Browser version**:
* **Operating system**:

[2021-07-22 04:18] qualk opened #3993 "Not including winget as package manager in documentation"
On the ["Installing Node from a Package Manager"](https://nodejs.org/en/download/package-manager/#windows
) documentation, it says nothing about using winget.

[2021-07-22 09:45] circularchaos opened #3994 "Logo usage examples"
Hey guys, in the resources page it doesn't mention the usage of the primary pattern. However it is in the docs (https://nodejs.org/en/about/resources/). To confirm, can we use the primary pattern and the JS hexagon by itself or should we only use the whole nodejs logo?

![image](https://user-images.githubusercontent.com/6093036/126619692-b01e77c4-1561-4e60-8a28-a97173bca821.png)
![image](https://u

[2021-07-22 21:46] Trott commented on #3994
@brianwarner Would you be the person who can answer this question? If not, would you be able to point us to the right person?

[2021-07-22 21:47] Trott opened #4000 "Potential "Edit on GitHub" improvements"
Saw this as a footer on MDN docs and thought it might be worth emulating.

![image](https://user-images.githubusercontent.com/718899/126713721-6a9ebec1-748b-4aad-a592-6eaf3c280720.png)

[2021-07-22 22:04] brianwarner commented on #3994
Yep, I can answer that. I just looked back to the original agreements that permit OpenJS Foundation to use the Node.js marks, and the JS hexagon is included. Both are fine to use on nodejs.org.

[2021-07-23 04:53] #3994 closed, assigned to nobody

[2021-07-23 13:11] circularchaos commented on #3994
Great, thanks so much guys!

[2021-07-25 14:24] code-reaper08 opened #4003 "Translation for Tamil"
## Hello crowdin-managers @obensource @alexandrtovmach 👋
I am planning to do translations for the `Tamil` language, But, I couldn't find my native language `Tamil` [here](https://crowdin.com/project/nodejs-website). It would be nice if it gets added to the list.

And also one more thing about **localization group**, There is a localization group for `Tamil` and it is not maintained and the last co

[2021-08-02 12:46] solid-tester opened #4018 "Docker tutorial: Name of app exemplified in 'docker build' should be 'docker_web_app' (NOT 'node-web-app')"
* **URL**:  https://nodejs.org/en/docs/guides/nodejs-docker-webapp/

In the above Docker tutorial provided by Node.js:

The name of the app exemplified in the 'docker build' command (from [Building your image](https://nodejs.org/en/docs/guides/nodejs-docker-webapp/#building-your-image))
should be 'docker_web_app' (as per the package.json file exemplified in [Create the Node.js app](https://nodejs.

[2021-08-09 19:16] #2351 closed, assigned to nobody

[2021-08-10 12:46] ghost opened #4036 "Seems like the types for readdirSync is incorrect"
When using:

[code]

You get an error with typescript:

[code]

I think the function is likely working, however the types are incorrect (perhaps @types/node I'm not sure), which makes my typescript break on trying to compile this using the above.

Something like:

[code]

Probably needs to be added to types.

[2021-08-10 13:18] Trott commented on #4036
This is the repo for the Node.js website. Try https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/node. Good luck.

[2021-08-10 13:18] #4036 closed, assigned to nobody

[2021-08-13 09:26] ghost commented on #4000
@Trott: Just for a quick modification, I've splitted the footer into two splits in verticle, is it right? Any suggestions for the formation?

![捕获](https://user-images.githubusercontent.com/52018749/129343079-c0417017-0a8e-47a3-b025-528d1816f701.JPG)

[2021-08-13 22:24] Trott commented on #4000
Looks good to me.

I hate to say it because it was a great effort to make it happen, but I wonder if we want to get rid of the "Thanks you" box. It was a nice idea (I think it was my suggestion even), but no one sees it where it is, and we need to really start thinking about the website serving the user, which that box really doesn't do.

[2021-08-13 22:24] Trott commented on #4000
@MaledongGit Thanks for working on this!

[2021-08-14 01:48] ghost commented on #4000
@Trott: I'll submit a PR affter removing the contributors, however I'll open another Issue to have a discussion on it.

[2021-08-14 01:54] ghost opened #4043 "feat: Is is necessary to add "Contributors" as a random mode in "Index" of nodejs.org?"
Ref: https://github.com/nodejs/nodejs.org/issues/4000#issuecomment-898749950

IMO: I tend to keep it, but not in the index page as a random mode. Just as many other GitHub's projects do——to make a dynamic contributors' wall in the "Contributors" page with a link:

[![contributors](https://badges.implements.io/api/contributors?org=nodejs&repo=node&width=1280&size=48&padding=6&type=jpeg)](https://gi

[2021-08-16 03:42] #4000 closed, assigned to nobody

[2021-08-16 06:52] ghost commented on #3984
@Hackdemon23 : Any info?

[2021-08-16 11:41] #3984 closed, assigned to nobody

[2021-08-19 13:21] Trott opened #4060 "Footer not working with narrow viewport"
@XhmikosR It looks like the footer can be wider than the viewport and (in a sufficiently narrow viewport such as on a mobile device) there's no way to scroll right to see the links on the right hand side of the footer.

Is that what you're talking about? Is there something more as well that I'm missing?

_Originally posted by @Trott in https://github.com/nodejs/nodejs.org/issues/4044#issuecomment-

[2021-08-19 13:28] XhmikosR commented on #4060
Yeah, that's the issue. If we had a proper column system we could just use a row with 2 columns which would stack up on mobile only.

I haven't looked at what we have now available to use, but the current way is wrong, for sure.

[2021-08-19 13:53] XhmikosR commented on #4043
@Trott I see your point because it's in the footer. Let me know if you want me to drop it properly in one patch so that we can bring it up later if needed.

For what is worth, I don't mind having it, and I actually believe it's nice to have, but I get that it being in the footer might not be worth it.

PS. yeah, it was your request to add it in the first place 😛

[2021-08-19 13:54] XhmikosR commented on #3961
Definitely in favor of this. The more automated things, the better. 👍

[2021-08-20 14:39] anshul2807 commented on #4060
I'm new to this community. And I want to handle this issue...can I ??

[2021-08-23 04:16] Trott opened #4063 "Default-to-English-when-translation-is-absent gets weird when language is RTL"
* **URL**: https://nodejs.org/ar/docs/guides/blocking-vs-non-blocking/
* **Browser version**: n/a
* **Operating system**: n/a

If you go to (for example) the Arabic URL for a page that hasn't yet been translated to Arabic, the English language version is displayed, which is certainly better than displaying nothing and seems like desirable behavior. However, in RTL languages like Arabic, the Englis

[2021-08-23 11:41] WillAvudim opened #4064 "API documentation search"
Would it be possible to implement search functionality in the API documentation section, https://nodejs.org/dist/latest-v14.x/docs/api/ ?

For example, if I want to quickly find the description for the "?.inspect" method, right now I have to

1. Google for "site:https://nodejs.org/dist/latest-v14.x/docs/api inspect".
2. Curse that it can't find "a damn thing."
3. Navigate to https://nodejs.org/dis

[2021-08-24 07:11] real-zit opened #4067 "Open Directory"
When we enter "nodejs.org/download" we go  to the open directory
* **www.nodejs.org/download**:

[2021-08-25 04:34] Trott commented on #4064
@nodejs/nodejs-dev Is this something that has been implemented or is expected to be implemented on nodejs.dev?

[2021-08-25 04:41] Trott commented on #4067
Yes. That is an intentional feature, not a bug. A directory listing is quite useful for that particular directory and its subdirectories. Same for `dist`.  I'm going to optimistically close this, but if you happen to find an issue (for example, the ability to navigate to directories above or otherwise outside the webroot, or the disclosure of information unintended to be disclosed by the directory

[2021-08-25 04:41] #4067 closed, assigned to nobody

[2021-08-25 06:25] benhalverson commented on #4064
Yes I'm working on an implementation [here]( https://github.com/nodejs/nodejs.dev/pull/1677)
Demo https://staging.nodejs.dev/1677/
It currently only searches /learn content

[2021-09-01 15:21] croker89 opened #4087 "Desactivar calendario"
* **URL**:
* **Browser version**:
* **Operating system**:

[2021-09-01 17:46] #4087 closed, assigned to nobody

[2021-09-04 09:03] ghost commented on #4060
@Trott and @XhmikosR: Since now don't have a column system (something like bootstrap), I have to adjust the width accroding to Google's chorm's Mobile width by using "media"  as a quick fix.

[2021-09-04 09:05] ghost commented on #4060
@anshul2807: Welcome your suggestion to this issue.

[2021-09-04 19:59] pawan43563 commented on #4060
We can add a single column where in upper side openjs logo than the part which are not visible on smaller viewport and than copyright message that would be nice. I would love to contribute. can i handle this issue?

[2021-09-06 10:54] DANser-freelancer opened #4095 "TROJANS"
Your site has TROJANS in downloader!

[2021-09-06 11:31] #4095 closed, assigned to nobody

[2021-09-06 22:38] niyozbek commented on #3908
Can't find my locale on Crowdin. Crowdin managers did not add Uzbek language to the website.

[2021-09-06 22:38] #3908 closed, assigned to nobody

[2021-09-13 13:29] mhdawson commented on #3761
@richardlau do you know what we need to do/have access to do the "might be some manual work to redeploy the webhook on the build PR,"

[2021-09-13 14:45] richardlau commented on #3761
@mhdawson I'll find out -- I roughly know the bit on the infra servers that rebuild the website but would need to dig through to work out how the webhook works.

[2021-09-15 08:47] #4060 closed, assigned to nobody

[2021-09-15 22:08] adufourcq opened #4111 "Improve the download page's "Signed SHASUMS for release files (How to verify)" links"
On the download page (https://nodejs.org/en/download/), there is two links, grouped together, related to the verification of the binary files: "Signed SHASUMS for release files" and "How to verify"

While the purpose of these two links is related, they are not directly related. The "How to verify" link explains how to verify the checksum of the downloadable files and how to verify the SHASUMS256.t

[2021-09-15 23:14] benjimin commented on #1448
What is the recommended way of installing node for something like a CI/CD build script?

I think it would be extremely convenient if something like this worked:

[code]

It's comparatively inconvenient to have to first install older (distro default) versions of node and npm, just to use those to reinstall node. Similarly, it's inconvenient to require a script to parse _nodejs.org_ just to be able

[2021-09-16 01:37] rvagg commented on #1448
https://nodejs.org/download/release/index.json and https://nodejs.org/download/release/index.tab are two formats that make it very easy to parse in bash or your language of choice.

You will also see symlinks at the top of https://nodejs.org/download/release/ for your favourite release line and named LTS lines.

Additional symlinks inside each release directory is going to increase the number of a

[2021-09-16 05:36] benjimin commented on #1448
@rvagg if you recommend that approach it would be great if that was documented, in the wiki page (linked as "install via binary archive")?

For my use case, my application is in a totally different language (python) and just one of the dependencies uses a node library. (My build script broke recently because that library started requiring a more recent version of node than what the most recent ubu

[2021-09-16 11:06] richardlau commented on #3761
@mhdawson For the webhook we'd need to update two files on the www server and then restart the `github-webhook.service` systemd service.

- Update these references to `origin/master`:
  - `ansible/www-standalone/resources/config/github-webhook.json.j2` (https://github.com/nodejs/build/pull/2676)
  - `ansible/www-standalone/resources/scripts/build-site.sh` (requested to be added to https://github.c

[2021-09-16 11:29] richardlau commented on #3761
@mhdawson Also I believe I have access to do the build-infra side of this.

[2021-09-16 13:18] mhdawson commented on #3761
In respect to

+1 I think we should do the manual changes and reflect back.

[2021-09-16 13:23] mhdawson commented on #3761
@richardlau thanks.  Once the PR is updated as you requested, we should find a good time to do the update. Maybe you can look at the upcoming schedule and then confirm with the releasers what a good time would be?

[2021-09-16 13:24] mhdawson commented on #3761
As a separate thought (not part of this issue/work) it might be good to audit the differences between the files in the repo and what is on the www server. I expect there may be a bunch of differences.

[2021-09-16 16:17] nschonni commented on #3761
Not to go too far off topic, but I also opened up https://github.com/nodejs/nodejs.org/issues/3018 awhile ago, since we do occasionally have issues with the webhook. But that is separate from this issue. I'll take a look at the build PR comments now

[2021-09-16 16:35] richardlau commented on #3761
The build PR has been updated and looks good. As far as releases go the next planned ones are next Tuesday (21st Sept, 16.x cc @BethGriggs) with a 14 semver minor the week after that (https://github.com/nodejs/node/pull/39990). We could aim to do this tomorrow?

[2021-09-17 19:18] mhdawson commented on #3761
@richardlau I guess we did not do it today since I see no discussion here.  Would you be able to do it next Wednesday the day after the release?

[2021-09-17 21:05] richardlau commented on #3761
@mhdawson Yes but I'd need you or another repository owner to do the actual rename here (I can do the build-infra bit).

[2021-09-17 21:20] mhdawson commented on #3761
I can do the rename, would doing it together at 12 ET work?

[2021-09-17 21:32] richardlau commented on #3761
SGTM

[2021-09-22 15:55] mhdawson commented on #3761
Branch renamed, and we landed a PR (https://github.com/nodejs/nodejs.org/pull/4122) and from what we can see so far we think the webhook ran ok.

[2021-09-22 16:13] nschonni commented on #3761
Rebased and landed https://github.com/nodejs/nodejs.org/pull/3762 so the "Edit on GitHub" links will work in the footer.
Only outstanding piece seems to be Crowd-in, but I'm unsure how much that ever got used to be honest

[2021-09-30 06:07] ray-1337 opened #4138 "Translation for Indonesia (needs remake)"
Hey guys, I have a plan to do translations for `Indonesia` language. I've [seen it](https://github.com/nodejs/nodejs-id) before, but it looks like abandoned.

I appreciate any feedback/reply in here :)

[2021-09-30 16:26] NriotHrreion commented on #3507
Humm.. I've create a new PR for the dark theme.

[2021-09-30 17:48] nschonni commented on #4138
Ping @nodejs/nodejs-id

[2021-10-03 00:47] ghost commented on #3507
@vitaly-zdanevich: This's been finished at #4139 , any comments?

[2021-10-03 01:01] vitaly-zdanevich commented on #3507
I see it still white

![Screenshot_2021-10-03-04-00-54-999_mark.via.gp.jpg](https://user-images.githubusercontent.com/3514015/135735865-d5571401-d54a-47f2-8411-6d825b6e0fa4.jpg)

[2021-10-03 01:29] ghost commented on #3507
@vitaly-zdanevich: At https://github.com/nodejs/nodejs.org/pull/4139, plz click this link.
This is still in PR waiting for Approving.

[2021-10-05 08:23] NriotHrreion commented on #3507
The PR has been approved. Can it be merged now? @MaledongGit

[2021-10-07 04:15] poo17nam commented on #4018
docker build command takes the name of the image and that name can be anything you like. It should not necessarily be the name of the project. It also takes path of the Dockerfile which has the details of where to pick the code from for building the image.
Hope it clarifies your concern. If yes, please mark this issue as closed.

[2021-10-09 03:09] ghost commented on #3507
@NriotHrreion: This's been merged, and I close this issue. For any other issues, welcome to re-open or create a new one.

[2021-10-09 03:09] #3507 closed, assigned to nobody

[2021-10-09 13:28] NriotHrreion opened #4160 "Font problem in the latest chrome version"
In the latest chrome version, the font family of texts in `<code>` element is a little bit strange.
I think it necessary to change to another better one.

![image](https://user-images.githubusercontent.com/50199130/136659674-a9cbe6e7-1f14-4029-a083-d422ddc0309a.png)
![image](https://user-images.githubusercontent.com/50199130/136659712-c5502dfd-ed75-454d-85cc-e521f791949d.png)

This is my chrome ve

[2021-10-09 15:54] Pandademic commented on #4111
@adufourcq , I agree with you. It looks like one link.
Maybe put it on a new line like so:
[code]

[2021-10-10 01:47] ghost opened #4166 "Icons misPositioning and background color doesn't match what we see in doc"
1. In the light mode for Node.js org, the background color is still dark. But in the doc, the color seems light-gray more:

【About of Node.js org】
![About](https://user-images.githubusercontent.com/52018749/136678356-34e457f5-548b-44df-933e-ec0869446d76.JPG)

【In the doc】
![Doc](https://user-images.githubusercontent.com/52018749/136678379-e025d6ad-a1a4-4c5b-8616-4cdc23bbfb8b.JPG)

2. When the wind

[2021-10-10 02:15] Trott commented on #4166
Hi, @MaledongGit. What you wrote here about the background color is correct, of course. In addition, I was talking about the highlight colors, which are also different. In the about section, `const` is a different color than in the docs, for example. Same for `require`. And so on.

[2021-10-10 02:25] ghost commented on #4166
@Trott: That's because in Node.js org, we use something like:

[code]
However in Node, we use:

[code]

Maybe this will be wholly replaced.

[2021-10-10 07:25] ghost commented on #4166
There're still some problems needing discussions:

1. The background color is somehow using "cjs", however it seems we CANNOT directly use it in the Node.js org (there'll be an error thrown out because prismjs doesn't support it for now). I don't know where to find "prism-cjs.js"?

2. When the browser's window width's getting smaller and smaller but the nav menu doesn't change to a new line, how t

[2021-10-11 14:44] NriotHrreion commented on #4166
This is what I think:

![image](https://user-images.githubusercontent.com/50199130/136809718-94556b16-f01e-460c-9cc0-e599e529ac40.png)

I just did some simple modifies in devtools. And I didn't modify the source code.

[2021-10-11 16:51] U-C-S opened #4167 "Flash of Incorrect Theme when Dark Theme is chosen"
When reloading a page or Navigating across the site with Dark Theme on, There's a slight Flash of Light Theme.

Probably, due to HTML and CSS being loaded first and later, JavaScript code that changes the theme. To Fix it, Might want to make sure the JS code is loaded before CSS.

[2021-10-11 16:55] U-C-S commented on #4167
It can already be observed in this GIF from the Dark Mode PR: https://github.com/nodejs/nodejs.org/pull/4139#pullrequestreview-769533552

[2021-10-11 17:09] U-C-S commented on #4160
Seems Normal `monospace` font in my Chrome Dev 96.0.4662.6 and Windows 11

![image](https://user-images.githubusercontent.com/50218121/136828811-7f5e098d-1537-47d0-b478-e16d77ea9393.png)

[2021-10-12 07:00] NriotHrreion commented on #4167
I've fixed this problem and committed.

[2021-10-14 21:29] raiabdullahbashir opened #4179 ",., lmm;,;,"
klmm
* **URL**:nmm ,
* **Browser version**:,mm l
* **Operating system**:

[2021-10-14 21:30] #4179 closed, assigned to nobody

[2021-10-15 04:49] #4160 closed, assigned to nobody

[2021-10-15 05:03] NriotHrreion commented on #4167
@U-C-S: The PR has been merged.

[2021-10-15 06:19] #4167 closed, assigned to nobody

[2021-10-15 11:17] akamfoad opened #4180 "Release Schedule table is very unpleasant and hard to read"
* **URL**: https://nodejs.org/en/about/releases/
* **Browser version**: Firefox 93
* **Operating system**: Ubuntu 20.04

Hi, I visited the Node.js website and found out some redesigns have taken place and the dark mode is much better, though when I visited [Release Schedule](https://nodejs.org/en/about/releases/) page I saw that the table is very unpleasant and hard to read the content, looks like

[2021-10-16 07:48] gumbol commented on #4180
would you elaborate on why that is the case?
From a document design ive seen several word processing software that include similar color combos for tables.

[2021-10-16 08:28] akamfoad commented on #4180
@gumbol

Sure,there is many ways to pick colours to create a UI in combination of them, and when those colours are an extreme/fair opposite of each other, they are very good to make Text and Icons visible and etc.
But using these colours as Background for sections near each other, makes the visual shift extreme, and it's unpleasant for users to read, especially in dark mode, these cases sometimes

[2021-10-16 14:33] NriotHrreion commented on #3960
@MaledongGit: I've submitted my code. Can you come and have a review?

[2021-10-17 00:01] gumbol commented on #4166
since its not part of the main menu i think its better to have it above the menu. left or right corner.

[2021-10-19 13:04] Jak7 opened #4190 "My First Time"
How can I help?

[2021-10-19 16:21] Trott opened #4196 "insufficient color contrast in dark mode"
* **URL**: https://nodejs.org/en/blog/release/v17.0.0/
* **Browser version**: Chrome 94
* **Operating system**: macOS Catalina

See the byline and other text:

![image](https://user-images.githubusercontent.com/718899/137951618-36e30a74-3574-40f3-a389-67258334b506.png)

[2021-10-19 16:22] Trott commented on #4180
For comparison, here is the less jarring light mode  rendering:

![image](https://user-images.githubusercontent.com/718899/137951867-78d34ffe-3a49-4257-b928-5186b44c1d02.png)

[2021-10-19 16:25] Trott commented on #4180
We need to update the colors of the tables in dark mode regardless of aesthetics etc. because the color contrast between the green text and the white background fails accessibility standard WCAG AA.

[2021-10-19 16:33] bnb commented on #4196
was literally about to post this exact same thing.

The byline is a span and the subheading is an h4. I assume h4-h6 are all too dark.

[2021-10-19 18:49] akamfoad commented on #4180
I was experimenting with some colours and styles when I opened the issue. I came up with this changes you may find useful

**Dark Mode**:

![image](https://user-images.githubusercontent.com/41629832/137972314-7e42e5c3-a7d1-4314-8f51-ef571fa64984.png)

---

**Light Mode**:

![image](https://user-images.githubusercontent.com/41629832/137972362-6064d549-74b3-47a6-9868-a83c013e4e97.png)

[2021-10-19 21:58] Trott commented on #4180
@akamfoad Is this a change you can submit as a PR? Or was this something you messed around with in development tools but not in the actual CSS files? A PR would be great, if it's not a lot of trouble.

[2021-10-20 02:38] akamfoad commented on #4180
@Trott
Actually those screenshots where from the website that I did some changes to, locally.

Sure will open a PR for it soon.

[2021-10-20 16:19] kannanhassouna commented on #4190
+1

[2021-10-25 22:30] GONZ420 opened #4207 "Hello, It´s my first time programming I´m learning and practicing, my question´s how can I start working if I don´t have any experience?"

[2021-10-25 23:34] #4207 closed, assigned to nobody

[2021-10-27 03:59] #4180 closed, assigned to nobody

[2021-10-27 05:56] mochi-sann opened #4210 "When viewing the release page in dark mode, the text is unreadable."
<img width="1195" alt="screenshot 2021-10-27 14 51 12" src="https://user-images.githubusercontent.com/44772513/139007742-eee04622-b26c-494e-b9c1-9609f7ebac99.png">

When I open https://nodejs.org/en/download/releases/ and look at it in dark mode, I can't read the version name and other information in white, as shown in the image.

* **URL**: https://nodejs.org/en/download/releases/
* **Browser ver

[2021-10-27 08:55] DerekNonGeneric commented on #4210
I can confirm that it is indeed an unintentional bug and an accessibility concern at that. It was introduced in https://github.com/nodejs/nodejs.org/pull/4200, which was merged only a few hours ago. Unless someone beats me to it, I think this should be pretty simple to handle and should have a patch for the fix shortly.

Thanks for the report!

[2021-10-27 23:43] #4210 closed, assigned to nobody

[2021-10-31 06:07] #4196 closed, assigned to nobody

[2021-10-31 12:17] renjithdevassy opened #4218 "Cannot downloading the msi file."
* **URL**: https://nodejs.org/en/download/
* **Browser version**: Chrome Version 95.0.4638.54 (Official Build) (64-bit)
* **Operating system**: Windows 10 pro

Cannot downloading the msi file.

[2021-10-31 12:32] #4218 closed, assigned to nobody

[2021-11-02 14:24] mhdawson commented on #4064
I'll +1 that I've wished I could search the API documentation more easily. I resorted to cloning from github and then using grep a few times.

[2021-11-02 18:56] DerekNonGeneric commented on #4064
+1

[2021-11-03 19:56] benhalverson commented on #4064
I could use some code reviews on my pr. https://github.com/nodejs/nodejs.dev/pull/1677

[2021-11-04 06:35] humble-barnacle001 opened #4226 "Text inside `code` tag is almost invisible in dark mode"
* **URL**: https://nodejs.org/en/download/package-manager/
* **Browser version**: Firefox 93.0
* **Operating system**: Linux 5.13.0-19-generic

The text inside the `code` tag of the website is not visible legibly in the dark mode.

![Screenshot from 2021-11-04 12-09-42](https://user-images.githubusercontent.com/58736240/140269137-86a4ba9b-48f6-402f-9477-008a8799dd70.png)

Fixed in #4225

[2021-11-05 09:45] Spomsoree opened #4227 "Node 14 download is not working"
Node 14 cannot be downloaded from the following URL:

* https://nodejs.org/dist/v14.18.1/node-v14.18.1-darwin-arm64.tar.xz

nvm is trying to download node from this url, could be an issue on their side, but it worked a few days ago for me.

Edit: I've notices that nvm builds node itself if the download is not working, so I'm unsure if it worked a few days ago.

[2021-11-05 12:49] kanongil commented on #4227
I don't think there has ever been `darwin-arm64` download links for the v14 releases. Given that V8 v8.4 requires backported patches to support for that architecture, I think it makes sense to not do any official builds.

[2021-11-05 13:17] Spomsoree commented on #4227
I see.

The nvm command did build it successfully now, so I guess this is not an issue.

[2021-11-05 13:17] #4227 closed, assigned to nobody

[2021-11-08 06:48] #4226 closed, assigned to nobody

[2021-11-09 08:50] 18202409203 opened #4235 "The <input> inside the releases table overflowed."
* **URL**: https://nodejs.org/en/download/releases/
* **Browser version**: Chrome / Firefox
* **Operating system**: Ubuntu 16

The `<input>` inside the table overflowed.

![chrome](https://user-images.githubusercontent.com/30512639/140892218-afdfdb8b-37dd-49af-a268-323d4b3bbe9b.png)

I think it should be `box-sizing: border-box;`

[2021-11-09 22:24] nzdudeinsydney opened #4240 "Missing 64-bit MSI installer for 17.1.0"
Link to 64-bit MSI on https://nodejs.org/en/download/current/ page results in:

404: Page could not be found
ENOENT: no such file or directory

[2021-11-09 23:14] nschonni commented on #4240
https://nodejs.org/dist/v17.1.0/node-v17.1.0-x64.msi works right now, so might have just been a timing issue while the CDN populated

[2021-11-09 23:14] #4240 closed, assigned to nobody

[2021-11-09 23:44] nzdudeinsydney commented on #4240
Aaah.. still not yet working for me (Australia).  Went down other download options and got the same.  I'll just wait, unless there's an option somewhere to select a different mirror.

[2021-11-10 05:57] tymnim commented on #4235
The issue seems to be in `static/js/fancyTable.min.js`. I am not sure if there's a non-minified file of this.

if `("<input>",{placeholder:r.inputPlaceholder,style:"width:100%;"+r.inputStyle})` replaced by `("<input>",{placeholder:r.inputPlaceholder,style:"width:100%;box-sizing:border-box;"+r.inputStyle})`, it should work. I hope someone can apply this change.

[2021-11-10 16:34] JakobJingleheimer opened #4241 "LTS download page does not list macOS ARM"
* **URL**: https://nodejs.org/en/download
* **Browser version**: Version 1.31.88 Chromium: 95.0.4638.69 (Official Build) (arm64)
* **Operating system**: macOS 12.0.1

Official macOS ARM distributions are available for node v16.x (the current LTS), but it is not listed on the main page like [it is for node v17.x](https://nodejs.org/en/download/current):

| v16.x | v17.x |
|:---     | :---   |
| <im

[2021-11-11 00:53] #4241 closed, assigned to nobody

[2021-11-11 01:15] Trott commented on #4235
It looks like that file was added by @MaledongGit in 6eba6d1b912ca902aa70b02f51bf6cd2abc7fdce without any approval by other contributors. Hopefully they can indicate where the unminified code can be found, etc.

[2021-11-11 01:17] Trott commented on #4235
(The search feature is a nice improvement, I think, so I'm surprised someone didn't 👍  that PR at some point!)

[2021-11-11 01:19] Trott commented on #4235
Looks like the unminified source would be in https://github.com/myspace-nu/jquery.fancyTable.

[2021-11-11 11:37] thomscoder opened #4244 "Dark theme OpenJS Foundation"
When clicking from dark theme nodejs.org on the certifcation section, the openjsf page opens up it's kinda uncomfortable for it to be bright.
I think it would be good to have a sort of theme synchronization between the https://nodejs.org and the https://openjsf.org websites

<img width="1091" alt="Immagine 2021-11-11 123405" src="https://user-images.githubusercontent.com/78874117/141291323-508d371

[2021-11-11 13:09] thomscoder commented on #4235
I have worked on this. This issue is currently in PR

[2021-11-11 17:10] nschonni commented on #4244
That is a totally different org. You might be able to find the project in https://github.com/openjs-foundation, but nothing the people that maintain this repo can do

[2021-11-11 17:10] #4244 closed, assigned to nobody

[2021-11-12 04:25] nzdudeinsydney commented on #4240
Works for me today.  Thanks!

[2021-11-15 12:59] paulocuambe commented on #4190
The general advice would be to look through the issues and send PRs for any typos you find in the documentation.

[2021-11-16 00:08] nschonni commented on #4235
Looks like the latest fancy tables version has fixed it
![image](https://user-images.githubusercontent.com/1297909/141872063-a9772397-94cf-4878-8b07-be93a5451772.png)

[2021-11-16 00:08] #4235 closed, assigned to nobody

[2021-11-19 00:08] thomasgilmore commented on #3437
I'm not sure if this is still open, but I would like to work on this.

[2021-11-22 17:39] madelcamp opened #4262 "NodeSource Node.js Binary Distributions is broken"
* **curl -fsSL https://deb.nodesource.com/setup_lts.x | sudo -E bash -**:
* **Linux terminal**:
* **Linux**:

I can't install via linux ubuntu terminal, this command doesn't work
curl -fsSL https://deb.nodesource.com/setup_lts.x | sudo -E bash -

Err:4 https://packages.microsoft.com/repos/edge stable InRelease
  Las firmas siguientes no se pudieron verificar porque su clave pública no está disponi

[2021-11-22 17:46] nschonni commented on #4262
I think that's something to report to https://github.com/nodesource/distributions rather than here

[2021-11-22 17:46] #4262 closed, assigned to nobody

[2021-11-30 02:27] Mednoob commented on #4138
I don't think the Indonesian NodeJS team (@nodejs/nodejs-id) is still around. Could NodeJS Crowdin Managers add Indonesian locale to Crowdin so that the community can start translating it instead?

[2021-12-15 10:24] smanjunath211 opened #4298 "UI_LED (0.4.11) version giving error "RangeError: Maximum call stack size exceeded""

[2021-12-15 10:28] #4298 closed, assigned to nobody

[2021-12-15 10:31] smanjunath211 commented on #4298
posted in wrong category, reposted in correct category

https://github.com/Adorkable/node-red-contrib-ui-led/issues/91#issue-1080863104

[2021-12-19 07:52] #4190 closed, assigned to nobody

[2021-12-19 07:53] XhmikosR commented on #3966
This is unrelated to this repo, though. You should make an issue in https://github.com/nodejs/node/issues

[2021-12-19 07:53] #3966 closed, assigned to nobody

[2021-12-19 07:55] XhmikosR commented on #3437
Feel free to make a PR with the proposed changes and people can have a discussion there.

[2021-12-19 07:55] #3437 closed, assigned to nobody

[2021-12-19 07:56] XhmikosR commented on #4043
The contributors feature is gone now.

[2021-12-19 07:56] #4043 closed, assigned to nobody

[2021-12-19 07:57] #3738 closed, assigned to nobody

[2021-12-19 07:59] XhmikosR commented on #3993
https://nodejs.org/en/download/package-manager/#alternatives-3

[2021-12-19 07:59] #3993 closed, assigned to nobody

[2021-12-19 14:57] XhmikosR commented on #2524
This was fixed by @nschonni's #4287

[2021-12-19 14:57] #2524 closed, assigned to nobody

[2021-12-25 10:59] Naidu-Saikiran opened #4329 "Translation for Telugu"
Hey guys, please add **telugu** translation to the documentation so that learning  from nodejs documentation is easy for **telugu** developers who are not able to understand proper english

[2021-12-25 11:01] Naidu-Saikiran commented on #4329
please add ### telugu locale so that interested developers will start documenting in Telugu. Even I am interested to translate to Telugu

[2021-12-28 07:32] XhmikosR commented on #3761
Can we close this issue now that the branch renaming is done?

As for Crowdin, if it's not used, is there any reason we keep the README.md badge, its config and a PR open?

[2021-12-28 16:59] nschonni commented on #3761
I believe the Crowdin part was never fixed, but I don't think it's really ever got traction @nodejs/crowdin-managers

[2021-12-29 11:04] thomscoder commented on #4063
I worked on it on #4336

[2021-12-30 11:37] thomscoder commented on #4166
Hello, I worked on the icons misPositioning issue -> #4350
Hope it fixes the problem

[2022-01-04 22:02] mhdawson opened #4345 "Fix up linkinator"
See discussion in - https://github.com/nodejs/nodejs.org/pull/4344

[2022-01-05 21:57] thomscoder commented on #3149
was this bug solved?

[2022-01-05 23:12] bnb commented on #3149
probably not

[2022-01-11 00:38] tniessen opened #4359 "Tooling does not support multiple blog posts containing the same headings within the post bodies"
See https://github.com/nodejs/nodejs.org/pull/4356#issuecomment-1009480699 and https://github.com/nodejs/nodejs.org/pull/4358.

[2022-01-11 00:39] mhdawson opened #4361 "Fix/re-add Run HTML validator"
The HTML validator check was removed in https://github.com/nodejs/nodejs.org/commit/1a9b04876fd03c6e9d0cccb8b5df717c3c7ffb7c.

The problem appears to be that  the website cannot handle multiple consecutive posts that contain the exact same headings in the post. See https://github.com/nodejs/nodejs.org/pull/4356#issuecomment-1009480699

[2022-01-11 00:41] mhdawson commented on #4361
@nodejs/website

I'll note that having the same headings in multiple posts is a regular thing for security releases so maybe there was some additional checking added recently?

[2022-01-11 00:44] tniessen commented on #4359
Closing this since @mhdawson's https://github.com/nodejs/nodejs.org/issues/4361 is a bit more descriptive.

[2022-01-11 00:44] #4359 closed, assigned to nobody

[2022-01-11 00:45] mhdawson commented on #4361
@nschonni FYI since you likely have the most insight into the recent changes to the vnu-jar.js which is what I think is used for that check.

[2022-01-11 00:53] tniessen commented on #4361
I think the check itself is not the problem. The generated HTML should not contain the same IDs.

[2022-01-11 00:55] nschonni commented on #4361
Problem code
[code]
Looks like the `summary` is pulling in the headings with the generated ID in verbatim https://github.com/nodejs/nodejs.org/blob/c20cc4a131b182d22b3c2d374a1cf2fecc979f5d/layouts/blog-index.hbs#L20
So it is invalid code.
Probably need to figure out what `summary` is doing

[2022-01-11 00:58] nschonni commented on #4361
Looks like https://github.com/nodejs/nodejs.org/blob/main/scripts/helpers/summary.js doesn't ignores h1-h3, but for some reason those posts have H4s

[2022-01-11 01:06] Trott commented on #4361
I wonder if we ought to be appending a random-ish hash to the id attributes to make sure they are all unique? Or omitting the id attributes if we're not using them anywhere for anything?

[2022-01-11 01:16] nschonni commented on #4361
I think metalsmith handles that for the real posts, the issue is arriving from our custom `summary` is joining document fragments together.
I'm looking right now to just delete the `id` value since it shouldn't be needed for those short summary sections in the index

[2022-01-19 14:53] thomscoder commented on #4166
Both issues seem to have been successfully merged!

[2022-01-19 23:17] #4166 closed, assigned to nobody

[2022-01-26 08:24] floreapaun opened #4384 "Formatting mistake at "What is the arguments object?" page"
[code]
I think this should be written as:
[code]
I don't know what is the meaning of that period on the concat function.

[2022-01-27 03:16] #4384 closed, assigned to nobody

[2022-01-31 16:13] option-greek opened #4392 "doc command for Fedora installation with different version seem to be wrong"
- **URL**: https://nodejs.org/en/download/package-manager/#centos-fedora-and-red-hat-enterprise-linux
- **Browser version**: Firefox
- **Operating system**: Fedora

To install nodejs version 12 on fedora, the page says to run:

`dnf module install nodejs:12`

If I try the same with versions 14 or 16, dnf  throws an error saying:

`No default profiles for module nodejs:14. Available profiles: defau

[2022-01-31 16:18] richardlau commented on #4392
There’s an open PR, https://github.com/nodejs/nodejs.org/pull/4279, although there appears to be an inconsistency on Fedora when compared to CentOS/RHEL.

[2022-01-31 16:34] option-greek commented on #4392
I guess its because some one stopped marking the default profiles for  fedora starting with release 14 of NodeJS. I'm not sure that particular lack of default profile marking is on NodeJS side or Fedora side and where to correct it.

But as it stands, installing NodeJS > 12 is broken on Fedora currently with the default instructions provided on nodejs.org. May be this can be left as a note  on the

[2022-02-02 11:36] kasicka commented on #4392
@option-greek Thanks for bringing this up, we'll try to fix this in Fedora and then I'll review the current documentation.

[2022-02-04 10:45] benjamingr opened #4404 "Audit/improve "don't block the event loop" and "next.tick event loop and timers" guides"
Hey,

We currently have two guides talking about how Node.js events work. It's really important to have these guides explaining the event loop and how node runs - they both would benefit from a big update for example the event loop guide starts with:

JavaScript is not single threaded and it does not explain what non-blocking I/O does.

---

I think it's important to explain the user facing conseq

[2022-02-04 12:24] Trott commented on #4404
That would get the info updated and it might not be a bad way to go. But it will be a one-time event and the two guides will go back to not being maintained at all, like all of our guides.

With the guides, I'm generally an advocate for a two step process:

1. Find the essential Node.js-specific material in there (emphasis on _essential_ and not merely _Node.js-specific_) and make sure that materi

[2022-02-04 12:32] benjamingr commented on #4404
@goldbergyoni is that something you'd be interested in maintaining (for these guides)?

[2022-02-08 14:51] jesayafn opened #4414 "Add Indonesian translation feature to documentation"
Dear Everyone,

Seeing the growth of users and the Node.js community in Indonesia, I thought and had an idea to add an Indonesian translation to the documentation. With the Indonesian translation of the documentation, I hope it can help users and communities from Indonesia to use Node.js.

I thank you for your attention.

[2022-02-08 14:56] Trott commented on #4414
@jessie-txt A group for Indonesian translations formed but [the repository](https://github.com/nodejs/nodejs-id) was recently archived as there had been no activity since 2015. If you or someone else would be willing to provide translations for the pages, we would certainly include them on the site.

@nodejs/nodejs-id @nodejs/i18n

[2022-02-08 16:49] kasicka commented on #4392
Update: defaults were fixed/changed to `common`, I'll get back to this issue when the changes show up in repos for F34 and F35.

[2022-02-12 21:04] zelma83 commented on #3758
"https://nodejs.org/dist/latest/node-${VERSION:-$(wget -qO- https://nodejs.org/dist/latest/ | sed -nE 's|.*>node-(.*)\.pkg</a>.*|\1|p')}.pkg" > "$HOME/Downloads/node-latest.pkg" && sudo installer -store -pkg "$HOME/Downloads/node-latest.pkg" -target "/"

[2022-02-13 21:07] nikosson opened #4419 "Possible incorrect description of pool phase in event-loop-timers-and-nexttick guide(english language)"
Hello.
I guess description of the **poll phase** is wrong a bit, or at least it's not clear - in underlined places, there should be not **timers** but callbacks from **check** phase, which are `setImmediate`.
While reading this phase it seems that it's about **timers** phase, mentioned above, while according to the real implementation after the pool phase a **check** phase must be executed, and `s

[2022-02-15 01:01] Trott commented on #4419
@nodejs/timers @nodejs/libuv

[2022-02-27 13:59] akshit2649 opened #4441 "Adding transition when switching between dark mode and light mode"
When switching between dark and light mode, the colors just abruptly change, which is unlike how the main buttons change colors when you hover over them.
Just thought that it might add uniformity to the design in general.

[2022-02-28 22:39] iontower opened #4448 "Raúl"

[2022-03-01 02:35] #4448 closed, assigned to nobody

[2022-03-07 19:38] mhdawson commented on #4392
Looks like some of the updates are in F35

[code]

[2022-03-07 20:27] mhdawson commented on #4392
This has been fixed for 14 and 16 and 12 goes EOL next month so I think we can close this issue.

@option-greek is that ok with you?

[2022-03-08 08:42] option-greek commented on #4392
Sure @mhdawson!
Thanks everyone for fixing the underlying issue.

[2022-03-08 21:17] maxsatula opened #4474 "Support Ukraine banner"
Shall we do Support Ukraine banner like https://reactjs.org/ is doing?

[2022-03-08 21:59] ljharb commented on #4474
See https://github.com/nodejs/nodejs.org/pull/4467#issue-1158498159 for context.

[2022-03-08 21:59] #4474 closed, assigned to nobody

[2022-03-09 19:34] mhdawson commented on #4392
@option-greek thanks for confirming, closing.

[2022-03-09 19:34] #4392 closed, assigned to nobody

[2022-03-14 21:01] Trott commented on #4441
Fixed in https://github.com/nodejs/nodejs.org/pull/4477

[2022-03-14 21:01] #4441 closed, assigned to nobody

[2022-03-16 03:24] DeeDeeG opened #4495 "SLOW OR FAILED (500 ERROR) NODE.JS DOWNLOADS"
<sup>Edited by the Node.js Website Team</sup>

## ⚠️ PLEASE AVOID CREATING DUPLICATED ISSUES

Learn more about this incident at https://nodejs.org/en/blog/announcements/node-js-march-17-incident

`tl;dr`: The Node.js website team is aware of ongoing issues with intermittent download instability.

**More Details:** https://github.com/nodejs/build/issues/1993#issuecomment-1699231827

<sub>Original I

[2022-03-16 03:40] SheetJSDev commented on #4495
For some reason, iojs.org redirected to nodejs.org, causing errors with `nvm` (https://github.com/SheetJS/sheetjs/runs/5564331772 test failed when trying to fetch https://iojs.org/dist/v3.3.1/iojs-v3.3.1-linux-x64.tar.xz)

[2022-03-16 03:52] DeeDeeG commented on #4495
I wonder if the site/Cloudflare are just getting overwhelmed with traffic for people downloading the latest release?

Node v16.14.1 was released about an hour ago... https://github.com/nodejs/nodejs.org/pull/4494 / https://github.com/nodejs/node/releases/tag/v16.14.1

It's the latest LTS release, so everybody in the world looking for the default version of Node is downloading uncached right now, b

[2022-03-16 04:13] DeeDeeG commented on #4495
@SheetJSDev I think the https://iojs.org/dist site is backed by https://nodejs.org/dist behind the scenes. (Using the Network pane of browser Dev Tools to inspect the traffic, the responses are served from nodejs.org, even when visiting iojs.org/dist.)

Edit: Actually just parts of it show as coming from nodejs.org, some resources say they're from io.js. :shrug:

Edit again: I note that the root o

[2022-03-16 04:55] Trott commented on #4495
Closing as the issue isn't happening right now, but also pinging @nodejs/build in case there's anything to add here or something to be aware of.

[2022-03-16 06:18] Trott commented on #4495
People are still reporting this over in the OpenJS Slack, so I'm going to re-open this until that gets sorted.

[2022-03-16 06:33] rvagg commented on #4495
I have CloudFlare LB error notices spanning from ~2:40 am UTC to ~3:40 am UTC, which I suppose correlates with the latest 16.x release. Overloaded primary server, switching to the backup. Users may have got the 500 while hitting the primary before it switched.

I don't have a good explanation beyond that, I'm not sure what's caused the overload, I don't believe that server actually has trouble ser

[2022-03-17 23:59] ljharb commented on #4495
This seems to be happening again; https://iojs.org/dist/index.json is 500ing, and v12.22.11 just went out.

(after about 5-10 minutes, the 500s seemed to stop, but it's still worth looking into)

[2022-03-18 00:07] DeeDeeG commented on #4495
FWIW I am still seeing **either** "500 internal server error" **or** very slow file downloads (less than 50 kilobytes a second. Often less than 10 kilobytes a second, especially at the beginning of a download.)

<details><summary>More details (click to expand):</summary>

The "slow download" symptom is less obvious for small files, because they complete quickly anyway.

I have seen a tarball downl

[2022-03-18 00:30] richardlau commented on #4495
After promoting 12.22.11 I went to rerun the same release script to promote 14.19.1 and it just hung during the bit when it fetches the promotable builds. Same behaviour from another machine on a different network. Weirdly I was able to ssh into the machine in an interactive session and manually run the command the promotion script was trying to run 😕.

I logged into the machine, ran `ps -ef` and

[2022-03-18 00:34] richardlau commented on #4495
Currently there are no rsync processes -- but running the promotion script is "hung" again for me 😞.
These are the top things via `top`:
[code]

[2022-03-18 00:35] richardlau commented on #4495
I think I'm going to bounce nginx.

[2022-03-18 00:35] KevLehman commented on #4495
Happening same here. Know this type of comments are not useful in most cases, but in this case at least serves to know that there are users still being affected 😬

Edit: worked now for me

[2022-03-18 00:54] richardlau commented on #4495
I did `systemctl restart nginx`. I'm still seeing rsync processes from the backup server still running.

[2022-03-28 16:41] #3372 closed, assigned to nobody

[2022-03-31 14:44] CalculonPrime opened #4522 "Windows MSI Installer for Node/npm (LTS) uses vulnerable/obsolete security certificate hash, SHA1"
SHA1 is vulnerable, as reported years ago by Google and other security researchers.  Collisions can be generated in the real world.  You need to move to SHA256/SHA512.

[2022-03-31 14:59] nschonni commented on #4522
@Trott do you want to move this one, doesn't seem like the right repo

[2022-04-01 00:08] Trott commented on #4522
I'm not sure if the right repo would be the build repo or the release repo or the main node repo, but once I figure that out, I'll move it. That's assuming this isn't a case of "Hey, don't report security issues in a public repo. Please follow the https://github.com/nodejs/node/blob/HEAD/SECURITY.md#security (which is what the 'Security' link in the header nav on the site points to)."

[2022-04-04 16:37] yjy4321 opened #4524 "Fix filter"
Filter for this table is not working on Chrome, Firefox, and Edge.
https://nodejs.org/en/download/releases/
![Annotation 2022-04-04 093707](https://user-images.githubusercontent.com/47332567/161590881-87919011-0c87-4576-90c6-4ecfbe9f00ee.jpg)

[2022-04-05 01:24] Trott commented on #4524
/ping @MaledongGit

[2022-04-05 14:18] richardlau commented on #4495
This is being [reported again](https://openjs-foundation.slack.com/archives/CK9Q4MB53/p1649166537197759), probably due to an increase in traffic from the Node.js 12 that went out earlier.
This is from the Cloudflare Load balancing activity analytics:
![image](https://user-images.githubusercontent.com/5445507/161773639-f9a0cdad-c54a-47e1-9a35-1617255170f8.png)

Grafana for the main server (DO):
![i

[2022-04-06 16:43] Trott commented on #4524
Fixed by https://github.com/nodejs/nodejs.org/pull/4529

[2022-04-06 16:43] #4524 closed, assigned to nobody

[2022-04-09 01:54] BethGriggs commented on #4495
No idea if this is related - but wanted to report it here just in case. I've found the download server has been incredibly slow for the past 30 mins or so, with some requests hanging and never completing.

I spotted this during some `citgm-smoker-nobuild` jobs that I was running:

[code]

Also seen in https://ci.nodejs.org/job/citgm-smoker-nobuild/1190/nodes=rhel8-s390x/console

<sup> (I hope the

[2022-04-09 06:20] rvagg commented on #4495
I have a flurry of notifications from CF around 6 hours ago about timeouts. The interesting thing this time is that both servers are getting timeout notifications. I'm not sure what that means. We should probably do a test to push all traffic to the backup server and invalidate cache to see what sort of load it gets and whether it can handle it. It'd be surprising to me if it can't. This might be

[2022-04-09 07:06] rvagg commented on #4495
And having just written that, it's flapping again right now. I'm on the main server and it's pretty sluggish, load <3 though. What I can see happening in parallel is an `xz` compressing log files thanks to logrotate while at the same time nightlies are being uploaded, and therefore CF cache is getting invalidated. Both servers have `nginx` at the top of their process lists sorted by CPU.

I've ren

[2022-04-11 20:08] austinbutler commented on #4495
I seem to have run into this a few minutes ago. It's working again now.

[2022-04-11 20:12] ljharb commented on #4495
Same; it was happening a bunch for me within the last hour.

[2022-04-18 20:32] begin-again commented on #4495
unable to get to any of the documentation now

[2022-04-18 20:36] deisner opened #4549 "500 Internal Server Error on Debugging - Getting Started guide"
- **URL**: https://nodejs.org/en/docs/guides/debugging-getting-started/
- **Browser version**: Firefox 99.0.1, Chrome 100.0.4896.127
- **Operating system**: macOS 12.3.1

Not much more to add -- I get a 500 upon visiting the getting started guide for debugging.

[2022-04-18 20:40] carter-thaxton commented on #4549
Worse, visiting anything in the downloads area also fails, which is used by automated scripts, CI, etc.

https://nodejs.org/download/release/latest-gallium/
https://nodejs.org/download/release/v16.10.0/

[2022-04-18 20:48] neilobremski opened #4550 "Some links returning 500 Internal Request Error"
We ran into this when a Heroku deployment failed trying to get this URL:

- https://nodejs.org/download/release/v10.11.0/node-v10.11.0-headers.tar.gz

I then tried some other URLs and found the same issue:

- https://nodejs.org/en/blog/release/v16.14.1/
- https://nodejs.org/en/blog/release/v17.8.0/

This likely happens on all browsers, platforms, etc. but I specifically found it on ChromeOS and De

[2022-04-18 20:49] Trott commented on #4549
Known intermittent issue. Duplicate of https://github.com/nodejs/nodejs.org/issues/4495.

[2022-04-18 20:49] #4549 closed, assigned to nobody

[2022-04-18 20:50] Trott commented on #4495
Seems to be resolved now, if having a comment like this with a timestamp helps anyone look through relevant logs or whatever.

[2022-04-18 20:50] Trott commented on #4550
Duplicate of https://github.com/nodejs/nodejs.org/issues/4495

[2022-04-18 20:50] #4550 closed, assigned to nobody

[2022-04-18 20:59] ljharb commented on #4495
@Trott a few links are still 500ing for me

[2022-04-19 01:41] master-genius opened #4552 "The Node.js website does not display Chinese in simplified Chinese mode（主页中文简体，不显示中文）"
@nodejs/node-cn

当我访问 https://nodejs.org/zh-cn ，主页不显示中文，而是英文主页。

[2022-04-19 01:49] nschonni commented on #4552
![image](https://user-images.githubusercontent.com/1297909/163903998-660f4e50-2adb-4931-866d-1c6d46a05df0.png)
Appears to be translated OK. I think there are probably spots that still need translation, but going to close this

[2022-04-19 01:49] #4552 closed, assigned to nobody

[2022-04-20 21:09] mhdawson commented on #4495
It's interesting we did not get reports after 18.x was launched. I'd expect if it was driven by downloads we might have seen something yesterday.

[2022-04-20 21:24] ljharb commented on #4495
It definitely seems more driven by the build/release process *itself* than by downloads later.

[2022-04-20 21:49] nschonni commented on #4495
Makes me think that it might be driven more by CI runners always pulling down the latest for a release, so there is a massive swarm at the beginning of the release at the same time as the cache invalidation

[2022-04-20 21:51] nschonni commented on #4495
Wonder if delaying the index.tab update till the cache is hydrated might alleviate it

[2022-04-20 21:51] jbergstroem commented on #4495
I also think the global cache invalidation as part of a trigger is the cause. Too much spiky traffic.

[2022-04-26 20:14] trevnorris opened #4571 "Sorry, reported to wrong repo"

[2022-04-26 20:15] #4571 closed, assigned to nobody

[2022-05-03 12:08] targos opened #4585 "dependencies cannot be installed normally with Node.js 18"
[code]

`npm ci --force` works as a workaround.

[2022-05-03 15:41] Trott commented on #4585
Fixed in https://github.com/nodejs/nodejs.org/pull/4586. PTAL.

[2022-05-03 16:27] #4585 closed, assigned to nobody

[2022-05-11 14:18] mrmunch opened #4600 "the connection to this website is not secure"
While "nodejs.org" is secure, I have an issue when I try to download a file from your website, for example:
https://nodejs.org/dist/v16.14.2/node-v16.14.2-win-x64.zip
This gives me a "the connection to this website is not secure" message (see screenshot).
![image](https://user-images.githubusercontent.com/12833236/167871873-c7767b1a-ef4b-4647-9941-423f467c1908.png)

Please secure this connection,

[2022-05-11 14:28] Trott commented on #4600
That's correct. You'll need to validate the SHASUM if you want to confirm the file has been downloaded without corruption etc. This was probably left that way for performance/cost reasons at some point but I suspect a lot of other download-our-large-tarball open source options followed the same practice. But a quick look at Python and PHP show that they use https for their tarball downloads, and t

[2022-05-11 14:45] RomanBorets opened #4601 "Support Ukraine"
PLease add the message about supporting Ukraine in fight for freedom and for saving lives. Thanks.

[2022-05-11 14:46] richardlau commented on #4600
I'm confused. Our downloads are via https unless you're specifically going via http://unencrypted.nodejs.org (which you should not be).

[2022-05-11 16:02] nschonni commented on #4601
See https://github.com/nodejs/nodejs.org/pull/4467#issue-1158498159

[2022-05-11 16:02] #4601 closed, assigned to nobody

[2022-05-11 22:24] Trott commented on #4600
Oh, you're right (unsurprisingly). My mistake. Sorry.

I'm unable to duplicate the problem that @mrmunch is seeing. We'll need more information.

[2022-05-12 09:00] de3124 commented on #4600
Hi @Trott
I'm in a corporate network and we use zScaler (but the zScaler cert is locally installed on my machine).
What else information could I give you?

[2022-05-12 09:38] sxa commented on #4600
Which certificate is your web browser presenting you with and which browser is it? I don't think anyone else can reproduce this problem.

[2022-05-13 19:19] jaas666 commented on #4600
Your issue is most likely caused by the use of a zScaler SSL inspection rule.

Basically zScaler is sitting between your device and nodejs.org server. In order to inspect ssl traffic it establishes a connection to the requested server and validates their certificate then uses a self assigned certificate to establish the connection from your device to the zScaler.

Your device is never seeing the n

[2022-05-13 19:38] Trott commented on #4600
Optimistically closing this. Comment or re-open if there is more to this. Thanks.

[2022-05-13 19:38] #4600 closed, assigned to nobody

[2022-05-16 03:34] MuratovBektur opened #4603 "Release page"
- **URL**: https://nodejs.org/en/about/releases/
- **Browser version**: Chrome 101
- **Operating system**: Android

Plz update release picture

[2022-05-16 10:40] Trott commented on #4603
That image is loaded from https://github.com/nodejs/Release/blob/main/schedule.svg. @nodejs/release Is there a documented procedure for updating the image? I imagine we'd ideally like to remove 12.x from the image and show the end date for 18.x maintenance.

[2022-05-16 10:42] BethGriggs commented on #4603
We have [some guidances/commands](https://github.com/nodejs/Release/blob/main/doc/release-guide.md#updating-the-schedulesvg). It can be a bit fiddly to make it render nicely.

[2022-05-16 10:50] targos commented on #4603
https://github.com/nodejs/Release/pull/748

[2022-05-17 23:31] #4603 closed, assigned to nobody

[2022-05-29 20:43] jaas666 commented on #3652
This relates to last year's event. Can we close the issue or is there a particular reason we are keeping it open?

[2022-05-29 20:45] #3652 closed, assigned to nobody

[2022-06-01 06:33] hughrawlinson opened #4628 "Table on Releases page out of viewport on iOS"
- **URL**: https://nodejs.org/en/about/releases/
- **Browser version**: Firefox Daylight 100.1
- **Operating system**: iPhone 12, iOS 15.5

I went to check the end of maintenance dates on the releases page of the site while on my phone, and realized that I couldn't because of the table. The screenshot below shows the issue. It's not possible to scroll right to view the maintenance end date column

[2022-06-09 18:23] StephNathai commented on #4628
Hi @hughrawlinson, will you be working on this? Would love to take a stab at it if not.

[2022-06-09 18:45] hughrawlinson commented on #4628
@StephNathai feel free! 🙂

[2022-06-10 22:19] #4628 closed, assigned to nobody

[2022-06-11 11:26] hughrawlinson commented on #4628
Thank you @StephNathai!! 😄

[2022-06-14 14:41] jaas666 commented on #3245
Trying to tidy up this place and tying loose ends.
Is this still relevant or can it be closed?

[2022-06-14 16:10] cedricbu commented on #3245
The release notes for [v12.17.0](https://nodejs.org/en/blog/release/v12.17.0/) and [v14.3.0](https://nodejs.org/en/blog/release/v14.3.0/) still do not mention that they contain the fix for CVE-2020-10531.

To re-summarize the issue :
https://nodejs.org/en/blog/vulnerability/june-2020-security-releases/ states that, quote, CVE-2020-10531 "Does not affect 12.x or 14.x, they do not include an affecte

[2022-06-20 21:51] AugustinMauroy opened #4665 "Problem on the access to the category "knowledge" more easily."
# Problem on the access to the category "knowledge" more easily.
At the moment, it is impossible to access the "knowledge" category from the nodejs.org site.
But it is accessible by typing "nodejs knowledge" in a search engine.

I think it is not complicated to add. But you have to find the right place.

[2022-06-21 00:45] Trott commented on #4665
The knowledge base is very problematic. The usual cause is that much of it has not received substantial updates in 7+ years.

Looking at the first few articles in the knowledge base, none of them should be recommended.

"How can I secure my code?" is astonishingly incomplete. People should be referred to more comprehensive guides on Node.js security instead.

"How to access query string parameters

[2022-06-21 08:17] #4665 closed, assigned to nobody

[2022-06-21 19:13] hyungjun7 opened #4670 "Is Korean translation proceed?"
@nodejs/nodejs-ko

If the translation is stopped, can I proceed?

[2022-06-26 18:45] nschonni commented on #4670
Feel free to make contributions to https://github.com/nodejs/nodejs.org/tree/main/locale/ko

[2022-06-27 07:00] hyungjun7 commented on #4670
thank you!

[2022-06-27 07:00] #4670 closed, assigned to nobody

[2022-06-28 21:51] Schweinepriester opened #4688 "Changelog links point to the old branch (master) instead of main, causing a redirect and blue banner"
- **URL**: https://nodejs.org/
- **Browser version**: Any
- **Operating system**: Any

![image](https://user-images.githubusercontent.com/2644614/176305535-d50736bf-01c5-46bf-a592-c817fb316ef0.png)

Both those links

- https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V16.md#16.15.1
- https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V18.md#18.4.0

then require

[2022-06-28 23:37] nschonni commented on #4688
Probably coming from https://github.com/nodejs/nodejs.org/blob/c1703267c30d2bfc19da5708afcb7169ef1a31c6/scripts/helpers/changeloglink.js#L9

[2022-06-28 23:38] nschonni commented on #4688
I didn't realize that they had changed the default branch, so it's probably worth doing a larger cleanup

[2022-07-02 08:17] ghost commented on #4688
A large update for these links.....

[2022-07-03 00:53] ghost commented on #4688
@Schweinepriester: This is fixed at #4692 , I'll close it and for other problems, you can re-open it and feedback.

[2022-07-03 00:53] #4688 closed, assigned to nobody

[2022-07-06 15:25] WillAvudim opened #4702 "Request to undeprecate util.is* functions"
I'd like to request to undeprecate all util.is* functions currently marked for deprecation, and keep them intact in all future versions of Node.js.

Reasons:
1. util.is* functions (util.isObject, util.isNumber, util.isRegExp) are immensely useful and used throughout the codebase of pretty much every node.js app.

2. They are succinct and help to avoid unnecessary cognitive load, while the suggeste

[2022-07-07 03:00] ghost commented on #4702
This discussion can be moved to node.js instead of here for more notifications :)

[2022-07-07 11:51] WillAvudim commented on #4702
Oh, you're right, my apologies. Filed as https://github.com/nodejs/node/issues/43715. Closing this one.

[2022-07-07 11:51] #4702 closed, assigned to nobody

[2022-07-08 02:46] bnb opened #4708 "Google Search Results lead to docs that never allow you to reach newest/correct docs"
I just searched for "read file node.js" on Google and got the v6 docs. From there, there's seemingly no way to get to the most recent docs page that actually has correct information about the API currently - you can get up to v9, but you can't get past that.

It would be really helpful if we were able to  figure out a way to always allow people to get to the newest version of the docs.

[2022-07-08 03:18] Trott commented on #4708
Maybe we can detect when someone is viewing a doc for an unsupported version of Node.js and insert a banner at the top telling them that they're looking at the documentation for an old and unsupported version of the Node.js and provide a link to the latest LTS docs or something like that.

[2022-07-08 18:39] VeresAndrei opened #4711 "Got error code 404 from the server."
- **URL**: https://nodejs.org/dist/v14.15.0/node-v14.15.0-darwin-arm64.tar.gz
- **Browser version**: Chrome - Version 103.0.5060.114 (Official Build) (arm64)
- **Operating system**: macOS

Hello!

I have at work a project in which we are using node v14.15.0,  it has something like this in pom.

<executions>
<execution>
<id>install node and npm</id>
<goals>
<goal>install-node-and-npm</goal>
</goals

[2022-07-08 18:44] richardlau commented on #4711
It hasn't been removed -- it never existed in the first place. We only started producing Apple silicon (M1/arm64) builds from Node.js 16 onwards https://nodejs.org/en/blog/release/v16.0.0/.

[2022-07-08 18:46] richardlau commented on #4711
Your options would be to either run the x64 macOS binary (https://nodejs.org/dist/v14.15.0/node-v14.15.0-darwin-x64.tar.gz) with Rosetta 2 or use Node.js 16.

[2022-07-08 18:51] VeresAndrei commented on #4711
Strange, because I have worked on this project several times and no issue was encountered until I have changed the node version on my PC for another project. Now I have put back the initial version and is not working anymore.

Thanks for the quick response!

[2022-07-08 19:01] #4711 closed, assigned to nobody

[2022-07-11 17:04] alexislefebvre commented on #4708
@bnb could you please share the URL of the page of the v6 doc? Google doesn't give me a link to the v6 when searching the same thing than you.

---

As an example of what Trott suggested, see the documentation of Symfony displays a warning message if you browse the doc of an unmaintained version: https://symfony.com/doc/4.3/setup/upgrade_major.html

[2022-07-11 17:30] richardlau commented on #4708
I'm not sure how easy that will be to do for the existing published docs. Currently the API docs are treated as part of Node.js releases and even the release team are unable to update them once (IIRC) 7 days have passed (basically the assets for a Node.js release are treated as immutable once released).

[2022-07-11 21:42] bnb commented on #4708
@alexislefebvre https://nodejs.org/dist/latest-v6.x/docs/api/fs.html

[2022-07-12 00:51] Trott commented on #4708
Oh, yeah, I see now that the JavaScript assets are all part of the per-release bundle and not shared.

[2022-07-12 04:46] nschonni commented on #4708
A solution for this was proposed in https://github.com/nodejs/node/pull/36495

[2022-07-14 05:52] ghost commented on #4361
Now this issue was fixed, close it and if there's anything wrong, you can also re-open it:)

[2022-07-14 05:52] #4361 closed, assigned to nobody

[2022-07-14 05:55] ghost commented on #4345
Refs: https://github.com/nodejs/nodejs.org/pull/4358. https://github.com/nodejs/nodejs.org/issues/4361.
But now it's been fixed.

[2022-07-14 05:55] #4345 closed, assigned to nobody

[2022-07-14 05:59] #4063 closed, assigned to nobody

[2022-07-23 16:32] jeffreyleeon commented on #4419
This is a good question, I re-read this part and searched for different doc to get this clear in my mind. I believe the statements are correct but illustration here is not intuitive. I could be wrong but here is what I understand after deep diving.

Assume following code was run, (to make it very simple, I just use pseudo and take away a lot of details/assumptions)
[code]

At t = 0, `setTimeout` p

[2022-07-25 03:04] chuyueye opened #4742 "exit with "ctrl c'',and restart with "npm start",and it report error"
- **URL**:
- **Browser version**:
- **Operating system**:

how can i fix it?

![image](https://user-images.githubusercontent.com/39708508/180689717-3d017f4e-2eba-4c25-b021-d35fa1758e2e.png)

[2022-07-26 09:10] chuyueye commented on #4742
ctrl D

[2022-07-27 12:32] salihdev0 opened #4749 "turkish translation: unarchive the repo"
Hey `@nodejs/nodejs-tr` contributors, it looks like this team hasn't been down for a long time. Please unarchive the repo and let's restart work. I can use most of my free time here. Waiting for your reply.

Best,

[2022-07-27 21:08] Trott commented on #4742
I don't know what the "real" fix is, but as a workaround, I usually `rm -rf build/static/js` and try again.

[2022-07-27 21:24] Trott commented on #4749
Translation work for most of the website should come in the form of pull requests to the files in https://github.com/nodejs/nodejs.org/tree/main/locale/tr.

For the API docs, use CrowdIn: https://crowdin.com/project/nodejs

[2022-07-27 21:24] #4749 closed, assigned to nobody

[2022-07-28 08:16] ghost commented on #4742
Hi @chuyueye：

The reason is because it intended to avoid copying duplicated files with a signal symbol "fs.constants.COPYFILE_EXCL". However this will throw Exceptions if any file exists.  I fix the bug by directly using "fs.copy" with a signal {overwrite:false} to avoid duplicatedly copy. This means ONLY for the 1st time all the js files will be copied and they will never be copied because they

[2022-07-29 07:13] chuyueye commented on #4742
@MaledongGit so you have fixed it with your new commits?

[2022-07-29 07:15] chuyueye commented on #4742
@MaledongGit  and i recommend using " git clone https://github.com/nodejs/nodejs.org.git" in the
[README.md](https://github.com/nodejs/nodejs.org/blob/main/README.md)

[2022-07-30 21:43] victorarley opened #4753 "es: URL not found"
### URL:

https://nodejs.org/es/about/

### Browser Name:

Chrome

### Browser Version:

103.0.5060.134

### Operation System:

Windows 10 Enterprise 21H2

### How to reproduce the issue:

This URL not found
https://github.com/nodejs/node/blob/main/doc/topics/blocking-vs-non-blocking.md

![image](https://user-images.githubusercontent.com/26607585/181996984-194e78a2-80f1-4e4b-a8fd-f5750941f2c4.png)

[2022-07-31 09:13] ghost commented on #4753
Not only this bug but also this:
![1659258634487](https://user-images.githubusercontent.com/52018749/182019278-1cb54fc1-763e-4597-92db-d3df1fb3aa97.png)

PS: The quickest way to fix it is to copy the related URLs from English version to the Spanish one, and change 'en' to 'es' in its md files, However I'm not sure whether there are any changes not synced with the English version in its context.

P

[2022-08-02 02:01] ghost commented on #4742
@chuyueye：It's been fixed now you can have a try and close the issue if it's fixed totally :)

[2022-08-02 02:06] chuyueye commented on #4742
@MaledongGit just wonder why anybody before me never lauch this issue

[2022-08-02 02:21] ghost commented on #4742
@chuyueye：Maybe few people found it or run the actual repository by commands with manually.
I'll close this issue, and for other things, you can re-open it and leave what you want to say :)

[2022-08-02 02:22] #4742 closed, assigned to nobody

[2022-08-15 15:58] ovflowd commented on #3245
Could you show the logs of where it states that these versions were used? Otherwise, if our Release team mentions that those versions are not affected, I don't see any reason for invalidating their claims.

[2022-08-15 15:59] ovflowd commented on #1257
We discussed the redesign initiative to not add sponsors for now, as it is tricky and requires intervention from the Foundation and permission from the sponsors.

Closing this Issue.

[2022-08-15 15:59] #1257 closed, assigned to nobody

[2022-08-15 16:01] ovflowd commented on #955
So far, we don't have metadata regarding system requirements easy to be fetched through our website. I'm closing this issue for now, as any new feature is frozen here as we get things ready for the nodejs.dev replacement.

[2022-08-15 16:01] #955 closed, assigned to nobody

[2022-08-15 16:04] ovflowd commented on #1075
Closing as this is obsolete.

[2022-08-15 16:04] #1075 closed, assigned to nobody

[2022-08-15 16:04] ovflowd commented on #1024
Closing as this is obsolete.

[2022-08-15 16:04] #1024 closed, assigned to nobody

[2022-08-15 16:05] ovflowd commented on #1813
Closing as this is obsolete.

[2022-08-15 16:05] #1813 closed, assigned to nobody

[2022-08-15 16:05] AugustinMauroy commented on #4329
If you don't know it yet but the doc doesn't have a translation system.
But there is a discussion for that which is open. If you are interested you can vote for
https://github.com/nodejs/node/discussions/43513

[2022-08-15 16:05] ovflowd commented on #1659
Closing as this is obsolete.

[2022-08-15 16:05] #1659 closed, assigned to nobody

[2022-08-15 16:06] ovflowd commented on #1971
Closing as a stale issue. If any parties still feel that this subject is relevant, please feel free to reopen the issue 🙇

[2022-08-15 16:06] #1971 closed, assigned to nobody

[2022-08-15 16:06] ovflowd commented on #373
@Trott yup this is already on the new website, so we can close this issue.

[2022-08-15 16:06] #373 closed, assigned to Fishrock123

[2022-08-15 16:06] AugustinMauroy commented on #4414
If you don't know it yet but the doc doesn't have a translation system.
But there is a discussion for that which is open. If you are interested you can vote for
https://github.com/nodejs/node/discussions/43513

But for nodejs.org and nodejs.dev there is a translation system

[2022-08-15 16:07] AugustinMauroy commented on #4414
If you want to translate nodejs.org:
Go to https://github.com/nodejs/nodejs.org/blob/main/TRANSLATION.md

[2022-08-15 16:17] ovflowd opened #4767 "Come contribute to the Website Redesign ✨"
Hey y'all 👋 as some might already have noticed, we're working on redesigning the [Nodejs.org website](https://github.com/nodejs/nodejs.dev). This initiative was initially described [here](https://github.com/nodejs/nodejs.org/issues/1534), and it's already taking efforts for a few years.

As time has passed, we're getting closer and closer to having the Website Redesign ready, as we're working on t

[2022-08-16 06:47] cedricbu commented on #3245
I am not sure where to find that in the logs, but I can show you that in the code.

In v12.16.0 (which is < 12.17.0), we can find the vulnerable code : https://github.com/nodejs/node/blob/v12.16.0/deps/icu-small/source/common/unistr.cpp#L1565

As a reminder, according to NIST (https://nvd.nist.gov/vuln/detail/CVE-2020-10531) the ICU upstream fix is there : https://github.com/unicode-org/icu/commit

[2022-08-16 06:54] cedricbu commented on #3245
For v14.2.0 (which is < v14.3.0) : https://github.com/nodejs/node/blob/v14.2.0/deps/icu-small/source/common/unistr.cpp#L1565

[2022-08-18 14:55] ovflowd commented on #4003
Hey @code-reaper08 the i18n group is not as active as you could imagine, right now. Yet, you're completely up to you to just make spontaneous contributions 🎉

Sadly, as you can see from [this](https://github.com/nodejs/admin/issues/711) issue we're struggling with getting admin access within Crowdin to get that Language added.

Yet, you honestly don't need Crowdin to create Tamil translations. You

[2022-08-18 15:29] ovflowd commented on #4329
Hey @Saikirannaidu225 give a read here: https://github.com/nodejs/nodejs.org/issues/4003#issuecomment-1219596920

[2022-08-18 15:42] ovflowd commented on #3245
Gotcha, it's been such a long time that I'm not sure it is worth chasing after the rabbit, but maybe @nodejs/release might be able to assess if the blog post should be updated.

[2022-08-18 16:22] cedricbu commented on #3245
Yes, I agree. Back when I reported the issue, it might have mattered for people running a vulnerable version (e.g.: it might have weighted in favor of an upgrade of node.js).
... but now, in 2022, anyone still running such an old version is vulnerable to many CVEs, such that one more additional undocumented vulnerability does not really matter

(That being said, if I can express my humble opinion:

[2022-08-18 19:42] ovflowd commented on #3245
Noted! Thank you for the valuable info and help! And I apologise for the misleading endeavours!

Closing this issue as there are no actions to be done for now.

[2022-08-18 19:42] #3245 closed, assigned to nobody

[2022-09-07 02:55] #4753 closed, assigned to nobody

[2022-09-08 07:52] benhalverson commented on #4064
Search exists now on https://nodejs.dev. It searches the core docs and the /learn content 🎉

[2022-09-08 07:54] benhalverson commented on #3961
This is done now.

[2022-09-08 07:54] #3961 closed, assigned to nobody

[2022-09-08 13:36] lobsterkatie commented on #4064
Awesome! Thanks, @benhalverson!

[2022-09-08 16:19] WillAvudim commented on #4064
It looks and feels great! Thank you for working on this!

[2022-09-12 15:47] dilyanpalauzov opened #4816 "GIthub does not render the too-long changelog of Nodejs 18.9.0"
### URL:

https://nodejs.org/en/

### Browser Name:

Irrelevant

### Browser Version:

Irrelevant

### Operation System:

Irrelevant

### How to reproduce the issue:

At https://nodejs.org/en/ is written “Nodejs 18.9.0 Currenlt Changelog*.  The Changelog is a hyperlink to https://github.com/nodejs/node/blob/main/doc/changelogs/CHANGELOG_V18.md#18.9.0 .  Github does not render the final address, st

[2022-09-12 16:02] nschonni commented on #4816
FYI @nodejs/releasers
Don't think there is anything we can do with the github limitation though

[2022-09-12 16:10] RafaelGSS commented on #4816
I think we'll need to change it to the GitHub changelog. Example: https://github.com/nodejs/node/releases/tag/v18.9.0

[2022-09-12 16:11] targos commented on #4816
There's another limitation on this. I had to truncate https://github.com/nodejs/node/releases/tag/v16.17.0 because the number of characters is limited.

[2022-09-12 16:15] RafaelGSS commented on #4816
Wouldn't `<details>` solve it?

<details>
<summary>Commits</summary>

* Full list of commits...
</details>

[2022-09-12 16:24] targos commented on #4816
No. There's at least a client-side check that just prevents from entering more characters:
![image](https://user-images.githubusercontent.com/2352663/189706201-f65f0c84-7f4b-4a48-8091-f42ab6f2f65a.png)

[2022-09-13 20:32] Trott commented on #309
Is this a symlink on the server or something like that? @nodejs/build

[2022-09-13 20:42] richardlau commented on #309
Yes. More specifically it's an [nginx config](https://raw.githubusercontent.com/nodejs/build/bfdea82300d635fcac681656885d7b7736ee62a3/ansible/www-standalone/resources/config/nodejs.org) that redirects "/api" to the "latest" symlink in docs, which is created by https://github.com/nodejs/nodejs-latest-linker on the download/web server every time a release is promoted.

[2022-09-13 20:43] #1534 closed, assigned to nobody

[2022-09-13 20:49] ovflowd commented on #309
Just an off-topic, on nodejs.dev handling multiple versions is already a working feature. Right now we're only building the latest docs, as older docs (such as v14) have some invalid markdown stuff, but I believe we're close to get v14 and v16 docs working.

The idea is to have only currently maintained (current, lts and maintenance) versions to be hosted on nodejs.dev and any other version is red

[2022-09-18 15:04] char0n opened #4824 "Releases page returns 404"
### URL:

https://nodejs.org/en/about/releases/

### Browser Name:

Chrome

### Browser Version:

103

### Operation System:

Linux Mint 20.3

### How to reproduce the issue:

The web page is returning 404.  I could find alternative source of the info that was provided on the website here: https://github.com/nodejs/Release

[2022-09-18 17:42] nschonni commented on #4824
It was removed in https://github.com/nodejs/nodejs.org/pull/4821 before the redirect could land in https://github.com/nodejs/build/pull/3033

[2022-09-20 02:58] MaryGao commented on #4824
@nschonni Thanks for the update! I'd like to confirm with two items:

- Is the 404 error temporary or permanent for page https://nodejs.org/en/about/releases/?
- Any alternative source page in nodejs.org website?

[2022-09-20 03:01] nschonni commented on #4824
The removal has been reverted for now till the redirect is put into place. The PR was just merged to early, but those pages will eventually have a server redirect first deployed, then the removals will be redone

[2022-09-20 03:01] #4824 closed, assigned to nobody

[2022-09-22 01:37] c608345 opened #4831 "docs link error"
### URL:

https://nodejs.org/en/docs/guides/

### Browser Name:

chrome

### Browser Version:

100

### Operation System:

windows

### How to reproduce the issue:

Page not found   Introduction to Node.js   https://nodejs.dev/learn, correct link is  https://nodejs.dev/en/learn

[2022-09-22 05:59] Aman-0604 commented on #4831
@c608345 I have opened a pull request for the same few moments ago where I updated all the links related to this topic.
I found 24 such links in 12 files.

[2022-09-23 01:46] pwnfox opened #4837 "2022-09-22 The time in the september 2022securityreleases may be wrong🤔"
### URL:

https://nodejs.org/en/blog/vulnerability/september-2022-security-releases/

### Browser Name:

Chrome

### Browser Version:

107.0.5304.10

### Operation System:

Windows 10、21H2、19044.1826

### How to reproduce the issue:

It should be September 22, not July 22
![image](https://user-images.githubusercontent.com/111500026/191878533-109708dd-8b70-426e-84e0-0e777a90c281.png)

[2022-09-23 09:50] ovflowd commented on #4837
I don't see anything wrong, but @vdeturckheim just to double check, is that sub heading intentional?

[2022-09-23 10:57] #4837 closed, assigned to nobody

[2022-09-23 10:58] richardlau commented on #4837
Thanks. Fixed in https://github.com/nodejs/nodejs.org/pull/4838.

[2022-09-23 11:00] vdeturckheim commented on #4837
Thanks!

[2022-09-24 14:05] c608345 commented on #4831
Thank you for your fix.

[2022-09-24 14:05] #4831 closed, assigned to nobody

[2022-09-24 16:16] ttxs25830 commented on #579
Is this site official? I see many content need VIP to read. I thought it was unofficial cause don't see an VIP interface on English official site and this site even don't support HTTPS

[2022-09-28 10:10] vader-sama opened #4853 "Add a banner for supporting Iranian protests"
Hi
I know this is off-topic but I've seen many websites have done the same for **Black lives matter** movement.
Iranians are fighting for freedom and human rights and we as developers at least can spread their voice across the globe 🕊️

[2022-09-28 12:59] alirezanqp commented on #4853
Thank you for supporting the people of Iran.
@RafaelGSS @targos @nschonni @Trott @ljharb @richardlau @joesepi @benhalverson

[2022-09-28 13:54] Trott commented on #4853
Thanks for the request. Unfortunately, I'm going to close (and lock) this issue. The TSC is unlikely to endorse doing this for the same reasons we quickly reverted a banner in https://github.com/nodejs/nodejs.org/pull/4467#issue-1158498159. I also suspect the OpenJS Foundation would have the same approach, for better or worse. @rginn @nodejs/tsc

[2022-09-28 13:54] #4853 closed, assigned to nobody

[2022-10-11 07:23] AugustinMauroy opened #4874 "Remove code+learn"
### Enter your suggestions in details:

Remove code+ learn page
This work is in progress on nodejs.dev

[2022-10-11 13:29] nschonni commented on #4874
Not sure what this is tracking, I don't think this repo ever had this content to remove

[2022-10-11 20:44] Trott commented on #4874
This: https://github.com/nodejs/nodejs.org/blob/bbe4dddb0926a62356aaab2b0b5ca7dd77fd776b/locale/en/get-involved/code-and-learn.md

[2022-10-11 21:03] nschonni commented on #4874
Thanks, I wasn't seeing staring at the site nav 😆 , I see it's here https://nodejs.org/en/get-involved/code-and-learn/

[2022-10-12 07:40] AugustinMauroy opened #4875 "About page link"
### Enter your suggestions in details:

In https://nodejs.org/en/about/
We have an link [Blocking vs. Non-Blocking](https://nodejs.org/en/docs/guides/blocking-vs-non-blocking/).
so I propose to redirect to nodejs.dev

[2022-10-13 02:39] Trott commented on #4875
We should remove the link from that guide. It is out of place there.

[2022-10-13 09:24] AugustinMauroy commented on #4875
I propose more simply, that when you click or connect to `about`. We are redirected to https://nodejs.dev/en/about/

[2022-10-13 13:17] Trott commented on #4875
Why?

[2022-10-13 14:22] AugustinMauroy commented on #4875
instead of deleting we can redirect. This is less "direct".

[2022-10-13 14:55] ovflowd commented on #4875
It doesn't make sense to redirect nodejs.org to nodejs.dev...

[2022-10-13 15:12] HassanBahati commented on #4875
@Trott @ovflowd @AugustinMauroy, can I take on the implementation of this issue...

[2022-10-13 15:17] ovflowd commented on #4875
Depends? What do you want to do? I’m not sure there’s yet a clear decision of what should be done here

[2022-10-14 07:43] HassanBahati commented on #4875
Okay please, let me hold we until we arrive at a comprehensive way forward

[2022-10-14 19:53] Trott commented on #4875
Sorry, no [cookie-licking](https://www.redhat.com/en/blog/dont-lick-cookie).

[2022-10-14 20:01] Trott commented on #4875
If you'd like to get right to work, thoughl, I'd support both of these things:

* Remove the About link from the bottom of https://nodejs.org/en/docs/guides/blocking-vs-non-blocking/ and all translations of that page.
* Remove superfluous About content from the About page on nodejs.dev. It should at *least* be reduced to what we have on nodejs.org. All the stuff about cluster module and Twisted is

[2022-10-14 20:03] ovflowd commented on #4875
Could you pinpoint which paragraphs need to be removed from both places? 👀

[2022-10-15 00:04] Trott commented on #4875
Whoops, I thought we had already removed a bunch of that text from nodejs.org, but I am wrong wrong wrong. It's all still there.

So, OK, as a starter, this sentence should be rewritten or removed in my opinion:

This seems superfluous to me:

But if it's removed, then "It" in the next sentence needs to be changed to "Node.js". And later material in the paragraph needs to be rewritten or removed b

[2022-10-15 08:42] HassanBahati commented on #4875
@Trott am getting started right away on these tasks.

[2022-10-15 14:16] HassanBahati commented on #4875
@Trott i have opened a [pull request](https://github.com/nodejs/nodejs.org/pull/4881) please review.

[2022-10-16 20:01] HassanBahati commented on #4874
@AugustinMauroy @Trott @nschonni does this mean we need to remove this file [https://github.com/nodejs/nodejs.org/blob/bbe4dddb0926a62356aaab2b0b5ca7dd77fd776b/locale/en/get-involved/code-and-learn.md](https://github.com/nodejs/nodejs.org/blob/bbe4dddb0926a62356aaab2b0b5ca7dd77fd776b/locale/en/get-involved/code-and-learn.md) that renders as [https://nodejs.org/en/get-involved/code-and-learn/](http

[2022-10-16 20:35] nschonni commented on #4874
Yes, plus the translated files, and check for any links to the page

[2022-10-16 21:10] HassanBahati commented on #4875
@Trott @ovflowd do we need to remove the about link from bottom of [https://nodejs.dev/en/learn/overview-of-blocking-vs-non-blocking/](https://nodejs.dev/en/learn/overview-of-blocking-vs-non-blocking/) on the [website redesign](https://nodejs.dev/en/) similarly to how we have removed it from  [ https://nodejs.org/en/docs/guides/blocking-vs-non-blocking/]( https://nodejs.org/en/docs/guides/blocking

[2022-10-16 21:32] HassanBahati commented on #4874
okay. let me get started with working on this

[2022-10-16 22:29] HassanBahati commented on #4874
@nschonni please find the submitted pull request at #4883

[2022-10-17 03:29] ghost opened #4884 "“Edit on GitHub” cannot point to an md file that isn't translated yet"
### URL:

https://nodejs.org/ja/about/governance/

### Browser Name:

N/A

### Browser Version:

N/A

### Operation System:

N/A

### How to reproduce the issue:

1. Open your browser and switch to the URL I've mentioned above.
2. Click "Edit on GitHub" ("GitHub 上で編集" in Japanese).
3. Expected: Directed to the English md file.
4. Actually it goes to the Page 404.

**Reason:**  Any md file that isn

[2022-10-17 03:38] ghost commented on #4884
Before fixing it I want to confirm：

1. If the file path doesn't exist in the local language, direct us to the 'en' as the default page for editing.
2. If the file path doesn't exist in the local language, "Edit on GitHub" shouldn't be seen（This means the current language page hasn't been translated yet, so there should be no URL for the file）

I wanna ask all：Which is better？

[2022-10-17 04:05] nschonni commented on #4884
I would lean more towards 2, with maybe a "Help translate this page" pointing to some instructions instead. Reasoning that, a copy of the old file would need to be create, so even a link to GitHub "Add File" wouldn't be useful, and 1 would encourage people spending time to translate the EN page, which would be rejected as a PR

[2022-10-17 09:57] ghost commented on #4884
From your nice suggestions tips me：When the file doesn't exist, I'll do this：

A、Add a new file, with the name of the missing one.
B、There's a tip in the newly-created file in memory on github to guid the user there, something like this following（Let's just say there's something missing in zh-cn, the generated link may be the following, you can click to have a review:）
C、Anyone who can cancel the

[2022-10-17 09:59] ghost commented on #4884
Maybe this will make UE better, waiting for your review, thanks!!!