[2017-06-25 12:14] sotayamashita commented on #972
@fhemberger
I checked your scope and it is `user:email,public_repo`.  Could you share the screen shot of the message?

[2017-06-26 09:48] fhemberger commented on #1268
@mikeal Can you please add @feross to Google Analytics?

[2017-06-26 13:38] sotayamashita commented on #972
@fhemberger
@rvagg

I understand you are so busy but you can only change the permission.

~### 1\. Please sigh up on [GitLocalize](https://gitlocalize.com/) with GitHub~
~### 2\. Please open [the page to add repository](https://gitlocalize.com/repo/new)~
~### 3\. Please grant permission on GitLocalize~

### 4\. Please grant the permission on GitHub

After opening [the page](https://github.com/orgs

[2017-06-28 03:43] fhemberger commented on #972
@sotayamashita Sorry, I tried that before. I only see my own repos in the dropdown, but no repos from the nodejs org. Looks like I don't have enough rights to do that.

[2017-06-29 01:56] sotayamashita commented on #972
@MylesBorins @Fishrock123 @rvagg @Trott

Please grant our app on [the page](https://github.com/orgs/nodejs/policies/applications/478140) because someone had declined before so we cannnot integrate with normal way. @mikeal has approved the our app.

![screen shot 2017-06-26 at 10 21 35 pm](https://user-images.githubusercontent.com/1587053/27541245-2be0d044-5abe-11e7-8d41-8c07e8381b51.png)

Thanks i

[2017-06-29 02:37] Trott commented on #972
@sotayamashita The "granting access will give this application the ability to access private data" part is giving me pause. If that doesn't refer to private repos, do you know what it *does* refer to?

(Thanks for your patience with all of this.)

[2017-06-29 05:50] sotayamashita commented on #972
@Trott I am careful not to mistake the meaning so I'll ask about it to GitHuber and share it.

[2017-06-29 09:22] RCMainak commented on #1190
I would like to fix this issue. Where can I start?

[2017-07-03 19:42] mikeal commented on #1268
I don't think I have access anymore, it was linked to my linuxfoundation.org Google Account which I don't have anymore :( Maybe @ZibbyKeaton can help.

[2017-07-03 20:55] ZibbyKeaton commented on #1268
I do not have sufficient permissions to do that. Do you know anyone else that might @mikeal ?

[2017-07-04 01:34] fhemberger commented on #1268
Ok, looks like I have sufficient permissions. Just wanted to make sure it's okay, will add him later.

[2017-07-04 05:17] fhemberger commented on #1268
@mikeal Yes, you're still registered with your linuxfoundation.org account. Do you want me to change that?

[2017-07-04 21:03] mikeal commented on #1190
@RCMainak should just be able to edit the Get Involved markdown file in the english content directory :)

[2017-07-05 12:05] RCMainak commented on #1190
@mikeal Sorry, I'm bit lost. Why do I need to edit the Get Involved file? Isn't the plan was to bring that link to the front page?

I thought I need add the Newsletter link to the front page or the footer.

[2017-07-07 14:22] VincentBreton commented on #1269
Thank you very much kemitchell for your post. They are plenty of thinks to study or to learn so when something is confused, that drastically reduce the attractivity. I'm just asking to me what are the best choice between the two versions. A comparative table as for example http://toitures-supremes.ca/en/roofing-material-comparison-chart/ with one column by type of download would be very usefull. A

[2017-07-07 17:42] mikeal commented on #1190
Sorry, my bad, I read the original description incorrectly.

[2017-07-08 05:23] #1232 closed, assigned to nobody

[2017-07-08 05:31] fhemberger commented on #1269
@VincentBreton These are no different products, so there's no need for a "comparison table".
LTS is the recommended version for production environments with a special need for long-term stability, whereas "Current" gives you the most recent features for development and testing.

[2017-07-08 05:39] fhemberger commented on #1227
/cc @nodejs/documentation @nodejs/build What's the best way to fix this? Without interfering with the doc build process?

[2017-07-08 09:29] VincentBreton commented on #1269
Thank you @fhemberger  for your reply. I realized that the link at the bottom of the main page, just below the two buttons is usefull to know more about differences between LTS and current versions.

I'm glad to discover Node.js website and to share my firtst own experience on the user interface.  In addition to the message from @kemitchell, what make me in trouble is the sentence "Or have a look

[2017-07-08 20:08] #1217 closed, assigned to nobody

[2017-07-09 10:19] #1190 closed, assigned to nobody

[2017-07-09 10:41] fhemberger commented on #468
https://github.com/nodejs/dev-policy is completely outdated, not sure if it still makes sense to merge it into the main repo. For changes to https://nodejs.org/en/get-involved/development/, please open a new PR.

Closing this, as the original issue has been solved.

[2017-07-09 10:41] #468 closed, assigned to nobody

[2017-07-09 10:44] fhemberger commented on #947
I'm closing this issue after the style update in #1233. @mairead please feel free to open a new issue if you have further ideas how to improve the UX.

[2017-07-09 10:44] #947 closed, assigned to nobody

[2017-07-09 10:46] fhemberger commented on #1234
Fixed via #1274.

[2017-07-09 10:46] #1234 closed, assigned to nobody

[2017-07-09 10:56] fhemberger commented on #1065
@ZibbyKeaton Can you please let me know, if all the issues mentioned have been resolved for you?

[2017-07-09 11:12] fhemberger commented on #1158
@mikeal It would be nice if all those groups could be added as GitHub teams, so if we need to get in contact, we know who's responsible for what.

There are still some issues where I'd like to get some "official" feedback from the Foundation (e.g. regarding content and design) or at least know the right persons to get in touch with. There are a lot of things that I'd like to see addressed. Sometim

[2017-07-10 14:07] ZibbyKeaton commented on #1065
@fhemberger everything appears to be fine here. All the issues were resolved, so we can close it.

[2017-07-10 14:07] #1065 closed, assigned to ZibbyKeaton

[2017-07-12 23:41] fhemberger commented on #1173
Fixed by #1286.

[2017-07-12 23:41] #1173 closed, assigned to nobody

[2017-07-13 10:00] mikemaccana opened #1297 "Make Download buttons show packages for major Linux distros"
Related to #1233

Currently the download buttons show

 - Windows installer/packages
 - Mac installer
 - Source code

Most Linux users don't want to compile their own node. This makes security updates harder - yum/apt auto updating would easily get 8.1.4 today, but compiled users would have to know their node is out of date then download and build node again.

There are excellent, well maintained

[2017-07-13 13:16] mhdawson commented on #1297
There are already tar.xz files with a pre-built distro  for linux so linux users don't have to compile their own.

The other data point is if you go to the main page for nodejs.org, it already figures out you are on linux and provides a link to those downloads.

[2017-07-13 16:13] mikemaccana commented on #1297
- .tar.xz's have a similar issue: they won't get security updates along with the rest of the OS.
 - Yep, front page should go straight to Linux package instructions (rather than the `.xz`)

[2017-07-14 03:54] fhemberger commented on #1297
Duplicate of #676.

[2017-07-15 01:43] gitlcr2131 opened #1299 "Package Manager Install instructions"
* **URL**: https://nodejs.org/en/download/package-manager/
* **Browser version**: Google Chrome Version 59.0.3071.115 (Official Build) (64-bit)
* **Operating system**: Windows 10 Home

CentOS Command reads: curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -

Command should read: curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -

You need root to access

[2017-07-15 22:32] pierreneter commented on #1299
exactly.

[2017-07-15 22:37] pierreneter commented on #1299
But it have `Run as root on RHEL, CentOS or Fedora, for Node.js v6 LTS:` above. My PR is needed or not?

[2017-07-16 04:06] fhemberger commented on #1297
I really like the design of the RethinkDB download page. Would be interesting to see if we can come up with something similar matching our needs.

There was always talk about a redesign of the entire site, so larger content restructuring tasks have been avoided, but with @mikeal no longer in the driver seat, I don't know if somebody still has plans for that.

[2017-07-17 11:52] mikemaccana commented on #1297
Hah @fhemberger I didn't realise I'd already raised this. Sorry about the dupe!

[2017-07-17 11:53] mikemaccana commented on #676
@benjamingr How many of those students have subsequently updated when a new node security release has come out? If they're run apt/yum to update, how many would forget the unpackaged node?

[2017-07-17 13:30] benjamingr commented on #676
@mikemaccana that's a good question - since they all probably installed it [via a package manager](https://nodejs.org/en/download/package-manager/) I'd _assume_ they all did (just adding a PPA and sudo apt-get) since it is the easiest option and the one most linux users I know look for - but I can't really say.

I'm definitely :+1: on https://github.com/nodejs/nodejs.org/issues/1297 by the way - a

[2017-07-17 16:21] bnb commented on #1297
@fhemberger We also talked about the redesign in the last Community Committee meeting. This is definitely a consideration for @leo, as he just shared that he'd be able to start working on this now (ref: https://github.com/nodejs/nodejs.org-new/issues/4#issuecomment-313538006) 💥

[2017-07-17 18:35] fhemberger commented on #1297
@bnb Thanks! Is there a way for interested @nodejs/website folks to hop on the next call or something? With @mikeal gone I feel a bit out of the loop, to be honest.

[2017-07-21 05:59] #1186 closed, assigned to nobody

[2017-07-21 09:29] sayzlim opened #1304 "Request: Sponsorship on Docs Page"
**URL: https://nodejs.org/api/**

I sent an invitation to Mikael to join [Carbon](http://carbonads.net/), and he told me it’s best to seek everyone feedbacks here.

I manage Carbon and want to suggest displaying Carbon on the docs page at https://nodejs.org/api/. You can check out the demo I came up with at https://s.codepen.io/carbonads/debug/xrmGJr

The main idea is to generate a consistent reve

[2017-07-21 12:24] evanlucas commented on #1304
We currently store and build the api docs in the core repo (https://github.com/nodejs/node). Maybe this should be opened there?

[2017-07-21 14:10] sayzlim commented on #1304
Evan, is it okay for me to open another similar request there, or should I just point the issue back to this page? I would like to avoid opening issues on other repo unless necessary.

[2017-07-21 14:12] evanlucas commented on #1304
@sayzlim I would move this one to nodejs/node. I would like to hear what the collaborators think

[2017-07-21 14:26] tniessen commented on #1304
I don't think nodejs/node is the correct repository to discuss this. Implementation can still happen in nodejs/node (*if* the foundation decides to implement it), but I don't think a discussion about putting advertisements into our docs belongs there. This might be a topic for discussion by @nodejs/ctc or TSC.

[2017-07-21 14:26] sayzlim commented on #1304
@evanlucas got it. I’ll close this issue here.

[2017-07-21 14:26] #1304 closed, assigned to nobody

[2017-07-24 15:53] bnb commented on #1297
@fhemberger Absolutely. Created an issue in the CommComm repo: https://github.com/nodejs/community-committee/issues/95

[2017-07-24 16:11] friday commented on #1269
LTS isn't about beginner friendliness. If anything I'd say non-LTS releases are more beginner friendly because you're less likely to need to transpile.

It's also a pretty established term. Ubuntu describes LTS like this: https://wiki.ubuntu.com/LTS (some of it like "hardware support" doesn't apply, but generally it's the same definition of LTS like being "More Tested", targeting the "Enterprise F

[2017-07-25 01:07] fayazg commented on #1230
@mikeal using google forms will add the google branding.
@hackygolucky @serenam18 @geek
Is there a standard/template for adding (google) forms?

[2017-07-25 17:13] #1299 closed, assigned to nobody

[2017-07-26 22:50] guypod commented on #1094
All, it's been a long while since we had this conversation.
The ability to access only public repos is very tried and true now. If that's not enough, the ability to integrate Snyk via a broker (that further limits its code access) is very mature as well. Lastly, since Snyk is a member of the Node.js foundation we can probably own the integration ourselves :)

Would now be a good time to integrate

[2017-07-27 23:44] maximlomans commented on #1186
please consider editing the tutorial / Doc on the Node.js site 'Dockerizing Node.js ...' (https://nodejs.org/en/docs/guides/nodejs-docker-webapp/)
what fabriziocucci  suggested hasn't yet happened , i just spent two days beating myself up as to why following a tutorial led to so many errors.
 Install app dependencies
COPY package.json /usr/src/app/
RUN npm install

 Bundle app source
COPY . /usr/s

[2017-07-28 03:42] fhemberger commented on #1186
@marxenegls Yes, there is a bug in the tutorial (I just fixed it in #1316), but it's completely unrelated to this issue.

[2017-07-28 13:55] fhemberger opened #1317 "Add new contributors (July 2017)"
It's been a long time since we last added new contributors to the project.

It's a bit of manual labor, since I use a customized script to determine all new committers since a given date which are not already project contributors. Then we need someone with admin rights on GitHub to add those people to the website team. This has been done by @mikeal in the past, we need to find someone who is willi

[2017-07-28 20:56] phillipj commented on #1317
Finding new contributors could possibly be done by adding functionality to the https://github.com/nodejs/github-bot if someone feels for a challenge.

As for adding people into the nodejs organisation, there has been a somewhat controversial discussion using a bot for that as well. Maybe @williamkapke has some updates around that, as he has given that a shot more than once..

[2017-07-28 22:29] ghost opened #1318 "Routing issue"
* **URL**:https://nodejs.org/fr/docs/
* **Browser version**: Version 59.0.3071.109 (Developer Build) Chronium
* **Operating system**: elementary

This issue applies to locale, for example, going to https://nodejs.org/fr/, selecting 'Downloads', 'Foundation', 'Docs' etc.. would return error 404 instead of redirecting to /en locale. Example (https://nodejs.org/fr/docs/). I can see this is applied to

[2017-07-29 04:32] sotayamashita commented on #1317
@fhemberger Will you write code for nodejs-github-bot to add collaborators?

[2017-07-29 04:49] sotayamashita commented on #1318
@jevtovich I tried it on my local and it works. I look into it

- ~~ref: https://github.com/nodejs/nodejs.org/blob/master/server.js#L41-L58~~

[2017-07-29 05:08] sotayamashita commented on #1318
@fhemberger Does master branch deployed into node.js org?

[2017-07-29 05:31] lpinca commented on #1318
@sotayamashita yes.

[2017-07-29 05:42] lpinca commented on #1318
See https://github.com/nodejs/build/pull/816

[2017-07-29 07:15] sotayamashita commented on #1318
@lpinca Thanks a lot

[2017-07-29 11:04] ghost commented on #1318
Needs to be applied on ca, gl as well

[2017-07-30 23:13] williamkapke commented on #1317
The latest discussion on using a bot to do it was here: https://github.com/nodejs/community-committee/issues/22

Any member of the CTC or TSC is empowered to add people you ask them to. In fact, that is one of their specific duties. It would be good to have some of those folks getting familiar with doing it.
So- as soon as ya'll decide who is a new collaborator- just ping those groups and ask for

[2017-07-31 01:04] bnoordhuis commented on #1317
I can add people.  How many are we talking?

[2017-07-31 05:31] fhemberger commented on #1317
@williamkapke Great, thank you!
@bnoordhuis Still working on that, I'll let you know.

@sotayamashita I'm currently quite busy with a client project, so it still may take some time.

[2017-07-31 07:21] Damaged-Organic opened #1319 "Guide article - slash instead of dot"
* **URL**: https://nodejs.org/en/docs/guides/getting-started-guide/#how-do-i-start-with-node-js-after-i-installed-it
* **Browser version**: Chrome 58.0.3029.110 (64-bit)
* **Operating system**: Ubuntu 16.04

There is a slash character instead of dot.

[2017-07-31 07:24] #1319 closed, assigned to nobody

[2017-07-31 07:24] fhemberger commented on #1319
Thanks, fixed it.

[2017-08-01 01:08] sotayamashita commented on #972
Updated - We are still talking about "Private data" with GitHub :cry:

[2017-08-01 15:54] mrfarhadir opened #1323 "wrong node school location on events"
* **https://nodejs.org/en/get-involved/events/**:
* **Chromium 59.0.3071.86 **:
* **LinuxMint 18.1 (64-bit)**:

Hello ,
I'm from Tabriz and I want to state a problem.
At mentioned address (events) , node school in Asia-Iran-Tabriz is wrong and there is no any node school at that place also the web page (http://nodeschools.ir/) is not a web site !
it should be removed.
Also there is one question  ,

[2017-08-01 16:58] lpinca commented on #1323
Hi, we are not sure what to do with the events page.

See https://github.com/nodejs/nodejs.org/issues/1031 and https://github.com/nodejs/nodejs.org/pull/1314.

[2017-08-02 15:34] Fishrock123 commented on #972
If this grants access to private repos it cannot be enabled.

[2017-08-03 20:57] refack commented on #508
@fhemberger maybe it would be useful to track all the tasks/issues relating to the redesign into a [project](https://github.com/nodejs/nodejs.org/projects) or a [milestone](https://github.com/nodejs/nodejs.org/milestones)?

[2017-08-03 21:06] fhemberger commented on #495
Fixed by #1308.

[2017-08-03 21:06] #495 closed, assigned to nobody

[2017-08-03 21:08] fhemberger commented on #508
@refack Great idea, just created a project: https://github.com/nodejs/nodejs.org/projects/1
I'll add all design related issue in a first rough backlog.

[2017-08-03 21:20] fhemberger commented on #779
Closing this in favor of https://github.com/nodejs/nodejs.org/projects/1.

[2017-08-03 21:20] #779 closed, assigned to nobody

[2017-08-07 15:36] refack commented on #972
Might I recommend a start-up I'm involved with: https://www.bablic.com/ It is a completely non invasive way of tracking changes and performing i10n.

It could also be relevant for the i10n of the "meta" docs like the README and CONTRIBUTING guides. RE: https://github.com/nodejs/node/pull/14665

[2017-08-07 23:25] ZibbyKeaton opened #1327 "Automating Announcement Section"
Hello - The Node.js Foundation is now issuing all of its announcements on Medium. Given this, I thought we should update our announcement section to be more like the "In the News" section. Essentially, I just put the title and link into a google document and the "In the News" section is automatically updated.

Is this group okay with this and if so, would anyone know how to do this? I'm sure it's

[2017-08-07 23:43] pierreneter commented on #1327
In layout:
https://github.com/nodejs/nodejs.org/blob/master/layouts/in-the-news.hbs
We get data from https://docs.google.com/spreadsheets/d/1jSxgB5MYd1xCOmhb5QZ90PbDiY57n4z4A0lcdQD-UG8/pubhtml
The need to do is add you to this doc, but i don't have access permissions.
Maybe someone can do it.

/cc @nodejs/website

[2017-08-07 23:47] ZibbyKeaton commented on #1327
@pierreneter yes, I have access to this google document. I would like to create a similar document for the "announcement" section of the website, so I can easily upload announcements when we post them on Medium. Hope that makes more sense.

[2017-08-08 00:04] pierreneter commented on #1327
Sorry for my misunderstanding. You can create a doc has a format like doc of "In the News" section and publish to the web, after share me this publish link. I will edit layout of "announcement" section for you.

[2017-08-08 00:17] pierreneter commented on #1327
Or I can create a doc for you and you just need add content to it. Give me your address email.

[2017-08-08 01:30] sotayamashita commented on #972
@Fishrock123 We understand it. Private permission is not always necessary for our service. GitHub will answer the question @trott asked

[2017-08-08 02:33] sotayamashita commented on #972
Updated - We will have a conference call with GitHub.

[2017-08-08 06:36] #1031 closed, assigned to nobody

[2017-08-08 08:55] KITSTABMattRadbourne opened #1328 "Tiny typo in Docker guide"
Typo in https://nodejs.org/en/docs/guides/nodejs-docker-webapp/
"Please note that if you are using npm version 5 or later you will also want to copy package-lock.json, which is **gernerated** once you run npm install"

[2017-08-08 08:55] #1328 closed, assigned to nobody

[2017-08-08 08:58] mradbourne opened #1329 "Tiny typo in Docker guide"
Typo in https://nodejs.org/en/docs/guides/nodejs-docker-webapp/
"Please note that if you are using npm version 5 or later you will also want to copy package-lock.json, which is **gernerated** once you run npm install"

[2017-08-08 09:05] #1329 closed, assigned to nobody

[2017-08-08 09:05] fhemberger commented on #1329
Good catch, fixed it in master directly.

[2017-08-08 13:45] pmcelhaney opened #1330 "Update Peer Dependencies blog post to point out npm3 changes"
* **URL**: https://nodejs.org/en/blog/npm/peer-dependencies/
* **Browser version**: all
* **Operating system**: all

The first hit on Google for "peer dependencies" is the above URL. It doesn't explain that since npm3, **peer dependencies are not automatically installed**. I've run into this problem a few times. I forget whether peer dependencies are supposed to be installed automatically, find th

[2017-08-08 14:33] ZibbyKeaton commented on #1327
@pierreneter that works for me. Please feel free to use zkeaton@linuxfoundation.org

[2017-08-08 17:58] #1323 closed, assigned to nobody

[2017-08-08 17:59] lpinca commented on #1323
Closed as the event has been removed for now.

[2017-08-09 03:18] refack commented on #1317
@fhemberger if you can point me to when the last onboarding happened, I think I can compile a list of new contributors since then.

[2017-08-09 04:16] fhemberger commented on #1317
@refack Last onboarding was here: https://github.com/nodejs/nodejs.org/issues/1140

[2017-08-09 10:11] MahendraTennakoon commented on #734
I would like to work on this issue. Can someone please help me better understand the requirement? It looks like what is needed is to add a new link to the downloads page referring the OpenEmbedded/Yocto package recipes.

[2017-08-13 15:36] Trott opened #1337 "stability index wrapping"
* **URL**: https://nodejs.org/dist/latest-v8.x/docs/api/documentation.html
* **Browser version**: Chrome 60.0.3112.90 (Official Build) (64-bit)
* **Operating system**: macOS 10.12.6

The stability index text banners do not wrap, requiring lots of scrolling right to read the text.

[2017-08-13 16:24] saadq commented on #1337
It looks like the styles for the docs and the api stability stuff was in the main `node` repo, so I opened a [PR](https://github.com/nodejs/node/pull/14809) that should fix this over there. Is that alright?

[2017-08-15 16:02] hackygolucky opened #1338 "Nodejs.org redesign meeting refresh"
Since I've been at the Foundation(March 2016), I've heard from many parts of the project, members, and Board directors that the current nodejs.org needs some love. I was pointed to the discussions and work happening for the prior plan of redesign(such as #1074) and asked to hold off to let that work be seen through.

I think it has been along enough that it would be good for relevant parties to ge

[2017-08-15 16:54] Trott commented on #1338
I wonder if it would make sense to spend some Foundation money to get some professional UX research done to improve the site. No disrespect to the wonderful people who voluntarily maintain the site, but collecting usable data about UX can be difficult and is often costly.

[2017-08-15 17:03] hackygolucky commented on #1338
@Trott Yeah I think this is definitely something we should talk about in the session. We have -so- many users, and if we look at the amount of traffic we get, I think we owe it to them to get a quality dataset from which we base future decisions. If we determine this could be helpful, we can discuss it with the Board.

[2017-08-15 20:21] raphaelokon commented on #1338
@Trott Totally agree. @hackygolucky Absolutely!

[2017-08-15 20:57] bnb commented on #1338
@hackygolucky AFAIK there was no published plan - it was mostly context between Mikeal and Leo. This is the repo that was used to begin feedback intake:

https://github.com/nodejs/nodejs.org-new

Additionally, these are the relevant issues from that repo:
https://github.com/nodejs/nodejs.org-new/issues/4
https://github.com/nodejs/nodejs.org-new/issues/5

And feature request issues:
https://github.

[2017-08-15 21:00] bnb commented on #1338
Also, from https://github.com/nodejs/nodejs.org-new/issues/4 it seems @evilrabbit is involved, and should be welcomed and invited to the meeting as well, if they can make it :)

[2017-08-16 12:07] #1337 closed, assigned to nobody

[2017-08-16 18:49] nebrius commented on #1338
I'm going to be off the grid during this time and so I cannot attend. That said, I don't think it's all that necessary for me to be there?

[2017-08-19 05:36] #1318 closed, assigned to nobody

[2017-08-21 15:24] RichardHill opened #1342 "Problem with Building a Docker Image"
* **https://nodejs.org/en/docs/guides/nodejs-docker-webapp/**:
* **CHROME - Version 59.0.3071.115 (Official Build) (64-bit)**:
* **MAC OS Sierra system**:

I am using Docker version 17.06.0-ce, build 02c1d87

I've been following the tutorial documented on the page and there seems to be an issue with one step.

Scroll to the section where it says -: Building your image

And note that you say to run

[2017-08-21 16:31] bnb commented on #1338
@nebrius Don't thing you're required. We'll have at least two members from the CommComm (probably more), so I think we should be set 👍

[2017-08-21 16:43] fhemberger commented on #1342
Hi Richard,

it's because you left out the "username" part: `docker build -t <your username>/node-web-app .`
If you wish to omit it, you need to remove the slash separator as well.
For example `docker build -t RichardHill/node-web-app .` would have been totally fine. Adding a user name prefix can help distinguish your own Docker images from official ones.

We should make this more clear in the tut

[2017-08-21 18:44] RichardHill commented on #1342
Hello FHemberger and thank you for taking the time to review the issue I found.

I took a look at my original post and to my horror I found that it looked as if I had not posted correctly. However it was my mistake in not understanding that if I use '<' content '>' - it is not rendered out. So you could not see that I had actually created the post correctly but the site was not rendering it as I e

[2017-08-21 19:25] fhemberger commented on #1342
The slash is correct, you use a colon to separate the image name from a(n optional) version (e. g. `fhemberger/myapp:1.0.0`).

Valid Docker image tags (examples):
- `appname`
- `appname:latest`
- `appname:v1.0-beta`
- `nodejs:lts`
- `username/appname`
- `username/appname:version`
-…

[2017-08-22 08:27] RichardHill commented on #1342
Hi Fhemberger - I took another look and you are right. I do apologise. If you use that approach it just adds 'latest' as the tag.

Incredibly minor but it might be worth adding that the user should include the period '.' in the command.

[2017-08-22 17:05] hackygolucky commented on #1338
@bnb @pup @pierreneter @Trott  I haven't scheduled this yet because I'm still waiting on a few of the folks who were working on the redesign to chime in on availability.

@bnb could you @ them here to boost?

[2017-08-22 20:04] Fishrock123 commented on #1338
I should have time to do work on this on a technical / implementation end, when it becomes a thing. I have filled out the doodle.

[2017-08-23 02:31] bnb commented on #1338
@hackygolucky The people working on the redesign were @leo and @evilrabbit - hopefully this message gets to them 🙏

[2017-08-23 10:38] leo commented on #1338
I'd also love to work on writing it in [Next.js](https://github.com/zeit/next.js). Talking to @evilrabbit regarding the design... 😊

[2017-08-23 10:56] fhemberger commented on #1338
@leo Why would we need server side rendered react.js for a entirely static website? 🤔

I'd love to keep our technical setup with metalsmith, the website content needs to be easily translatable also for non-technical contributors.

[2017-08-23 15:36] leo commented on #1338
Every website nowadays needs its first load to be rendered on the server. Otherwise you're causing a white screen until the client side assets are downloaded (read more [here](https://m.youtube.com/watch?v=evaMpdSiZKk)). After that has happend, the client side will pick up.

It's should be just as easy to translate and much cleaner (because of the React components).

[2017-08-23 15:38] leo commented on #1338
Also Next.js is not just about SSR, it's about providing the cleanest, most straight-forward and future-proof toolchain for building websites and apps in 2017.

https://zeit.co/docs/examples/next

[2017-08-23 15:39] fhemberger commented on #1338
We *are* already rendering everything on the server. As static HTML. The page size is so small that you don't get any benefit from client side rendering afterwards. It's a website. Not a web application.

Also I bet HTML is still the cleanest, most straight-forward and future-proof way to create a website.

[2017-08-23 18:39] pierreneter commented on #1338
So, we just need to redesign the template as well as problems with UX for the site `or` do it and create a new source code for this site with NEXT.js or react.js?

My vote for `react.js`, we can solve the problem of a `white screen` with a `loading screen page` if necessary.

[2017-08-24 19:08] rm-rf-etc opened #1344 "Error in guide to dockerizing nodejs"
* **URL**: https://nodejs.org/en/docs/guides/nodejs-docker-webapp/

The following instruction, given by the above tutorial, causes a build to fail.
`COPY package.json package-lock.json .`

The error message reads:
[code]

[2017-08-24 19:19] pierreneter commented on #1344
I think it should be `COPY package.json package-lock.json ./`. can you submit a PR to fix this tutorial?

[2017-08-24 19:20] silverwind opened #1345 "Wikimedia logo marked for deletion because of licencing issue"
See https://commons.wikimedia.org/wiki/Commons:Deletion_requests/File:Node.js_logo.svg

Apparently the SVG logo approximation I made based on the AI file was marked for deletion because the linked source page (https://nodejs.org/en/about/resources/) does not make that logo available under a free licence.

I'm not sure how to proceed. Shall we add the SVG logo to that page and note it as freely ava

[2017-08-24 19:31] rm-rf-etc commented on #1344
Created pull/1346. Sorry if I missed any aspects of standard protocol.

[2017-08-24 19:41] #1344 closed, assigned to nobody

[2017-08-24 19:41] pierreneter commented on #1344
Thanks!

[2017-08-28 18:52] Fishrock123 commented on #1345
Hmmm, not really sure either. :/

[2017-08-28 18:56] hackygolucky commented on #1345
I will bring this up in our internal team meeting. This feels silly. More like a relic of the group who originally worked on the files vs. what's actually allowed.

[2017-08-28 19:16] hackygolucky commented on #1345
@silverwind When you say _free license_, are there restrictions on what licenses can be used for content on Wikimedia? The logo is allowed to be used for noncommercial use, as indicated in the [policy](https://nodejs.org/static/documents/trademark-policy.pdf)

You may use Node.js or the Node.js logo on your website as a hyperlink to the home page of the Node.js
Foundation. Please make sure any use

[2017-08-29 03:05] refack commented on #1345
The request was made by an anonymous user, that's a red flag. I'm referencing the policy in a reply to that request.

[2017-08-29 03:20] refack commented on #1345
I opened a deletion request for an old duplicate that might have been scraped by a bot 3 years ago.
https://commons.wikimedia.org/wiki/File:Node.js_logo_2015.svg
The references in that pages show it's not used in any wiki entry.

[2017-08-30 20:16] hackygolucky opened #1349 "foundation.nodejs.org for Node.js Foundation website page"
My colleague from the Node.js Foundation internal team, Greg Wallace @gtewallace , has been chatting with me about the Foundation content on the web for quite some time. It seems as though now is a good time to place the Foundation section of www.nodejs.org on a WordPress CMS and under the day-to-day management of the Linux Foundation staff.

The rationale is:

Linux Foundation marketing and commu

[2017-08-31 18:32] gibfahn commented on #1349
Sounds reasonable, I like the idea of keeping it separate and just having a redirect.

[2017-08-31 18:38] refack commented on #1349
I think it's a bad idea to run the Foundation's website off WP.
I don't know what the current status of [Ghost](https://github.com/TryGhost/Ghost), but if push comes to shove, I'd rather we maintain a basic CMS ourselves then use WP.

[2017-08-31 18:49] gtewallace commented on #1349
hi @refack

Want to be sure it's clear that we're only talking about the Foundation section of the current nodejs.org  (images here for illustration)

All the rest would stay either on github as it is today or whatever else the Web WG decides, such as maybe Ghost, which I know has been talked about previously.

Does that alleviate your concern any?
![nf1](https://user-images.githubusercontent.com/

[2017-08-31 19:02] refack commented on #1349
Still IMHO it's a bad statement that we serve any of our content off PHP. "dogfooding" should be higher on our priority list
I did a quick sanity test on Ghost, and it seems like a viable node.js based alternative. Also probably if we reach out to them they'll be willing to donate the hosting.

Just two tabs to the left we are making the following statements 😄
![image](https://user-images.githubus

[2017-08-31 19:04] refack commented on #1349
I also forgot about GoDaddy, maybe they have a node.js based hosted CMS?

[2017-08-31 19:09] gibfahn commented on #1349
I agree in general, and it would be great if we could get the foundation to use node for this part of the website, but on the other hand if the team there are already familiar with Wordpress, and they're already using it on a bunch of other sites, then consistency is probably a priority for them. Given that the proposal is for them to manage the website separately, and just have a link to their si

[2017-08-31 19:23] refack commented on #1349
Consider my objection non blocking (I'm also not a Website WG member).

For further consideration neither PHP nor WordPress are members of the Linux Foundation, so they might consider migrating too (just saying 😉).

[2017-08-31 19:33] hackygolucky commented on #1338
Okay I'm the worst and had waited for some folks to schedule in the doodle, and then the days passed that we had chimed in for. So!

If y'all could chime in again [HERE](https://beta.doodle.com/poll/82ddcmbbq5hka96e), I promise I'll schedule it this go round. cc @pierreneter @Fishrock123 @bnb @leo @nebrius @raphaelokon @leo

[2017-09-01 06:56] fhemberger commented on #1349
+1 for extracting all foundation content to a different platform, if it makes it easier for Foundation staff to contribute. That's the whole point. Not everybody feels comfortable wrangling with Git/GitHub for simple content updates.

I also think Ghost would be a great choice, they'd be thrilled to have the very organization creating the platform their software runs on amongst their users. There

[2017-09-04 05:33] sotayamashita commented on #972
@fhemberger  and @Trott

Updated

https://github.com/nodejs/community-committee/issues/114#issuecomment-326848556

[2017-09-06 12:10] fhemberger commented on #791
Closing because of https://github.com/nodejs/TSC/issues/312

[2017-09-06 12:58] fhemberger opened #1356 "Restructure GitHub labels"
At the moment, we have 43 labels for issues, most of them have never been used. I'd like to cut down the number and restructure them.

This is a first idea:

| Current labels  | New proposal |
| ------------- | ------------- |
| accessibility | |
| ~~blog~~ |  |
| bug | |
| content | |
| | content/downloads |
| | content/foundation |
| ~~cross-browser~~ | |
| ~~deprecate~~ | |
| ~~deps~~ | |
| des

[2017-09-06 13:27] refack commented on #1356
There was a discussion about this in core https://github.com/nodejs/CTC/issues/102. There `invalid` was kept mostly for statistics about really weird stuff [(see top 3)](https://github.com/nodejs/node/issues?q=is%3Aissue+label%3Ainvalid+is%3Aclosed)

[2017-09-06 19:34] #1327 closed, assigned to pierreneter

[2017-09-10 10:34] fhemberger commented on #1356
Oka, as there were no further objections, I changed/deleted the labels. If you feel there's something missing we should add, please feel free to do so.

[2017-09-10 10:34] #1356 closed, assigned to nobody

[2017-09-10 14:36] fhemberger commented on #1317
@bnoordhuis Here's the list of new committers since February:

[code]

[2017-09-13 01:55] williamkapke commented on #791
The merge doesn't invalidate that that page is still quite invalid.

We should still do as @mikeal said:

[2017-09-15 16:53] octref commented on #919
Just pinging people in this thread, this issue hasn't been resolved for a whole year.

How it looks on half of my 15 inch macbook screen today:
![image](https://user-images.githubusercontent.com/4033249/30494011-5239e29a-99fb-11e7-8ad4-edeec23ac288.png)

Relevant CSS:
![image](https://user-images.githubusercontent.com/4033249/30494118-b51e626e-99fb-11e7-8018-9e7e2fba7c56.png)

[2017-09-15 17:51] thefourtheye commented on #919
I think https://github.com/nodejs/node/pull/15430 is related.

[2017-09-18 13:32] OddDev opened #1364 "Downloads on download page are not matching their headlines"
* **URL**: https://nodejs.org/en/download/
* **Browser version**: Vivaldi 1.10.867.42 (Stable channel) (32-bit)
* **Operating system**: Windows 7 x64

On the given URL clicking LTS leads to v8.11.3 as the suggested download whereas current leads to an earlier version v8.5.0.
Either they are just mixed-up or there is a bigger problem if my assumption is right that the LTS needs to be something star

[2017-09-18 13:33] #1364 closed, assigned to nobody

[2017-09-18 13:33] OddDev commented on #1364
Embarrassing but in my browser the 6 on the given page looks a little bit like 8 :) Sorry.

[2017-09-20 06:37] peter-lyons-kehl opened #1371 "Document installation with curl behind a proxy"
For steps involving _curl_, add instruction how to run behind a proxy. Especially needed since the downloaded script itself invokes _curl_ again.

I'll provide a pull request.

[2017-09-21 05:29] C-h-e-r-r-y opened #1373 "Documentation improvements"
Hello

Could you please reorginize documentation for nodejs?

I am new programmer to nodejs and for me it is very hard to understand what resources I need to read for learning nodejs from start to end. Of course I can search with google and find some "hello world" applications, but first of all they do not provide all features, the second - most of them may be outdated and use old nodejs pattern,

[2017-09-21 13:47] riderSide opened #1374 "Some links to anchors in Spanish doc fails."
* **URL**: https://nodejs.org/es/download/package-manager/
* **Browser version**: Chrome 61.0.3163.91
* **Operating system**: Windows 10 x64

Some Links to anchors from the main menu are not working.
Example:
Item two points to "#debian-and-ubuntu-based-linux-distributions" but it should point to "#distribuciones-de-linux-basadas-en-debian-y-ubuntu"

[2017-09-21 19:57] bnb commented on #1230
With the new Foundation site in development, is it more appropriate to add this there? I think it'd probably be a better fit and would enable the Foundation team to get the data they needed faster.

I just dug this issue up because of a comment by @dshaw on [Twitter](https://twitter.com/dshaw/status/910938318979850240) about how the Foundation membership form gets blocked by ad blockers - it seems

[2017-09-21 20:23] lpinca commented on #1374
It seems that some links have not been updated when this [file](https://github.com/nodejs/nodejs.org/blob/master/locale/es/download/package-manager.md) has been translated.

Would you mind opening a PR to fix the issue?

Thank you.

[2017-09-21 21:11] MylesBorins opened #1375 "Working group meeting to discuss the future of the website"
I think it would be a good idea for the working group to have a meeting, potentially prior to interactive, to discuss future direction of the website and what resources / support the group would like.

We could also do a session during the collaborator summit and video in people not attending in person

Thoughts?

[2017-09-21 21:16] gtewallace commented on #1230
@bnb yup, totally agree! thanks. I think we can close this issue.

[2017-09-25 10:59] craigfairhurst opened #1377 "rewrite your config files for 2063-17+you ::::"
* **URL**:
* **Browser version**:
* **Operating system**:

[2017-09-25 11:00] craigfairhurst commented on #1377
TLS/DNS/301@2015@2017@LOL

[2017-09-25 11:00] craigfairhurst commented on #1377
anyway pls keep posting for GUS GUS GUS!!! (a parrot. NEXT MADDIE! #11)

[2017-09-25 11:02] craigfairhurst commented on #1377
12 11 then 100 up to 10 who was 11 back to 120!!! gift time for dicks that write ok? i chose b (science dual award, maths dual award and and GCSE for A* victims of history do 1 billion search for dumb cunts searching for dnb.com!!!!

[2017-09-25 11:03] craigfairhurst commented on #1377
ok now american history x @potus ok mention it! 10k years in eternity (is there a square?!?!?! rectangle china maddie the fridge a girl again, the girl again, is she dead (its just a girl!!!!)

[2017-09-25 11:05] craigfairhurst commented on #1377
<b>at the time</b>
now give me my mind back, throw me a cheeseburger, now ill do it myself. fart award! security!!!!!!! tls/301/js@potus lol (l)o(l)o(l)

[2017-09-25 11:05] #1377 closed, assigned to nobody

[2017-09-25 11:05] craigfairhurst commented on #1377
facebook!@
:::;;;:::::;;:::::::::::::::::::::/

[2017-09-25 11:06] craigfairhurst commented on #1377
ok @gus lol

[2017-09-25 16:43] #1230 closed, assigned to nobody

[2017-09-25 18:02] bnb commented on #1375
@MylesBorins We've been trying to work on this for some time - check out: https://github.com/nodejs/nodejs.org/issues/1338

We finally pinned down a meeting with the parties involved, but only @hackygolucky and I showed up 😢

This is _definitely_ a huge deal, and we're finally moving past some of the blockers that have really prevented this from happening for well over a year at this point. This i

[2017-09-25 18:04] hackygolucky commented on #1375
For how much work this is going to be, I think having a session where people can remote in at Collaborator Summit would be amazing. There's a lot of stakeholders here(various working groups and committees, Node.js Foundation team such as PR and Comms) that would probably love to provide input on how we can better address our ecosystem of needs. Is there someone who is especially stellar in project

[2017-09-27 16:31] Laassari opened #1380 "tiny typo in Timers in Node.js"
typo in: https://nodejs.org/en/docs/guides/timers-in-node/#right-after-this-execution-setimmediate

setImmediate() returns **an** Immediate object, which can be used to cancel the scheduled immediate (see clearImmediate() below).

[2017-09-27 16:43] Fishrock123 commented on #1380
Heya. You can edit this file on the nodejs.org repo: https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/timers-in-node.md

[2017-09-27 16:43] Fishrock123 commented on #1380
Please open an issue, or file a PR, on [that repo](https://github.com/nodejs/nodejs.org). :)

[2017-09-27 16:43] #1380 closed, assigned to nobody

[2017-09-27 19:40] fhemberger commented on #1380
Thanks for reporting, I just did a quick fix in 8066cd1.

[2017-09-27 22:12] jimmont opened #1382 "no ARMv6 download of Nodejs 8.x available, 404 link"
* **https://nodejs.org/en/download/current/**:
* **ALL**:
* **ALL**:

see heading: "Linux Binaries (ARM)" with link "ARMv6" with href "https://nodejs.org/dist/v8.6.0/node-v8.6.0-linux-armv6l.tar.xz" which is a 404 error and browsing to "https://nodejs.org/dist/v8.6.0/" has no ARMv6 compatible download.

[2017-09-28 01:08] refack commented on #1382
@jimmont I think I found them https://github.com/nodejs/build/issues/897 for some reason they were named ARM7, and it's actually the ARM7 binaries that are missing.

/cc @nodejs/build @nodejs/release

[2017-09-28 01:28] jimmont commented on #1382
@refack unfortunately the ARM7 binary you mentioned from https://nodejs.org/dist/v8.6.0/node-v8.6.0-linux-armv7l.tar.xz segfaults on my ARM6 machine so I don't think it's an option.

[2017-09-28 01:31] jimmont commented on #1382
Reverting to Nodejs 8.4 per what appears to be the best option based on descriptions of the most recent 2 security issues (as of today).
https://nodejs.org/en/blog/vulnerability/september-2017-path-validation/
https://groups.google.com/forum/#!forum/nodejs-sec

[2017-09-28 01:32] refack commented on #1382
So it's not a simple misnaming, shame.
You might want to checkout nodesource's repository https://github.com/nodesource/distributions, they build binaries to various linux distributions and support ARM6 & ARM7

[2017-09-28 01:41] jimmont commented on #1382
Unfortunately Nodejs 8.x and 7.x are not supported for ARM6 on nodesource. Appreciate the tip @refack, might be time to retire the rpi I've been using.

[2017-09-28 02:21] joaocgreis commented on #1382
This happened because all of our ARMv6 infra is down. ARMv6 is still supported and the binary will probably be released as soon as we're able to get the machines back online (cc @rvagg).

The ARMv7 issue is a different one, ref https://github.com/nodejs/build/issues/829.

[2017-09-28 07:23] #802 closed, assigned to nobody

[2017-09-28 07:24] #953 closed, assigned to nobody

[2017-09-28 07:24] MylesBorins commented on #982
We decided to stick to a single lts. Closing but feel free to reopen or make a new issue

[2017-09-28 07:24] #982 closed, assigned to nobody

[2017-09-28 13:46] mhdawson commented on #1382
I guess I need to find time to get the backup Raspberry PI 1 (ARM v6) connected to the CI.  However, that won't like be until at least after Node Interactive.

[2017-09-28 15:36] #1374 closed, assigned to nobody

[2017-10-02 04:33] fhemberger commented on #1317
@bnoordhuis @Fishrock123 @bnb Can someone please add the new contributors to the website team?

[2017-10-02 08:03] gibfahn commented on #1317
@fhemberger FWIW it looks like you're a maintainer (assuming we're talking about [nodejs/website](https://github.com/orgs/nodejs/teams/website/members)) so you should be able to add anyone who's already in the org to the team.

I think you still need an [owner](https://github.com/orgs/nodejs/people?utf8=%E2%9C%93&query=%20role%3Aowner) to add new people to the org.

[2017-10-02 09:27] fhemberger commented on #1317
@gibfahn I know, that's why we need an org owner to add new folks.

[2017-10-02 16:30] #377 closed, assigned to nobody

[2017-10-02 20:40] jimmont commented on #1382
@mhdawson Michael is it possible to please update the page to reflect the status for these downloads accurately? If there's a change in support or outage (indicated above) it would be helpful to have that information on the website so that we can plan accordingly. Thank you.

[2017-10-02 21:27] refack commented on #1382
ping @jasnell who cut the release (No ARM6 and ARM7 are corrupt)

[2017-10-03 18:50] octref commented on #919
@bnoordhuis This bug just passed its one year birthday. I don't know what tone should I use to express my frustration. I use this layout everyday and `nodejs.org/api` has been unusable for me for a whole year.

![image](https://user-images.githubusercontent.com/4033249/31143063-f1a424c4-a830-11e7-9aaa-39175beb0496.png)

[2017-10-03 19:02] lpinca commented on #919
@octref see https://github.com/nodejs/node/pull/15660.
All I can suggest is to get you hands dirty if you want to improve things.

[2017-10-03 19:09] octref commented on #919
@lpinca OK I’m glad there is ongoing effort in fixing this. Thanks for linking the issue.

[2017-10-03 23:58] johnwebbcole commented on #1382
I appears that node source isn't an option for armv6l versions of v8.x

[code]

Any word on the armv6 builds?

Thx!

[2017-10-05 04:32] fhemberger commented on #1371
Closed, see #1372.

[2017-10-05 04:32] #1371 closed, assigned to nobody

[2017-10-06 13:03] #1246 closed, assigned to nobody

[2017-10-06 15:21] prototypeme opened #1390 "doc - nodejs.org website doc links are broken"
* **URL**:
https://nodejs.org/dist/latest-v6.x/docs/api
https://nodejs.org/dist/latest-v8.x/docs/api

* **Browser version**: Chrome latest
* **Operating system**: Windows

nodejs.org website doc links are broken

![image](https://user-images.githubusercontent.com/11896633/31284972-b13023c4-aa7f-11e7-8e11-610b3ad9032c.png)

![image](https://user-images.githubusercontent.com/11896633/31285067-f4d136

[2017-10-06 15:29] evanlucas commented on #1390
This actually would go through nodejs/build, so I've gone ahead and opened an issue at https://github.com/nodejs/build/issues/905. Thanks for reporting!

[2017-10-06 16:02] #1390 closed, assigned to nobody

[2017-10-06 16:37] mrspaghetti opened #1391 "404 error at https://nodejs.org/dist/latest-v6.x/docs/api"
* **URL**:
* **Browser version**:
* **Operating system**:

[2017-10-06 17:29] knksmith57 commented on #1391
looks like this isn't isolated to LTS docs, but _all_ linked API doc revisions:
[code]

affecting:
* https://nodejs.org/docs/
* https://nodejs.org/docs/latest-v0.10.x/api/
* https://nodejs.org/docs/latest-v0.12.x/api/
* https://nodejs.org/docs/latest-v4.x/api/
* https://nodejs.org/docs/latest-v5.x/api/
* https://nodejs.org/dist/latest-v6.x/docs/api/
* https://nodejs.org/dist/latest-v8.x/docs/api

[2017-10-06 17:32] knksmith57 commented on #1391
money says this is related to #1387.

@fhemberger is it possible this is simply a caching issue w/ cloudflare?

[2017-10-06 17:57] fhemberger commented on #1391
Seems to be a Cloudflare issue. Works fine for me (tested from Germany and via VPN from the US).

[2017-10-06 18:38] knksmith57 commented on #1391
Links are still busted for me.

For the rest of the world, static mirrors:
* http://nodejs-api-docs.s3-website-us-west-2.amazonaws.com/6.11.5/
* http://nodejs-api-docs.s3-website-us-west-2.amazonaws.com/8.6.1/

happy to add more versions at request if the issue persists.

[2017-10-06 18:52] fhemberger commented on #1391
Hello @nodejs/build, can you please look into this?

[2017-10-06 19:38] joaocgreis commented on #1391
Links also work for me.

I've cleared the Cloudflare cache, don't know if that will help.

This is a duplicate of https://github.com/nodejs/nodejs.org/issues/1390 and https://github.com/nodejs/build/issues/905 .

[2017-10-06 19:50] fhemberger commented on #1391
Closing this one in favor of nodejs/build#905. Please comment there If the issue still persists on your side.

[2017-10-06 19:50] #1391 closed, assigned to nobody

[2017-10-06 20:54] gtilma opened #1392 "Docs are 404ing"
* **URL**: `https://nodejs.org/*/api/`
* **Browser version**: Chrome 61.0.3163.100
* **Operating system**: Kubuntu 17.04

Any version of the API docs is returning 404.

[2017-10-06 21:58] gibfahn commented on #1392
This is a duplicate of https://github.com/nodejs/build/issues/905, please follow that for more info.

I'll leave this open so people (hopefully) find it before raising more issues here.

[2017-10-07 22:29] refack commented on #1391
@fhemberger trying to figure out what CF is caching... Was there a time window where the `/docs/*` paths didn't work?

[2017-10-07 22:38] evanlucas commented on #1391
/cc @rvagg? I think this has happened once before?

[2017-10-07 22:39] gibfahn commented on #1391
Can we comment on https://github.com/nodejs/build/issues/905 instead? Otherwise we just get duplicates.

[2017-10-11 16:05] mhdawson commented on #1382
The arm machine seems to be online but fails with this:

[code]

@rvagg is it possible that some cleanup is needed on the release machine ?

[2017-10-11 16:30] Trott opened #1395 "Update board membership?"
* **URL**: https://nodejs.org/en/foundation/board/
* **Browser version**: n/a
* **Operating system**: n/a

I think the board membership needs to be updated. If I'm not mistaken, @sarahnovotny is now on the board. See https://www.youtube.com/watch?v=huYi9x5sXKQ

@nodejs/board for confirmation and also maybe a check to see there aren't any other changes that need to be made to that page.

[2017-10-12 17:03] bnb commented on #1375
Unfortunately we weren't able to have such a session at the Collaborator's Summit, purely in the interest of time and the other issues that were raised to be discussed.

As such, we *do* need to have a discussion going forward. We need to gauge interested in participating at every level - design, implementation, and content. One of the discussions that I had at the Collaborator Summit landed on th

[2017-10-14 00:38] vsemozhetbyt opened #1399 "Possible line spacing issue in nightly docs"
* **URL**: https://nodejs.org/download/nightly/*/docs/api/*
* **Browser version**: Google Chrome 63.0.3239.0 Canary
* **Operating system**: Windows 7 x64

It seems nightly docs have unequal line spacing in lines with and without code fragments, Compare:

https://nodejs.org/api/tty.html

![0](https://user-images.githubusercontent.com/10393198/31570802-d4898722-b090-11e7-972f-012fce5cf354.png)

http

[2017-10-14 04:43] fhemberger commented on #1399
`line-height` is missing in the nightly docs. Maybe changes made in  https://github.com/nodejs/node/pull/15660 are not deployed there?

/cc @silverwind @lpinca

[2017-10-14 06:14] silverwind commented on #1399
I removed `p {line-height: 1.5}` because it seemed superflous. The case here is that `<code>` sets it to 1.5, but `<p>` defaults to 1.2. Restoring that rule fixes it. I'll send a PR.

[2017-10-14 09:32] lpinca commented on #1395
That page has been recently updated with https://github.com/nodejs/nodejs.org/pull/1381.

cc: @hackygolucky

[2017-10-14 09:33] lpinca commented on #1392
Is this still an issue?

[2017-10-14 09:34] lpinca commented on #1392
Closing as https://github.com/nodejs/build/issues/905 has also been closed.

[2017-10-14 09:34] #1392 closed, assigned to nobody

[2017-10-14 14:55] refack commented on #1094
BTW: The private repos have been moved out https://github.com/nodejs/TSC/issues/320. Does that help the situation?

[2017-10-15 06:08] lpinca commented on #1094
@Fishrock123 can you please take a look?

[2017-10-15 06:11] lpinca commented on #1094
Also cc @Trott @jasnell.

[2017-10-15 10:41] #1399 closed, assigned to nobody

[2017-10-15 16:04] bnb commented on #1317
I don't think I can add folks to the org, unfortunately 😬

[2017-10-15 16:14] fhemberger commented on #1395
Fixed by c9076f232d3b41da5c47c4deb2a3ad56e490f4d5.

[2017-10-15 16:14] #1395 closed, assigned to nobody

[2017-10-15 16:17] fhemberger commented on #1317
Ok, let's ask one of the org's owners for help.
/cc @cjihrig @evanlucas @fhinkel @Fishrock123 @mcollina @MylesBorins

[2017-10-15 16:28] Fishrock123 commented on #1317
You want me to add that full list?

[2017-10-15 16:36] Fishrock123 commented on #1317
Ok, done. All invites sent / added to the website team.

[2017-10-15 16:44] fhemberger commented on #1317
@Fishrock123 Great, thank you!

[2017-10-15 16:44] #1317 closed, assigned to nobody

[2017-10-16 02:56] Trott commented on #1094
@lpinca I've been uninvolved in this conversation to this point and it's not clear to me why I'm being cc'ed. Can you elaborate a bit?

[2017-10-16 06:10] lpinca commented on #1094
@Trott yes, sorry. I'll try to summarize. There was an attempt to enable Snyk on this repo which failed becuase Snyk required an org wide permission. @guypod argued that it's possible to grant access only to public repos.

So I tried to get the attention of some active org owners.

[2017-10-16 06:18] fhemberger commented on #1094
BTW: Same goes for GitLocalize and Greenkeeper. Would be great assets for us.

[2017-10-16 10:31] sotayamashita commented on #1094
@fhemberger I got a solution from platform engineer of GitHub. I will share it soon.

[2017-10-17 14:18] MartinMuzatko opened #1405 "https://nodejs.org/en/get-involved/ - russian website does not exist any longer"

[2017-10-17 22:08] patrickdbakke opened #1410 "Wrong date on vulnerability"
* **URL**: https://nodejs.org/en/blog/vulnerability/oct-2017-dos/
* **Browser version**: All
* **Operating system**: All

Date is wrong. The [issue released this month](https://nodejs.org/en/blog/vulnerability/oct-2017-dos/) is listed as published on "2018-05-10" / "May 10, 2018". That's in the future.

Also, "Octoboer" is spelled wrong.

[2017-10-18 03:06] #1405 closed, assigned to nobody

[2017-10-18 03:10] fhemberger commented on #1410
Fixed, thanks!

[2017-10-18 03:10] #1410 closed, assigned to nobody

[2017-10-18 14:41] Tiriel opened #1413 "Translation to French?"
Hi there,

Looking for a way to contribute, I started looking for how to contribute to translation. I've been  on the [nodejs-fr](https://github.com/nodejs/nodejs-fr) WG repo, and it no longer seems to be active (last commit & issue 2 years ago). Is there any way to reactivate this translation? I'd be happy to help in that prospect, or another for that matter.

Cheers!

[2017-10-18 15:12] clakech commented on #1413
Hi,

I did a first PR to init french version of the website https://github.com/nodejs/nodejs.org/pull/1283

Still a lot of work to be done ;)

You are welcome to contribute of course, how can I help you ?

Regards

[2017-10-18 15:43] Tiriel commented on #1413
Awesome!

Actually I should be the one asking how I can help.
Since the first Working Group seems dead, is there a way to re-create one, to ourgoanize our work?
And to be honest, I have no idea on where to start for now.
How should we proceed? Starting with the landing page?

Cheers

[2017-10-18 15:45] clakech commented on #1413
Yep,

We are here for now: https://nodejs.org/fr/

Pick a page you think is really missing for our frenchies end users and translate it in a PR maybe ?

Regards,

[2017-10-18 18:18] Tiriel commented on #1413
Okay, thanks!

I'll start with the about page. Opening a PR shortly.

Still, is there a way to organize and coordinate our work, since the working group is dead?

Cheers

[2017-10-18 18:28] clakech commented on #1413
I don't know, I am here since a few days only.

My point of view is YAGNI, for now, you are the only one on earth thinking about contribute to the french site. Start with the about page to see what happens next ;)

There is this chat to discuss https://gitter.im/nodejs/nodejs-fr

[2017-10-18 18:32] Tiriel commented on #1413
True story.

Thanks again!

[2017-10-18 18:32] #1413 closed, assigned to nobody

[2017-10-18 21:03] clakech commented on #1413
@Tiriel just create a PR for the get-involved page ;) https://github.com/nodejs/nodejs.org/pull/1414

[2017-10-19 07:45] Tiriel commented on #1413
@clakech So how does it work? Do I have the rights to review your changes or so?

[2017-10-19 07:51] clakech commented on #1413
Yep but some lords should come too to review it before merging

Le jeu. 19 oct. 2017 à 09:45, Benjamin Zaslavsky <notifications@github.com>
a écrit :

--
Cyril Lakech

[2017-10-19 18:13] Fishrock123 commented on #1094
There are still sensitive repos in the org. Unless these applications can guarantee that they don't have private repo access I can't enable them, for now, still. We have the `nodejs-private` org now but there are still things that are not moved at this time.

[2017-10-19 18:47] phillipj commented on #1094
Got pinged to see if I was able to cancel the previous authorisation request, but I haven't found that anywhere on github.com so far.

I tried to go through the authorisation process again, although the process seem to have been changed slightly, I'm not even able to request permissions anymore. This is what I did with a couple of added screenshots:

1. https://snyk.io/add
2. Authorized Snyk to ge

[2017-10-20 08:26] sotayamashita commented on #1094
@phillipj I think GitLocalize and Snyk has same problem. if you are member of Snyk. Let's solve this problem together.

[2017-10-24 15:11] janl commented on #377
sorry for letting this drop. We’re still happy to help. GK2 uses GH Apps (neé Integrations) and is available in the Marketplace with an Open Source plan. Feel free to give that a spin and let me know if anything doesn't work for you. — if you need support for private repos, give me a shout.

[2017-10-26 14:54] guypod commented on #1094
@sotayamashita I'm with Snyk, let's talk this through. How about a quick call to discuss? Can you ping a note to contact@snyk.io and I'll take it from there?

[2017-10-28 10:53] ghost commented on #1185
Any update on this?

[2017-10-30 01:15] Trott commented on #1185
I'm back to "let's remove it". Here's my thinking:

* A new page can be created if/when Node.js is doing something similar again. (Maybe @hackygolucky already knows of something in the works?)

* IMO, in this particular instance, having outdated/wrong content is worse than having no content at all.

* Also, IMO, when in doubt, remove the content. There is certainly too much stuff on the website, n

[2017-10-30 18:15] mpathy commented on #955
Same over here, I search for an eternity for system requirements for Node.

I know of course, that it works on my current machine, but I need more information for something that gets distributed to many many machines, not just on my PC or a server.

These can be quite old machines, with old OS X, old Linux and so on.

It would be fatal to begin developing and find out we have a big problem with ol

[2017-10-30 18:26] mpathy commented on #955
I now found out, that the BUILDING.md of the source code gives some hints about the compability..

Maybe the text just can get extracted from there for every readme

[2017-10-30 21:26] ghost commented on #1185
LGTM

[2017-10-30 23:19] fhemberger commented on #1185
@trott Ok, makes sense. Can you please submit a PR?

[2017-10-30 23:34] Trott commented on #1185
https://github.com/nodejs/nodejs.org/pull/1429

[2017-10-31 03:42] #1185 closed, assigned to nobody

[2017-10-31 12:12] gibfahn commented on #955
The source of truth for platform support is indeed in BUILDING.md:

https://github.com/nodejs/node/blob/master/BUILDING.md#supported-platforms-1

I agree that it should definitely be hosted on the website. As it's version specific, and changes to it are a breaking change, I think it should ideally be defined within the API docs (which are stored [here](https://github.com/nodejs/node/tree/master/do

[2017-10-31 21:01] ZibbyKeaton opened #1439 "Adding Node.js 8 (LTS) and Node.js 9 News to the Announcement Section"
Howdy. Wondering if we could add this blog post around Node.js 8 going into LTS and the release of Node.js 9 into the Node.js Foundation's announcement section: https://medium.com/@nodejs/news-node-js-8-moves-into-long-term-support-and-node-js-9-becomes-the-new-current-release-line-74cf754a10a0

It's a good way for media, prospective members to see what we are up to. cc: @bnb

[2017-11-02 22:18] maclover7 commented on #791
Sorry, forgot to link this from #1440... I think this can be closed now?

[2017-11-04 11:19] fhemberger commented on #1345
Deletion debate on Wikimedia is flagged as closed, closing this issue as well.

[2017-11-04 11:19] #1345 closed, assigned to nobody

[2017-11-04 11:21] fhemberger commented on #1268
Closing this issue for now, feel free to reopen if there are further questions regarding analytics.

[2017-11-04 11:21] #1268 closed, assigned to nobody

[2017-11-04 11:23] fhemberger commented on #1263
Seems there is no interest in adding this feature, so I'm closing this issue for now.
However, this might change in the future, so feel free to reopen this issue then.

[2017-11-04 11:23] #1263 closed, assigned to nobody

[2017-11-05 16:40] maclover7 commented on #791
ping @fhemberger -- I think this can be closed

[2017-11-05 17:32] #791 closed, assigned to nobody

[2017-11-06 02:46] courajs opened #1448 "Add unprefixed downloads for LTS lines?"
It would be great to be able to download the proper platform binary for the latest of an LTS release.

At the moment, most release files are prefixed with the exact version number.
- `https://nodejs.org/dist/latest-carbon/node-v8.9.0-linux-x64.tar.xz` exists
- `https://nodejs.org/dist/latest-carbon/node-linux-x64.tar.xz` does not

So, I can't download the latest of the carbon LTS line for my platf

[2017-11-06 03:29] fhemberger commented on #1448
/cc @nodejs/build

[2017-11-06 07:46] rvagg commented on #1448
This has come up before and we agreed that it would be too messy and not add enough value to justify it. I wish I had an issue to link you to for discussion but I don't know where that happened.

The latest-* directories are symlinks, if we add additional files then we'll end up polluting the directory and then if we delete them when the next version comes we'll end up with broken links for people

[2017-11-06 20:34] Tiriel opened #1449 "Different order in summary and rest of page"
* **URL**: https://nodejs.org/en/about/working-groups/
* **Browser version**: All
* **Operating system**: All

Hey there,

I just noticed that on the WG page, the order in tu summary at the top of the page is different from the actual order of paragraphs.

Example: in the summary, Intl group is the penultimate group, whereas in the body of the page it's just after i18n groups.

I can change it for

[2017-11-07 06:54] fhemberger commented on #1449
Thanks for catching this, will be fixed in #1451.

[2017-11-07 07:09] #1449 closed, assigned to nobody

[2017-11-07 07:10] #1342 closed, assigned to nobody

[2017-11-07 21:50] courajs commented on #1448
@rvagg thanks for the explanation.
It is a little more awkward to use such a script via a Dockerfile, but still doable.
Perhaps this can just be kept in mind if things are ever being moved to a new system.

[2017-11-07 21:50] #1448 closed, assigned to nobody

[2017-11-08 08:28] gibfahn commented on #1448
I find https://github.com/creationix/nvm quite useful for those situations.

[2017-11-08 12:24] Tiriel opened #1460 "Jerky scroll on entire website"
* **URL**: all
* **Browser version**: Chrome 62.0.3202.89
* **Operating system**: Ubuntu 16.04.3

I've noticed for some time that scrolling is deeply uneasy on the website. Some times using mouse scroll isn't taken into account at all, some times it does scroll a bit, but very jerkily.

Is it just me?

Edit: Just to add a precision, this issue is only on Chrome Ubuntu AFAIK, I can't reproduce on F

[2017-11-08 13:39] fhemberger opened #1461 "Node.js logo very tiny on MS Edge (Windows 10)"
* **URL**: https://nodejs.org/en
* **Browser version**: Microsoft Edge
* **Operating system**: Windows 10

The logo seems to be very tiny in MS Edge on Windows 10. I could only test in VirtualBox, can a Windows 10 user please check this?

![bildschirmfoto 2017-11-08 um 14 34 00](https://user-images.githubusercontent.com/153481/32551933-7d396b34-c492-11e7-978f-b38ffebe8abb.png)

[2017-11-08 14:21] ghost commented on #1461
![image](https://user-images.githubusercontent.com/13847095/32553883-5e04cb86-c498-11e7-89bb-fcc4bc79c70a.png)
This is a comparison of the icon on a PC running Windows 10.
Compared Chrome to Edge

[2017-11-08 14:31] fhemberger commented on #1461
@mlosh Sorry, wasn't talking about the icon but the logo on top of the main navigation.

[2017-11-08 14:45] ghost commented on #1461
![image](https://user-images.githubusercontent.com/13847095/32554998-dc0cf42e-c49b-11e7-96fe-dd9a8df59e99.png)
Logo seems fine as well

[2017-11-08 16:25] fhemberger commented on #1461
Ok, then it seems to be some VirtualBox weirdness, I guess. Thanks!

[2017-11-08 16:25] #1461 closed, assigned to nobody

[2017-11-09 17:04] ZibbyKeaton opened #1462 "Adding Node.js Foundation Survey to Home Page?"
Howdy all! The Node.js Foundation launched its 2018 Node.js User Survey. This is the third one we've launched. It gives us a good understanding of how folks are using Node.js, so we can build initiatives based on responses/feedback. The survey is anonymous and after a statistician has gone through the data, we publish it for the public. As with any survey, it's important for us to get a high amoun

[2017-11-10 14:55] Tiriel commented on #1460
The problem seems to be coming from the 'Scroll to top' button script, in `layouts/partials/footer.hbs`.

Looking into it.

[2017-11-12 02:13] gtewallace commented on #1349
Hi everyone,

We have the foundation site up and running - https://foundation.nodejs.org/
Wanted to see if we could arrange for someone to implement the server-side redirect to the above from https://nodejs.org/en/foundation/
Thanks in advance and please let me know any questions.

Greg

[2017-11-12 04:35] fhemberger commented on #1349
Hey @gtewallace, I had a look and we're still missing a few pages for the redirects:

[code]

Redirects can be configured in @nodejs/build, once we have all new targets:
https://github.com/nodejs/build/blob/master/setup/www/resources/config/nodejs.org

[2017-11-13 10:41] gtewallace commented on #1349
@fhemberger
thanks!
/en/foundation/board --> https://foundation.nodejs.org/about/leadership
/en/foundation/certification --> this page is still under construction @hackygolucky might have an eta on it
/en/foundation/education --> @hackygolucky do you want to keep this page on the new foundation site or replace with the cert page?

[2017-11-14 07:49] binarymee opened #1469 "403 Forbidden on trying to download from distribution"
I am installing nodejs in my EC2 instance with NVM. I used to follow below steps to install nodejs ,

- curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh | bash
- . ~/.nvm/nvm.sh
- nvm install 8.4.0
- I have automated this with Chef recipes and it was working fine without any issues.

For past 1 week, the same steps didn't work. nvm install failed. On running nvm ls-remo

[2017-11-14 08:01] fhemberger commented on #1469
Hmm, download link works for me (Germany), cc'ing @nodejs/build.
Which AWS region do you use? Which AMI are you using for your EC2 instance?

[2017-11-14 09:28] binarymee commented on #1469
@fhemberger
I am using Amazon Linux 2017.03 in the region us-east-1a

[2017-11-15 16:05] davisjam opened #1471 ""Don't block the event loop": New guide on avoiding DoS"
*We know, we know, "Don't block the event loop"*
Node.js event loop follows the event-driven architecture, with a single-threaded Event Loop supported by a small Worker Pool for expensive operations like FS and DNS.

Though "Don't block the event loop" is a good rule of thumb, developers new to the EDA could easily expose themselves to this and other Denial of Service vulnerabilities if they don't

[2017-11-16 16:23] ZibbyKeaton commented on #1462
Just wanted to follow up on this to see if anyone might be able to help me get the survey added to the homepage/ would be okay with this? cc: @bnb @hackygolucky @Fishrock123 @geek

[2017-11-18 13:23] davisjam commented on #1471
I was hoping for some discussion here about whether or not there's interest. I haven't contributed to this project before -- am I supposed to prepare the guide first, so people can see what I have in mind?

[2017-11-18 14:17] Tiriel commented on #1471
Well, TBH I think there would indeed be more to discuss if you had a draft. Though anyway, I'm probably not the most qualified to discuss the technical quality of such draft, I'd very much like to read it and the discussion that might follow.

And also no worries, globally, "no discussion" generally means "go ahead"; people tend a bit more to comment to say when they don't agree than when they agr

[2017-11-18 19:03] davisjam commented on #1471
Ain't that the truth. I'll work on a draft, thank you.

[2017-11-19 04:23] davisjam commented on #1471
@Tiriel and others, see #1478.

Let's continue this discussion over there.

[2017-11-19 09:01] ghost opened #1479 "https://nodejs.org/download/"
![screenshot 1](https://user-images.githubusercontent.com/33800905/32989032-44e3ae32-cd36-11e7-9df6-b73ca953a06e.png)

[2017-11-19 11:27] vsemozhetbyt commented on #1479
@maheshjagdale565, hi! What is wrong with this page in your opinion?

[2017-11-20 05:58] bneevan opened #1480 "guides: use of GET method in echo server"
* **URL**: https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/
* **Browser version**: all
* **Operating system**: all

`Echo Server` code in _[Anatomy of an http transaction](https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/)_ uses GET method to handle the request. But this cannot work since any additional data in the request (eg: /echo?hello) will change the route an

[2017-11-20 15:45] gtewallace commented on #1349
@refack @fhemberger

we are all set.

both
/en/foundation/certification
and
/en/foundation/education should redirect to https://foundation.nodejs.org/resources/certification

thanks again for all the help!

[2017-11-22 03:06] duytrung commented on #1439
I found that implement a RSS feed is okay.

[2017-11-22 13:02] fhemberger commented on #1349
@gtewallace Here's the PR for the redirects: https://github.com/nodejs/build/pull/1005

[2017-11-22 13:54] mhdawson commented on #1439
Were you asking that it go here: https://nodejs.org/en/blog/ or somewhere else ?

[2017-11-22 21:38] ajmeese7 commented on #1479
@vsemozhetbyt I'm guessing that @maheshjagdale565 was hoping for a more intuitive UI.

[2017-11-22 21:47] vsemozhetbyt commented on #1479
There are also more intuitive ones:

https://nodejs.org/en/download/current/
https://nodejs.org/en/download/

The https://nodejs.org/download/ usually serves as an entry point for more granular access.

[2017-11-23 03:06] fhemberger commented on #1479
The `/download/` path is also used by third party scripts, so this can't be changed.

Closing, as @vsemozhetbyt already stated the websites' "official" download URLs.

[2017-11-23 03:06] #1479 closed, assigned to nobody

[2017-11-24 01:51] bertlea commented on #1382
Hi Guys, the same issue seems happening to v8.9.1 now.  No armv6l distribution in the download list.  the v8.9.0 still got it and also v9.2.0 got it too.

[2017-11-24 02:30] fhemberger commented on #1349
Waiting for https://github.com/nodejs/build/pull/1009 to land.

[2017-11-24 14:27] mhdawson commented on #1382
We do have issues with our arm6 builds in that they take a long time to compile due to the low machine resources and often timeout or have some other issue during the long run.

@gibfahn I've added a new arm6 only build that we can run to rebuild just the arm6 binaries in case of failure. If we run that for 8.9.1 with the right parameters is that enough or do we need additional steps to sign/valid

[2017-11-24 14:29] mhdawson commented on #1349
My only comment is it would be nice if it did not look like a completely different website.  At the very least I think there should be some link back to the main website.  'Home' just takes you back to the foundation home as opposed to the main node site.

[2017-11-24 16:45] fhemberger commented on #1349
For the same reason, we should move the Foundation link in the main navigation.

[2017-11-25 03:12] fhemberger commented on #1349
FYI: All redirects are in place, we can now remove the Foundation pages from nodejs.org

[2017-11-25 04:02] fhemberger commented on #1349
@hackygolucky Found a dead link on the Foundation page:

https://foundation.nodejs.org/about/leadership: "Meeting Minutes" links to `https://nodejs.org/en/foundation/tsc/minutes/`, should be `https://github.com/nodejs/TSC/tree/master/meetings`

[2017-11-25 11:22] gibfahn commented on #1382
Steps are:

- Run the job with the correct parameters
- I run `tools/release.sh 8.9.1` to sign the shasums txt
- Run `rm locale/en/blog/release/v8.9.1.md && scripts/release-post.js 8.9.1` and submit a PR.

Only the second needs to be done by me.

[2017-11-26 06:55] lpinca commented on #1480
Fixed by #1481.

[2017-11-26 06:55] #1480 closed, assigned to nobody

[2017-11-26 10:35] BorisLeumi opened #1486 "No shasum files for RPM."
Hi,
I would like to use the RPM version but I have not found shasum files.
i was looking at:
Nodejs 8.9.1:
https://rpm.nodesource.com/pub_8.x/el/7/x86_64/
Nodejs: 6.11.4
https://rpm.nodesource.com/pub_6.x/el/7/x86_64/

Can you help please? :)

[2017-11-26 13:29] fhemberger commented on #1486
Hmm, RPMs are not provided by Node.js itself but by NodeSource.

/cc @rvagg @chrislea – can you help?

[2017-11-26 13:30] fhemberger commented on #1469
@binarymee Does this problem still occur? I'm sorry, but I don't know what the issue could be here besides a temporary glitch …

[2017-11-27 04:58] rvagg commented on #1486
there's no shasums but they are signed so as long as you have the nodesource key that should come in the nodesource-release rpm @ https://rpm.nodesource.com/pub_8.x/el/7/x86_64/nodesource-release-el7-1.noarch.rpm then it should verify when installed and complain if it's not signed properly. This is all set up with the script @ https://rpm.nodesource.com/setup_8.x (`curl -sL https://rpm.nodesource.

[2017-11-27 04:58] #1486 closed, assigned to nobody

[2017-11-28 15:07] mhdawson commented on #1382
@gibfahn what I'm trying to figure out would be the flow if we wanted to publish an arm binary after the fact to see if it is feasible.  We could start but running the arm6 only job with the same date/commit hash.

We now have a binary and a new hash.  Would rerunning tools/release.sh do the right thing an result with a file that had the old hashes as well as the new one ?

[2017-11-28 16:26] gibfahn commented on #1382
Yes, I just ran `tools/release.sh -s v8.9.1` and it created a new hash.

You have to open a new PR against nodejs.org though, see https://github.com/nodejs/nodejs.org/pull/1489

[2017-11-28 16:50] mhdawson commented on #1382
We must be missing a step as https://nodejs.org/dist/v8.9.1/node-v8.9.1-linux-armv6l.tar.xz still shows as 404.  Maybe there is a step to push the binary into dist ?

[2017-11-28 19:05] gibfahn commented on #1382
[code]

The script should do that, not sure why it doesn't.

[2017-11-29 14:56] mhdawson commented on #1382
@gibfahn are the manual steps for the promotion something we can do by hand.  I see you landed the update to node.js org but we still need to fix the 404 on the download.

[2017-11-29 15:24] gibfahn commented on #1382
@mhdawson yes, that's what I tried to do by running `tools/release.sh`, but it didn't find any builds to promote.

Docs for that are here: https://github.com/nodejs/node/blob/master/doc/releases.md#12-promote-and-sign-the-release-builds

[2017-11-29 20:12] Chris-AGR opened #1491 "No installation doc"
* **nodejs.org**:
* **All browsers**:
* **windows**:

There is no installation guide/doc for windows using node.exe file.  Due to administrative and firewall so folks are unable to download the msi installer.

[2017-11-30 23:22] mhdawson commented on #1382
Ok just checked an job to build the 8.9.1 binaries for arm6 passed here: https://ci-release.nodejs.org/job/iojs+release-arm6-only/nodes=pi1-raspbian-wheezy/

@gibfahn can you re-run the script to promote ?

[2017-12-01 07:23] fhemberger commented on #1469
No reply from OP, closing for now. Feel free to re-open this issue if the problem still occurs.

[2017-12-01 07:23] #1469 closed, assigned to nobody

[2017-12-01 08:29] fhemberger commented on #1349
Please have a look at #1492

[2017-12-01 09:21] gibfahn commented on #1382
Done

[2017-12-01 21:44] mhdawson commented on #1382
@gibfahn thanks, download link now works.  I think we also have the process for recovering if we don't get an arm build out.  Where do you think we should best document that ?  The Release repo ?

[2017-12-02 11:02] gibfahn commented on #1382
I think it should go in the release guide:

https://github.com/nodejs/node/blob/master/doc/releases.md#12-promote-and-sign-the-release-builds

[2017-12-02 11:05] bertlea commented on #1382
Thank you all for fixing that.  Will download and install that to my Raspberry Pi Zero W on Monday.  @jimmont , I guess you wanted to changed the title to "... 8.x..." instead of "...8.6.x...".

[2017-12-02 16:40] jimmont commented on #1382
@bertlea yes thanks.

[2017-12-03 23:08] ghost commented on #1460
Any update on this? Is there anyone running Ubuntu that can confirm this?

[2017-12-04 08:36] Tiriel commented on #1460
Still trying to figure out other ways to scroll without the jerky effect on Chrome, but so far, no joy :(

[2017-12-04 15:02] ouadie-lahdioui opened #1495 "Layout Right-To-Left direction"
Hello All,

working on Arabic localisation of nodejs.org web site, i've noticed that the web site doesn't support the direction attribute to set the base direction of text for display.

for some languages, is essential to write in right-to-left instead of left-to-right such as : Arabic, Hebrew, Persian, etc.

Can you confirm that the web site doesn't yet support the right to left writing direction

[2017-12-04 15:29] mhdawson commented on #1382
PR for addition to docs: https://github.com/nodejs/node/pull/17455

[2017-12-04 22:11] MylesBorins opened #1497 "Update opengraph metadata for social cards"
Would be nice to add more meta data to posts to include a better image for cards on social such as twitter and facebook.

<img width="617" alt="screen shot 2017-12-04 at 5 08 16 pm" src="https://user-images.githubusercontent.com/498775/33578820-c90278b6-d915-11e7-9208-37c0d37e2285.png">

We can use this tool to debug https://developers.facebook.com/tools/debug/sharing/

it looks like we want to sp

[2017-12-04 22:12] MylesBorins commented on #1497
Looking at raw open graph data it looks like we already specify a twitter image... I wonder why it doesn't come up

[code]

[2017-12-04 22:24] ghost commented on #1497
I guess we should use `<meta property="og:image" content="/static/images/logo-hexagon.png" />` instead of "name".

[2017-12-04 22:28] ghost commented on #1497
#1498

[2017-12-05 01:10] alecperkins commented on #1497
I think the image links need to be fully qualified URLs. Twitter validator: https://cards-dev.twitter.com/validator

[2017-12-05 14:15] fhemberger commented on #1495
Yes, you're right. So far we didn't have any RTL languages.

Probably the easiest way is to introduce a new attribute in `site.json`: `rtl: true`, then replace `<html lang="{{site.locale}}">` in the templates with `<html lang="{{site.locale}}"{{if site.rtl}} dir="rtl"{{/if}}>`.

[2017-12-05 16:18] ouadie-lahdioui commented on #1495
well done #1500

[2017-12-07 12:36] #1495 closed, assigned to nobody

[2017-12-07 17:52] davisjam commented on #1471
Addressed by #1478.

[2017-12-07 17:52] #1471 closed, assigned to nobody

[2017-12-08 20:04] #1497 closed, assigned to nobody

[2017-12-11 18:50] bnb commented on #1462
I am +1 on adding it to the homepage, not sure what the process/code we've used in the past for this kind of addition is. 🤔

[2017-12-11 18:51] ZibbyKeaton commented on #1462
@gtewallace do you happen to know what we've done in the past here?

[2017-12-12 21:33] MylesBorins opened #1516 "Latest blog post is not showing up"
https://github.com/nodejs/nodejs.org/commit/126882ff0275a79654d5d833d4bce703344599eb landed but https://nodejs.org/en/blog/release/v9.3.0 doesn't exist

😓

[2017-12-12 22:15] rvagg commented on #1516
resolved @ https://github.com/nodejs/build/issues/1040

[2017-12-12 22:15] #1516 closed, assigned to nobody

[2017-12-13 09:00] gonenduk opened #1517 "Share new v9.3.0 blog on Facebook text is wrong"
When sharing a link to the blog about v9.3.0 on facebook, the title and text of the share is a default 404 error title and text.
For reference, v9.2.0 is ok.

Here is the result of 9.2 (good one):
[v9.2.0](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fnodejs.org%2Fen%2Fblog%2Frelease%2Fv9.2.0%2F)

And of 9.3 (bad one):
[v9.3.0](https://developers.facebook.com/tools/debug/sha

[2017-12-13 09:19] pierreneter commented on #1517
It's cached. Just click `Scrape Again`. Clicked.

[2017-12-13 09:23] gonenduk commented on #1517
Cool. When you clicked on scrape - it fixed for everyone 👍

[2017-12-13 11:08] #1517 closed, assigned to nobody

[2017-12-14 11:16] webolabo opened #1519 "Npm run server blocked"
* **URL**:
* **Browser version**:
* **Operating system**:

Hello,
After the last update of node.js v8.9.3 on windows
My angular4 + jee project stopped
Here is the error message:
WARNING in ./~/jsdom/lib/jsdom/utils.js
216:21-40 Critical dependency: the request of a dependency is an expression

WARNING in ./~/jsdom/lib/jsdom/utils.js
216:21-40 Critical dependency: the request of a dependency is an

[2017-12-14 11:41] fhemberger commented on #1519
Hi there! Sorry, this is the issue tracker for the **Node.js website**.

You may want to look at:
https://github.com/tmpvar/jsdom
https://github.com/nodejs/help

[2017-12-14 11:41] #1519 closed, assigned to nobody

[2017-12-14 15:20] swkimA opened #1520 "Downloading node is very slow"
* **URL**: https://nodejs.org/dist/v8.9.3/node-v8.9.3-x64.msi, https://nodejs.org/dist/v8.9.3/win-x64/node.exe
* **Browser version**: Chrome, nvm-windows
* **Operating system**: Windows 10 x64

Downloading node is very slow.

[2017-12-14 16:14] fhemberger commented on #1520
Node.js downloads are distributed via Cloudflare CDN, which always chooses a mirror closest to your location. Download performance may vary depending on your local network connection or your ISP.

[2017-12-15 08:14] #1520 closed, assigned to nobody

[2017-12-19 00:51] rvagg opened #1521 "Infrastructure providers page on website"
We have an action item in @nodejs/build to put something onto nodejs.org to promote our infrastructure providers but nobody seems to have time to make it happen, it'd be great if we could find a volunteer to help make this happen.

We currently keep this content in this section of our README but would like to bring it up to the top level and have it on our website: https://github.com/nodejs/build/

[2017-12-19 01:17] Trott commented on #1521
@nodejs/website

[2017-12-19 07:24] fhemberger commented on #453
Closing this issue due to lack of activity (and actionable tasks).

[2017-12-19 07:24] #453 closed, assigned to nobody

[2017-12-19 07:29] fhemberger commented on #508
Closing this issue due to lack of activity. There are other issues which address detailed needs, let's focus to come up with solutions for these first.

[2017-12-19 07:29] #508 closed, assigned to nobody

[2017-12-19 07:31] fhemberger commented on #662
Closing this issue here due to lack of activity, further discussion should take place in @nodejs/build.
Feel free to re-open if there's a new development.

[2017-12-19 07:31] #662 closed, assigned to nobody

[2017-12-19 08:30] fhemberger commented on #1024
@mhdawson It would be nice if the projects where linked somewhere, but I don't see a fitting section in our current content structure.

For the time being, I'd link them in the core's README.

[2017-12-19 08:31] fhemberger commented on #734
Closing this issue due to lack of activity, still happy to accept a PR for this.

[2017-12-19 08:31] #734 closed, assigned to nobody

[2017-12-19 08:36] fhemberger commented on #1375
Somewhat related: I'm looking for a contact for the Foundation website's code/design (maybe @ZibbyKeaton?). I've noticed some accessibility issues and it would be nice if both websites would at least use some similar overall design language (colors, fonts, grid, etc).

[2017-12-19 08:52] fhemberger commented on #1382
Closing, as the link works now.

[2017-12-19 08:52] #1382 closed, assigned to nobody

[2017-12-19 08:53] fhemberger commented on #1212
Fixed by #1279, closing.

[2017-12-19 08:53] #1212 closed, assigned to nobody

[2017-12-19 08:56] fhemberger commented on #1521
Duplicate of #1257.

[2017-12-19 08:59] fhemberger commented on #1491
What would you expect from an installation guide in this case?

[2017-12-19 09:01] fhemberger commented on #1201
Closing this for lack of activity. @ZibbyKeaton if there's still something to be done, please re-open this issue.

[2017-12-19 09:05] fhemberger commented on #1094
Removed Snyk for the moment (see #1402), as we just push out static HTML and don't run any actual Node.js code in production. Closing this, but feel free to re-open once we want it back in place.

[2017-12-19 09:05] #1094 closed, assigned to nobody

[2017-12-19 09:06] #1201 closed, assigned to nobody

[2017-12-19 09:07] fhemberger commented on #1197
Closing this issue, as Catalan translations are coming in. If you need further help, please let us know!

[2017-12-19 09:07] #1197 closed, assigned to nobody

[2017-12-19 09:10] sotayamashita commented on #1094
@guypod My bad, I didn't notice you there. If you've straggled with it already, let's talk!! I will send a email.

[2017-12-19 09:11] fhemberger commented on #1066
I think this has been addressed by now, so I'm closing this issue. Feel free to re-open if there's still something to be discussed.

[2017-12-19 09:11] #1066 closed, assigned to nobody

[2017-12-19 09:19] fhemberger commented on #955
@gibfahn I think it's not about I think it would be okay to list the systems requirements for **running** Node.js on tier 1 platforms (guessing it aligns with the requirements for building):

GNU/Linux: kernel >= 2.6.32
macOS: >= 10.10
Windows: >= Windows 7 / 2008 R2

Do we have additional information like minimal memory requirements, etc?
I'd also limit this to LTS/Current releases (as I'm not go

[2017-12-19 09:32] fhemberger commented on #768
@bnb Google Analytics hits for `/static/images/logos/nodejs-*` since you opened this issue (~19 months):

![bildschirmfoto 2017-12-19 um 10 29 45](https://user-images.githubusercontent.com/153481/34150151-cd01836a-e4a7-11e7-9a0e-cd2c1cd0a581.png)

I'd say we can simply remove the desktop wallpaper. What do you think?

[2017-12-19 09:37] fhemberger commented on #758
/cc @nodejs/tsc @nodejs/community-committee Could you please have a look on how we could simplify this?

[2017-12-19 13:21] gtewallace commented on #1375
Hi @fhemberger
please use me as your point of contact on the Foundation site.
full disclosure, I am not a web designer, so changes that cannot be accomplished through config changes to the WP theme we are using may need to wait until approx first half 2018 when we conduct a design refresh (this is not firmly committed, but has been discussed).

[2017-12-19 14:33] Chris-AGR commented on #1491
Self extracting and installing downloads are great, I prefer the ease due to the work load we enjoy. Unfortunately, because of heightened security rules on the network, those types of files (zip, msi, etc.) are not allowed to be downloaded. Oddly enough, executables are able to be properly scanned and so are allowed. Without the availability of the self installers it makes demoing a system like no

[2017-12-19 19:05] Trott commented on #758
@fhemberger On the principle of not having more than one place to manage information, perhaps that section could be replaced with a sentence that links to https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborators. That doc is kept up-to-date. It would also help make that far-too-long (IMO) web page a little shorter.

[2017-12-19 19:07] Trott commented on #758
I think the section labeled "A Few Open Questions" should also be removed. In fact, that should be so uncontroversial that I'll open a PR to do that right now....

[2017-12-19 22:53] Trott commented on #758
(By the way, now my original comment above from May 2016 is out of date--there is no CTC anymore, so lots of TSC mentions probably makes sense again. Another argument for directing people to the GOVERNANCE.md doc in the repo rather than trying to duplicate the information on the website.)

[2017-12-20 14:05] QC-L opened #1524 "Question in the home page of the website"
* **URL**: https://github.com/nodejs/nodejs.org/blob/31e4313f78b3cfc613e8b792bb764afc53b53945/build.js
* **Browser version**:
* **Operating system**:

Hey, I found that `Important security releases, please update now!` in the build.js file does not support i18n.
[code]
I don 't know how to solve.

[2017-12-21 11:30] fhemberger commented on #1524
Yes, you're right. At the moment, this is not translatable. We need to fix that.

[2017-12-21 15:29] #1349 closed, assigned to refack

[2017-12-21 15:30] fhemberger commented on #1297
Closing this as duplicate, see #676.

[2017-12-21 15:30] #1297 closed, assigned to nobody

[2017-12-22 00:41] #1524 closed, assigned to nobody

[2017-12-22 01:55] QC-L commented on #1524
@fhemberger Good job! You are so efficient!

[2017-12-22 16:06] fhemberger commented on #1439
@ZibbyKeaton Ist this issue still relevant or can it be closed?

[2017-12-26 11:57] ouadie-lahdioui opened #1528 "[Nodejs-AR] Important security releases banner is not showing up"
Hello guys,

After making homepage banner translatable (PR #1525), the important security releases banner is not showing up in Arabic web site version.

Working on web site translating and making homepage translatable was in the same time i guess.

[2017-12-26 14:56] ouadie-lahdioui opened #1530 "[Nodejs-AR] Right to left footer not properly displayed"
Hello,

i've noticed that in all web site supported languages, the footer is not translatable, However, it's also displayed in right to left :

<img width="865" alt="ko" src="https://user-images.githubusercontent.com/2996203/34358958-760fadc2-ea54-11e7-8bf1-872dd674b77a.png">

I think that the direction of footer should be ````ltr```` all time to be displayed juste like that :

<img width="961" al

[2017-12-26 15:34] fhemberger commented on #1530
Adding `.linuxfoundation-footer { direction: ltr; }` (and probably `.issue-link-container { direction: initial; }`) fixes this. Not sure about translating the footer (because of legal foo).

[2017-12-26 15:52] fhemberger commented on #1158
Closing: Node.js Foundation has their own website now, release team takes care of the release blog posts, the rest is mostly shared between the WGs for Website, Evangelism and ComCom.

Please feel free to re-open if there are further topics to be discussed.

[2017-12-26 15:52] #1158 closed, assigned to nobody

[2017-12-26 16:03] ouadie-lahdioui commented on #1530
Adding juste direction ltr to linuxfoundation footer classe work fine.

[2017-12-26 16:10] #1530 closed, assigned to nobody

[2017-12-26 16:12] ouadie-lahdioui commented on #1530
Thank you @fhemberger

[2017-12-26 16:24] fhemberger commented on #373
@Fishrock123 Should we proceed with @phillipj's idea to prepare a separate LTS download page? Or do you prefer a different approach? Otherwise I'd like to close this issue, as there hasn't been any progress for 19 months.

[2017-12-26 16:36] fhemberger commented on #758
@Trott So what part of the page should be replaced with the link? Only the "Collaborators" section or the entire thing?

Personally I'd love to get rid of the entire page (this is *way* too much badly structured information, no one will read it anyway). First step would be replacing it with a link. But in the future, I'd love to pull the page's content directly from the repo during build. The webs

[2017-12-26 16:53] fhemberger commented on #1227
Wrong link seems to appear only in

- https://nodejs.org/docs/v0.12.0/api/
- https://nodejs.org/docs/v0.12.1/api/

subsequent versions look fine, so is https://nodejs.org/docs/latest-v0.12.x/api/.
Thanks for reporting, but manually editing generated docs on the web server (especially for a long long deprecated version) is a bit of a hassle. So I hope you don't mind me closing this issue.

[2017-12-26 16:53] #1227 closed, assigned to nobody

[2017-12-26 17:49] Trott commented on #758
@fhemberger I agree the page can be removed entirely. Not sure how many links there are to it, but those links can be replaced with links to CONTRIBUTING.md or GOVERNANCE.md or something else (depending on their context).

[2017-12-26 19:37] #768 closed, assigned to nobody

[2017-12-27 20:41] #1330 closed, assigned to nobody

[2017-12-28 01:49] bnb opened #1534 "Redesigning the Official Node.js Website"
Something the Website WG has discussed for quite a while now is the need for a redesign (ref: https://github.com/nodejs/nodejs.org/issues/1375, https://github.com/nodejs/nodejs.org/issues/1338, https://github.com/nodejs/nodejs.org/issues/1075, https://github.com/nodejs/nodejs.org/issues/1074, https://github.com/nodejs/nodejs.org/issues/508, and many others).

@hackygolucky and myself had a discuss

[2017-12-28 01:53] bnb commented on #1534
Pinging a few people I can think of that I've talked to over the past ~year who've expressed an interest in helping out with this:

@skllcrn @CodeTheory @darcyclarke

[2017-12-28 09:03] #1521 closed, assigned to nobody

[2017-12-28 09:41] fhemberger commented on #1534
I've been talking to @gtewallace on how to align the theme of `foundation.nodejs.org` with the general website as well. We'll be working on it starting next year.

**And wow, @amiller-gh did an amazing job with his blog post, so many great ideas!** I'm sorry we're still stuck with that outdated design. I hacked it together in 2015 as quick adaption of the old Node.js website and what we had in pla

[2017-12-28 13:15] gibfahn commented on #1491
Don't you just download and double-click on the executable (or run `.\node` on the command line)? Is it adding node to the path that you would like to be documented?

cc/ @nodejs/platform-windows

[2017-12-28 13:22] seishun commented on #1491
Yes, it's just an executable file that you either double-click or run from the command line, exactly like you would if you had installed it with the installer. Where you place this executable is completely up to you, so there is nothing to document.

I suggest closing this as an answered question.

[2017-12-28 14:15] gibfahn commented on #1491
I'll close for now, but we can reopen if @Chris-AGR still feels there is information that needs documenting.

[2017-12-28 14:15] #1491 closed, assigned to nobody

[2017-12-28 14:52] bnb commented on #1534
Added cc-agenda label because we've discussed this in the past in Community Committee meetings, and it's probably good for the CommComm to discuss it again.

[2017-12-28 16:14] #758 closed, assigned to nobody

[2017-12-28 20:03] ghost commented on #1534
fyi - discussion is underway to organize this as a commcomm strategic initiative over at https://github.com/nodejs/community-committee/issues/203

[2017-12-29 09:39] fhemberger commented on #1373
Node.js and Spring are **very** different things, so comparing their style of documentation doesn't really fit.

Node.js is not a framework but a runtime, allowing you to execute arbitrary JavaScript code from the command line. It offers the same language set given in modern browsers (minus the DOM part for actually rendering websites). Additionally, it provides some basic low level API for file a

[2017-12-29 21:45] Chris-AGR commented on #1491
@gibfahn

I'm really trying to demo react-native.  If I just download and double-click on the nodejs executable and try this command:

`npm install -g create-react-native-app`

I get the message "npm should be run outside of the node repl, in your normal shell."

If I run command in the normal shell I get the message:

"'npm' is not recognized as an internal or external command, operable program o

[2017-12-30 03:03] daxlab commented on #1491
@Chris-AGR I think npm is not in your path.

[2017-12-30 19:50] gibfahn commented on #1491
@Chris-AGR the problem is that npm is a load of javascript files, not part of the node executable. In fact the `node.exe` is not particularly useful for most people as it's missing npm, so you can't install any modules with it.

If you download and extract the zip files (on a computer that's not behind the firewall) you'll see that it contains the `node.exe` binary, and also lots of npm files (and

[2018-01-02 12:17] #1528 closed, assigned to nobody

[2018-01-03 01:25] JonahMoses commented on #1534
@pup When the time comes for implementation I'd be happy to raise my hand to help.

[2018-01-03 17:07] a-ta-ta opened #1540 "Error with packages"
* **https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora**:
* **Firefox 57.0.3 64-bit**:
* **Ubuntu 16.04 LTS**:

 The command for 9.x nodejs for **Enterprise Linux** seems to be broken cause I got _the same 8.x package_ set for `curl --silent --location https://rpm.nodesource.com/setup_9.x | sudo bash -`.

[code]

This ruined installation `(yum install -y nodejs`) with:
[co

[2018-01-03 17:50] daxlab commented on #1540
\cc @gibfahn

[2018-01-03 18:35] gibfahn commented on #1540
Those packages are entirely maintained by https://github.com/nodesource/distributions, so please raise an issue on that repo.

There might already be one...

I'll close this, as no-one in this issue tracker knows about these things, but feel free to comment further here. A comment here with a link to the nodesource/distributions issue once you've created/found one would be helpful for others who m

[2018-01-03 18:35] #1540 closed, assigned to nobody

[2018-01-03 22:14] mhdawson commented on #1024
What about a new link under in the "about" page.  I could be named something like 'Nightly Metrics"

[2018-01-04 05:09] maddhruv commented on #1534
hey, @pup I also want to contribute to the redesigning of the website!
Can you involve me?

[2018-01-04 15:22] evanzlj opened #1542 "One mistake in the article of guides"
* **URL**:https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#why-use-process-nexttick
* **Browser version**:none
* **Operating system**:none

Thanks for this article, but when I try to convert this to chinese, I find a error:

I think the listening callback is placed in the nextTick queue, right?~~

[2018-01-04 21:59] asier-gutierrez opened #1543 "Bug at API::Buffer::readable.read(0)"
HTML tag \<a href="....">\</a> can be seen on the title & content of that section.

* **URL**: https://nodejs.org/api/stream.html#stream_a_href_http_man7_org_linux_man_pages_man0_readable_read_0_html_readable_read_0_a
* **Browser version**: Chrome 63.0.3239.84 & Firefox 57.0
* **Operating system**: Windows 10

Sorry for not reading contribution guidelines, I only wanted to help with the few free t

[2018-01-04 22:52] vsemozhetbyt commented on #1543
Thank you for the report!

I think this will be fixed when https://github.com/nodejs/node/pull/17724 is backported.

[2018-01-05 07:19] warlock opened #1545 "fs.chmod documentation 8.x & 9.x : The value of "mode" is not an "integer""
https://nodejs.org/dist/latest-v8.x/docs/api/fs.html#fs_fs_chmod_path_mode_callback
https://nodejs.org/dist/latest-v9.x/docs/api/fs.html#fs_fs_chmod_path_mode_callback

The "mode" value on the web is a "whole number". But sometimes you need an "octal". "number is the correct type in javascript.

Thank you.

[2018-01-05 10:32] tniessen commented on #1545
Octals (`0755`) are integers, so I don't really get the problem. The type `number` includes integers and floating point numbers, so why would `number` be more appropriate than `integer`?

[2018-01-05 10:50] warlock commented on #1545
He thought that the "integer" type does not exist in js and the official type was "number".

I found that it uses the word "integer" in js:
Number.isSafeInteger(0o777) -> true
Thank you.

[2018-01-05 10:50] #1545 closed, assigned to nobody

[2018-01-05 17:03] glennconnell opened #1546 "Cloudflare prevents maven from downloading Node binaries. 403 from server."
* **URL**: https://nodejs.org/dist/v8.9.4/node-v8.9.4-darwin-x64.tar.gz
* **Browser version**:
* **Operating system**:Mac OSX

Starting January 4, 2018, maven using rontend-maven-plugin:1.6:install-node-and-npm fails to download Node binaries.  This is due to Cloudflare.  It now sends you to a captcha page.  Maven cannot handle this and we get a 403 from the server.
I can individually click on the

[2018-01-05 17:37] skllcrn commented on #1534
Been talking with @bnb about this and would love to take part in the project, helping out with the design. If I'm needed it would be great to know a little in advance so that I can plan.

[2018-01-05 19:01] fhemberger commented on #1546
Hmm, does Maven set a special user-agent header that triggers the Cloudflare captcha?
Because the URL above works for me in the browser, as well as wget and curl.

[2018-01-05 19:17] glennconnell commented on #1546
I get the captcha on my browser too.  This was all working on Jan 3 and before.  On Jan 4 it broke.
Did you already  do the captcha on your system before?  It may remember for a period of time.

From: Frederic Hemberger <notifications@github.com>
Reply-To: "nodejs/nodejs.org" <reply@reply.github.com>
Date: Friday, January 5, 2018 at 2:03 PM
To: "nodejs/nodejs.org" <nodejs.org@noreply.github.com>
C

[2018-01-05 19:39] glennconnell commented on #1546
[INFO]
[INFO] --- frontend-maven-plugin:0.0.27:install-node-and-npm (install node and npm) @ matlab-drive-webapp ---
[INFO] Found proxies: []
[INFO] Installing node version v5.7.1
[INFO] Creating temporary directory /Users/gconnell/Perforce/gconnell_maci_1/eps/matlab-drive-webapp/main/node_tmp
[INFO] Downloading Node.js from https://nodejs.org/dist/v5.7.1/node-v5.7.1-darwin-x64.tar.gz to /Users/gc

[2018-01-05 20:16] glennconnell commented on #1546
Hi Frederic,

I do not see the captcha from my home browser.  However, I see it from any machine on our company’s network.

From: Frederic Hemberger <notifications@github.com>
Reply-To: "nodejs/nodejs.org" <reply@reply.github.com>
Date: Friday, January 5, 2018 at 2:03 PM
To: "nodejs/nodejs.org" <nodejs.org@noreply.github.com>
Cc: Glenn Connell <Glenn.Connell@mathworks.com>, Author <author@noreply.

[2018-01-06 18:24] phillipj commented on #1534
Really happy to see a new redesign initiative and love the goal of getting discussions into the open, much appreciated!

A good friend of mine has been wanting to get involved for a while. We would be very lucky if we were able to get his talents onboard 🤞

@jestho wink wink 😉

[2018-01-07 12:57] gibfahn commented on #1542
As I understand it, this paragraph is explaining why the listening callback needs to be placed in the `nextTick` queue, by saying that _if_ it was a `setImmediate()`, then it would cause problems.

I think the confusion here is the use of the word `Say`, I would translate `Say` as 假如 , as in 假如`on('listening')`是个`setImmediate()`，会出......的问题，所以得用`process.nextTick()`.

Original PR to add this was: h

[2018-01-07 13:23] evanzlj commented on #1542
Got it! Thanks for your help~~^_^

[2018-01-07 13:23] #1542 closed, assigned to nobody

[2018-01-07 20:43] jestho commented on #1534
@phillipj appreciate the confidence in me 😅

But yeah – I've been wanting to contribute to the open source scene for a while, and this seems like a great project in a friendly community!

I think the proposed plan is a great start, and that case study by @amiller-gh is golden.

I'd love to contribute with design, UX and implementation 😃

[2018-01-08 19:15] mhdawson commented on #1546
Works for me as well, both browser and using curl. (I tested by downloading the linux 64 binaries for version 8)

[2018-01-08 19:20] mhdawson commented on #1546
@jbergstroem  I think you were going to look at the cloudflare settings, did you change anything recently ?

[2018-01-08 19:32] mhdawson commented on #1546
From what I can see of the config, you should only be prompted if cloudflare believes you fall into a the moderately threatening or higher category.     I'm not a cloudflare expert but might be able to dig up more info if I had info about your ips/org.

[2018-01-08 20:30] glennconnell commented on #1546
Yes, I think our corporate networks makes all of us appear to be from the same IP address.  Perhaps, it’s something for our side to look into.  I just noticed the sudden change of behavior and it was only with your website so I opened the ticket.

Thanks

From: Michael Dawson <notifications@github.com>
Reply-To: "nodejs/nodejs.org" <reply@reply.github.com>
Date: Monday, January 8, 2018 at 2:32 PM

[2018-01-09 01:52] silverwind commented on #1546
This issue should apply to all sites hosted on Cloudflare. Only they can tell you why they think that you're "suspicious". You could also check your IP for any RBL entries which may give you more hints.

[2018-01-09 01:52] #1546 closed, assigned to nobody

[2018-01-09 06:30] fhemberger commented on #1439
Closing because of inactivity, feel free to reopen.

[2018-01-09 06:30] #1439 closed, assigned to nobody

[2018-01-09 06:31] #1373 closed, assigned to nobody

[2018-01-09 16:46] amiller-gh commented on #1534
@fhemberger, @jestho, thank you – It was fun to write! The current site has definitely done its job and done it well, but I'm very excited to watch this redesign project evolve! 😄

I see three things we need to have relatively locked down before we can move on to UI design (let me know if I'm missing something!):

  1. Site IA
  2. Voice and Tone
  3. Draft of Site Content

The list item not menti

[2018-01-09 20:33] ghost commented on #1534
@amiller-gh we should definitely do that! the first priority here would be seeing who wants to help build the website. we've had multiple people interested, but i think we should split it up in two main groups:

- strategy (e.g. content, user experience, facilitation)
- implementation (e.g. writing code, doing design)

so far i think most of the volunteers have been for the second group (which is

[2018-01-10 22:26] franciscop commented on #1534
I was going to offer help with redesigning the docs when I saw @amiller-gh article (which is great). I am polishing details and bugs out of my Node.js library docs, do you think something like this might be fit for Node.js docs and fit within the new ideas being talked about?

https://serverjs.io/documentation/

I can get some proof of concept done, but wanted to ask whether it might be a good ide

[2018-01-11 05:10] fhemberger commented on #1534
@pup Please sign me on for the strategic part as well. 😊

[2018-01-11 10:06] dnjstlr555 opened #1551 "Terrible download speed"
* **URL**: https://nodejs.org/dist/v9.4.0/node-v9.4.0-x64.msi
* **Browser version**: Chrome 63.0.3239.132 (64-bit) (cohort: Stable)
* **Operating system**: Windows 10 Pro 1703(15063.786)

I live in south korea, and i'm sure that nodejs.org's server located far land
average downloading speed is 10KB ~ 30KB which tooks me about 30 minutes to download whole 15.7MB
That's not end. I lost connection to

[2018-01-11 10:27] fhemberger commented on #1551
Node.js is distributed via Cloudflare.

/cc @nodejs/build

[2018-01-11 10:33] tniessen commented on #1551
Cloudflare has at least one data center in korea.

[2018-01-11 11:14] dnjstlr555 commented on #1551
I didn't know that! but i'm still having this problem.
Any reason?

[2018-01-11 11:45] gibfahn commented on #1551
I guess it's possible that Cloudflare is either misconfigured, or having an outage or something. Looking at the cloudflare status page might be helpful, would need to be done by @mhdawson @rvagg @joaocgreis @jbergstroem or myself.

@dnjstlr555 have you had this problem before? Can you tell us roughly where you're based in South Korea (city is fine)? It might be helpful to check another site that u

[2018-01-11 12:05] dnjstlr555 commented on #1551
My city is seoul and I had this same problem few years ago i think. there's Network Performance Issues in Seoul, Korea according to https://www.cloudflarestatus.com/ this page in Jan 8, 2018 but it was resolved.

[2018-01-11 12:29] joyeecheung commented on #1551
CNPM has a mirror for Node.js releases: https://npm.taobao.org/mirrors/node They are distributed via the Alibaba Cloud CDN, which by default only provides services from data centers in China. It could be faster if you are connecting from South Korea.

[2018-01-12 02:56] dnjstlr555 commented on #1551
@joyeecheung Speed is lower than before.... 7.8kb. I have no clue what is going on ㅠ_ㅠ

[2018-01-12 22:09] emilypmendez commented on #1534
I am also on board for strategic UI/UX implementations @pup, specifically regarding content & user experience, as @amiller-gh referenced above. 😃

[2018-01-13 07:05] maddhruv commented on #1534
Hey, @pup include me also for the development of the framework for the website.

[2018-01-16 00:04] bnb commented on #1534
Wanted to let y'all know that @pup has finalized the Redesign Project as an official Strategic Initiative of the Community Committee: https://github.com/nodejs/community-committee/pull/205

What this means? The redesign effectively has a project owner (@pup) and has direct accountability to the Node.js Community Committee. This will _hopefully_ enable us to push this entire project to completion,

[2018-01-16 10:26] ghost commented on #1534
@fhemberger @emilypmendez @amiller-gh @jestho @skllcrn @CodeTheory @darcyclarke @bnb i've created a repository for this initiative: https://github.com/nodejs/website-redesign i'll start drafting a readme and organize a kickoff meeting for it soon, until then, you can watch the repository!

@mhdawson can you create a team called `website-redesign`, give it write permissions for aforementioned repos

[2018-01-16 10:47] #1543 closed, assigned to nobody

[2018-01-16 11:15] franciscop commented on #1534
@pup can I join as well please?

[2018-01-16 15:20] bnb commented on #1534
@pup I can create that team, since @mhdawson is on vacation 😄

[2018-01-16 15:26] bnb commented on #1534
@pup done - all members have been invited to the group, and the ones who weren't in the org already were invited to the org. As an administrative task, we need to add them to the nodejs/members team once they've accepted.

[2018-01-16 16:11] maddhruv commented on #1534
@pup please add me too on the team!

[2018-01-16 17:17] pierreneter commented on #1534
@pup I want to be part of this redesign team, I can code.

[2018-01-18 19:09] slater opened #1555 "Get Involved - Code + Learn is outdated"
* **URL**: https://nodejs.org/en/get-involved/code-and-learn/
* **Browser version**: Chrome
* **Operating system**: MacOS

Upcoming events section should contain future events, not past events.

[2018-01-19 04:33] #1555 closed, assigned to nobody

[2018-01-19 04:35] fhemberger commented on #1462
Closing because of inactivity, but feel free to reopen!

[2018-01-19 04:35] #1462 closed, assigned to nobody

[2018-01-19 04:46] fhemberger commented on #1074
Outdated, closing.

[2018-01-19 04:46] #1074 closed, assigned to nobody

[2018-01-19 04:49] fhemberger commented on #1338
Closing in favor of #1534.

[2018-01-19 04:49] #1338 closed, assigned to nobody

[2018-01-19 04:52] fhemberger commented on #1534
Almost all remaining issues in this repo could be addressed during the strategy phase of the redesign. To get a better overview, I added them to a project:
https://github.com/nodejs/nodejs.org/projects/1

@pup We should probably reference this in @nodejs/website-redesign once we get started there.

[2018-01-19 04:58] fhemberger commented on #1551
@dnjstlr555 Any changes on the download speed for you?
(I'm not really sure if we can fix this issue on our end. Could be anywhere on the network.)

[2018-01-19 05:11] dnjstlr555 commented on #1551
Still it's slow. release it with torrent would only way to solve this problem I think.

[2018-01-19 05:33] fhemberger commented on #1551
@nodejs/build Could https://github.com/webtorrent/create-torrent be a solution for this?

[2018-01-19 10:25] ghost commented on #1534
@fhemberger sounds good! i'll try and schedule a meeting today

[2018-01-22 11:47] ezhukov opened #1557 "Debian versions need updating"
* **URL**: https://nodejs.org/en/download/package-manager/
* **Browser version**: Firefox 52.5.0 (64-bit)
* **Operating system**: Debian Buster

The webpage is out of date:
Supported Debian versions:
    Debian 7 (wheezy)
    Debian 8 / stable (jessie)
    Debian testing (stretch, aliased to jessie)
    Debian unstable (sid)
Should be:
Supported Debian versions:
    Debian 8 (jessie aka old-stable

[2018-01-22 19:46] bcullman opened #1558 "Windows .msi 64bit includes npm 3.10.5, rather than stated 5.6.0"
* **URL**: https://nodejs.org/en/download/https://nodejs.org/en/download/
* **Browser version**: not relavent
* **Operating system**: win 2k8r2

Windows .msi 64bit includes npm 3.10.5, rather than stated 5.6.0

[2018-01-22 20:39] fhemberger commented on #1558
/cc @nodejs/build @nodejs/platform-windows

[2018-01-22 22:50] gibfahn commented on #1558
What version of the msi did you download? Node 8.9.4?

[2018-01-22 22:50] gibfahn commented on #1558
Also have you previously installed npm on your system?

[2018-01-22 22:56] bcullman commented on #1558
The file:
https://nodejs.org/dist/v8.9.4/node-v8.9.4-x64.msi

listed on https://nodejs.org/en/download/.

I uninstalled the previous version of node. This also uninstalled the version of npm that came with it. I verified I did not have node or npm on my system. I then tried the .msi.

It put npm 3.10.5 on my machine.

[2018-01-23 00:56] gibfahn commented on #1558
cc @nodejs/platform-windows , a reproduce would be useful

[2018-01-23 01:44] bcullman commented on #1558
Arg. My bad.

While there was no npm located in `C:\Program Files\nodejs`, I had another npm located at `C:\Users\[username]\AppData\Roaming\npm`.

[2018-01-23 01:44] #1558 closed, assigned to nobody

[2018-01-24 22:27] ghost commented on #1557
Closing as this has been landed in #1559

[2018-01-24 22:28] #1557 closed, assigned to nobody

[2018-01-26 16:44] fhemberger commented on #1551
/cc @nodejs/build @nodejs/release Would it be feasible to create a torrent file for Node.js releases? What do you think? (Could be added to the website's release script for the relaunch)

[2018-02-05 21:31] kirenpillay opened #1563 "Fedora 27 Install Update"
* **URL**: https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora
* **Browser version**:  Chrome
* **Operating system**:  Any

Installation with the latest Fedora is achieved by:
`sudo dnf install nodejs`

[2018-02-06 04:15] fhemberger commented on #1563
… as it says on the page if you scroll down a bit: https://nodejs.org/en/download/package-manager/#alternatives There are the official Node.js packages (provided by NodeSource in this case) and the distro's packages. We list them in this order, as the distro sometimes may be behind the official release.

[2018-02-06 05:18] kirenpillay commented on #1563
Thanks Frederic. I'm a newbie so I wanted to get going quickly.

I think maybe a hint saying that the Fedora distro may be behind and your
alternative packages are recommended might help. Also a link to the
alternatives might be useful?

Also someone seeing this for the first time will see yum being used and
like me think this is out of date?

I don't find this layout user friendly, but if you thi

[2018-02-09 08:14] fhemberger commented on #1563
@kirenpillay Thanks for your feedback. We're already working on a website relaunch, where also the whole "install via package manager" section will be overhauled.

[2018-02-09 08:14] #1563 closed, assigned to nobody

[2018-02-11 13:16] amnonkhen commented on #1134
So, what's the solution to make gradle-node-plugin work?

[2018-02-11 16:57] #807 closed, assigned to nobody

[2018-02-11 18:58] fhemberger commented on #1375
Closing, as we're working on it in [nodejs/website-redesign](https://github.com/nodejs/website-redesign/)

[2018-02-11 18:58] #1375 closed, assigned to nobody

[2018-02-14 13:01] olangella opened #1566 "executing bash script as root to install nodejs"
* **URL**:
* **Browser version**:
* **Operating system**:

Dear nodejs website maintainer,

I went to this URL to install an up to date version of nodejs for debian stretch.
It's a very good idea to use the package management system... the problem is how to install it :
curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
executing a bash script as root is not very secure...
The minimum,

[2018-02-14 20:24] lpinca commented on #1566
That script is not maintained by us, the issue should be opened here: https://github.com/nodesource/distributions

[2018-02-15 15:19] fhemberger commented on #1024
Linking: https://github.com/nodejs/website-redesign/issues/4#issuecomment-365957539

[2018-02-18 11:06] aduh95 commented on #676
In my experience, students who are asked to install Node.js will just do a `sudo apt install nodejs` in their terminal, and get away with the default node version provided by their distro (which is _most of the time_ Node v4 or Node 0.12 on debian based systems).
And when a recent version is needed, most of them have no idea where to find the relevent info, and download the current `.tar.xz` which

[2018-02-18 15:43] fhemberger commented on #676
The Node.js project doesn't provide packages for distros themselves, they are created by the respective distro community. So we don't have any influence on how often a package gets updated. Nodesource provides deb (Debian/Ubuntu) and rpm (RHEL/Fedora/CentOS) packages.

So if you want to make sure you get **exactly** the Node.js version you need, you have to download the binaries.

[2018-02-18 20:44] trivikr opened #1568 "Coverage not getting updated on NodeJS website"
* **URL**: https://coverage.nodejs.org/
* **Browser version**: N/A
* **Operating system**: N/A

The coverage is not getting updated at https://coverage.nodejs.org/
It's 18/02/2018, and the latest coverage being shown is from 13/02/2018

[2018-02-18 21:54] trivikr commented on #1568
The nightly coverage job [node-test-commit-linux-coverage](https://ci.nodejs.org/view/All/job/node-test-commit-linux-coverage/) has been failing since Feb 13th

[2018-02-19 06:36] trivikr commented on #1568
Looks like this had happened in the past, when tests were missing for the following days:
* 07/01/2018 to 09/01/2018
* 28/11/2017 to 13/12/2017

[2018-02-19 06:51] trivikr commented on #1568
cc: @mhdawson
Example CI build failure https://ci.nodejs.org/view/All/job/node-test-commit-linux-coverage/534/nodes=benchmark/console

[2018-02-19 12:17] mikemaccana commented on #676
What you've said re: no official Node Foundation packages (that's somethign to be addressed), but I trust Nodesource and I think most others are comfortable doing do. Installing an unpackaged version isn't necessary to know what version you're running, and is a great way to end up with a vulnerable version of node installed and never updated.

[2018-02-19 22:43] asottile opened #1569 "Provide prebuilt binaries for musl libc as well?"
* **URL**: http://nodejs.org/dist/v9.5.0/
* **Browser version**: N/A
* **Operating system**: Alpine Linux v3.7

Probably a shot-in-the-dark ask, and potentially the wrong project to create an issue but here goes!

The current binaries provided at http://nodejs.org/dist/v9.5.0/ are all `glibc` binaries and do not function inside `alpine` docker containers.  Executing the binary after extraction lea

[2018-02-20 05:03] fhemberger commented on #1569
Hi, we're providing official Docker containers based on Alpine, e.g. [`node:9.5-alpine`](https://github.com/nodejs/docker-node/blob/master/9/alpine/Dockerfile).

[2018-02-20 05:12] asottile commented on #1569
Yep, I've seen those -- still I think standalone prebuilt muslc downloads would be beneficial in a few situations where the `node:x.x-alpine` docker images aren't helpful:

- using _some other_ alpine docker image (in this specific instance, I'd like to use the `python` alpine images)
- using some other platform which also uses muslc and is neither docker nor alpine (gentoo musl for instance)

[2018-02-20 05:18] fhemberger commented on #1569
I'm not sure if we have the build/test infrastructure right now to support musl as well, there hasn't been any demand for it yet besides for the Docker images. Maybe @nodejs/build can comment on that.

For other Docker images, you could still use [multistage builds](https://docs.docker.com/develop/develop-images/multistage-build/). I know, it's only a crutch, but it would help for now.

[2018-02-20 05:20] asottile commented on #1569
My actual intention is to use it with `nodeenv` and not with docker (I can already `apk --no-cache add node-js` just fine!) -- see the linked issue: https://github.com/ekalinin/nodeenv/issues/204 and the link-linked issue: https://github.com/pre-commit/mirrors-jshint/issues/4

[2018-02-20 15:57] trivikr commented on #1568
Hi, any update on this issue?

[2018-02-20 16:04] gibfahn commented on #1569
Yeah, @asottile could you raise an issue in https://github.com/nodejs/build and link to this one?

[2018-02-22 16:15] trivikr commented on #1568
Hi, any update on this issue?

[2018-02-22 17:28] ramonvanstijn opened #1571 "Dockerizing a Node.js web app guide improve Dockerfile"
* **URL**: https://nodejs.org/en/docs/guides/nodejs-docker-webapp/
* **Browser version**: N/A
* **Operating system**: N/A

The Dockerfile in the Dockerizing a Node.js web app guide contains the instruction:
[code]
This also copies `Dockerfile` and `.dockerignore` into the image and that does not seem right to me.

[2018-02-22 18:37] gibfahn commented on #1568
See https://github.com/nodejs/node/issues/18938

[2018-02-23 11:32] zzuligy opened #1573 "doc-eventLoop"
* **URL**:https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/
* **Browser version**:
* **Operating system**:

the event loop graph is in the top down order,which make me confuse the poll phase.
if say poll phase like a moniter,which kick off the cycyle, loop and execute the callback in the phase may be most clear。

[2018-02-23 11:53] zzuligy commented on #1573
┌───────────────────────┐
                ┌─>│        timers         │
                │  └──────────┬────────────┘
                │  ┌──────────┴────────────┐
                │  │     I/O callbacks     │
                │  └──────────┬────────────┘
                │  ┌──────────┴────────────┐
                │  │     idle, prepare     │
             looper└──────────┬────────────┘

[2018-02-24 20:09] fhemberger commented on #1573
/cc @evanlucas

[2018-02-26 20:29] cedx commented on #1551
Same issue here : I'm located in France. Usually, I haven't any problem to download a Node.js release, but since a few weeks this has become almost impossible (no more than 800 bytes/sec... when it works !). I have a very good DSL connection (about 5 Mb/sec), only Node.js downloads are affected.

It would definitely be a good option to have Torrent files to avoid CloudFlare issues.

[2018-03-01 15:47] mhdawson commented on #1568
Closing as this is now fixed.  Thanks for reporting and sorry it took so long, I was out of the office last week.

[2018-03-01 15:47] #1568 closed, assigned to nobody

[2018-03-07 16:17] fhemberger opened #1582 "Add new contributors (March 2018)"
[code]

@bnb @Trott @MylesBorins: Could one of you please add them?

[2018-03-08 03:23] Trott commented on #1582
@fhemberger You are a Maintainer of the website team so you should be able to add them yourself. Can you try? Go to https://github.com/orgs/nodejs/teams/website/members and click the green "Add a member" button near the top right.

[2018-03-08 04:49] fhemberger commented on #1582
@trott Unfortunately, the Maintainer role is not enough. I can change people's role or remove them from the team, but not add them in the first place. 🤷‍♂️

![bildschirmfoto 2018-03-08 um 05 45 47](https://user-images.githubusercontent.com/153481/37133520-18a9df36-2294-11e8-8fd3-a224c85f2997.png)

[2018-03-08 05:42] Trott commented on #1582
Ah, so you can add people to the team if and only if they are already members of the org. So you should be able to add eugeneo and bnoordhuis, for example. But most of the people on that list are not in the org.

[2018-03-08 05:46] Trott commented on #1582
(Adding people right now, by the way. So eugeneo and bnoordhuis may be added by the time you get around to trying.)

[2018-03-08 05:53] Trott commented on #1582
Added everyone. For folks not currently in the org, it sends an invitation. So there are 28 pending invitations right now.

[2018-03-08 05:53] Trott commented on #1582
I *think* this can be closed. If I'm wrong, re-open! :-D

[2018-03-08 05:53] #1582 closed, assigned to nobody

[2018-03-08 06:39] fhemberger commented on #1582
Awesome, thank you! 👍

[2018-03-08 06:55] WaleedAshraf commented on #1582
Thanks, @Trott  @fhemberger
Looking forward to making more contributions to Node.js and its WGs.

[2018-03-08 12:31] uyu423 opened #1585 "A blank page is printed on the Korean Download Page"
* **URL**: https://nodejs.org/ko/download/
* **Browser version**: Google Chrome 64.0.3282.186 x64
* **Operating system**: Windows 10 x64

## Page

![image](https://user-images.githubusercontent.com/8033320/37151144-b29f22d0-2317-11e8-913a-fde2e2d2d7d2.png)

## Source Code

![image](https://user-images.githubusercontent.com/8033320/37151168-bbccf17a-2317-11e8-8d0f-5fdde47db399.png)

## English Down

[2018-03-08 12:52] Trott commented on #1582
One of the invitees reached out via email to ask what the invitation to join the org is all about. For notification purposes, I'm @-mentioning folks here, so they'll see this issue

* @alexdunne (Alex Dunne)
* @rbnswartz (Reuben Swartz)
* @uyu423 (Yu Yongwoo / CX)
* @oncletom (Thomas Parisot)
* @petershank (Peter Shank)
* @eugeneo (Eugene Ostroukhov)
* @WaleedAshraf (Waleed Ashraf)
* @cheruvian (n

[2018-03-08 13:45] #1585 closed, assigned to nobody

[2018-03-08 14:37] uyu423 commented on #1585
Nice, Good, Thanks Everybody.

[2018-03-15 13:33] beglex opened #1593 "doc-http"
* **URL**: http://nodejs.org/dist/latest/docs/api/http.html#http_event_connect
* **Browser version**: Any
* **Operating system**: Any

Event: 'connect'
response <http.IncomingMessage>

I think there shoud be li with text 'request <http.IncomingMessage>'

[2018-03-15 14:16] amandeepmittal commented on #1593
Can you be more specific? Are you talking about that in the source code of the document, there should be an `<li>` element?

[2018-03-15 14:19] beglex commented on #1593
Nope, I mean should there be text 'request <http.IncomingMessage>' rather than 'response <http.IncomingMessage>' in the li element?

[2018-03-15 14:21] amandeepmittal commented on #1573
@zzuligy But then where will you put the retrieval of I/O events?

[2018-03-15 14:25] amandeepmittal commented on #1593
I think it refers to the class `http.IncomingMessage` which has access to response status, headers and data.

See [here](http://nodejs.org/dist/latest/docs/api/http.html#http_class_http_incomingmessage)

[2018-03-15 14:36] beglex commented on #1593
Ah, okay. My bad then, sorry

[2018-03-15 14:36] #1593 closed, assigned to nobody

[2018-03-17 18:07] dmcghan commented on #1573
I think the confusion comes from another part of the doc being wrong. In the [Phases Overview](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#phases-overview) section, the **I/O Callbacks** bullet states:

However, in the [Phases Detail > I/O Callbacks](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#i-o-callbacks) section, the detail states:

Unless I'm misund

[2018-03-19 16:55] wuweiweiwu opened #1595 "More user friendly stream docs"
Originally from: https://github.com/nodejs/node/pull/19143 to resolve https://github.com/nodejs/node/issues/8646

Creating a new guide to introduce users to streams with examples.

[2018-03-19 17:42] styfle commented on #1571
Should we change `.dockerignore` to the following?

[code]

[2018-03-19 18:32] fhemberger commented on #1571
@styfle You can't seem to ignore `.dockerignore` and `Dockerfile`.

[2018-03-19 18:35] styfle commented on #1571
@fhemberger The [documentation](https://docs.docker.com/engine/reference/builder/#dockerignore-file) says you can.

[2018-03-19 19:22] fhemberger commented on #1571
Tried it a few days ago, didn't work for me. But feel free to check for yourself.

[2018-03-20 08:38] ramonvanstijn commented on #1571
For this example I would suggest to do `COPY server.js .` instead of `COPY . .`

[2018-03-20 12:41] styfle commented on #1571
Yeah it does seem a bit odd. Why does it have two copy steps?

[code]

I would think the js source and the package.json could be copied in the same step.

[2018-03-20 13:02] fhemberger commented on #1571
It's for caching your `node_modules` in a separate layer, faster successive build times.

[2018-03-21 21:39] ramonvanstijn commented on #1571
@fhemberger You are spot on.

About the second copy, in anything else than a simple example the source code of an application typically consists of multiple `.js` files which are collected in a folder named`src`. One would do a `COPY src /usr/src/app` in that case for example.

I think a good project folder structure together with explicitly copying what you want/need into an image delivers the be

[2018-03-24 16:16] lol768 opened #1600 "Downloads: application/x-xz != text/plain (+ no Content-Disposition!)"
[code]

[code]

![image](https://user-images.githubusercontent.com/2552726/37866152-917e286c-2f7e-11e8-9745-ec3ca7c60ba9.png)

[2018-03-25 11:10] thenishchalraj opened #1601 "Download link on Home page is not working"
![screenshot from 2018-03-25 10-12-10](https://user-images.githubusercontent.com/15857220/37874269-9c7260aa-3049-11e8-8db1-486061b771eb.png)
![screenshot from 2018-03-25 10-12-35](https://user-images.githubusercontent.com/15857220/37874271-9caf6388-3049-11e8-85d5-6a4646df7f5f.png)
![screenshot from 2018-03-25 10-13-23](https://user-images.githubusercontent.com/15857220/37874272-9ce3a382-3049-11e8-

[2018-03-25 11:21] tniessen commented on #1595
cc @nodejs/documentation

[2018-03-25 11:24] tniessen commented on #1601
Seems to be related to https://github.com/nodejs/nodejs.org/issues/1600. In the meantime, you should be able to download releases by right-clicking the link and selecting "Save target as...".

[2018-03-25 12:12] thenishchalraj opened #1602 "Subscription not allowed"
* **URL**: https://foundation.nodejs.org/
* **Browser version**: Firefox quantum 58.0.1
* **Operating system**: Kali linux

Seems the subscribe button does not really do anything. I was eager to subscribe to the newsletter but found that the button doesn't work.
On viewing the page source, it seems that the form is invalid. And a message in comment is there about the same I think.

![screenshot fr

[2018-03-26 08:15] WaleedAshraf commented on #1602
I think foundation.nodejs.org comes from some repo in https://github.com/linuxfoundation
Not able to find any related repo here in Node.js.

[2018-03-26 09:32] fhemberger commented on #1602
I don't think there's a foundation website repo at the moment, however, the page is not administrated by the folks around here.

@gtewallace Can you please look into it?

[2018-03-26 09:35] fhemberger commented on #1600
/cc @nodejs/build Can you please look into this issue?

[2018-03-26 09:39] fhemberger commented on #1573
@dmcghan Sounds good, would you mind creating a PR for it?

[2018-03-26 09:42] fhemberger commented on #1566
/cc @chrislea @rvagg Could you please look into this?

[2018-03-26 09:44] fhemberger commented on #1601
Closing as duplicate of #1600.

[2018-03-26 09:44] #1601 closed, assigned to nobody

[2018-03-26 09:50] amandeepmittal commented on #1573
@dmcghan in `pending I/O callbacks` is it good to mention `process.nextTick()`?

[2018-03-26 09:58] gibfahn commented on #1600
I think this is the same problem as https://github.com/nodejs/node/issues/19531

[2018-03-26 10:40] gibfahn commented on #1566
Please open an issue in nodesource/distributions, that's a third-party repo and not something the nodejs team have control over (it's also what the third line of the script asks you to do).

As an aside, if you've checked the script, then you can probably work out the lines to remove to just create the source list and add the gpg key. If you suggested that nodesource make that available somewhere

[2018-03-26 10:40] #1566 closed, assigned to nobody

[2018-03-26 13:47] dmcghan commented on #1573
@fhemberger Sure, will do.

@amandeepmittal I don't think so. [`process.nextTick()`](https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/#process-nexttick) gets it's own section in the doc because it's technically not part of the event loop. It has its own queue that is processed after each phase.

[2018-03-26 17:19] shawnpreissner commented on #1602
Hi @nishchalraj @WaleedAshraf @fhemberger  - thanks for raising, we'll get resolved ASAP and report back.

[2018-03-26 20:22] dmcghan commented on #1573
I created PR https://github.com/nodejs/nodejs.org/pull/1603. I simplified "pending I/O callbacks" to "pending callbacks" and left the name of the "poll" phase alone since it was referred to in other places.

[2018-03-27 10:57] samundrak opened #1604 "Link to docs of nodejitsu is dead/borken"
* **URL**:  https://nodejs.org/en/get-involved/
* **Browser version**: Any Browser
* **Operating system**: Linux

The link provided on https://nodejs.org/en/get-involved/
of http://docs.nodejitsu.com/ is dead or broken.

[2018-03-27 17:34] #1604 closed, assigned to nobody

[2018-03-28 05:17] shahzeb1 commented on #1534
@pup I'd like to join in on the redesign effort as well! 👍

[2018-03-29 05:31] francoFerraguti opened #1608 "Spanish Translation"
* **URL**: https://nodejs.org/es/download/current/
* **Browser version**: Chrome 63.0.3239.132 (64-bit)
* **Operating system**: Windows 8 64-bit

I've found some issues with the spanish translation:
 -Instead of **Firmas SHASUMS de los arvhivos de versiones**, it should be **Firmas SHASUMS de los archivos de versiones**
 -Instead of **Building Node.js from source on supported platforms**, it shoul

[2018-03-29 07:05] thenishchalraj commented on #1600
Hey! this issue has been resolved now. I checked on the website a minute ago.

[2018-03-29 07:07] thenishchalraj commented on #1608
:1st_place_medal:  This was amazing man.

[2018-03-29 08:07] lol768 commented on #1600
[code]

:clap:

[2018-03-29 08:07] #1600 closed, assigned to nobody

[2018-03-29 15:00] ofrobots opened #1609 "Duplicate inspector docs"
We seem to have two docs:

* https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/inspector.md
* https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/debugging-getting-started.md

They have overlapping content. Which should be the canonical? Can we redirect from one to the other?

I need to add some more details about security implications of the Inspector, and I would

[2018-03-30 02:03] marswong commented on #1609
@fhemberger maybe [Inspector](https://nodejs.org/en/docs/inspector/) can be merged into [Debugging Guide](https://nodejs.org/en/docs/guides/debugging-getting-started/)?

[2018-03-30 03:40] fhemberger commented on #1609
Just submitted a PR (#1610), please review.

Removed `inspector.md` in favor of the Debugging Guide, still needs a redirect (will create one in afterwards).

[2018-04-02 03:39] marswong opened #1612 "build script: generate unexpected hyperlink for fullwidth comma"
When translating the docs, we need to use other input source, at present the script seems to mark the end of hyperlink with `halfwidth comma`, but if we use a `fullwidth comma` it would generate unexpected hyperlink, for example:

[code]

[2018-04-02 16:29] shawnpreissner commented on #1602
This is now resolved, please find the working form on the homepage -> https://foundation.nodejs.org/
@nishchalraj @WaleedAshraf @fhemberger

[2018-04-02 18:07] WaleedAshraf commented on #1602
@shawnpreissner awesome! Just tested it. 👍 🎉

[2018-04-02 18:07] #1602 closed, assigned to nobody

[2018-04-02 22:55] #1609 closed, assigned to nobody

[2018-04-03 10:56] sjmaple commented on #1094
@sotayamashita hey Sam, I joined Snyk's dev rel team and can perhaps jump on a call to discuss this further - I'd be keen to help get this up and running again. I'm at simon@snyk.io.

[2018-04-03 16:58] zackurben opened #1614 "Inspector docs broken link"
* **URL**: https://nodejs.org/en/docs/inspector/guides/debugging-getting-started/
* **Browser version**:
  1. FireFox 58.0.2 (64-bit) (Ubuntu)
  2. Chrome Version 65.0.3325.181 (Official Build) (32-bit) (Win)
* **Operating system**:
  1. Ubuntu 16.04.03
  2. Win 7

Hello,

[the inspector page](https://nodejs.org/en/docs/inspector/) has a link to a moved page (Guides: Debugging - Getting Started) w

[2018-04-04 01:18] marswong commented on #1614
@fhemberger it seems the link should be `../guides/debugging-getting-started/`

[2018-04-04 02:34] #1614 closed, assigned to nobody

[2018-04-04 02:41] fhemberger commented on #1614
Thanks, fixed!

[2018-04-04 17:47] zackurben commented on #1614
Great, thanks for the quick turnaround!

[2018-04-07 10:19] aiyadingya opened #1618 "Can not run"
MacBook Pro (Retina, 13-inch, Early 2015)
node v8.9.1
npm v5.7.1

After running the npm start command, the following result appears:

[code]

and I open http://localhost:8080/en/ Show this page not found

[2018-04-07 18:17] n-filatov opened #1619 "Not working redirect from https://nodejs.org/en/docs/inspector page."
* **URL**: https://nodejs.org/en/docs/inspector
* **Browser version**: Google Chrome 65
* **Operating system**: MacOS

When i follow link https://nodejs.org/en/docs/inspector  i get 404 error. But when i follow link https://nodejs.org/en/docs/inspector/ i get redirect on https://nodejs.org/en/docs/guides/debugging-getting-started/ page.

[2018-04-07 19:58] Almenon opened #1620 "feature request: search functionality in docs"
I'm very suprised there is not search functionality in the node docs.  This would be a great addition to the docs and make it easier to navigate inside them.

Current workarounds are google or [all page](https://nodejs.org/api/all.html) but they are not quite as convenient.

See https://github.com/nodejs/node/issues/19873

[2018-04-07 20:31] ryzokuken opened #1621 "request: add appropriate documentation/links to the SHASUMS listing"
Recently, @marxsal submitted the issue https://github.com/nodejs/help/issues/1203, where they seemed to be confused about verifying the node binaries.

I suggested them to look into https://github.com/nodejs/node#verifying-binaries which resolved their query.
Should we add a subset of this documentation on the website itself? The least we could do would be to add a link to this section of the READ

[2018-04-07 21:07] Knighton910 commented on #1618
@aiyadingya could you give more information about what you're trying to do & sources you are following to get the result you want.

[2018-04-07 22:13] Chris-43 opened #1623 "npm is not running on my Windows 10"
* **URL**: NA
* **Browser version**: NA
* **Operating system**: Windows 10

I have done everything that I can think of, as has my SuperGEEK friend. He ran 'npm i npm' from an Administrator cmd line. Every thing gets the same result:

[2018-04-07T20_58_40_036Z-debug.log](https://github.com/nodejs/nodejs.org/files/1886746/2018-04-07T20_58_40_036Z-debug.log)

Most of that file is routine. At the end,

[2018-04-07 22:13] #1623 closed, assigned to nobody

[2018-04-08 05:16] fhemberger commented on #1618
Hi, I just checked out fresh copy of this repository and tried to build it. Worked fine for me. Could you please check if `source/versions.json` exists? If so: Is there maybe a firewall rule that prevents Node.js from downloading that file?

Somehow the array of Node.js versions is `undefined` in your case, that's why the build script throws at this point. While I can't reproduce this issue myself

[2018-04-08 05:28] thom4parisot commented on #1620
Maybe something to consider: https://community.algolia.com/docsearch/

[2018-04-08 06:34] fhemberger commented on #1621
I think a link would be a good idea right next to the SHASUM link. Example:

[Signed SHASUMS for release files]() ([How to verify]())

Would you like to create a PR for this?

[2018-04-08 07:19] ryzokuken commented on #1621
@fhemberger I'd love to!

[2018-04-08 08:51] #1621 closed, assigned to nobody

[2018-04-08 08:56] fhemberger commented on #1619
Where did you find the first link without the trailing slash? This is indeed wrong (thus the 404) and the redirect was introduced in #1610. So everything works as intended.

[2018-04-08 09:02] n-filatov commented on #1619
I found this link in message when executed `node --inspect index.js`.

[2018-04-08 09:14] ckotzbauer commented on #1619
Found it: https://github.com/nodejs/node/blob/master/src/inspector_socket_server.cc#L108

[2018-04-08 09:19] n-filatov commented on #1619
Yep, i have crated pull request in node repo to fix this url, also think that getting 404 error when u follow link without trailing slash may be confuse somebody.

[2018-04-08 09:47] fhemberger commented on #1619
Awesome, thanks. I will also fix the redirect - just in case.

[2018-04-08 15:42] Almenon commented on #1620
looks like the docs are actually maintained in the other repo - closing

[2018-04-08 15:42] #1620 closed, assigned to nobody

[2018-04-09 06:10] fhemberger commented on #1619
Redirect is fixed, closing.

[2018-04-09 06:10] #1619 closed, assigned to nobody

[2018-04-12 18:37] ZibbyKeaton opened #1628 "Displaying Node.js 4 EOL on Homepage of the website"
This is a bit more of a communication item vs. technical item on the website, but with Node.js 4 going into EOL at the end of the month, I thought it would be good to have a little banner on the homepage so folks are aware that this is going to happen. Similar to what we have re: the March 2018 security upgrades.

@MylesBorins is going to draft a quick blog that explains Node.js 4 EOL status and N

[2018-04-12 21:23] mhdawson commented on #1628
+1 very good idea to highlight it there.

[2018-04-16 21:18] bnb commented on #1628
@ZibbyKeaton sounds good to me, +1. Been trying to help with this as much as possible from the NodeSource social accounts, as it is relatively important.

@MylesBorins I'm curious what your suggestion on an upgrade path will be in the article - I'd assume the suggestion will be 4 -> 8? 🤔

[2018-04-18 09:12] WaleedAshraf commented on #1628
SGTM.
We upgraded from 4 -> 8 a few months ago and the only thing we were worried about was any major breaking change.
It'd be good if we can include a list of known major breaking changes in that blog? Most of it is already in CHANGELOG.md but that has a lot of other stuff too.

[2018-04-24 17:19] ZibbyKeaton commented on #1628
@WaleedAshraf what do you think of a blog post for Node.js Collection on that topic? Or do you have a link to the changelog that I can include in our blog? I posted the blog on Monday: https://medium.com/@nodejs/april-2018-release-updates-from-the-node-js-project-71687e1f7742

Also, what are the next best steps here to get this added to the homepage?

[2018-04-24 22:14] WaleedAshraf commented on #1628
@ZibbyKeaton
There are 4 major changelogs, which everyone should check before upgrading the version.

6.0.0: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V6.md#6.0.0
8.0.0: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V8.md#8.0.0
9.0.0: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V9.md#9.0.0
10.0.0: https://github.com/nodejs/nod

[2018-04-24 22:21] ZibbyKeaton commented on #1628
Sounds good to me @MylesBorins are you okay with this as well?

[2018-04-25 04:33] fhemberger commented on #1628
As soon as we have a final link and a label for it, we can add it in a similar way to the important security updates on the homepage.

[2018-04-25 12:58] ZibbyKeaton commented on #1628
@fhemberger can we use this link: https://medium.com/@nodejs/april-2018-release-updates-from-the-node-js-project-71687e1f7742 ? In terms of table, it could read something like April Release Updates (Please Read). Let me know if that works or if I'm way off here.

[2018-04-25 13:08] fhemberger commented on #1628
@ZibbyKeaton I'll prepare a PR later …

[2018-04-25 14:29] fhemberger commented on #1628
PR: #1636

[2018-04-25 15:34] fhemberger commented on #1628
Merged with `2e8c943`

[2018-04-25 15:34] #1628 closed, assigned to nobody

[2018-04-26 09:53] fhemberger commented on #1618
No answer from original poster, closing.

[2018-04-26 09:53] #1618 closed, assigned to nobody

[2018-04-29 15:34] fhemberger commented on #1608
/cc @nodejs/nodejs-es Are you okay with the translations?

[2018-04-29 16:40] vrunoa commented on #1608
@francoFerraguti wouldnt it be better:
`Compilando Node.js desde el código fuente en las plataformas soportadas`
than
`Compilando Node.js del código fuente en las plataformas soportadas`

[2018-04-30 18:11] a0viedo commented on #1608
Compilando Node.js desde el código fuente en las plataformas soportadas

:+1:

[2018-04-30 18:50] fhemberger commented on #1608
Could someone please submit a PR for the change?

[2018-05-01 22:05] ghost commented on #1608
PR is merged, feel free to reopen if needed.

[2018-05-01 22:05] #1608 closed, assigned to nobody

[2018-05-02 14:41] loriF opened #1643 "On download page, define LTS"
* **URL**:
* **Browser version**:
* **Operating system**:

Please add the definition "(Long Term Support)" after LTS, on the download page. A student developer accidentally downloaded the latest version instead of the LTS version, because they didn't understand what LTS meant. The current text alone "Recommended for most users" doesn't indicate why it's recommended.

[2018-05-02 19:50] ghost commented on #1643
I think 'Recommended For Most Users' should stay where it is, and if we add Long Term Support below, it will consume too much space and buttons won't look symmetric.
But I think we could change LTS schedule below into Long Term Support schedule, something like this:
![image](https://user-images.githubusercontent.com/13847095/39545833-ab9ed302-4e52-11e8-8144-2d715fe27c68.png)

[2018-05-02 19:57] loriF commented on #1643
I like that, with a slight mod so the acronym is provided explicitly with the text below the buttons:
"Or have a look at the Long Term Support (LTS) schedule".

[2018-05-02 20:38] ghost commented on #1643
LGTM

[2018-05-05 10:13] #1643 closed, assigned to nobody

[2018-05-06 22:50] pin3da commented on #1608
I added the missing translation in #1642, but in the page, the content is still in English. I only changed the content in a markdown file, do I need to do something else?

Thanks (:

[2018-05-07 01:45] BlueSlimee opened #1645 "Downloading Node.JS 10.0.0 for Linux on nodejs.org returns 404"
* **URL**: https://nodejs.org/dist/v10.0.0/node-v10.0.0-linux-x86.tar.xz
* **Browser version**: Chrome Beta 67.0.3396.29
* **Operating system**: Android

When you enter on https://nodejs.org/dist/v10.0.0/node-v10.0.0-linux-x86.tar.xz you get a 404 error.

[2018-05-07 01:56] vsemozhetbyt commented on #1645
See https://github.com/nodejs/node/issues/20416

[2018-05-07 03:56] fhemberger commented on #1608
@pin3da Maybe it's a caching issue on your side, the translation is online:

![bildschirmfoto 2018-05-07 um 05 55 21](https://user-images.githubusercontent.com/153481/39684319-514bd366-51bb-11e8-9276-e08131054bd9.png)

[2018-05-07 14:56] pin3da commented on #1608
@fhemberger I just noted that the translation was missing in "index.md" too. I submitted a PR for that: #1646

[2018-05-11 08:52] bertlea opened #1649 "version 10.x do not provide linux-x86 binary download?"
Cannot find the linux-x86 binary download for version 10.   No longer supported?

[2018-05-11 15:38] mhdawson commented on #1649
See the discussion here: https://github.com/nodejs/build/issues/885

The short answer is that 32 bit was dropped for Node 10.

[2018-05-12 20:09] saitonakamura opened #1651 "doc: link to IOCP documentation is broken"
* **URL**: https://nodejs.org/en/docs/guides/dont-block-the-event-loop/
* **Browser version**: Chrome
* **Operating system**: Windows 10

Link to IOCP documentation is broken, it should lead to [https://msdn.microsoft.com/en-us/library/windows/desktop/aa365198](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365198) and there's redundant `.aspx)` text

`using a mechanism like epoll (Lin

[2018-05-13 02:48] #1651 closed, assigned to nobody

[2018-05-13 02:48] fhemberger commented on #1651
Thanks, fixed!

[2018-05-13 13:10] bertlea commented on #1649
@mhdawson Thank you for the confirmation.  It is a pity, because I am using Raspberry Pi Desktop (Debian) which only offers 32-bit version.

[2018-05-14 14:57] kkaefer opened #1653 "List N-API version in index.tab and on the release overview page"
The overview page at https://nodejs.org/en/download/releases/ and the parseable index at https://nodejs.org/dist/index.tab currently list the ABI version. However, they don't yet list the N-API version. While that version hopefully won't change anytime soon, it'd be cool to have it there in order to future-proof N-API modules and build scripts.

[2018-05-14 15:39] mhdawson commented on #1653
We'll have to think about what it would make sense to report.  We do have a number that we increase when methods are added, but version X is still compatible with version Y provided that X>=Y

[2018-05-14 15:42] gtewallace opened #1654 "Add Annual Survey Web Report"
* **URL**:
* **Browser version**:
* **Operating system**:

Hi all,

The Node Foundation has created an HTML version of the Annual Node.js User Survey report and we'd like to host it here.

We think it makes sense since we will also make the data (PII removed) available for download for others in the community to perform their own analysis. We also have some nice executive summary powerpoint slides

[2018-05-14 16:12] kkaefer commented on #1653
Yeah... I tried to figure out what the difference between `NAPI_VERSION` and `NAPI_MODULE_VERSION` is, but was unable to understand that the difference between those is.

[2018-05-14 23:11] bnb commented on #1654
@gtewallace if there's a standalone HTML version of the report, it hopefully shouldn't be too difficult PR it into this repository and get it published on the site.

@fhemberger @mhdawson @MylesBorins do y'all think we could help @gtewallace with this?

[2018-05-15 12:06] gtewallace commented on #1654
thanks @bnb

It's self contained - I have already tested publishing it as a GHP - we had it up in a matter of minutes in a test repo. That gives me confidence it *should* be relatively straightforward.

@fhemberger @mhdawson @MylesBorins I look forward to your thoughts.

Greg

[2018-05-16 13:09] mhdawson commented on #1654
+1 from me.  @fhemberger any concerns?

[2018-05-16 13:19] fhemberger commented on #1654
No, we could add all the html under `/user-survey-report` (=`locale/en/user-survey-report` in this repo.

@gtewallace Are you fine with submitting a Pull Request? Otherwise just send me a mail with the zipped report files, and I'll add it to the website.

[2018-05-16 14:36] gtewallace commented on #1654
great news! thanks all!

@fhemberger  Just to confirm, the path will be: https://nodejs.org/en/user-survey-report

Is that right?

If so, my colleague @alexcontini will update the HTML file with the new path and I will open a PR with all the assets.

Thanks again!

Greg

[2018-05-16 15:43] MikeyBurkman opened #1656 "Missing link for Node 6.x EN docs in Previous Releases"
URL: https://nodejs.org/en/docs/
Problem: It has links for all previous versions, except for Node 6 for some reason.

Looks like we could just add the link to the 6.x docs here:
https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/index.md#looking-for-api-docs-of-previous-releases
The 6.x docs do exist: https://nodejs.org/docs/latest-v6.x/api/

I can write a PR for this, just wanted to

[2018-05-16 20:34] WaleedAshraf commented on #1656
@MikeyBurkman
Good catch. I'm not sure if it's missing for reason but we can add it.
9.x is also missing: https://nodejs.org/docs/latest-v9.x/api/

I see, 8.11.2 (LTS) and 10.1.0 (Latest) are available through side nav. So we don't need to add those.

[2018-05-17 07:12] #1656 closed, assigned to nobody

[2018-05-17 08:05] fhemberger commented on #1654
We might need to adjust the HTML a bit to fit into the website design properly, but we can help you with that once you've submitted the PR.

[2018-05-17 12:35] gtewallace commented on #1654
@fhemberger awesome - that would be great. Can we keep the page private or unpublished until May 31?

@alexcontini - can you please go ahead and update the links in the tweet buttons with this path: https://nodejs.org/en/user-survey-report

 Then I'll open the PR.

Thanks!

Greg

[2018-05-18 11:50] fhemberger commented on #1654
@gtewallace What's in the GitHub repo is public. But if @alexcontini prepares everything locally and submits the PR on 31st, we're good.

[2018-05-19 20:22] mhdawson commented on #1654
@fhemberger would it make sense to add the year to the path?  ie something like /user-survey-report-2018, with possibly the link /user-survey-report pointing to the latest version.  I expect that we'll be adding one each year going forward.

[2018-05-19 21:06] detrohutt opened #1659 "Possible inclusion of "Priority Document" on the website"
There's an initiative for a priority/wishlist document I'm trying to get going with the help of @mhdawson and we're hoping for some input on whether the website may be the appropriate location for such a document.

I outlined my initial vision of the document in [nodejs/mentorship #38](https://github.com/nodejs/mentorship/issues/38) and have had further discussions to refine the idea in some meeti

[2018-05-21 14:39] 0mp opened #1660 "&& displayed as &amp;&amp;"
* **URL**:
 * en: https://nodejs.org/en/download/package-manager/#freebsd
 * uk: https://nodejs.org/uk/download/package-manager/#freebsd

I guess that it could be caused by the fact that those code blocks use sh instead of bash for syntax coloring.

[2018-05-21 20:31] WaleedAshraf commented on #1660
Yes, I think it's happening when website applies styling on GitHub markdown file.
Are you going to open a PR?

[2018-05-21 22:57] bnb commented on #1654
@mhdawson this is what we did for [Node by Numbers](https://nodesource.com/node-by-numbers) at NodeSource, and it does indeed seem to be the best path.

[2018-05-21 22:58] bnb commented on #1654
correction: We did routing on sub-paths. So /node-by-numbers and /node-by-numbers/2016

[2018-05-22 04:16] #1660 closed, assigned to nobody

[2018-05-29 02:47] vj-msft commented on #1534
@pup I am interested in joining the team as well. I work as a front End developer.

[2018-05-29 03:06] maddhruv commented on #1534
@Viru1988 please check
https://GitHub.com/Nodejs/website-redesign

[2018-05-29 07:33] NekoGuy opened #1665 "NPM version in Latest Current Version"
* **URL**: https://nodejs.org/en/download/current/
* **Browser version**: Google Chrome x64 v67
* **Operating system**: Windows 10 x64

At the top of the download page is written that "Latest Current Version: 10.2.1 (includes npm 5.6.0)" but when I installed it and used command "npm version" it says:
{ npm: **'6.1.0'**,
  ares: '1.14.0',
  cldr: '33.0',
  http_parser: '2.8.0',
  icu: '61.1',
  mod

[2018-05-29 07:39] fhemberger commented on #1665
/cc @nodejs/release

[2018-05-29 15:45] gtewallace commented on #1654
@fhemberger Hi!

On second thought, is it ok if I give you a zip with all the web report assets?

LMK if that's OK and what's the best way.

Thanks!!

[2018-05-29 19:12] fhemberger commented on #1654
@gtewallace I'll have a look at it and get back to you.

[2018-05-29 20:02] gtewallace commented on #1654
Sounds good, thanks!

On Tue, May 29, 2018, 3:13 PM Frederic Hemberger <notifications@github.com>
wrote:

[2018-05-30 14:45] Bamieh opened #1668 "doc: backpressuring in streams guide"
In the [backpressuring-in-streams](https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/backpressuring-in-streams.md#the-problem-with-data-handling) guide, this line of text should be updated:

As of node 10, [pipeline](https://nodejs.org/api/stream.html#stream_stream_pipeline_streams_callback) is introduced to solve this issue, so there is no need to reference an external utilit

[2018-05-31 07:51] #1654 closed, assigned to nobody

[2018-05-31 09:10] thom4parisot opened #1671 "Possible encoding issue on Node.js Survey mini-site"
* **URL**: https://nodejs.org/en/user-survey-report/
* **Browser version**: Firefox
* **Operating system**: macOS

I noticed some glitchy characters at the very beginning of the survey homepage.

<img width="952" alt="image" src="https://user-images.githubusercontent.com/138627/40773400-12f0c188-64c3-11e8-9c80-6f79ce48a40e.png">

[2018-05-31 09:11] WaleedAshraf opened #1672 "tabs not working on user-survey-report"
tabs are not working on user-survey-report web page.

<img width="1049" alt="screen shot 2018-05-31 at 2 07 31 pm" src="https://user-images.githubusercontent.com/8335457/40773414-44248212-64dc-11e8-9529-9653e4858dc2.png">

* **URL**: https://nodejs.org/en/user-survey-report/#profile2
* **Browser version**: Chrome
* **Operating system**: macOS

cc: @gtewallace

[2018-05-31 09:21] rvagg opened #1673 "Build complexity (added rsync)"
#1654 added the user survey microsite and the build failed on the server. The reason this happened is that we run the build inside a Docker container for a little layer of security but the build added more complexity than the container is prepared for.

https://github.com/nodejs/build/blob/master/setup/www/resources/scripts/build-site.sh

The script just does a `docker run node:latest ...` and doe

[2018-05-31 09:26] gtewallace commented on #1673
@rvagg Thank you so much for troubleshooting this!!!

There's a few things with the survey that don't seem to be working at the moment.

1. Several of the charts have tabs under them, and many of these are not loading the different views on the data
the Correlated Technologies (Beta) section isn't loading - that is driven from Graph.Html

Thanks again to @fhemberger and everyone who has helped wit

[2018-05-31 09:30] gtewallace commented on #1672
thank you @WaleedAshraf

I noticed this also, and the Correlated Technologies graph is also not showing for me.

cc @alexcontini

[2018-05-31 09:31] rvagg commented on #1673
[code]

related to that perhaps? this is in the build log. if this is a native addon then building that will be a problem. or perhaps this is a linux vs macos thing?

[2018-05-31 09:36] gtewallace commented on #1673
Don't know - @fhemberger any ideas?

[2018-05-31 09:39] rvagg commented on #1673
open dev tools console, there's some d3 javascript errors in there

[2018-05-31 09:43] gtewallace commented on #1673
gah - bummer. OK - I will ask the dev who wrote that to have a look

[2018-05-31 09:44] fhemberger commented on #1673
Already on it!

[2018-05-31 09:46] fhemberger commented on #1673
@rvagg Sorry, didn't know the build was running in a container. D'Oh!
I'm fine with a different solution than rsync, was the first one which came to my mind which allows ignoring files easily.

[2018-05-31 09:46] rvagg commented on #1673
We've thought through the URL "user-survey-report" already and how it won't scale to next year without a year number in it? Is that a problem to solve later if/when we publish another one of these?

[2018-05-31 09:46] gtewallace commented on #1673
OH thank you!!!!!

[2018-05-31 09:48] gtewallace commented on #1673
If it won't be too much work later, my preference is to leave it as is and solve next year. we have a bunch of different documents and announcements using this url already. But we can update them if others feel strongly we should do it now

[2018-05-31 09:49] fhemberger commented on #1671
Fixed in 092334ad89a97ea40d0721387aa4a270528dec44, thanks for noticing!

[2018-05-31 09:49] #1671 closed, assigned to nobody

[2018-05-31 09:51] fhemberger commented on #1673
Ok, JS issues are fixed in a558c672300346a117b1be26d1acac5a6b5eb0cc, my bad.

@rvagg Regarding the years, I think I'd go with this proposed solution: https://github.com/nodejs/nodejs.org/issues/1654#issuecomment-390807512

[2018-05-31 09:53] gtewallace commented on #1673
@fhemberger great - thanks!! Do you think it will take a few minutes for the fixed version to load? I'm still not seeing the tabs or the correlated technologies graph.

[2018-05-31 09:54] gtewallace commented on #1673
@fhemberger never mind

it's all there - you literally are my hero - both of you

[2018-05-31 09:56] fhemberger commented on #1673
Okay, everything seems to be running smoothly now.
I'll be AFK for a while, but if anything comes up just ping me and I'll have a look later.

[2018-05-31 09:57] rvagg commented on #1673
heh, yeah, that's what I thought after I posed my question since I was involved in sorting that one out too!

site's looking good, well done folks

[2018-05-31 10:11] gtewallace commented on #1673
so, this is my bad but is it possible to add this hashtag to the tweet text? #node2018survey

[2018-05-31 10:17] WaleedAshraf commented on #1672
Fixed by @fhemberger 👍  here: https://github.com/nodejs/nodejs.org/commit/a558c672300346a117b1be26d1acac5a6b5eb0cc

[2018-05-31 10:17] #1672 closed, assigned to nobody

[2018-05-31 11:37] gtewallace commented on #1673
@fhemberger in chatting with @mhdawson we wondered if it might be possible to add something to the survey report, maybe to the table of contents on the left, that says "Click here to get the raw data" and "Click here to get the PDF slides"

what do you think?

[2018-05-31 11:58] gtewallace commented on #1673
@fhemberger I also am having trouble getting to the raw data file - this link is giving a 404: https://nodejs.org/en/user-survey-report/2018-nodejs-user-survey-raw-data.xls

[2018-05-31 12:16] fhemberger commented on #1673
@gtewallace Its `.xlsx` ;)

Adding the links and the hashtag now.

[2018-05-31 12:30] fhemberger commented on #1673
Just pushed the hashtags and download links.

[2018-05-31 12:44] gtewallace commented on #1673
awesome - thanks! not seeing them on the site just yet - should show up soon, right?

[2018-05-31 12:55] fhemberger commented on #1673
Sorry, committed a while ago. Build seems to hang again. ¯\_(ツ)_/¯

[2018-05-31 12:58] gtewallace commented on #1673
@rvagg any chance you can look into why the latest commit build is hanging again?

[2018-05-31 13:11] #1645 closed, assigned to nobody

[2018-05-31 13:12] #1649 closed, assigned to nobody

[2018-05-31 14:50] ZibbyKeaton commented on #1673
I'm still getting a 404 when I used the update link for https://nodejs.org/en/user-survey-report/2018-nodejs-user-survey-raw-data.xlsx No rush as I know you are busy and I'm not sending this to media, etc.

[2018-05-31 15:08] fhemberger commented on #1673
I'm sorry, I'm too stupid to type today. Named the file `.xslx` by accident. Will fix it right away!

[2018-05-31 15:13] fhemberger commented on #1673
Pushed 22d935d9020e4b6a397f30314e2c6777bcf28d9d.

[2018-05-31 15:24] ZibbyKeaton commented on #1673
Great! Thank you so much for all your help with this @fhemberger really, really appreciate it! And thank you too, @rvagg :)

[2018-06-02 17:50] lirantal opened #1677 "Website link for /security returns 404"
Browsing https://nodejs.org/security shows a 404 while an explicit forward slash visit to https://nodejs.org/security/ works fine.

Can we fix it?

* **URL**: https://nodejs.org/security
* **Browser version**: Chrome Version 66.0.3359.181
* **Operating system**: MacOS

[2018-06-02 19:10] fhemberger commented on #1677
So do all the pages, as they implicitly resolve to `/{path}/index.html`.

[2018-06-02 19:57] lirantal commented on #1677
Not exactly.
For example, these redirect fine to their actual pages:
* https://nodejs.org/about
* https://nodejs.org/blog

https://nodejs.org/security doesn't automatically redirect.

[2018-06-11 06:11] ghost opened #1685 "[Localization] Wrong Chinese usage of `其他`"
![wrongchinesecharacter](https://user-images.githubusercontent.com/40081831/41215061-0a88c5ba-6d81-11e8-8beb-1b3584a76da4.PNG)

On the [home page of Nodejs in Chinese](https://nodejs.org/zh-cn/), there's a wrong translation of '其他'. **We should use '其它'instead** because '它' means `things without lives`. Compared with this, "他" is `He ` in English, usually means some male person.

[2018-06-11 07:13] fhemberger commented on #1685
/cc @nodejs/nodejs-cn

[2018-06-11 07:24] fengmk2 commented on #1685
@Maledong welcome to help us fix it by a pr.

[2018-06-11 07:54] ghost commented on #1685
@fengmk2 ：
Yes. I tend to follow a strict workflow：
1）Create an issue first to report to all of you.
2）If you think necessary, I'll fix it when free. Otherwises close this.

[2018-06-11 07:58] ghost commented on #1685
@fhemberger ：
Any other plans to localize the other pages?
If you have such plans, you can make a report about your plans and I'll do that when free.

[2018-06-11 08:02] laosb commented on #1685
Surely we accept translation contributions for other pages! But before you contribute, I remembered there is already a pending PR doing this. Do you mind check it out?

[2018-06-11 08:17] ghost commented on #1685
@laosb ：Which PR？
It seems I didn't find that in the `Pull Requests` before submitting it...

[2018-06-11 08:23] laosb commented on #1685
@Malegong IIt seems that the author of #1590 is willing to translate all other pages. You can try contacting him. Thanks for being willing to contribute!

[2018-06-11 08:29] ghost commented on #1685
@laosb ：Thanks for guiding me and linking my change there. And there's no conflicts between his changes and mine. So maybe there's a merge.

[2018-06-11 10:30] luminoso opened #1687 "Duplicate latest version of RPM Repository for fc26 i386"
It looks like that Fedora 26 i386 repo has a duplicate entry for the lastest nodejs release.

This instructs wrongly the dnf to install an older version instead of the latest.

### A) Example for the f26 i386 repo
URL: https://rpm.nodesource.com/pub_8.x/fc/26/i386/

[code]

DNF will try to install _nodejs-2:8.4.0-1nodesource.fc26.i686_ instead of _nodejs-2:8.11.2-1nodesource.i386_ . DNF installs 8

[2018-06-11 19:51] gtewallace commented on #1654
Hi everyone!! Is it possible to get the GA code added to the survey page/pages?

thanks again!

Greg

[2018-06-12 03:42] fhemberger commented on #1654
@gtewallace Sure: https://github.com/nodejs/nodejs.org/pull/1688

[2018-06-12 10:15] #1685 closed, assigned to nobody

[2018-06-13 07:18] fhemberger commented on #1687
Hi, the RPM repository is provided by NodeSource, not by the website team.

@bnb @rvagg Could you please look into it?

[2018-06-13 13:40] bnb commented on #1687
Reached out internally at NodeSource to @chrislea to see what the issue is 👍

[2018-06-13 16:50] chrislea commented on #1687
There's no version of the newest Node.js releases for FC26 in the NodeSource repositories, because FC26 is EOL, so we're not pushing anything new out for that distribution.

https://fedoraproject.org/wiki/End_of_life

[2018-06-13 17:17] #1687 closed, assigned to nobody

[2018-06-19 05:05] AmuMr opened #1706 "hexo init 问题"
* **URL**: 39120612@qq.com
* **Browser version**: Google Chrome 已是最新版本
版本 67.0.3396.87（正式版本） （32 位）
* **Operating system**: win10 64位

[2018-06-19 06:49] fhemberger commented on #1706
Looks like you got the wrong repo, if not, please reopen and provide more context.

[2018-06-19 06:49] #1706 closed, assigned to nobody

[2018-06-19 09:05] lepture commented on #1685
「其他」并没有错，「它」是后来的“新造字”，用来指代 it，正如「她」也是新造字，用来指代 she。这就导致现代人认为「他」仅仅表示 he 了。

但是并不是这样的，「他」是泛用字，表示非第一人称非第二人称。正如我们不用「其她」，我们也不应该用「其它」，事实上「其它」是一种误用，没有所谓有生命没生命。

1. https://www.moedict.tw/%E5%85%B6%E4%BB%96

[2018-06-19 13:43] lepture commented on #1685
FYI: http://old.pep.com.cn/xiaoyu/jiaoshi/tbjx/xy_jcdy/xydy7/201008/t20100818_663715.htm

[2018-06-30 18:23] fhemberger opened #1714 "Add new contributors (June 2018)"
[code]

/cc @bnb @Trott @MylesBorins

[2018-07-08 00:00] Trott opened #1717 "very messed up formatting on 2011 blog page listing"
* **URL**: https://nodejs.org/en/blog/year-2011/
* **Browser version**: Chrome 67
* **Operating system**: macOS

<img width="1273" alt="screen shot 2018-07-07 at 5 00 17 pm" src="https://user-images.githubusercontent.com/718899/42415556-43da195a-8207-11e8-902c-4c7b28b60325.png">

[2018-07-08 06:43] fhemberger commented on #1714
Could one of the GitHub org owners please add the new contributors?
I don't have sufficient rights for this.

/cc @bnb @Trott @MylesBorins @Fishrock123 @mhdawson

[2018-07-08 12:31] fhemberger commented on #1717
Fixed in `ecfdb0a`.

[2018-07-08 12:31] #1717 closed, assigned to nobody

[2018-07-08 14:49] Trott commented on #1714
Just in case anyone is wondering about the details here: While @fhemberger is a Maintainer for `@nodejs/website`, that only provides the permissions to add existing org members to the team. I'm guessing most or all of these folks are not org members (but they will be once they are added to the team!).

[2018-07-08 15:05] Trott commented on #1714
@fhemberger Just to make sure I understand the request correctly: You want all these people added to the `@nodejs/website` team? Is that correct?

[2018-07-08 16:43] fhemberger commented on #1714
@Trott Yes, you're right, please add them to `@nodejs/website`.

Already added a feature request to automate this through a GitHub bot:
https://github.com/nodejs/bot-love/issues/1

[2018-07-08 19:33] Trott commented on #1714
OK, all done!

[2018-07-08 19:33] #1714 closed, assigned to nobody

[2018-07-08 21:08] fhemberger commented on #1714
@Trott Woohoo, thanks!

[2018-07-09 12:00] drzippie commented on #1677
The valid URL is https://nodejs.org/{lang_code}/security/

https://nodejs.org/en/security/
https://nodejs.org/ja/security/
https://nodejs.org/es/security/

https://nodejs.org/security/ or https://nodejs.org/security  always returns 404

The last versión (development) works:

[code]
HTTP/1.1 302 Found
**location: en/security**
Date: Mon, 09 Jul 2018 12:04:18 GMT
Connection: keep-alive

[2018-07-09 12:25] lirantal commented on #1677
Not sure if you are supporting the bug or not :-)

What I'm saying is, just like browsing `https://nodejs.org/about/` redirects to `https://nodejs.org/en/about/` I would expect the same behavior for the security resource

[2018-07-09 12:57] fhemberger commented on #1677
This dates back to the old Node.js website (before having multiple languages), therefore the redirects exist. But we could add them for all top level pages, just to be sure.

[2018-07-10 20:14] ZibbyKeaton opened #1730 "Addin JS Interactive to website homepage?"
I wanted to see if it would be possible to add a link to JS Interactive to the website? Either as a banner as we've done with the security warning or as a potential tab that links back to the JS Interactive website - see what JS Foundation has done: https://js.foundation.

We've done this in the past with Node.js Interactives and its driven a lot of traffic to our event websites. Please let me kno

[2018-07-11 05:17] fhemberger commented on #1730
@ZibbyKeaton Sure, let's do this. Should we link to https://events.linuxfoundation.org/events/js-interactive-2018/ directly?

I made a quick mock how a banner could look like on the website:

![](https://user-images.githubusercontent.com/153481/42551962-5274fdc4-84da-11e8-9e05-7e242df00704.jpg)

[2018-07-11 13:45] ZibbyKeaton commented on #1730
@fhemberger I think this looks great. I don't know if we could stick a mini button in there that states "Learn More" and when folks click on it they can go directly to the website. If that's too much, then I think this would be perfect. I would agree that we send them directly to the homepage of the event site. If we could use this UTM that would be much appreciated: https://events.linuxfoundation

[2018-07-11 14:40] ZibbyKeaton commented on #1730
@fhemberger I was able to pull this banner graphic that we've already created around this to make it easier - see here: https://drive.google.com/file/d/19EpcU3uiGYRKeGsFjKHT_AMm_gZALZp4/view

[2018-07-11 15:36] fhemberger commented on #1730
@ZibbyKeaton Sure, link and UTM is no problem.

Your banner graphic is a bit larger than the one I came up with, this is how it would look:

a) at the same with of the content (735px wide)
b) adjusted to the width of the two download buttons (515px wide)

![new_banner](https://user-images.githubusercontent.com/153481/42582693-1bfeffaa-8530-11e8-977b-297ec236500d.jpg)

---

![new_banner_v2](https:/

[2018-07-11 15:38] ZibbyKeaton commented on #1730
I like option b, but will defer to those that have a design mindset :)

[2018-07-13 14:03] ZibbyKeaton commented on #1730
Let me know if there's anything else you need from me here @fhemberger

[2018-07-13 14:35] fhemberger commented on #1730
@ZibbyKeaton Was hoping for some more feedback. Personally, I'd still prefer option c. ¯\_(ツ)_/¯

Will add the banner over the weekend.

[2018-07-13 15:18] sonicdoe commented on #1730
If you don’t mind, here’s my two cents ([option B](https://user-images.githubusercontent.com/153481/42582692-1bd81b06-8530-11e8-9e87-cf70d612e281.jpg) vs. [option C](https://user-images.githubusercontent.com/153481/42583169-c29182f2-8530-11e8-8e57-f43010fb3cf4.jpg)):

- The text is easier to read in C. The dark blue text on the black background is hard to read in B.
- The font in C fits with the r

[2018-07-13 16:06] bjb568 commented on #1730
I like how the text in option C is aligned left and right against the edge of the container, making the grid-ness of the layout feel more natural. However, with C more than B, due to the smaller margins, it looks like an abrupt transition from a light theme to a dark theme. I like that C is more efficient with space, so I think the best option would be a variant of C with a lighter background colo

[2018-07-13 19:46] WaleedAshraf commented on #1730
I would suggest
"C" with background colors of "B" (dark colors are looking good)
OR
Remove the "SEE THE LINEUP" button from "B" and change the text color from "Blue" to "White"

[2018-07-13 20:04] fhemberger commented on #1730
Sorry, I don't have the original layered image, so I can't do combinations of both. Will start with C for now …

[2018-07-14 08:12] #1730 closed, assigned to nobody

[2018-07-16 06:50] ghost opened #1741 "Quote doesn't look well"
Hi all:

Review of the nodejs.org, look at this: https://nodejs.org/en/docs/guides/blocking-vs-non-blocking/.

Now you'll see this:
![capture](https://user-images.githubusercontent.com/40081831/42745853-7d902d5e-8907-11e8-800e-5d3653dfde0e.PNG)

This pharagraph in blue doesn't look well, Are you sure to make it like this? Should any changes apply on that style?

[2018-07-16 06:54] fhemberger commented on #1741
I think we can remove the block quote here. Thoughts @nodejs/website?

[2018-07-16 06:58] ghost commented on #1741
PS：I've removed that and this is the style here on my local machine. Waiting for your response of good ideas :)

![good](https://user-images.githubusercontent.com/40081831/42746062-a352e5bc-8908-11e8-8e6a-78ed3e05bbdf.PNG)

[2018-07-16 07:02] pierreneter commented on #1741
I think this `blockquote` can be styled like this:

<img width="1079" alt="screen shot 2018-07-16 at 2 01 21 pm" src="https://user-images.githubusercontent.com/12815768/42746189-c2678e06-8900-11e8-8574-f36a44b4b31d.png">

[2018-07-16 07:20] ghost commented on #1741
@pierreneter：How do you cope with that? The original codes are using `>` as blackquotes. And it seems well in VS but not well in the real browser...?
![image](https://user-images.githubusercontent.com/40081831/42746740-ea9ed9be-890b-11e8-967a-8c24760993f4.png)

[2018-07-16 08:44] #1741 closed, assigned to nobody

[2018-07-16 15:45] ZibbyKeaton commented on #1730
Know this is closed, but just want to thank everyone in this thread for helping me with this and special shout out to @fhemberger! Thank you and I hope everyone has a lovely week.

[2018-07-24 17:05] JakeCalkins commented on #1460
Scrolling is like a slow motion rubber banding effect for me, when I scroll down it moves like molasses then speeds up rapidly towards the end. I imagine it's some sort of smooth scrolling issue or a scroll to top issue like mentioned by @Tiriel .

**URL** | All
**Browser** | Chrome Canary* Version 70.0.3501.0 (Official Build) canary (64-bit) on win 8

edit: only appears to be on Chrome Canary (wi

[2018-07-25 21:50] ZibbyKeaton opened #1745 "Update to Node.js Newsletter"
Nothing urgent, but I noticed on the home tab that it states Node.js Everywhere is a weekly newsletter, but we've changed it to monthly. I don't think I have access to the home tab to make this fix. Happy to follow someone's directions on this, but don't want to mess anything up.

Thanks in advance for any help here :)

[2018-07-26 03:17] ghost opened #1746 "Different kinds of nodejs for different kinds of languages for `ca` and `en` or other pages?"
If you take a close look at `ca`, there are some pages missing in `en`, so which is right?
Take this as an example:
We don't have **Comunitat Brasileira de Node.js(http://nodebr.com/).**

@nodejs/nodejs-tw：
And in `ca` page（https://nodejs.org/ca/get-involved/）, we have a TW page:

![tw](https://user-images.githubusercontent.com/40081831/43239496-08fa8898-90c5-11e8-8924-7ee6ca287d3f.PNG)

But in ot

[2018-07-26 04:30] fhemberger commented on #1746
@Maledong `nodejs.tw` is a dead link and was removed from the other languages a while back. Must have re-appeared by accident.

The Brazilian page seems to be more a general blog about Node.js with the last entry dated November 17, 2016. I think we can remove it as well.

[2018-07-26 07:07] ghost commented on #1746
Thanks all, this is fixed by https://github.com/nodejs/nodejs.org/pull/1748

[2018-07-26 07:07] #1746 closed, assigned to nobody

[2018-07-28 03:27] ghost opened #1754 ""Do Not Track" is enabled since IE9, it has nothing to do with the platform?!"
For `dnt_helper.js` in `node.org`, I've noticed there's a snippet of codes to tell whether the user has enabled `dnt tracker` or not, some of them are (take key parts):

function _dntEnabled(dnt, userAgent) {

    'use strict';

    // for old version of IE we need to use the msDoNotTrack property of navigator
    // on newer versions, and newer platforms, this is doNotTrack but, on the window obj

[2018-07-28 05:44] ghost commented on #1754
No problem, I misunderstood what the codes mean：You wanna set when automatically DNT = 1, ignore it. I closed this.

[2018-07-28 05:44] #1754 closed, assigned to nobody

[2018-08-02 08:47] ghost commented on #1668
@Bamieh：Thanks and I've included the submit. Feel free to submit your ideas.

[2018-08-04 08:15] #1668 closed, assigned to nobody

[2018-08-04 14:10] xela92 opened #1760 "How to contribute with translations"
Hi there,

I wanted to help translating the website in Italian, i pulled the project and started translating but I can't understand how's the procedure to send translations back to the team.

Can you please help me understand?

Thank you

[2018-08-04 15:43] fhemberger commented on #1760
Hi Alex,

there's a team @nodejs/nodejs-it which worked on the Italian translation so far.
They have a [separate repo](https://github.com/nodejs/nodejs-it) for discussing translation topics, but I don't know if the team is currently active at all. But team membership is not required for submitting any translations.

We're super happy that you want to contribute! The "process" is basically that you

[2018-08-06 17:51] xela92 commented on #1760
Thanks for your help Frederic 👍
I submitted a pull request, I saw the page about nodejs-it but it seems really inactive.
Later on in August I will submit all the pages to complete the IT translation (hopefully, if the team approves) 😄

Thank you again!

[2018-08-06 17:51] #1760 closed, assigned to nobody

[2018-08-11 04:23] ghost commented on #1665
This also happens in the LTS version:

![errorversion](https://user-images.githubusercontent.com/40081831/43988109-1e86db46-9d61-11e8-874c-48e71e0c164d.PNG)

And actually it is:
![errorversion2](https://user-images.githubusercontent.com/40081831/43988114-424bd554-9d61-11e8-9c6e-20166c9703b8.PNG)

[2018-08-11 04:44] ghost commented on #1573
Since PR #1603 is submitted now, so this issue should be over here. I'm closing it.
Thanks @dmcghan.

[2018-08-11 04:44] #1573 closed, assigned to nobody

[2018-08-11 04:49] MylesBorins commented on #1665
Can you run `which npm`?

The 8.x line currently still ships with npm 5.6.0

Perhaps you installed a more recent version on your system?

[2018-08-11 06:20] ghost commented on #1665
No. I've just installed node (if you see my screenshot above, it's 8.11.3).

Here's the screenshot of my control panel:

![cpd](https://user-images.githubusercontent.com/40081831/43988886-95f88106-9d71-11e8-9110-489aa481a3e1.PNG)

And there's only one Node on my PC. My operation is Windows 8.1 (x86). So `which npm` may be Linux command?

PS：I just uninstalled and re-installed it, but nope:(

[2018-08-11 06:41] ghost commented on #1665
I did some experiments on Nodejs 10.8.0, there still exists the problem?

The step is:
Uninstalled Nodejs 8.11.3, and then installed the 10.8.0 (it SHOULD include npm 6.2.0).

Now the result is:
![cpd](https://user-images.githubusercontent.com/40081831/43988961-a1ee8efe-9d73-11e8-9e07-2b68dea6f5a6.PNG)

[2018-08-11 15:48] MylesBorins commented on #1665
This seems like it is likely something with your system

Here is where the npm package.json is in the 10.8.0 release, as you can see it is explicitly 6.2.0. We never shipped 6.1.0

https://github.com/nodejs/node/blob/89f483b5c18590235ad55d55842b5a2a0c9fa89c/deps/npm/package.json#L2

Here is fresh install of v10.8.0 on my system where you can clearly see it ships with 6.2.0

<img width="672" alt="s

[2018-08-13 06:30] rbfriedman commented on #1745
Can I assign this to myself? I am a new contributor to the project

[2018-08-13 08:22] fhemberger commented on #1745
@rbfriedman Hi, this is already addressed in #1747, we are just waiting for an Arabic translation.

[2018-08-14 12:16] #1745 closed, assigned to nobody

[2018-08-16 02:09] rvagg opened #1769 "release-post.js script should ignore 32-bit binaries for intel and sunos"
I'd fix this but I'm currently doing releases and am likely to be too exhausted at the end to get around to this.

./scripts/release-post.js needs to not put "Coming soon" for 32-bit binaries for Linux x86 or "sunos" x86 for Node 10+, they're deprecated. But it should still do it for 6 & 8. I think the best way might be to put metadata in scripts/helpers/downloads.js to indicate this and filter th

[2018-08-20 01:06] ghost commented on #1769
Well, this issue is fixed and landed here: https://github.com/nodejs/nodejs.org/commit/f0818db4c8dd29df9a640ff31ea172b81a864ffd

So I closed this and for any other problems, please feel free to re-open.
Thanks anyway!

[2018-08-20 01:06] #1769 closed, assigned to nobody

[2018-08-22 09:30] mat-ale commented on #1551
+1, same problem currently in Italy

[2018-08-22 09:33] fhemberger commented on #1551
This will be discussed during the relaunch planning of the nodejs.org website.

[2018-08-22 16:09] refack commented on #1551
I'm generally +1 on this. It's just that we have > 30 variants of each release (including nightlies and daily V8 canary builds). This should to be addressed from a UX perspective.

[2018-08-23 20:57] ZibbyKeaton opened #1776 "Update homepage with Interactive rebrand"
We recently rebranded JS Interactive to Node+JS Interactive to reflect both of our communities in the conference title. Wondering if we could update the banner on the website with this new change? Let me know what you might need here to make this happen, and thank you in advance for helping me out with this!

[2018-08-23 21:52] fhemberger commented on #1776
@ZibbyKeaton Can you send me the PSD file of the new banner so I can adapt it?

[2018-08-24 14:45] ZibbyKeaton commented on #1776
GitHub doesn't support the PSD file type @fhemberger. Should I send it to you in email or what's the best way to get this to you?

[2018-08-24 14:54] fhemberger commented on #1776
@ZibbyKeaton Can you share it on a Google Drive or something similar and send me the link: `mail` `@` `frederic-hemberger.de`?

[2018-08-24 15:32] ZibbyKeaton commented on #1776
Just sent, let me know if you received this :)

[2018-08-25 07:18] fhemberger commented on #1460
@Tiriel @JakeCalkins Could you please check out https://github.com/nodejs/nodejs.org/tree/fix/scroll, run `npm run serve` and check if the scrolling improves?

[2018-08-25 23:11] JakeCalkins commented on #1460
Seems fixed to me, but I am using a different machine (same browser, different version) as when I originally posted so cannot scientifically confirm.

[2018-08-26 03:37] ghost opened #1778 "The title `collab-submit` itself is missing with translations"
In `site.json`, suddenly I found that the `collab-submit`'s tranlation itself is missing. So we should need to make up for that :)

![image](https://user-images.githubusercontent.com/40081831/44624536-5af8bb80-a923-11e8-9435-f2aeb87cf0d9.png)

Ref:  https://github.com/nodejs/nodejs.org/pull/1777/commits/ba462845320ee37d64d7e86c69a59570f996a038#diff-44845960569e9ce53bd39cf9aadc07b2

/cc：
@nodejs/no

[2018-08-26 21:21] kzvi opened #1779 "Link to EventMachine is broken"
* **URL**: https://nodejs.org/en/about/
* **Browser version**: safari
* **Operating system**: osx

There is a link on https://nodejs.org/en/about/ titled "Event Machine" which links to `rubyeventmachine.com`, but there is nothing at that website related to programming.

[2018-08-27 02:54] fhemberger commented on #1779
Hmm, looks like someone forgot to pay for their domain. ;)
We should link to https://github.com/eventmachine/eventmachine instead.

Thanks for reporting!

[2018-08-27 03:11] willin commented on #1779
@sodabrew please notice that your domain has already expired

[2018-08-27 05:02] sodabrew commented on #1779
Unfortunately that happened. Please do update your link to GitHub directly.

[2018-08-27 05:45] #1779 closed, assigned to nobody

[2018-08-27 14:30] #1776 closed, assigned to fhemberger

[2018-08-27 14:33] #1673 closed, assigned to nobody

[2018-08-29 13:31] #1460 closed, assigned to nobody

[2018-08-30 15:45] refack opened #1785 "PSA: API documentation linking to source"
Original issue: https://github.com/nodejs/node/issues/22393
First implementation: https://github.com/nodejs/node/pull/22405
Example: https://nodejs.org/download/nightly/v11.0.0-nightly2018083060465700ed/docs/api/buffer.html#buffer_class_method_buffer_alloc_size_fill_encoding
![image](https://user-images.githubusercontent.com/96947/44863074-2437e380-ac4a-11e8-8a2e-e9a517b883a2.png)

/CC @nodejs/web

[2018-08-30 15:45] refack commented on #1785
H/T: @rubys

[2018-09-02 07:13] ZYSzys opened #1789 "member list not found"
The [member list](https://github.com/orgs/nodejs/teams/website/members) link on README.md is 404 not found.
* **URL**:https://github.com/nodejs/nodejs.org#website-working-group-members
* **Browser version**: Safari
* **Operating system**:macOS

Is it private or doesn't exist ?
If it is private, isn't it unnecessary to show this in README while other users can't visit ?

[2018-09-02 10:35] amandeepmittal commented on #1789
The link you commented is a bit incorrect. Here is the correct link https://github.com/nodejs/nodejs.org/#website-working-group-members

[2018-09-02 12:53] fhemberger commented on #1789
Hmm, looks like group listings are now private on GitHub. 🤔

[2018-09-02 13:17] ZYSzys commented on #1789
So do we need to remove it or do something ...?

[2018-09-03 13:08] fhemberger commented on #1789
Yeah, we should probably remove it …

[2018-09-03 13:10] #1789 closed, assigned to fhemberger

[2018-09-13 06:15] ghost opened #1806 "Local Building is broken"
Now up to the latest version of Nodejs's org source code (Mine is at 68939e09ad1c98926ab892fcd864ccd036a37ca5). I suddenly found that I cannot use `npm run build` to build a native local running website to have a view……:(

And it used to be well...

Have you found this bug yet?

![2](https://user-images.githubusercontent.com/40081831/45470381-2fb5ff00-b760-11e8-8cd2-7595fe669eaf.PNG)

/cc: @nodejs

[2018-09-13 06:22] fhemberger commented on #1806
Hmm, works for me: Latest node.js 10.10.0 (macOS), clean `npm install`, `68939e0` (master). What version of Node are you using?

[2018-09-13 06:29] ghost commented on #1806
Node v8.11.4, thanks @fhemberger.

![2](https://user-images.githubusercontent.com/40081831/45470727-69d3d080-b761-11e8-8415-a53615d93510.PNG)

PS：I've removed node_module and use `npm i`, but the failure still occurs.... :(

[2018-09-13 06:47] ghost commented on #1806
@fhemberger：For v8.12.0, everything goes right. Now I'm using this version. Perhaps this is due to compatible problem?!
![2](https://user-images.githubusercontent.com/40081831/45471516-e5cf1800-b763-11e8-973b-62b07095219e.PNG)

[2018-09-13 06:47] AyushG3112 commented on #1806
Working with me on Node v8.11.4 on top of master.

On Thu 13 Sep, 2018, 11:59 AM Maledong, <notifications@github.com> wrote:

[2018-09-13 06:50] osk2 commented on #1806
I saw `ECONNRESET` in error message. It may be caused by temporary network problem?

[2018-09-13 06:53] ghost commented on #1806
@osk2：Not sure, but everything goes well with me on Node 8.12.0 :)
Nothing but just leave it as an issue if anyone else finds this. Maybe after upgrade to the latest version of Nodejs everything goes well with me soon, strangely speaking! Hahaha……

[2018-09-13 06:54] #1806 closed, assigned to nobody

[2018-09-13 15:07] AyushG3112 opened #1808 "Should the "Don't Block the Event Loop" guide be updated to reflect the `worker_threads` module?"
Should the [Don't Block the Event Loop](https://nodejs.org/en/docs/guides/dont-block-the-event-loop/) guide be updated to reflect the `worker_threads` module as a way to offload blocking work to a worker as a way to, well, not block the event loop?

[2018-09-14 12:10] jasnell opened #1809 "Update NearForm logo"
NesrForm have recently updated our logo. The logo on the website foundation members page needs to be updated. There are two options, each given below.

![nf_shared_brand_assets_logo_horizontal_positive](https://user-images.githubusercontent.com/439929/45549310-ad910d80-b827-11e8-896c-79a5342a0757.png)
![nf_shared_brand_assets_logo_horizontal_reverse](https://user-images.githubusercontent.com/43992

[2018-09-14 12:35] fhemberger commented on #1809
@jasnell Pages about Foundation membership are not handled through this repo any longer. We also don't have access to the Foundation website's admin interface. Maybe @ZibbyKeaton or @gtewallace can help.

[2018-09-14 13:14] jasnell commented on #1809
Yep, that I knew, but it's not obvious where to go :)

[2018-09-14 14:18] ZibbyKeaton commented on #1809
@jasnell we updated it on the NF website. If you have requests on NF website, feel free to send to Greg and me directly via email or ask NearForm marketing team to send. Like the new logo :)

[2018-09-14 14:24] fhemberger commented on #1809
Thanks @ZibbyKeaton! Closing.

[2018-09-14 14:24] #1809 closed, assigned to nobody

[2018-09-18 14:26] jeromecovington opened #1813 "Should microtask queue explanation live in existing event loop docs?"
Does it seem like there should be a bit more attention given to the microtask queue in the docs?

If so, should it be a brief addendum to the existing [event loop docs](https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/event-loop-timers-and-nexttick.md) or should it get its own place?

Little discussion here already: https://github.com/nodejs/promises-debugging/issues/14

[2018-09-20 11:46] targos opened #1815 "release-post.js script should ignore PPC BE 64-bit Binary"
Similar to https://github.com/nodejs/nodejs.org/issues/1769

PPC BE is not supported above Node 8: https://github.com/nodejs/build/blob/060809a571c133da35051136023ec19006a275a7/jenkins/scripts/VersionSelectorScript.groovy#L49-L50

[2018-09-20 20:53] boneskull opened #1817 "bad relative links in blog feed"
The blog feed (https://nodejs.org/en/feed/blog.xml) has a base "channel link" of `https://nodejs.org/en/`.  Bare anchor links fail to work, e.g., `#notable-changes`, because they resolve *relative* to the channel link.  For example: `https://nodejs.org/en/#notable-changes`.

I think the channel link needs to point to `https://nodejs.org/<lang>/blog/`.

[2018-09-20 21:48] mhdawson commented on #1815
I assume it still needs to support PPC BE for 6.x releases, right?

[2018-09-20 22:13] boneskull commented on #1817
I have spent a bit of time looking in to fixing this, and it's not clear where the fix needs to be:

- are we missing some metadata somewhere?  if so, where?  at the collection level, post metadata level, etc?
- does the `channel > link` need to change *away* from the site's root?
- do we need to add an `xml:base` somewhere (e.g., on `item`)?
- is there a bug in `metalsmith-feed`?

But I *have* co

[2018-09-21 14:41] targos commented on #1815
Yes

[2018-09-24 10:42] ghost commented on #1815
Fixed at https://github.com/nodejs/nodejs.org/pull/1819.

[2018-09-24 10:42] #1815 closed, assigned to nobody

[2018-09-25 13:39] fhinkel opened #1822 "Next Code & Learn events missing"
We have at least two Code & Learns coming up but they're not listed on [Nodejs.org](https://nodejs.org/en/get-involved/code-and-learn/).

The two events are at NodeConfEU and Interactive, see [here](https://github.com/nodejs/code-and-learn/issues) for details.

Changes need to be added here:
https://github.com/nodejs/nodejs.org/blob/09d663cfd4c61eb5ac343033af460af19bcf6aec/locale/en/get-involved/c

[2018-09-25 21:10] webpty opened #1823 "[macOS 10.14] pkg installer is stuck"
Posting here as this is not an issue with node.js itself

* **URL**: downloads
* **Browser version**: Chrome Version 70.0.3538.22 (Official Build) beta (64-bit)
* **Operating system**: macOS Mojave 10.14 (18A391)
* **Downloaded file**: `node-v10.11.0.pkg`

Attempting to update node after  ##OS update, and I'm stuck on this screen of the installer:
![node-mojave](https://user-images.githubuserconte

[2018-09-25 21:22] webpty commented on #1823
after attempting the install with `brew` command line, i got this message:
![screen shot 2018-09-25 at 4 17 42 pm](https://user-images.githubusercontent.com/11739306/46043831-a4812580-c0de-11e8-966b-c9ae7a2996e9.png)
So the package was installed but the process was not finished.
I followed the indications, and now have 10.11 installed.
I'm not sure it's an issue with the package with this OS versi

[2018-09-26 04:21] fhemberger commented on #1823
The Node.js installer is part of [nodejs/node](https://github.com/nodejs/node), please open an issue there.
Closing, because it's not an issue with the website itself.

[2018-09-26 04:21] #1823 closed, assigned to nobody

[2018-09-27 20:09] #1822 closed, assigned to nobody