[2018-10-04 17:15] ghost commented on #1534
Hi, I am a member of the metalsmith team and the maintainer of metalsmith-layouts, which is used to build (the static part of) the current website. I was just taking a look at this repo and saw that there’s help wanted with this issue.

I’d like to contribute back to node, is metalsmith something you’re considering for the new build tooling? If that’s the case let me know, I’d be happy to help!

[2018-10-06 04:35] fhemberger commented on #1534
Hi @ismay, thanks for the offer! We're currently in the planning phase for the relaunch (structure, content, design, etc.) and haven't decided on any technical implementations yet.

You can follow the progress in the issues here:
https://github.com/nodejs/website-redesign/issues/

[2018-10-06 10:00] ghost commented on #1534
Cool, I’ll keep an eye on the issues there, and feel free to ping me if there are any questions/jobs where I could contribute (if it does become part of the stack).

[2018-10-07 03:25] ghost opened #1829 "Do we need a document-abandoned request for `nodejs/iojs.org` in `GOVERNANCE.md`？"
Hello all：

According to https://iojs.org/en/, it seems that we WON'T put any releases in IO.js now. So：

1）Is this repository JUST for a historical one？
2）Do we need to remove or add comments saying this website is NO LONGER used because it's merged since v4 of Nodejs in `GOVERNANCE.md`？

![image](https://user-images.githubusercontent.com/40081831/46577909-1ed97000-ca24-11e8-9064-58e3d3489683.png

[2018-10-07 05:00] fhemberger commented on #1829
iojs.org is going to be removed anyway:
https://github.com/nodejs/iojs.org/issues/432

[2018-10-09 04:06] a0viedo commented on #1829
maybe it's something that can be revisited in the following contributor summit @bnb @jasnell @Trott

[2018-10-09 18:10] mAPBhlJ opened #1831 "/download/package-manager page will get outdated."
I was installing NodeJS through the installation instructions on the following page:
https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

However, it does not list Ubuntu 18.04 as supported.
Though, when checking the #Node.js freenode web IRC, they've pointed me to the website:

https://github.com/nodesource/distributions/blob/master/README.md

Where it does

[2018-10-15 05:12] AM-77 opened #1841 "https://nodejs.org/docs/"
* **URL**: https://nodejs.org/docs/
* **Browser version**: chromium 69
* **Operating system**: LinuxMint

https://nodejs.org"/en"/docs/
https://nodejs.org"/en"/download/

when remove the "/en" it shows the indexof page with all of the server content instead of the 404 page.

[2018-10-15 07:17] patelvanita360 opened #1842 "How can integrate PHP API in node js ?"
Can any send me example code for how to integrate PHP API in node js ?

[2018-10-15 08:08] aks- commented on #1842
@patelvanita360 what do you mean by integrating php api in node? like being able to use php library in node? or being able to call api endpoints using node?

[2018-10-15 08:12] fhemberger commented on #1842
Also, this is not a topic for the Node.js website.
Could you please open a new issue with more context in https://github.com/nodejs/help/issues

Closing.

[2018-10-15 08:12] #1842 closed, assigned to nobody

[2018-10-15 13:54] ZibbyKeaton opened #1843 "Take down Node+JS Interactive banner - highlight release changes?"
Node+JS Interactive is officially over, so we can take the banner down for the homepage :) Thank you for letting us post about it on the website!

One additional thought:

Our website gets a ton of traffic, and I think it's a great way to reach folks that might not connect with us on social or GitHub. Do we want to link to our release update once we have it up or is there another major CTA that we

[2018-10-15 20:44] WaleedAshraf commented on #1841
Or it should redirect to some default English version.

[2018-10-15 23:24] refack commented on #1841
https://nodejs.org/docs/ is the repository of all released API docs by version, its not an indexof. Similarly https://nodejs.org/download/.
It's a feature, maybe not intuitive, but intentional. (and makes it so we don't have a prefered language...)

P.S. we even link to it (almost) from the README https://github.com/nodejs/node#download

[2018-10-16 02:07] #1841 closed, assigned to nobody

[2018-10-21 16:51] doom-fr opened #1847 "In french nodejs website node v10 unavailable"
* **URL**: https://nodejs.org/fr/download/current/
* **Browser version**: Version 69.0.3497.100 (Build officiel) (64 bits)
* **Operating system**: Windows 10

In french website, in download page, current version tab can't be activate (if you click on "actuelle", "LTS" remains active).
And so, only node v8 is downloadable.

On the main page it works, but I wan't to download linux version from windo

[2018-10-22 04:50] fhemberger commented on #1847
Thanks, found the issue. This will be fixed shortly.

[2018-10-22 15:23] #1847 closed, assigned to nobody

[2018-10-25 14:03] kibertoad opened #1855 "Note 10 is not suggested for download as LTS"
Node 8 is a suggested option to download as LTS and Node 11 is a Current option; Node 10 is not available anymore in main screens.

[2018-10-25 14:25] vsemozhetbyt commented on #1855
Note.js 10 is not LTS yet. The transition will happen soon since the 10.13.0 version.

[2018-10-25 14:28] kibertoad commented on #1855
Thanks for clarification!

[2018-10-25 14:28] #1855 closed, assigned to nobody

[2018-10-25 17:16] davisjam opened #1857 "Add link to calendar somewhere obvious"
I've tried a few times to find the [calendar](https://nodejs.org/calendar) by Googling. Sometimes I succeed and sometimes I fail. It is never easy.

Can we put the calendar somewhere reasonably prominent on the website? Perhaps on the [Get Involved](https://nodejs.org/en/get-involved/) page?

[2018-10-28 03:51] #1857 closed, assigned to nobody

[2018-10-28 04:14] #1665 closed, assigned to nobody

[2018-10-28 07:18] ZYSzys opened #1867 "Nominating @ZYSzys as a collaborator"
As a Node.js enthusiast❤️, I'd like to nominate myself as a Collaborator with several commits and consistent engagement in `nodejs.org`.
And I'd love to contribute to this repo again in the future when needed.

Commits: https://github.com/nodejs/nodejs.org/commits?author=ZYSzys
Comments: https://github.com/nodejs/nodejs.org/search?q=commenter%3AZYSzys&type=Issues

[2018-10-28 07:42] fhemberger commented on #1867
Haha, no need to do that. We regularly add contributors to the Node.js org. But as it's a manual process at the moment, we do it in batches. (We have to come up with something better.) So please, bear with me for just a little longer. 🙏

So thank you very much for all your contributions, you really helped us a lot!

[2018-10-28 08:40] ZYSzys commented on #1867
Aha, I'm a bit of excited and can't wait to be a part of nodejs org.😎

Waiting for your invitation~~~👻.

[2018-10-28 12:09] #1867 closed, assigned to nobody

[2018-10-30 20:31] rednaxe7 opened #1870 "Node LTS ENOENT: no such file or directory 32 bits Lubuntu"

[2018-10-31 04:11] fhemberger commented on #1870
Uhmm … could you please be a bit more specific where you got this message and/or provide an URL?

[2018-10-31 12:40] fhemberger commented on #1831
Fixed in #1832.

[2018-10-31 12:40] #1831 closed, assigned to nobody

[2018-10-31 12:44] fhemberger opened #1872 "Add new contributors (October 2018)"
@bnb @Trott @MylesBorins

[code]

Also, please add @AliSawari, @m-esm, @armanatory and @anio to `@nodejs/nodejs-fa`.

Thanks everyone for your contributions!

[2018-10-31 12:45] fhemberger commented on #1867
See #1872

[2018-10-31 14:14] rednaxe7 commented on #1870
Yes, the url: https://nodejs.org/dist/v10.13.0/node-v10.13.0-linux-x86.tar.xz

I want to know if they will not give more support? to 32 bits?

Thank you

[2018-10-31 14:35] fhemberger commented on #1870
Node.js dropped Linux 32bit support in 10.x:
https://github.com/nodejs/build/issues/885

Needs to be fixed on the website.

[2018-10-31 14:36] #1870 closed, assigned to nobody

[2018-10-31 14:39] fhemberger commented on #1870
Ref: #1873

[2018-10-31 17:17] Trott commented on #1872
All done. (@anio was already a member of `@nodejs/nodejs-fa`.)

[2018-10-31 17:17] #1872 closed, assigned to bnb, Trott

[2018-10-31 18:58] fhemberger commented on #1872
Awesome, thanks a lot!

I wish there was a way we could automate this process, so I don't have to bother you all the time.

[2018-10-31 19:21] Trott commented on #1872
@fhemberger You are a Maintainer of the team and should be able to do this yourself, actually. If it's not working or if you're not sure of the process, let's chat in IRC or email and figure it out.

[2018-10-31 19:41] nickserv commented on #1872
Thank you for the invite!

In the future it may be more convenient to remove the code block formatting, it disables GitHub's mention feature which automatically sends notifications.

[2018-10-31 19:43] fhemberger commented on #1872
@Trott As a maintainer, I can only invite users to the team if they are already a member of the org. But I can't add them to the org itself, only org admins can do that

[2018-10-31 19:53] Trott commented on #1872
Oh, that's right! We go through this every time, don't we? :-D I always forget...

FWIW, a few of the people above were already members so you could have added them, I suppose. But most were not...

[2018-11-01 12:31] fhemberger commented on #1872
@Trott Yes indeed. :D

Would be nice if we could automate this. Could we use a bot or something that adds new contributors e.g. once a month?

How do other teams of the org handle the onboarding of new members?

[2018-11-01 14:33] fhemberger commented on #1843
Banner has been taken down, download links for new release are on the homepage.

[2018-11-01 14:33] #1843 closed, assigned to nobody

[2018-11-01 14:42] fhemberger commented on #1817
@boneskull Sorry it took a while to look into this.

`site.url` should be `https://nodejs.org/<lang>/blog/` instead of `https://nodejs.org/<lang>/` only for the RSS feeds. Unfortunately, we can't pass a custom value as parameter. This is actually an issue in `metalsmith-feed`, maybe you can raise an issue there.

See: https://github.com/hurrymaplelad/metalsmith-feed/blob/master/metalsmith_feed.js#

[2018-11-01 14:58] fhemberger commented on #1785
Thanks for the update!

Closing, because there's nothing left to do on the website.

[2018-11-01 14:58] #1785 closed, assigned to nobody

[2018-11-01 14:59] fhemberger commented on #1778
Fixed, closing.

[2018-11-01 14:59] #1778 closed, assigned to nobody

[2018-11-01 15:00] #1571 closed, assigned to nobody

[2018-11-01 15:02] fhemberger commented on #1595
Is there anything to be done here? Has the change landed in the docs?

[2018-11-01 18:22] boneskull commented on #1817
@fhemberger Is this worth bothering with?  Wondering if we are hitching our wagon to Metalsmith for the foreseeable future, or whether a next-generation nodejs.org site would use different tech...

[2018-11-01 18:51] fhemberger commented on #1817
I don't know. Might still be worth reporting, also for the sake of others. But I'll leave that up to you.

[2018-11-01 20:23] Trott commented on #1872
/ping @nodejs/automation @nodejs/github-bot

No other team has this team's combination of large number of members and permissive rules for being added. So it's not an issue for other teams, I don't think.

[2018-11-01 21:05] phillipj commented on #1872
Making the bot add people automatically once a month surely sounds feasible. It's a Node.js process running reacting to incoming webhooks, and adding a scheduled job to that code base shouldn't be a problem IMO.

The biggest challenge is inviting people to the org as you mention. Currently the bot does not have privileges to do so. There has been discussions on providing such privileges but IIRC t

[2018-11-01 21:12] JasonEtco commented on #1872
Hey folks - I'm not sure what the historical reasoning is for a monthly cadence, but if you were interested in adding all new PR authors to the Org _when_ the PR is merged, there's a Probot app that already exists: https://probot.github.io/apps/invite-contributors. You'd want to either install this GitHub App, or deploy your own instance of it. I think some of y'all are familiar with Probot, but i

[2018-11-02 01:44] bnb commented on #1872
@Trott @fhemberger any objections to installing the app for this repo?

[2018-11-02 03:02] Trott commented on #1872
Probably depends on what privileges it needs and whether it needs them on this repo only or for the org. I'm generally positive if it's for the repo only, and generally a bit reluctant if it's for the whole org.

[2018-11-02 03:25] fhemberger commented on #1872
@JasonEtco The only historical reasoning is that it was a manual step (until now) to determine new contributors and invite them. Therefore in the past it was only done rarely, so I tried to do do it at least quarterly.

So yes, if the privileges are not an issue, I'm in favor for using the bot instead!

[2018-11-03 00:25] ghost commented on #1817
`I think the channel link needs to point to https://nodejs.org/<lang>/blog/`

@boneskull：Now it doesn't seem we should translate blogs into other langs. So the default url will be directed to `https://nodejs.org/en/blog/`. :)

[2018-11-06 08:11] fhemberger commented on #1872
@Trott Okay, who can help us set up the Probot app on this repo?

[2018-11-06 08:20] JasonEtco commented on #1872
FYI, here are the permissions its requesting:

<img width="300" alt="image" src="https://user-images.githubusercontent.com/10660468/48051194-70cffb80-e172-11e8-8d54-865431dca523.png">

My impression is that most of those permission requests are unnecessary, and if that's a problem then we could build the app ourselves (it should be fairly straightforward and this existing app is [open source](http

[2018-11-06 08:23] Trott commented on #1872
@fhemberger I'm not sure there are clear guidelines, but probably the best thing to do is open an issue in the nodejs/admin repo explaining what and why.

[2018-11-06 23:02] kpm opened #1889 "doc: Can't find information about LTS releases."
Hi,

I haven't been able to find info about LTS releases.  If I go to https://nodejs.org/en/about/releases/
, the page doesn't mention LTS at all.  If I go to the main docs at https://nodejs.org/en/docs/ , there's no search facility, and a quick explore through some links doesn't lead to any info I can find about LTS releases.

Sorry if I missed something obvious, I'm new to node.  I'd like to kno

[2018-11-06 23:18] richardlau commented on #1889
https://github.com/nodejs/Release

[2018-11-06 23:19] Trott commented on #1889
(I'm going to move this to the website repo as that's where the https://nodejs.org/en/about/releases/ originates, and I agree that there ought to at least be a link to the LTS info at https://github.com/nodejs/Release from there.)

[2018-11-07 04:32] fhemberger commented on #1889
@Trott We could link to `schedule.png` and produce a table right from `schedule.json`. See also https://github.com/nodejs/Release/pull/380

[2018-11-11 07:00] #1889 closed, assigned to nobody

[2018-11-17 00:54] Trott opened #1900 "11.0.0 blog post update"
Update 11.0.0 blog post with info about semver major change that was missed. See https://github.com/nodejs/node/pull/24404 and https://github.com/nodejs/node/issues/23846.

[2018-11-17 07:13] ckotzbauer commented on #1900
PR #1901

[2018-11-18 06:10] #1900 closed, assigned to nobody

[2018-11-20 21:23] davidcamarena opened #1905 "Node.js requires gnupg package to be installed in order to install"
Hi noders,

I've just attempted to install node.js into a container running the "php:7" official PHP docker image, which is Debian based.

The official node.js docs state that in order to install Node.js and npm into a Debian based distro you must use the official binaries and redirects you to the official github page with the README.md:

https://github.com/nodesource/distributions/blob/master/REA

[2018-11-20 21:35] Trott commented on #1905
transferring to website repo

[2018-11-20 21:36] Trott commented on #1905
This is presumably in reference to https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions-enterprise-linux-fedora-and-snap-packages.

Are the NodeSource binaries actually "official"?  Should the text be changed from "Official Node.js binary distributions are provided by NodeSource." to "Node.js binary distributions are provided by NodeSource."?

/ping @nodejs/r

[2018-11-20 21:41] davidcamarena commented on #1905
I read about the snap packages, but if I read it properly the method given in the NodeSource README.md is indeed an alternate, unrelated installation method to snap afaik.

[2018-11-20 22:00] sam-github commented on #1905
This is unrelated to snap, its using debian PPAs.

I believe there is a typo in the subject, I think "gnupg" is meant where "phppg" was written.

The `setup_10.x` script has no direct use of gnupg, but it doesn't really surprise me `apt-key add` would call gnupg. What does surprise me is that if gnupg is a dependency used by the apt command, it isn't installed. Is it possible that the docker image

[2018-11-20 22:13] davidcamarena commented on #1905
Yep, I meant "gnupg", that's right, thank you.

And I don't disregard it, you may be right and it might be only an image-specific issue, but I think it's worth to document it so it can help another people with the same issue to solve it and succeed installing node.js.

[2018-11-21 00:35] ea167 opened #1908 "Privacy issue with recommended Chrome extension"
Hello wonderful NodeJS Team,

On the page https://nodejs.org/en/docs/guides/debugging-getting-started/#chrome-devtools-55
you recommend the Chrome extension "NiM".

Please note that this extension requires to share our email addresses to use the extension (as well as the permission "Read and change all your data on the websites you visit"). This requirement was added recently.

I doubt this is GDP

[2018-11-21 03:47] rvagg commented on #1905
Not something I've run in to and I've done a lot of work on and with those repos and those scripts. As @sam-github metioned, `apt-key` is the only logical path to gnupg and it comes from the add-apt-key package which directly depends on `gnupg`. So my question would be, why is `apt-key` available on your system and not `gnupg`? That seems impossible unless you have a funky `apt-key` command on the

[2018-11-21 04:17] rvagg commented on #1905
OK, I figured it out. `php:7` is based on `debian:stretch-slim` and the Debian slim images strip out `gnupg` from the standard base package list. `apt-key` is actually in the `apt` package. On Ubuntu, `add-apt-key` is a meta package that depends on both `apt` and `gnupg` to make sure `apt-key add` works. On Debian, there's no such package and I guess you're just supposed to know.

I've updated the

[2018-11-21 04:17] #1905 closed, assigned to nobody

[2018-11-21 04:40] fhemberger commented on #1829
- The iojs.org website is now redirecting to nodejs.org
- Links to downloads/docs are still active
- iojs.org repo is archived

PR: #1909

[2018-11-21 10:03] #1829 closed, assigned to nobody

[2018-11-21 10:54] davidcamarena commented on #1905
Hi,

Thank you very much @rvagg, I really appreciate your persistence and fixes for this, also the detailed explanation, now I understand better.

And I'm sorry I didn't knew so much about Node projects, now I know I'd better had to report this to NodeSource directly, but anyways I'm happy that the NodeSource install scripts get fixed, I'm sure it will help others and make it Node more enjoyable a

[2018-11-22 06:05] fhemberger commented on #1908
Hi Eric,

thanks for pointing this out. Indeed, the user's email address is sent back **every second** to Google Analytics: [background.js#L112-L113](https://github.com/june07/NiM/blob/421d83ae7c5e06ae573a39a3ced0616390c7da8e/background.js#L112-L113)

This is indeed illegal under European GDPR laws.

[2018-11-22 07:53] fhemberger commented on #1817
@boneskull I'm closing this issue for now. Feel free to open one for `metalsmith-feed`, we are happy to accept a PR once it's fixed.

[2018-11-22 07:53] #1817 closed, assigned to nobody

[2018-11-22 07:56] fhemberger commented on #1595
Closing this for now due to inactivity. We're still happy to accept a PR for stream related guides or documentation updates.

[2018-11-22 07:56] #1595 closed, assigned to nobody

[2018-11-27 14:02] june07 commented on #1908
As the author of NiM I would like to provide some feedback.

@ea167 "This requirement was added recently" is not actually true.  Please see my blog post written approximately a year ago about this: http://june07.com/foff/.

Along with being highly rated at the Chrome Web Store, NiM has had the support of many in the Node.js community, including Paul Irish of the Chrome DevTools team https://twitte

[2018-11-27 14:09] thom4parisot commented on #1908
[GDPR](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation) is about providing a **choice of consent** about data collection.

Collecting a data without asking a user its permission breaks this statement.

One way to make it compliant would be to provide a user option (unchecked by default) and to let the user opt in, with a clear indication of what is the information used for (to be

[2018-11-27 15:25] june07 commented on #1908
Following some help from several sources including checking some of the larger Chome Extensions and how they are doing things, I think we are compliant.  I'm certainly not a lawyer.

https://termsfeed.com/blog/legal-agreements-chrome-extensions/

https://app.termly.io/document/privacy-policy/04164179-f943-4e87-ac8b-5afd0367dc6c#infocollect

So it's clear, that change was just made and I circled it

[2018-11-28 18:58] june07 commented on #1908
@fhemberger Would be great to get some feedback on this.

For the record, I've compared NiM's Chrome web store page with that of 10 different companies, all of whom have items in Google's Chrome web store, FOUR (EBay, Paypal, Walmart, and LinkedIn, of whom are among "10 Global Companies Using Node.js in Production" according to Google.  And none of which I would think the Node.js community would h

[2018-12-03 19:21] june07 opened #1923 "Reinstate link to NiM in debug documentation."
As no response has been received to https://github.com/nodejs/nodejs.org/issues/1908 since nearly a week, I am opening this issue.

@fhemberger Would be great to get some feedback on this.

For the record, I've compared NiM's Chrome web store page with that of 10 different companies, all of whom have items in Google's Chrome web store, FOUR (EBay, Paypal, Walmart, and LinkedIn, of whom are among "

[2018-12-04 20:32] ghost opened #1925 "NodeJS download is flagged as "dangerous" by chromium on linux"
* **URL**:https://nodejs.org/en/
* **Browser version**:Version 68.0.3440.106 (Official Build) Built on Ubuntu , running on
* **Operating system**: LinuxMint 18.3 (64-bit)

I tried to download NodeJS 10.14.1 LTS on chromium for linux, and Chromium blocks the file, flagging it as "dangerous". When I try to unblock it, it warns me that the site may be hacked.  Is the site actually hacked

[2018-12-05 14:20] knipknap opened #1926 "No installation instructions for Linux downloads?"
Are there any installation instructions for Linux for when you download the packages from nodejs.org? The only instructions I found are here:

https://nodejs.org/en/download/package-manager/

But those don't seem to relate to the downloads offered on nodejs.org.

[2018-12-05 16:49] fhemberger commented on #1926
It's a tarball file. Download and extract to `/usr` or `/usr/local`, depending on your preferences.

Details: https://github.com/nodejs/help/wiki/Installation

[2018-12-05 17:28] knipknap commented on #1926
That's what I have been looking for, Thanks! It would be helpful if that were linked on the website.

[2018-12-06 02:08] aGolduck opened #1927 "same "guides" is translated as two different words"
@nodejs/node-cn

translated as 指南 in docs index https://github.com/nodejs/nodejs.org/blob/master/locale/zh-cn/docs/guides/index.md#%E6%8C%87%E5%8D%97

translated as 教程 on sidebar menu on https://nodejs.org/zh-cn/docs/guides/

[2018-12-06 03:04] #1927 closed, assigned to nobody

[2018-12-10 22:28] MylesBorins commented on #1923
/cc @nodejs/tsc

[2018-12-10 22:29] MylesBorins commented on #1923
As this has to do with potential legal stuff it may need to be surfaced to the foundation for guidance... but lets see if we can reach consensus within the TSC first

[2018-12-11 01:42] june07 commented on #1923
Thank you again, Myles, for nudging this.

[2018-12-11 20:51] MylesBorins opened #1934 "blog not updating with latest post"
it is on master but should be available at https://nodejs.org/en/blog/release/v10.14.2

[2018-12-11 20:56] MylesBorins commented on #1934
/cc @nodejs/build

[2018-12-11 21:07] fhemberger commented on #1934
Hmm, last build was 4a320eaa79fe10f9c7dd771fc3e648bed47061ed.

@nodejs/build `github-webhook.log` is 68.53MB right now, which is not suitable for a quick build success check. Could you please look into it as well?

[2018-12-12 09:36] fhemberger commented on #1934
@MylesBorins Blog post is live, looks like TravisCI was busy running tests on master and so the webhook for our Jenkins build took a while to trigger.

[2018-12-12 09:36] #1934 closed, assigned to nobody

[2018-12-12 12:36] ghost opened #1936 "I am not able to understand the Node.Js architecture in context of event loop."
I am not able to understand the Node.Js architecture in context of event loop inspite of following the official docs. Can anyone please share the resources?

[2018-12-12 15:06] #1926 closed, assigned to nobody

[2018-12-12 16:24] mcollina commented on #1923
I'm fine in having that link in.

[2018-12-12 16:36] june07 commented on #1923
Not sure my messages were going thru on https://www.youtube.com/c/nodejs+foundation/live.  I will submit a PR for the change.

[2018-12-12 16:41] ChALkeR commented on #1923
I would prefer not recommending _any_ browser extensions, for security reasons.

[2018-12-12 17:38] june07 opened #1939 "irc: bad link sending to porn site, maybe domain changed ownership"
Whilst trying to use IRC today I ran across this in the #node-dev channel.  The banner gives a link to http://nodeirc.info (see attachment)... but I don't think that is Node.js material.

![screenshot 80](https://user-images.githubusercontent.com/11353590/49887521-6f3cc780-fdf1-11e8-98c8-56e950d4b500.png)

Domain history shows that the domain was used before for Node.js so not sure what happened:

[2018-12-12 17:43] richardlau commented on #1939
cc @ljharb @MylesBorins since you are the current ops in #node-dev.

[2018-12-12 17:50] richardlau commented on #1939
The archived version of the pages link to https://github.com/williamkapke/nodeirc/issues so also cc @williamkapke

[2018-12-12 17:55] ljharb commented on #1939
Already updated in #node.js; just did it in #node-dev.

[2018-12-15 16:45] ZYSzys commented on #1936
Ah, maybe `event loop` is indeed bit of intricate.😅

IMHO, there are plenty of resources about event loop in the internet right ?

Here may be one of them: [message-queue-and-event-loop](https://github.com/leonardomso/33-js-concepts#9-message-queue-and-event-loop)

[2018-12-16 23:24] stevemao commented on #1936
Questions should asked https://github.com/nodejs/help

[2018-12-16 23:32] ghost commented on #1936
@akshayarise ：StackOverFlow is always your best friend when asking questions of knowledge.
https://stackoverflow.com/questions/tagged/node.js

[2018-12-17 00:08] ghost commented on #1925
@turbobuilt：No. Everything seems fine with me.
I'm using **Chrome, Version 71.0.3578.98 (Official Build) (64-bit)**.

[2018-12-17 00:14] ghost commented on #1925
But your situation seems very strange, so I'll call some group else to see what's happening……?
@nodejs/release.

PS：If possible, your screenshot and logs (if you have), please submit them :)

[2018-12-17 00:24] ghost commented on #1612
@marswong：This has been fixed at #1943，and the result seems fine by using "<>" to quote the link——
![image](https://user-images.githubusercontent.com/40081831/50060889-1ac09000-01d5-11e9-840a-50b5ae74f506.png)

[2018-12-17 03:01] stevemao commented on #1612
It should be fixed at the parser level so that you don't need to wrap the link with "<>"

[2018-12-17 03:25] ghost commented on #1612
@stevemao ：OK. But this is a temporary fix :)

[2018-12-17 03:32] ghost commented on #1612
@marswong , @stevemao , @fhemberger ：I don't know when and how to fix this parse. But for a temporary fix, I submitted this and if this parser is fixed, I'll change back.

Thanks all!!!

[2018-12-18 02:03] rvagg commented on #1934
I've zeroed github-webhook.log, it's been a while.

[2018-12-18 09:29] watson opened #1948 "robots.txt doesn't behave as expected"
Our [`robots.txt`](https://nodejs.org/robots.txt) file currently contain this:

[code]

I'm not sure of the reason for disallowing `/docs/`, but whatever the case, I don't think it has the intended effect. Instead of removing it from Google, it just seems to remove Googles ability to show any meaningful content related to the link - but it still links to sites under `/docs/`.

Example: A search fo

[2018-12-18 09:47] fhemberger commented on #1948
Hmmm … 🤔 I have no idea why we've set it that way. Maybe @rvagg remembers?
I think this goes back to the early website days and hasn't been touched ever since.

[2018-12-18 10:50] rvagg commented on #1948
nope! and the use of /dist/ instead of /download/ also rattles my bones, I desperately want /dist/ to be deprecated.

I think robots.txt is up for complete revision, someone suggest a new one that makes sense and make it so. https://github.com/nodejs/nodejs.org/blob/master/static/robots.txt

We had a discussion recently about the best entrypoint to the docs and I think we had differing opinions. S

[2018-12-18 18:31] gabrielschulhof commented on #1923
Perhaps we should keep it generic and mention that the Chrome Web store provides additional tools that help with debugging. We can even add a link with a keyword search that would bring up NiM, but would also bring up other extensions that satisfy the keywords. Nevertheless, if NiM were the first of many such helpers and would be closely associated with the keywords it would, at least for the begi

[2018-12-19 05:24] stevemao commented on #1939
Seems like link is removed on node.js. Can we close this issue?

[2018-12-19 10:50] Drieger opened #1952 "pt-br: Missing pages not falling back to english version"
* **URL**: https://nodejs.org/pt-br/about/
* **Browser Version**: Google Chrome - Version 71.0.3578.98 (Official Build) (64-bit)
* **Operational System**: Linux Ubuntu 16.04

A new version of pt-br translation was recently added https://github.com/nodejs/nodejs.org/pull/1947, but the links to pages other than Home are returning 404 instead of falling back to the English version. Testing it locally

[2018-12-19 11:05] fhemberger commented on #1939
Checked, link has been deleted on both channels. Closing.

[2018-12-19 11:05] #1939 closed, assigned to nobody

[2018-12-19 11:18] fhemberger commented on #1952
@Drieger Thanks for pointing this out. The fallback to English is configured in the 'build' repository, I already submitted a PR.

[2018-12-19 11:23] Drieger commented on #1952
Thanks, @fhemberger :smile:

[2018-12-19 11:47] glaucia86 commented on #1952
@Drieger during this wkd I will translate the others pages. Thanks for report! :)

[2018-12-19 14:37] ChALkeR commented on #1923
@gabrielschulhof that seems ok to me, but imo we shouldn't _actively_ promote the usage of browser extensions for this task. A note that those exist (without explicitly calling people to install those, and without linking to any specific one) would be fine enough in my opinion.

[2018-12-19 15:32] june07 commented on #1923
I sort of get the hand waving and wide eyes about "browser extensions" and "security reasons" by some but in all fairness, as developers, I think we are held to a slightly higher level of sophistication as it relates to understanding how to stay safe.  Using that same safety paradigm, should we pull all references to any Inspector Clients from the debugging-getting-started page?!  After all, we ar

[2018-12-19 16:43] ljharb commented on #1939
It’d be great to get the same info rehosted somewhere else tho.

[2018-12-19 22:11] june07 commented on #1923
@nodejs/tsc has delegated the issue back to the web working group.  Apparently that was the wrong place to surface this issue.  Can someone from the wwg chime in please.  @fhemberger

[2018-12-19 22:37] mhdawson commented on #1923
This was discussed in the TSC meeting this week: Consensus was that it is not the time to escalate to TSC and let website team lead the discussion, reach a discussion.

[2018-12-19 22:41] MylesBorins commented on #1923
Reopening as I don't think that this issue needs to be closed

[2018-12-19 23:14] #1952 closed, assigned to nobody

[2018-12-20 01:42] ChALkeR commented on #1923
Yes, I believe that closing it was probably accidential.

[2018-12-21 09:29] pierreneter commented on #1677
so, do we need to redirect for `/security`?

[2018-12-22 07:20] ZYSzys commented on #1936
It seems that there are enough reply for you @akshayarise , closing it.

[2018-12-22 07:20] #1936 closed, assigned to nobody

[2018-12-22 07:46] ghost commented on #1936
Hi,

sure

*Thanks & Regards,*
*Akshay Kumar*
*(Node.Js Developer)*
GitHub <https://github.com/akshayarise> CodeChef
<https://www.codechef.com/users/akshaycool> Twitter
<https://twitter.com/akshayarise> LinkedIn
<https://www.linkedin.com/in/akshay-kumar-93841654>

On Sat, Dec 22, 2018 at 12:51 PM ZYSzys <notifications@github.com> wrote:

[2018-12-22 16:08] fhemberger commented on #1677
No, not really. `https://nodejs.org/security/` is not an official link, same as `https://nodejs.org/get-involved/`. So both are not redirected to `/en/`.

All other redirects only exist to cover the legacy version of `nodejs.org` and `iojs.org` (so everything before 2015).

Closing.

[2018-12-22 16:08] #1677 closed, assigned to nobody

[2018-12-28 10:29] celyes opened #1967 "Translation to Arabic. In progress"
Hello everyone.
I would like to inform everyone that we've started the translation for nodejs.org website to Arabic at the repo nodejs.ar , InterstellarClub organization

@InterstellarClub/nodejs.ar

Any help is most welcome.

@celyes , @Aissaoui-ahmed, @InterstellarClub

[2018-12-28 16:20] ouadie-lahdioui commented on #1967
Hi guys,

Very good idea. I'll be interested to help on it.

Are you in slack ? I juste create the channel #arabic feel free to join.

[2018-12-28 16:38] celyes commented on #1967
@ouadie-lahdioui
great! I'll talk to my teammates to divide the tasks so we can work faster.
We'll keep in touch :)

[2018-12-28 19:16] Floriferous opened #1968 "Make debugging guide documentation more beginner-friendly"
_Repost of https://github.com/nodejs/node/issues/25257._

I wish I understood node debugging better, but the [guide](https://nodejs.org/en/docs/guides/debugging-getting-started/) really does _not_ help when you're not already deeply familiar with the ecosystem. Those people would happily skip through it anyways. I think it'd be helpful if it was a bit more beginner-friendly to help newcomers get p

[2018-12-28 19:47] Trott commented on #1968
I wouldn't mind seeing us try to do less of that type of guide writing on the website and rely more on external resources to do that sort of thing, but that's just my opinion (which I will repeat when the issue is opened in that other repo!).

I like your suggestions/comments and wouldn't mind seeing them implemented. (Feel free to open a pull request if you are sufficiently motivated!)

I guess o

[2018-12-29 00:54] ghost commented on #1967
@Trott：Kindly add him to the @nodejs/nodejs-ar for translation discussion :)

[2018-12-30 14:02] fhemberger commented on #1923
(First of all sorry for the delay in my answer. It was Christmas time after all and I've been busy like the rest of you, I guess.)

I'm still strongly opposed to add this extension back to the list of recommendations in its current form.

For the record again, **the email address of the user** (taken from the Google account used to install the extension on Chrome) **is sent every second to Google

[2018-12-30 16:02] mariapesm commented on #1534
@pup I'd like to take part for the redesign as Front End developer.

[2018-12-31 07:45] june07 commented on #1923
So in the name of (... Greyskull?!), I've removed the emails from Google Analytics.  My initial thought was to encrypt the data but ultimately the extra work isn't worth it to me.  I don't profit from this and honestly, it's just not worth it to spend any more of my time on it.

Please see the PR I merged into my own code base.  AS WELL, I've pushed an updated version to the Chrome Web Store that

[2018-12-31 21:15] Aissaoui-Ahmed opened #1970 "Translation to arabic: RTL style issue"
I have an issue with the website when translating to a language written from RTL
and i tried a workaround that worked perfectly, but it adds so many lines of code to the styling file ... is it ok to use this as a final [solution ](https://github.com/InterstellarClub/nodejs.ar/blob/b6c3f8400e0bcae35007cb7c7aa780ce8de9cd6c/layouts/css/styles.styl#L25)?

@nodejs/nodejs-ar , @celyes , @InterstellarClu

[2019-01-01 05:11] fhemberger commented on #1970
Nooo, please don't do this. 😁
We already have the RTL flag, so `html[dir="rtl"]` is sufficient.
See: https://nodejs.org/ar/

Please also don't simply duplicate **all** the CSS, when you just want to change three lines of code.

What you want is:

[code]

[2019-01-01 06:27] fhemberger opened #1971 "Links to third-party content on nodejs.org – what should be included?"
Extracted from #1923: We're were already discussing more broadly in #1932, #1963, #1964 and #1965 what kind of third party content should be collected on the Node.js website at all (also making sure that it doesn't mean this content is promoted/endorsed by the Node.js Foundation in any way).

/cc'ing @Trott (who rose two of the issues mentioned above) and @amiller-gh (as this is also relevant for

[2019-01-01 06:28] fhemberger commented on #1534
Locking this issue, as all redesign discussions happen in https://github.com/nodejs/website-redesign/issues/

[2019-01-01 11:22] celyes commented on #1970
Thank you so much, @fhemberger .
your code works just perfectly.
note that i added this line to the article element:
[code]
so the margin left is set to 0 when the website language is a written from RTL , so the final code to add is like this:
[code]

[2019-01-01 11:37] Aissaoui-Ahmed commented on #1970
thank you @fhemberger

[2019-01-01 11:37] #1970 closed, assigned to nobody

[2019-01-01 13:16] celyes commented on #1967
404: Not found.

[2019-01-02 01:24] Trott commented on #1967
I'm not on the TSC at the moment so I should not be handling team additions/removals. (That will hopefully change shortly.)

Localization teams are the purview of @nodejs/community-committee as I understand it, so maybe the chair of CommComm can handle this if there's no other process involved? /ping @amiller-gh

[2019-01-02 18:24] Aissaoui-Ahmed opened #1973 "/about/working-groups anchors don't work when translated to Arabic"
Hello everyone.
When we translated the about/working-groups.md to Arabic language, the anchor tags that lead to the different parts of the page stopped working.

en
url : `/en/about/working-groups/#diagnostics`
[code]
ar
url : `/ar/about/working-groups/#التشخيص`
[code]
Are there any solutions?

@nodejs/node-ar
@celyes @InterstellarClub

[2019-01-04 06:32] fhemberger opened #1977 "Review needed for knowledge base articles"
The articles for the knowledge base were donated from Nodejitsu a while back but never received a proper review and thus aren't linked in the website navigation:

https://nodejs.org/en/knowledge/

Those articles need to be reviewed. Are they still relevant? Do they need to be updated for current versions of Node.js? Which articles are relevant for the ongoing website redesign content structure?

/

[2019-01-06 10:49] AnkitRawat805 opened #1978 "Correction in template code."
res.statusCode is not valid. instead of res.status

at line number 7 https://nodejs.org/en/about/

[2019-01-06 11:18] ZYSzys commented on #1978
Hi, if I understand correctly, `res.statusCode` is valid, there isn't the API called `res.status`.
You can see here: https://nodejs.org/dist/latest-v11.x/docs/api/http.html#http_response_statuscode

[2019-01-06 12:51] fhemberger commented on #1978
`res.status()` only exists in Express, we're using Node's `http` module, where the property is called `res.statusCode`.

[2019-01-06 12:51] #1978 closed, assigned to nobody

[2019-01-09 06:54] keywordnew commented on #1977
Thanks for surfacing this content!

[2019-01-09 21:42] Gerriko commented on #1665
I'm also have an npm version issue. If I uninstall nodejs it correctly says that npm does not exist. If I then install the latest nodejs it keeps the npm version at 5.4.1. How do I resolve this?

[2019-01-10 05:29] fhemberger commented on #1925
As this issue has been inactive for a month, I'm closing it.
Feel free to re-open if the problem still occurs.

[2019-01-10 05:29] #1925 closed, assigned to nobody

[2019-01-10 09:33] LinusU commented on #1665
Npm needs Node.js to run, are you sure that the error isn't that `node` doesn't exist? 🤔

[2019-01-10 09:50] Gerriko commented on #1665
LOL. That is a valid observation.

[2019-01-14 01:27] Aissaoui-Ahmed commented on #1973
add regexp unicode
for Arabic language
0600-06FF --> "Arabic"

`/scripts/plugins/anchor-markdown-headings.js:6:14`

@celyes @InterstellarClub

[2019-01-14 19:29] jeromecovington opened #1983 "Nightly code coverage url is linking to homepage"
* **URL**: https://coverage.nodejs.org/en/
* **Browser version**: Chrome - Version 70.0.3538.110 (Official Build) (64-bit)
* **Operating system**: MacOS - Version 10.12.6

https://coverage.nodejs.org/en/ is loading the same url as https://nodejs.org/en/

It's entirely possible that the nightly coverage reports have moved, and I just don't know where to find them.

It should be noted though that ht

[2019-01-14 19:36] vsemozhetbyt commented on #1983
Maybe this is somehow connected: https://github.com/nodejs/build/issues/1659

[2019-01-15 00:35] rvagg commented on #1983
https://coverage.nodejs.org/ working again now that nodejs/build#1659 is being resolved (no `/en/` btw).

[2019-01-15 00:35] #1983 closed, assigned to nobody

[2019-01-15 08:22] coxato opened #1984 "404: Page could not be found"
* **url: https://nodejs.org/dist/v10.15.0/node-v10.15.0-linux-x86.tar.xz**:
* **browser: chromium 71.0.3578.98 (Build oficial) Built on Ubuntu**:
* **OS: kubuntu**:

hi, the page https://nodejs.org/dist/v10.15.0/node-v10.15.0-linux-x86.tar.xz is not available
I try to update nodejs in my 32-bits pc with kubuntu but not working

the command: `sudo n stable` not working, and show this error `Error:

[2019-01-15 08:49] fhemberger commented on #1984
We dropped 32bit support for Linux binaries starting v10.0.0:
https://github.com/nodejs/build/issues/885

Sorry, you have to compile it yourself from source:
https://nodejs.org/dist/v10.15.0/node-v10.15.0.tar.gz

[2019-01-15 08:49] #1984 closed, assigned to nobody

[2019-01-15 10:55] ZYSzys opened #1985 "SunOS Binaries 32-bit not found"
* **URL**: https://nodejs.org/en/download/
* **Browser version**: *
* **Operating system**: *

On the Additional Platforms section of download page, when click SunOS Binaries 32-bit version, it showed 404 and said `ENOENT: no such file or directory`

![screen shot 2019-01-15 at 6 52 47 pm](https://user-images.githubusercontent.com/23313266/51176049-e8e73a00-18f6-11e9-8c6c-083d2b54b8d1.png)

Link:

[2019-01-15 11:00] ZYSzys commented on #1985
If this Node.js version is no longer supported, maybe we should drop this part down from the download page.

[2019-01-15 13:00] rvagg commented on #1985
:thumbsup: it was dropped for Node 10.

[2019-01-15 13:21] coxato commented on #1984
thanks

[2019-01-15 14:15] #1985 closed, assigned to nobody

[2019-01-16 13:27] Alhadis opened #1987 ""SunOS" should be "SmartOS" in downloads page."
"SunOS" is misleading, because it could be taken to mean *"any OS derived from SunOS"*, which includes Oracle Solaris. Node.js's binaries (naturally) don't run on Solaris 11.3+, nor will they compile.

Updating that wording could save the next poor fool who lost 2 hours of his life debugging before noticing that only SmartOS is listed in the [supported platforms](https://github.com/nodejs/node/blo

[2019-01-16 13:34] fhemberger commented on #1987
/cc @nodejs/build

All binaries are still labeled `sunos`.

[2019-01-16 17:00] jeromecovington opened #1988 "Nightly coverage report outdated"
* **URL**: https://coverage.nodejs.org/
* **Browser version**: Chrome - Version 70.0.3538.110 (Official Build) (64-bit)
* **Operating system**: MacOS - Version 10.12.6

At https://coverage.nodejs.org/ I am only seeing coverage up to January 10, 2019 (it's January 16 as of this writing).

[2019-01-16 21:01] mhdawson commented on #1988
I see the same thing.  There have been a few issues with machines on which the coverage job runs, and it may also be a change that landed as well.  Hoping to look at that later today.

[2019-01-16 21:02] mhdawson commented on #1988
We also had some unrelated issues with the main node.js site hosting but until we get the jobs generating the updates working again there is no evidence there is a problem on that side.

[2019-01-16 22:35] mhdawson commented on #1988
One related issue: https://github.com/nodejs/node/pull/25543.  There is still something else going on with the main job but we need 25543 landed as at least part of getting the coverage jobs going again.

[2019-01-17 02:55] rvagg commented on #1987
`sunos` is in the tarball name for historical reasons .. we did discuss changing that once but it never happened. It's one of those things that are difficult to do without breaking workflows for many people. We also have zero plans to ship real Solaris builds fwiw.

I'm +1 on changing the wording on the website if we have it anywhere.

[2019-01-17 07:28] richardlau commented on #1987
For reference: https://github.com/nodejs/build/issues/500

[2019-01-17 12:36] #1987 closed, assigned to nobody

[2019-01-17 19:19] mhdawson commented on #1988
nodejs/node#25543 is now landed and coverage job is now working again and should run nightly, but now need to see if the issues with the main site have affected the replication of the data.

[2019-01-17 19:50] mhdawson commented on #1988
I think main site looks good.  We should see updates to the coverage data going forward.

@jeromecovington, please confirm you think things are ok again and then close.

[2019-01-17 21:18] jeromecovington commented on #1988
URL shows updated coverage (with a week missing). Thanks!

[2019-01-17 21:18] #1988 closed, assigned to nobody

[2019-01-20 16:28] ZYSzys commented on #825
If I'm not wrong, the PR #1940 has implemented this now.

[2019-01-20 17:07] fhemberger commented on #825
Yes, it did. Closing.

[2019-01-20 17:07] #825 closed, assigned to nobody

[2019-01-22 09:50] watson opened #1997 "Web Survey Report 2018 "Correlated Technologies" section broken"
The [Correlated Technologies](https://nodejs.org/en/user-survey-report/#Correlated-Technologies) section on the latest Web Survey Report is broken in Chrome.

This is what the graph looks like:

![image](https://user-images.githubusercontent.com/10602/51526800-6d741400-1e33-11e9-82e8-1504ab36eb7f.png)

Just a big blank white space and a lot of text all on top of each other.

[2019-01-24 20:36] fhemberger commented on #1997
Hmm, works for me: Chrome/Mac 71.0.3578.98
Which Chrome version/OS are you using?
Are you blocking iframes (e.g. running an ad blocker)?

![](https://user-images.githubusercontent.com/153481/51706840-f0f25880-201f-11e9-98a7-406c8d49fc92.png)

[2019-01-24 22:22] matkoniecz opened #2011 "Getting started guide would benefit from hint what to do after "Hello world example""
https://nodejs.org/en/docs/guides/getting-started-guide/ is nice but some kind of "Next"/"see Foobar"

Currently there is no hint what would be a good next example to see as a beginner.

[2019-01-25 08:21] fhemberger commented on #2011
Each of the guides address very specific (advanced) topics. So having a "path" to follow doesn't make much sense.

But we are working on that for the upcoming website redesign, including a broad section of beginner friendly topics. You can already find some content here: https://github.com/nodejs/website-redesign/tree/master/documentation

[2019-01-30 12:38] fhemberger commented on #1997
@watson Can you provide more information?

[2019-01-31 12:27] ghost opened #2022 "Is it necessary to translate 'node-meetsup' and 'node-speakers'?"
@nodejs/localization：I wonder whether it's necessary to translations for the two files ( 'node-meetsup' and 'node-speakers') ?

In my mind, this is a sample submitted content so I don't think it necessary to do translations, because we submit them in English and keep alphabetically. On the other hand, it's rapidly increasing with more and more people.

![image](https://user-images.githubuserconten

[2019-01-31 14:27] fhemberger commented on #2022
I think that's fine for now. 👍

[2019-02-03 20:55] Yash-Handa commented on #1977
Hi @chowdhurian and @fhemberger,
I would love to contribute to **Node.js org** by reviewing these **Awesome Articles**.
Please let me know if someone else is working on it or not, So that I can Start with it :)

And also some extra questions:
1. Do all these articles need review or just some of them? [https://nodejs.org/en/knowledge/](https://nodejs.org/en/knowledge/)
2. Do I mention the changes i

[2019-02-04 00:49] keywordnew commented on #1977
@Yash-Handa you can totally get started.

To answer your questions:
1. These articles were first contributed 3 years ago. Only a few have seen further updates, which I see were more high-level rather than content updates. ([They're on github](https://github.com/nodejs/nodejs.org/tree/master/locale/en/knowledge)). I think they all need review, but I'd suggest starting by taking on a manageable amou

[2019-02-04 11:47] fhemberger commented on #1977
Thanks @Yash-Handa! I think if content is deprecated (technically) or no longer useful/best practice, it should be removed.

It would be good if we get a first impression how much of the content is still relevant/up to date. If you're unsure, just ask here and we can find people working on that particular topic who know the details.

[2019-02-04 13:29] Yash-Handa commented on #1977
**TL;DR** : Will submit a structured Summary (with suggestions) for all the Articles of the [knowlege](https://github.com/nodejs/nodejs.org/tree/master/locale/en/knowledge) directory in **2 to 3 days**

Thanks, @fhemberger, and @chowdhurian for such prompt response :)

I was thinking of something similar to this. Like giving a detailed report about the relevance of the Articles and what changes sh

[2019-02-05 19:51] Yash-Handa commented on #1977
**Suggestion**: For better efficiency, I suggest working on smaller chunks of articles (say 10 to 12 articles at a time), this will allow better **granularity**, **monitoring** and **focused discussions**.

Below is the summary of 12 Articles [from **command-line**, **child-processes**, **cryptography**, and **javascript-conventions** directories]

### command-line (updated 3yrs ago)
- #### [how-t

[2019-02-05 22:50] lirantal opened #2031 "Adding a Node.js Conferences section"
In addition to keeping track of community Meetup events, should we also keep track of Node.js-related conferences?

[2019-02-05 22:53] lirantal commented on #2031
Happy to create a quick PR listing some of the Node.js events I'm aware of if there's interest in having this extra page on the website

[2019-02-05 23:35] leannevau commented on #2031
+1

[2019-02-06 14:58] fhemberger commented on #1977
@Yash-Handa Wow, amazing! Thank you for all your work!

[2019-02-07 09:29] ghost opened #2035 "Does 'banner' really need translation?"
Hi all:

I notice that since we've forcely defined the banner's Text as the fixed English string in our build.js:

[code]
And then in the template, we'll check whether the 'project.banner.text' has value or not? If yes, directly use banner's text, otherwises use 'label.banner'：
[code]
However in the recent months for upgration, it doesn't seem we directly use 'label.banner' but directly use 'proje

[2019-02-07 10:22] fhemberger commented on #2035
So far, we avoided translation here on purpose. This banner is only used for important updates like security fixes, which need to be put out fast.

Also, messages might differ, depending on the kind of security issue, so we can't wait until the message gets translated into every language.

(label.banner is still a relic of previous translation efforts)

[2019-02-07 10:29] ghost commented on #2035
Yes, that's the reason why I say that there's no need of translation but just use the project.label.text. So no need to do translations IMO. But I just wait for others' opinions on this, thanks @fhemberger.

[2019-02-08 02:45] ghost commented on #1973
IMO：I also found this problem and I tended to fix that in the code, but consider there're too many non-English characters in translations (the typical is something like CJK or others...). So in the end I had to use a pair of pure Html to do with the anchor link to keep the English characters as the anchor name as well. Yours is also fixed at #2034.

Ref：https://github.com/nodejs/nodejs.org/pull/20

[2019-02-08 04:59] Aissaoui-Ahmed commented on #1973
thank you @Maledong
IMO: easy way to change just range of Arabic Unicode not all anchors, the range so small.

[2019-02-08 05:55] ghost commented on #1973
Thanks for your suggestions and in order to keep all the changes in union (Keep the anchor name in English). I take the 2nd choice. :)

[2019-02-08 11:05] celyes commented on #1973
Still not working with Arabic.
@Aissaoui-Ahmed  has managed to solve the problem programmatically.
@Maledong , @InterstellarClub

[2019-02-08 13:04] ghost commented on #1973
@celyes：If you see the Nodejs (Arabic), we use a pure HTML tag to point out the anchor link with its English name (See: https://nodejs.org/ar/download/package-manager/).

If you click titles like this following:
![image](https://user-images.githubusercontent.com/40081831/52479973-511ef800-2be5-11e9-8aa9-b293ada0ae8e.png)

You'll be directly guided here:
![image](https://user-images.githubuserconte

[2019-02-08 13:37] ghost commented on #1973
@celyes：An advantage is that you can use pure English as the anchor name , with your own language as the title, this can support all kinds of non-English languages with the English anchor name to keep the same as the English version.

[2019-02-08 13:39] ghost commented on #1973
@Aissaoui-Ahmed：The latest solution to the non-English language is #2045, we can keep the origin English as the anchor name by using ``, with the title as your own language name.

[2019-02-09 09:48] ghost opened #2055 "`Release.png`'s missing in the `release` page"
* **URL**: https://nodejs.org/en/about/releases/
* **Browser version**: Edge/Google/IE
* **Operating system**: Windows 10 (x86, Professional, latest).

We cannot see the 'schedule.png', so according to this submit (https://github.com/nodejs/Release/commit/2bf2ea36a162571c0aee21f813f51de790c08feb), it seems the img was removed and we've used 'schedule.svg' instead.  So the img is missing:

![defaul

[2019-02-09 10:38] ghost commented on #2055
Currently my solution is:

[code]
This makes my local pages run successfully:
![default](https://user-images.githubusercontent.com/40081831/52519666-d5cb4e00-2c99-11e9-844d-49e35e20ad61.PNG)

[2019-02-10 01:38] #2055 closed, assigned to nobody

[2019-02-10 22:58] #1973 closed, assigned to nobody

[2019-02-12 02:55] #2035 closed, assigned to nobody

[2019-02-12 15:53] ZYSzys commented on #2031
Close due to #2047 was merged.

[2019-02-12 15:53] #2031 closed, assigned to nobody

[2019-02-13 10:50] ColinMoulds opened #2069 "issue with uk site"
i wasn't sure what nodejs/ to use but https://nodejs.org/uk/ is in russian for no apparent reason!

[2019-02-13 10:55] fhemberger commented on #2069
@ColinMoulds 'uk' = Ukranian 😂

[2019-02-13 11:02] ColinMoulds commented on #2069
@fhemberger its the site i get redirected to both here and in sweden lol

[2019-02-13 11:11] fhemberger commented on #2069
Strange, what browser are your using and what are your language settings?
British English should be `en_GB`, so I don't know why it would redirect to uk.

(In the meantime, https://nodejs.org/en/ should help 😉)

/cc @nodejs/build

[2019-02-14 06:54] fhemberger commented on #1997
Closing this for now, feel free to reopen if the problem still persists.

[2019-02-14 06:54] #1997 closed, assigned to nobody

[2019-02-14 06:55] #2022 closed, assigned to nobody

[2019-02-14 06:55] #2011 closed, assigned to nobody

[2019-02-14 06:56] fhemberger commented on #1923
Waiting for the PR to land, closing this.

[2019-02-14 06:56] #1923 closed, assigned to nobody

[2019-02-14 08:44] ghost commented on #2069
@ColinMoulds：You can use Google chrome to have a play, and everything seems fine with me :)

[2019-02-14 12:59] refack commented on #2069
IIUC this is the magic souse:
[code]
tl;dr default to `/en/` and fall back to `/en/` in case translated file does not exist 🤷‍♂️

[2019-02-16 19:05] ColinMoulds commented on #2069
I was using Mozilla Firefox Nightly

[2019-02-16 21:13] Yash-Handa commented on #1977
Thanks, @fhemberger, @keywordnew, @Maledong, @ZYSzys, and @willin for such prompt suggestions, reviews, and merges 🙌🙌.

I would love to have some suggestions about the below 3 articles:

* #### [how-to-use-the-tls-module](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/cryptography/how-to-use-the-tls-module.md)
  * **RELEVANT(starttls section needs re-writing)**
  * The basic

[2019-02-17 14:59] aymen94 commented on #1971
I think to should include on Node.js website every free no profit content.

[2019-02-17 15:10] Trott commented on #1971
I think you're saying to include any content if it is free and not-for-profit. If so, I disagree strongly. There is plenty of free non-profit content that is also of extremely low quality. This approach would serve the content-providers, but that's not who we should be serving. We should be serving users.

[2019-02-17 15:14] aymen94 commented on #1971
Obviously, the content must be approved by the Node.js Foundation.
It must be free and accessible to anyone

[2019-02-19 18:21] me-rina opened #2095 "2018 user-survey-report display issues"
Windows 10 1809 build 17763.316; screen resolution 1366x768
Tested in browsers:
- Firefox Dev 66.0b8 private, ad-block plus
- Firefox 65.0.1 private, no ad-block
- Chrome 72.0.3626.109 private, no ad-block
- IE 11 11.316.17763.0
- Edge 44.17763.1.0

Related issues #1997 and #1672 did not match this problem.

Issues:

- If browser not full screen, text does not fit the browser window and there is n

[2019-02-20 06:16] fhemberger commented on #2095
Hi, sorry for that. This page has not been build by the website team, so we have some problems ironing out the glitches.

The long page load is because of the d3 visualization inside the iframe. 😞
We have to come up with a way to fix this …

[2019-02-20 09:26] fhemberger commented on #1977
a) I think we can safely remove "using-ECMA5-in-nodejs".

b) "how-to-create-default-parameters-for-functions": ES6 default parameters should be the default, also the part of "optional values in the middle" is still useful. Ditch everything after "More complicated cases require more code …"

Can't say much about TLS either ¯\\__(ツ)_/¯

[2019-02-20 11:02] Yash-Handa commented on #1977
Thanks, @fhemberger for your suggestion as always, 😄
- I will update **[how-to-create-default-parameters-for-functions](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/javascript-conventions/how-to-create-default-parameters-for-functions.md)**
- Will open a pull request for **[how-to-use-the-tls-module](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/crypt

[2019-02-20 21:42] me-rina commented on #2095
No worries, and thanks. I wish I could help, but CSS is my bete noire. Add responsive and cross-browser and bootstrap and I'm practically catatonic! I'll close this because changing the browser zoom level mitigates the problem. Thanks again.

[2019-02-20 21:42] #2095 closed, assigned to nobody

[2019-02-21 12:31] a0viedo opened #2104 "Markdown not rendering correctly"
* **URL**: https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick/
* **Browser version**: Version 72.0.3626.109 (Official Build) (64-bit)
* **Operating system**: Windows

I'm not sure why, but at one portion of the guide content with italic is not being rendering correctly. I checked to grab and paste the entire markdown in `marked`'s demo website and it renders properly.
![image](https:

[2019-02-21 22:10] ronperris commented on #2104
@a0viedo I reproduced the issue [here](https://marked.js.org/demo/?text=_and%20there%20are%20no%20timers%20scheduled_%2C&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22gfm%22%3A%20true%2C%0A%20%22headerIds%22%3A%20true%2C%0A%20%22headerPrefix%22%3A%20%22%22%2C%0A%20%22highlight%22%3A%20null%2C%0A%20%22langPrefix%22%3A%20%22language-%22%2C%0A%20%22mangle%22%3A%2

[2019-02-22 05:35] fhemberger commented on #2104
Fixed by #2108.

[2019-02-22 05:35] #2104 closed, assigned to nobody

[2019-02-22 11:25] #1967 closed, assigned to nobody

[2019-02-24 16:42] aymen94 opened #2113 "Use bot for dependency management"
Many repos have management of automatic dependence,
Why not use a bot like:
[dependabot](https://dependabot.com/) or others.

otherwise, we have to do it manually.
#2112

what do you think?
@nodejs/website

[2019-02-25 04:23] JustinBeckwith commented on #2113
FWIW, we use [renovate](https://renovatebot.com) in the google npm modules and love it.

[2019-02-25 05:28] ZYSzys commented on #2113
I’m +1 on renovate.

[2019-02-25 07:32] fhemberger commented on #2113
I've only been using greenkeeper so far, but I'm fine with everything that works.

It highly depends on the rights needed for the bot, as this is a security concern for the entire node.js github org. **So this must be approved by the org admins.**
(This has also been the reason so far that we still do this manually.)

[2019-02-25 13:02] silverwind commented on #2113
There is a non-zero risk that a dependency includes breaking changes in minor and patch releases. For that reason, I personally prefer to audit every dependency update manually. Tools like [updates](https://github.com/silverwind/updates) make this process simple and fast.

[2019-02-25 15:42] bnb commented on #2113
FWIW, I'm hugely in favor of Greenkeeper. I've used it personally, and the maintainers are long-standing (trusted?) members of the Node.js community.

Regardless of the tool we choose, this kind of automation is _a security feature_. It helps keep dependencies updated, which reduces the surface area that is available to attackers + reduces the burden on maintainers of code to resolve security issu

[2019-02-26 11:19] aymen94 commented on #2113
@bnb I thinks we should use it on many repos of the organization.
So we'll add it?

[2019-02-28 04:56] zeke commented on #2113
I've used Greenkeeper, Renovate, and Dependabot. My favorite is Dependabot, because it has lots of controls for things like automatically merging PRs that pass checks, or auto-merging a specific set of whitelisted (trusted) modules.

[2019-02-28 13:26] rvagg opened #2119 "Markdown parsing problem"
`CVE-2018-12121 originally reported by Jan Maybach ([liebdich.com](https://liebdich.com)), keep-alive variant reported by [Marco Pracucci](https://twitter.com/pracucci) ([Voxnest](https://voxnest.com)), fixed by [Matteo Collina](https://twitter.com/matteocollina).` is rendered at https://nodejs.org/en/blog/vulnerability/february-2019-security-releases/ as:

<img width="972" alt="screenshot 2019-03

[2019-02-28 13:27] rvagg commented on #2119
sorry, the highlight of "variant" is misleading, it's the close-paren after the name in both cases that's the problem, it should be: [Marco Pracucci](https://twitter.com/pracucci) ([Voxnest](https://voxnest.com))

[2019-03-01 06:28] WofWca opened #2125 "Text image is broken on mobile devices"
* **URL**: https://nodejs.org/en/docs/guides/event-loop-timers-and-nexttick
* **Browser version**: Chrome x64 72.0.3626.119
* **Operating system**: Windows 10

Text image is broken on mobile devices.

![image](https://user-images.githubusercontent.com/39462442/53620425-e2561d00-3c2d-11e9-8f87-cf552eae0872.png)

Can be patched with CSS `white-space: pre;`:

![image](https://user-images.githubuserco

[2019-03-02 22:41] Trott opened #2133 "Link for Africa.js in locale/en/get-involved/node-meetups.md points to Argentinian meetup"
/ping @codeekage who can no doubt provide the correct link....

[2019-03-03 03:43] ZYSzys commented on #2133
/cc @SofiEstevez who add this in #2114 .

@SofiEstevez Could you please provide the correct link here or create a PR to fix this directly ?

[2019-03-03 03:46] ZYSzys commented on #2125
@WofWca Thank you for your feedback. PR welcome :)

[2019-03-03 04:09] ZYSzys commented on #2119
Temporarily no idea on this...

Is it acceptable to add prep between the adjacent links ?

![screen shot 2019-03-03 at 12 04 12 pm](https://user-images.githubusercontent.com/23313266/53690824-d775c680-3dac-11e9-9e5d-c4aeb8631656.png)

They are rendered normally in this way :)

FYI, we have related issue #2104

[2019-03-04 01:21] #2133 closed, assigned to nobody

[2019-03-05 06:57] fhemberger commented on #2119
This is an issue with `marked`, also happens when I paste the text on the demo page:
https://marked.js.org/demo/. Setting the option `"pedantic": true` fixes this issue, but breaks a million other things in our markdown because of its strictness (e.g. links without markdown link tag are not converted automatically, lists require a leading blank line, etc.). This would affect almost every single fi

[2019-03-06 03:39] ghost commented on #2125
Chrome：70.0.3538.25，
Win10, x86,
The page on my PC is, even if I use "white-space":"pre"
![pre](https://user-images.githubusercontent.com/40081831/53854446-78aa8a00-4004-11e9-8522-f02a5e451eb8.PNG)

[2019-03-08 10:27] princerachit opened #2144 "Add page navigation buttons next and previous"
Current feature: The tutorials page contains a set of links to tutorials.
Issue: When I navigate to a page I don't have the option to go to next or previous page in the tutorial. Therefore, I have to go back to main page and then click on the link to next tutorial.
Solution: Add navigation buttons at the page bottom.

[2019-03-08 12:26] fhemberger commented on #2144
Duplicate of https://github.com/nodejs/nodejs.org/issues/2011#issuecomment-457492623

The tutorial section will be replaced/reworked entirely on the upcoming relaunch.

[2019-03-08 12:26] #2144 closed, assigned to nobody

[2019-03-11 18:30] jonchurch commented on #1977
Hey @Yash-Handa, do you have a list of the articles you are currently working on?

I want to help with this task, and want to make sure we don't overlap efforts.

[2019-03-11 19:47] Yash-Handa commented on #1977
Hey, @jonchurch great to know that 🎉
I have already answered a part of your Question [here](https://github.com/nodejs/nodejs.org/pull/2148#issuecomment-471687412)

For the list part:
I have just finished my initial 10 articles and didn't actually shortlisted the next batch of Articles. I suggest you select first (any number of articles you comfortable with) and do brief us about them on this very

[2019-03-13 21:49] jonchurch commented on #1977
Here is the list of articles I intend to start working on. I can commit to these for now and will come back for more soon :+1:.

**All of these could benefit from basic formatting improvements.**

### REPL
* [how-to-use-nodejs-repl](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/REPL/how-to-use-nodejs-repl.md)
	* Still relevant. Introduces the REPL.
	* This article is very li

[2019-03-15 02:52] UziTech commented on #1612
I think the only way to prevent a full-width comma from being part of the url is to surround the urls with `<>` or add a space before the comma

[2019-03-18 19:43] gkrizek commented on #1905
nodesource/distributions#758 has been merged and this is fixed in the NodeSource Debian repositories.

[2019-03-20 20:49] mattbhealy opened #2159 "Library used to create Timeline view on Releases page"
Looking to create a timeline similar to the one on the releases page:  https://nodejs.org/en/about/releases/

Can anyone point to me to what tech/library was used to create that?

Thanks!

[2019-03-20 23:19] richardlau commented on #2159
It's a combination of https://github.com/nodejs/Release/blob/master/schedule.json and https://www.npmjs.com/package/lts.

[2019-03-26 12:57] ItsClickspeed commented on #2125
That's Strange!
![GabrielGodpro101's Advatar Sword](https://user-images.githubusercontent.com/48134914/54998700-2cb88880-4fa5-11e9-88ed-b1c5fbaea134.jpg)
❗

[2019-04-01 14:39] 19shubham11 opened #2165 "Docs > how-to-use-buffers.md"
I was just going through the docs and saw [how-to-use-buffers.md](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/advanced/buffers/how-to-use-buffers.md), which basically explains about buffers using the `new` Buffer() constructors which is unsafe.

Not really sure whether this is being referred anywhere, if it is, I think that documentation has to be updated.

[2019-04-02 06:00] ghost commented on #2165
@19shubham11：Thanks for your quick review, and sometimes the KB files aren't published yet so there are something too old. I'll fix it by a quick description to difference the versions :)

PS：History of `new Buffer()`：https://nodejs.org/dist/latest-v10.x/docs/api/buffer.html#buffer_new_buffer_string_encoding

[2019-04-02 08:33] #2159 closed, assigned to nobody

[2019-04-02 14:10] fhemberger commented on #1977
/cc @amiller-gh @nodejs/website-redesign We are updating the knowledge base right now, there's a lot of good content that should find its place on the new website as well.

[2019-04-05 01:26] #2165 closed, assigned to nobody

[2019-04-05 16:05] dnjstlr555 commented on #1551
this issues are fixed these days so I'm closing it.

[2019-04-05 16:05] #1551 closed, assigned to nobody

[2019-04-07 16:33] AlexandroMunera commented on #1808
I tried the link but 404

[2019-04-08 08:47] bnoordhuis opened #2173 "Don't show download link for node.js >= v10 x86 linux"
* **URL**: https://nodejs.org/en/
* **Browser version**: n/a
* **Operating system**: Linux

See https://github.com/nodejs/node/issues/27113 - x86 binaries for Linux are no longer provided as of Node.js v10.0.0. The download.js script does not currently take that into account.

[2019-04-08 10:30] fhemberger commented on #2173
@Maledong See #2174.

[2019-04-08 11:35] fhemberger commented on #2173
@bnoordhuis should be fixed with the latest update. Can you please again?

[2019-04-08 15:51] bnoordhuis commented on #2173
It looks fixed to me. Should I close this out or do you?

[2019-04-09 02:19] ghost commented on #2173
Thanks all, I'll help to close it, and if there's anything wrong, this can be re-opened :)

[2019-04-09 02:19] #2173 closed, assigned to nobody

[2019-04-09 02:21] ghost commented on #2119
@rvagg: This is fixed at https://github.com/nodejs/nodejs.org/pull/2172, so if there's anything wrong, this can be also re-opened, I'll close it now :)

[2019-04-09 02:21] #2119 closed, assigned to nobody

[2019-04-12 23:07] missmatsuko opened #2183 "How to link to the downloads page without specifying a language?"
* **URL**: https://nodejs.org/en/download/ and https://nodejs.org/download/
* **Browser version**:
* **Operating system**:

I'd like to link to the page at https://nodejs.org/en/download/ without specifying a language so that whoever clicks the link will be more likely to get the page in a language they understand (especially since [there's no language picker](https://github.com/nodejs/nodejs.org/

[2019-04-13 03:29] fhemberger commented on #2183
The redirects date back to the earliest versions of the Node.js website (pre-2015), that's the only reasons they exist. `nodejs.org/<lang>/<page>` is the canonical URL for all pages.

[2019-04-13 05:17] ghost commented on #1968
I'll close this because it's fixed at https://github.com/nodejs/nodejs.org/pull/1969. Anything important or urgent can be left here by re-opening the case.

[2019-04-13 05:17] #1968 closed, assigned to nobody

[2019-04-13 05:18] ghost commented on #2069
@ColinMoulds：What about using the latest stable version of FF？Is it still happening?

[2019-04-13 16:03] missmatsuko commented on #2183
So is there no way to reliably link to a page without specifying a language?

Do all those pre-2015 links redirect to the English version of the page?

Can the behaviour be changed to redirect to the user's preferred language version (when possible)?

[2019-04-13 17:12] fhemberger commented on #2183
Yes, they all point to English as default language (as it also is the most complete language version, translation wise).

At this point, there's no way to link to your browser's preferred language setting, unfortunately. There is only a third-party nginx extension to parse the `Accept-Language` header which we didn't add for security considerations. (And *of course* I can't find the original issue

[2019-04-13 18:15] thom4parisot commented on #2183
I figured out there is an [alternative nginx configuration](https://www.nginx.com/resources/wiki/modules/accept_language/#alternative), it requires no third-party module.

It's nice to be able to read a browser-defined prefered language content when available.

[2019-04-13 18:35] fhemberger commented on #2183
@oncletom You can open an issue in https://github.com/nodejs/build/ to discuss the changes.

nginx config is here: https://github.com/nodejs/build/blob/master/setup/www/resources/config/nodejs.org

[2019-04-13 19:20] missmatsuko commented on #2183
@fhemberger Should I make this issue in the website redesign repo? Maybe just a general localization issue, as I didn't see one.

I also noticed the current site doesn't have `hreflang` urls in the head, making it harder for people (and search engines) to find their language's version of the page. I think some browsers will suggest the user's preferred localization version of the site if these tag

[2019-04-14 09:27] js-residence2559 opened #2187 "https://github.com/nodejs/nodejs.org/pulls"

[2019-04-14 12:46] #2187 closed, assigned to nobody

[2019-04-22 19:25] carlos-ds commented on #1948
Hi,

I believe the correct steps to ensure proper indexation are:

1. Create a sitemap
2. Upload the sitemap to the root directory
3. Modify robots.txt and refer to the sitemap in it
4. Submit robots.txt via Google Search Console or wait for Google to pass by

With your permission, I could make a proposal for an XML sitemap based on the output of one of the third-party tools Google suggests (altho

[2019-04-23 12:36] onrweb opened #2200 "Home page links are wrong"
Maybe I'm missing something, But..
Is it possible that the **10.15.3 LTS** is the one with the **Latest Features**
And the **11.14.0 Current** is the one **Recommended For Most Users**?

Looks like you've got it in reverse on:
https://nodejs.org/en/

[2019-04-23 12:42] fhemberger commented on #2200
No, version **v10** with long term support is recommended for most users, **v11** is "bleeding edge" (but also stable) with the newest features.

[2019-04-23 18:22] AdityaSrivast commented on #2125
@ZYSzys @WofWca Can I work on this issue, please?

[2019-04-23 18:24] ItsClickspeed commented on #2125
Of course!
=)

[2019-04-23 19:14] #2200 closed, assigned to nobody

[2019-04-24 12:42] mlibby opened #2204 "ARMv6 for 12.0.0 missing"
https://nodejs.org/en/download/current/

Current Tab selected
Linux Binaries (ARM) row - ARMv6 link (https://nodejs.org/dist/v12.0.0/node-v12.0.0-linux-armv6l.tar.xz)

Expected tarball, got 404.

[2019-04-24 12:51] fhemberger commented on #2204
Hi, sometimes builds for certain platforms can take some time. To be sure, better have a look at the release notes: https://nodejs.org/en/blog/release/v12.0.0/

The links on the download page are auto generated from file names and the current version number, so an occasional 404 can happen. Sorry for that!

[2019-04-24 13:07] richardlau commented on #2204
See https://github.com/nodejs/build/issues/1677#issuecomment-486204349.

[2019-04-24 14:15] mlibby commented on #2204
Thanks to both of you. Very informative.

[2019-04-24 14:15] #2204 closed, assigned to nobody

[2019-04-27 08:44] #2125 closed, assigned to nobody

[2019-04-28 09:37] ghost opened #2210 "About "TL;DR" in the article as the title"
Just a question about this fixed phrase at (https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/guides/dont-block-the-event-loop.md#tl-dr), because this phrase explains the process of Nodejs in the event and how to improve the speed of Nodejs' work.

I don't know why "TL;DR" for this phrase?  Why does it mean "Too Long Didn't Read"？

So IMO the title should be something like **"What to

[2019-04-28 09:43] ghost commented on #2210
@nodejs/website：What do you think of this？

[2019-04-28 15:12] davisjam commented on #2210
An alternative title might be "Executive summary" or "Abstract" or similar.

[2019-04-28 16:18] Trott commented on #2210
Yeah, it basically means "Summary".

[2019-04-28 17:18] oomengoo opened #2211 "The "What are callbacks?" post has a broken link"
The "[What are callbacks?](https://nodejs.org/en/knowledge/getting-started/control-flow/what-are-callbacks/)" documentation has a link to "[What are the error conventions?](https://nodejs.org/articles/errors/what-are-the-error-conventions)" which is broken.  It should link to this [here](https://nodejs.org/en/knowledge/errors/what-are-the-error-conventions/) instead.

[2019-04-29 00:31] ghost commented on #2211
@oomengoo: Thanks for catching it, and here's the fixture, you can have a review :)

[2019-05-01 05:12] #2210 closed, assigned to nobody

[2019-05-03 04:56] #2211 closed, assigned to nobody

[2019-05-07 16:56] keywordnew opened #2221 "Collab Summit Berlin 2019 is less than a month away, let's register ✍️"
This Collab Summit will be held before JSConfEU at the [Marriott Courtyard Berlin City Centre](https://www.marriott.com/hotels/travel/bermt-courtyard-berlin-city-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2
).

The registration link is: https://www.eventbrite.com/e/openjs-collaborator-summit-tickets-55985971548 and the password is: collabsummit.

To get your visa for this event: Email visainf

[2019-05-07 17:00] keywordnew commented on #2183
Yes, please do make an issue in nodejs/website-redesign. Folks should be aware of this need as the redesign comes together, before the download page is implemented. Linking back to this issue would also be super helpful.

Thank you! 🙌🏽

[2019-05-22 18:18] BridgeAR opened #2239 "Latest release post not showing up on the blog"
The latest release post somehow did not get published on the blog :disappointed:.

(https://nodejs.org/en/blog/release/v12.3.1/ does not exist)

[2019-05-22 18:28] richardlau commented on #2239
If the update is based on GitHub webhooks/notifications there is an ongoing issue: https://www.githubstatus.com/

![image](https://user-images.githubusercontent.com/5445507/58199152-c5c6ff80-7cc7-11e9-8cc5-f2eab4c4dd36.png)

[2019-05-22 18:59] BridgeAR commented on #2239
I guess that might be the reason.

[2019-05-22 19:31] richardlau commented on #2239
Looks like it’s there now.

[2019-05-22 19:31] #2239 closed, assigned to nobody

[2019-06-09 04:33] merrisco opened #2250 "Provide recordings of previous Code+Learn events"
As someone who is new to the Node project I found myself searching for a walk-through/guide that would help me become more involved with this project and understand the code base better. I found the Code+Learn page which talked about events that allowed new users to get started with Node.js core contributions.

Currently the web page lists the next event on June 21st and 22nd. I assume that many o

[2019-06-09 16:24] Trott commented on #2250
Recordings of Code + Learn events generally won't help. They're not traditional classes. There's not a walk-through. It's a few hours of people working individually, asking the person next to them for help, or asking mentors for help. For a step-by-step guide, try https://contributetonode.org/getting-started.

[2019-06-09 18:59] 2kindsofcs opened #2251 "404 error with "Edit on Github" link on https://nodejs.org/ko/get-involved/"
* **URL**: https://nodejs.org/ko/get-involved/
* **Browser version**: -
* **Operating system**: -

"Edit on Github" throws 404 error page. it is linked to the page: https://github.com/nodejs/nodejs.org/edit/master/locale/ko/get-involved/index.md

it looks like the url has to be modified.
![screenshot-nodejs](https://user-images.githubusercontent.com/42531877/59162909-0e8a0f80-8b34-11e9-9076-a72fa9

[2019-06-10 14:26] marvinschopf opened #2253 "Add domain node.js.org"
It would be very cool if you'd get the domain "node.js.org" as an alias for nodejs.org.
You can get the domain here: [js.org](js.org).

[2019-06-10 14:43] fhemberger commented on #2253
This setup is limited to GitHub pages. Setting up a separate GitHub page and create a manual meta redirect to nodejs.org in an HTML file (only those are supported by GitHub) seems to be too much of a hassle. The redirecting will also have a performance impact on page load times.

Nice idea in general, but because of the implementation -1 on that from my side.

[2019-06-10 18:37] Trott commented on #2253
I don't think there's anything stopping someone else from setting up such a redirect, FWIW.

[2019-06-10 18:49] Trott commented on #2253
Update: I'm doing this right now to prevent someone else from doing it and redirecting to evilsite.example.com. Obviously, I'll happily hand it over to the nodejs GitHub org if it's decided that is where it should live. Plus the js.org repo wiki indicates that nodejs can just take it from me anyway.

[2019-06-10 18:56] Trott commented on #2253
OK, I've set this up and submitted a PR at https://github.com/js-org/js.org/pull/3115.

You can go to https://trott.github.io/node.js.org/ to experience the redirect. It will only redirect the home page, so this is a low-value (but also low-overhead) redirect. I'm mostly doing this to prevent someone from grabbing the domain and using it to serve insulting/malicious/otherwise-bad material.

[2019-06-10 19:10] MattIPv4 commented on #2253
Myself or Indus, who is the founder of the project, manually review all requests for domain, requiring all sites to have a valid reason for requesting the subdomain name and ensuring the requested target site has valid content, so it would never end up at evil content. I would think it unlikely that I'd let this domain out to any other project than something directly node related due to the popula

[2019-06-10 19:13] marvinschopf commented on #2253
Wow, I didn't expect that you would to that so fast! Amazing. :)

[2019-06-10 22:10] MattIPv4 commented on #2253
@Trott / @fhemberger what are your thoughts on bringing https://github.com/Trott/node.js.org into the nodejs org so that from the perspective of js.org, we know the page is controlled by the organisation and not just one individual which poses potential risks, though I imagine Trott is plenty trustworthy.

cc @indus

[2019-06-11 03:56] fhemberger commented on #2253
@MattIPv4 Sure, I'm fine with that.

[2019-06-11 05:31] Trott commented on #2253
In progress: https://github.com/nodejs/admin/issues/370

Won't be done for another 3 days, but I don't expect any opposition on it.

[2019-06-12 10:12] eyedean commented on #1923
Well, it seems like the "Sending Email to Google Analytics" which was removed in December apparently, [is back](https://github.com/june07/NiM/commit/c7678cd2746c06dfb4d18c9c41a56ad14c1b9310#diff-f9b12bd72f40c9b8ed144484f0f12a5fR143) as of 29 days ago and it's currently in master: https://github.com/june07/NiM/blob/master/background.js#L151

We should probably edit the docs and mention that this is

[2019-06-12 10:13] eyedean commented on #1908
I guess it wouldn't hurt to mention here too that this issue is back -- see https://github.com/nodejs/nodejs.org/issues/1923#issuecomment-501209247.

Shall we reopen this issue?

[2019-06-12 10:17] ChALkeR commented on #1908
@fhemberger what do you think should be done here?

[2019-06-12 10:24] fhemberger commented on #1923
Thanks for reopening, let's discuss matters over there.

[2019-06-12 10:36] fhemberger commented on #1908
Honestly I'm a bit disappointed this issue is back. I thought we came to an understanding here, @june07. And it can't be the job of the website team to continuously check for violations of privacy regulations of third-party tools listed on the website. (as listing could also be interpreted as endorsement of those tools.)

In this case I'm in favor of removing this extension _permanently_ from the

[2019-06-12 15:33] june07 commented on #1908
Frederic/All,

No changes have been made surrounding this issue as it was resolved way
back then.  If you look at the code you will see that no changes to any of
those parts of the code have been changed and nor would they.

On Wed, Jun 12, 2019 at 3:36 AM Frederic Hemberger <notifications@github.com>
wrote:

[2019-06-12 15:47] june07 commented on #1923
Please note that encryption was added per the GDPR requirement of google
and was accepted as a solution to the complaint way back when this issue
arose the first time.  No changes have been made specific/surrounding this
issue since then.  Please note that.  This is in no way some attempt to
sneak anything past anyone.

I'm still going thru the code but I saw this and wanted to address it asap.

O

[2019-06-12 16:09] sam-github commented on #1908
I am having difficulty getting up to speed on this issue.

I just installed NiM, it clearly says the extension will have the right to "Know your email address", it doesn't say it will have the right to report it, though this seems to be a technical limitation of the Chrome extension permissions requesting system -- Chrome only knows the extension "knows" the email address, it can't possibly know w

[2019-06-12 16:30] khaosdoctor opened #2257 "Colaborator addition - Portuguese Brazil translation"
Hello, I'm currently with @glaucia86 and @Drieger maintaining the [NodeJS docs translation issue](https://github.com/nodejs/nodejs-pt/issues/80) however I do not have any permissions to edit either the issue or to accept PRs.

I wanted to ask if is it possible to add me as a colaborator or member to the org so I can help them a bit more :)

[2019-06-12 16:43] june07 commented on #1923
Again, just as last time someone raised a concern about this code issue, it
is/was nothing NEW.  And with the help of those on the node teams,
including even bringing this to a TSC meeting, I thought I took every
applicable action/step to make things compliant.  The extensive GitHub
history shows every action I've taken including adding notices, encryption,
and removing things.  The steps I took b

[2019-06-12 16:58] june07 commented on #1908
@sam-github speaking to your bullets

- Per my last comment in the [other thread](https://github.com/nodejs/nodejs.org/issues/1923#issuecomment-501358296):

My thoughts further being validated when NiM was finally reinstated.

- It was my understanding that any GDPR violations were fixed (back then) by the above.  And again, nothing new has been added to the code to violate GDPR.
- I agree.  And b

[2019-06-12 17:33] eyedean commented on #1923
Let's centralize our conversation in https://github.com/nodejs/nodejs.org/issues/1908.  Thanks.

[2019-06-12 18:03] sam-github commented on #1908
I don't believe that is the case. Google has checks to ensure the user knows that the extension has access to the user's email address, since personal data is known by the extension, it is up to the extension to manage (or not) the data in compliance with any particular law. Its also not clear to me that compliance with GDPR is a requirement to be mentioned in the nodejs docs.

A clear statement (

[2019-06-12 18:12] eyedean commented on #1908
Thanks for your response, Will, and quick turnaround, Node team.

As an independent developer who does not live in the EU, it's less about GDPR and the lawful aspect of it to me.  It's more about the real "privacy" and "why" does it need my email address, and not a UUID (which is in fact [provided by Google Analytics](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies

[2019-06-12 18:34] cjihrig commented on #1908
Alternative tool that collects no information at all (because I don't care), but may not be as pretty (because it just launches dev tools): https://github.com/cjihrig/node-v8-inspector

[2019-06-12 19:22] june07 commented on #1908
@eyedean

Of course.  I made looking into it a priority first thing this morning.

I understand your concerns and if you read through the history of this you'll find I address some of them.  To be clear, we are talking about issues that were discussed months ago both in this forum as well as via several TSC meetings.  But...

I think it's a bit unfair to go down the laundry list of possible attack

[2019-06-12 19:31] srl295 commented on #1908
Website folks: just a suggestion, would it make sense to put a disclaimer on the supported tools list? Something along the lines of, 'please evaluate the security implications and privacy policies of any such tools you install'. The Security section already discusses the general security implications of debugging tools.

[2019-06-12 19:43] eyedean commented on #1908
@srl295 That would just help to reduce the liabilities of Node, in case of a catastrophe.

The perception that people have around Open Source tools (Node.js included) is either it's free ([as in freedom](https://en.wikipedia.org/wiki/Gratis_versus_libre)) and backed by self-interest/reputation-building/sponsors/donators, or their business model is very obvious to the users. (e.g. selling enterpris

[2019-06-12 19:54] srl295 commented on #1908
@eyedean if it makes someone pause and look at the fine print, that could be good. I hear what you're saying, however, node can't continuously privacy audit the contents of all linked sites, so I think the expectation has to be set correctly.

[2019-06-12 21:19] ChALkeR commented on #1908
As [previously stated](https://github.com/nodejs/nodejs.org/issues/1923#issuecomment-446655499), I would prefer just avoiding recommending _any_ browser extensions whatsoever. At least directly. That is a general position, it doesn't have anything to do with this specific extension in particular.

Browser extensions differ significantly from e.g. node modules or even vscode extensions (mentioned a

[2019-06-13 06:14] june07 commented on #1908
I've added a huge notice to the GitHub page and to the extension's web store page to help facilitate people not being "shocked" as @eyedean so eloquently put it, although I disagree with that statement in its entirety.  Further I think it takes away from the project when the facilities in place were sufficient both from a common sense standpoint and from a legal one and from what was established p

[2019-06-13 10:07] cedricsolignac opened #2258 "404 page on our website nodejs.org"
Hello,

Juste a bug on our website nodejs.org
https://nodejs.org/fr/docs/inspector/ show 404 page off
Congras
cedricsolignac.free.fr

[2019-06-13 16:28] bdharrington7 commented on #1908
Forgive my lack of knowledge around publishing chrome extensions, but as an aside, why is recording the email addresses of your users needed (as opposed to a uuid)?

If I were in your shoes I might consider it a liability. Given that data breaches are pretty much a daily occurrence now, not only do devs need to be good at developing software, but extra care needs to be taken to avoid opening secur

[2019-06-13 16:38] sam-github commented on #1908
@june07 Your usage policy is pretty clear from https://app.termly.io/document/privacy-policy/04164179-f943-4e87-ac8b-5afd0367dc6c

You argue at length that this policy is reasonable and that most users of NiM are aware of it, and OK with it. That may be true, but I don't think its in the node project's interest to try to evaluate whether that is true or not.

People are welcome to find and use NiM

[2019-06-13 17:32] WaleedAshraf commented on #1908
~~I'd also go @ChALkeR suggestion.~~

I think doing analytics shouldn't be that important? Why not just remove it?
Second, as @eyedean said, it's going to some personal server, that doesn't look right.
Also, I don't know why not use [UUID](https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id#user_id)

[2019-06-13 17:47] Trott commented on #1908
I think it sends a mixed message to ask those questions if you agree with @ChALkeR. @ChALkeR's suggestion (which I also agree with FWIW) is to remove browser extensions from the list no matter what they are. Asking all those questions implies that if they are addressed, then listing it is OK. That's not @ChALkeR's suggestion. If we're not going to list browser extensions no matter what, then those

[2019-06-13 22:09] WaleedAshraf commented on #1908
@Trott you are right. I have made it confusing. Updated my comment.

[2019-06-14 06:29] june07 commented on #1908
@Trott it does feel like a moving goal post.

And I don't agree with the idea of exclusion based on the fact of being a Chrome extension.

Again demonizing Chrome Extensions specifically I don't quite follow.  Speaking directly to this aversion to development with Chrome extension tools, these are a few that I'm sure more than a few have found to be useful:

- [Postman Interceptor](https://chrome.

[2019-06-14 06:40] Trott commented on #1908
For what it's worth, I just think we should avoid listing products/projects at all because it leads to exactly these sorts of problems. Some people think Project X doesn't meet whatever threshold is required in their mind, but other people think it's unfair to exclude Project X when Project Y is included. Additionally, there's the whole issue of ordering--whatever gets listed first will generate m

[2019-06-14 08:35] eyedean commented on #1908
This is the `manifest.json` of all the 4 chrome extensions that you mentioned, where all the required permissions are listed:

- angularjs-batarang: [manifest.json](https://github.com/spalger/angularjs-batarang/blob/master/manifest.json)
- postmanInterceptor: [manifest.json](https://github.com/gnuhub/PostmanInterceptor/blob/master/extension/manifest.json)
- react-devtools: [manifest.json](https://

[2019-06-14 09:32] ChALkeR commented on #1908
_Sigh. Ok, long post incoming._

**That's not the only problem with extensions.**

Browser is the most trusted sandbox for the overwhelming majority of users -- they trust that when they click on a random link from a funny cat video, the advertisement on the linked site won't steal their banking details from the adjacent tab.

Now, each new extension erodes that trust. Even if the extension itself

[2019-06-14 10:40] tniessen commented on #1908
I am fine with either not recommending any or putting up a disclaimer.

Regarding GDPR: From my perspective as an EU citizen (IANAL), the GDPR is covered by federal laws and if an extension violates the GDPR, the author can be sued, no matter whether they are EU citizens themselves or not. And even if they don't violate the GDPR, they still have to adhere to laws with difficult and cumbersome cons

[2019-06-14 18:43] sam-github commented on #1908
PR: https://github.com/nodejs/nodejs.org/pull/2259

[2019-06-14 18:46] sam-github commented on #1908
@Trott  Truly a bit off topic, but wrt

I can't comment on the popularity of the guides, maybe the website group has access logs? I personally look for the debugging guide every time I forget how to run the debugger!

[2019-06-14 18:47] Trott commented on #2253
All done. Thanks, everyone.

[2019-06-14 18:47] #2253 closed, assigned to nobody

[2019-06-14 20:04] glaucia86 commented on #2257
@MylesBorins could see about it?

[2019-06-15 18:23] glaucia86 commented on #2257
cc: @fhemberger

[2019-06-16 04:53] fhemberger commented on #2257
+1 from my side

[2019-06-17 14:09] cedricbu opened #2264 "Typo in February 2019 security release text for CVE-2019-5737"
* **URL**: https://nodejs.org/en/blog/vulnerability/february-2019-security-releases/#node-js-slowloris-http-denial-of-service-with-keep-alive-cve-2019-5737
* **Browser version**: any
* **Operating system**: any

There is a reference to Slowloris ... However, Slowloris was filed as CVE-2018-12122, no CVE-2018-12121.
CVE-2018-12121 was the large header vulnerability
CVE-2018-12122 was slowloris.
See

[2019-06-17 17:08] june07 commented on #1908
@Trott I would tend to agree with you, if [this PR](https://github.com/nodejs/nodejs.org/pull/2259) is merged.

The rules ("goalpost") SHOULD be the same for every organization and in that vein, let us remove every link to Inspector Clients including:

- Chrome DevTools ([Google](https://policies.google.com/privacy))
- Visual Studio Code ([Microsoft](https://privacy.microsoft.com/en-US/privacystat

[2019-06-17 17:54] ChALkeR commented on #1908
@june07 The first four don't seem to be browser extensions? The threat model is very different for those.

The last one is something that I am not familiar with. Does that link directly promote installation of browser extensions? If yes, I am all for removing that too.

Now, "Don't be a browser extension" is not sufficient to get into the list, obviously, even if we agree on not allowing browser e

[2019-06-17 18:23] tlubz opened #2265 "Backpressure docs link to unhelpful wikipedia article"
On https://nodejs.org/en/docs/guides/backpressuring-in-streams/, the linked Wikipedia article for the "backpressure" links no longer resolves to an article about backpressure as applies to data processing, but rather backpressure in fluid dynamics. Looks like someone removed the section on data processing from the Wikipedia page, since it apparently violated Wikipedia guidelines.

Perhaps a new mo

[2019-06-18 16:13] #1908 closed, assigned to nobody

[2019-06-18 16:20] RangerRick opened #2266 "nodejs rsync mirror is missing v8.16.0"
* **URL**: rsync://unencrypted.nodejs.org/nodejs/release/
* **Browser version**: N/A
* **Operating system**: CentOS 7.6

We mirror the nodejs dist but it appears to have not been updated for several weeks (at least, it's missing a `v8.16.0` directory).

[code]

[2019-06-18 17:30] khaosdoctor commented on #2257
Thanks! There are a few people asking to help there, I created a comment answer with our outdated data until now, and I'm updating that comment. So when and if I get the permission I update the whole issue 😄

[2019-06-18 19:04] glaucia86 commented on #2257
cc: @Maledong @Trott hi!

The entire Brazilian Community decided to open an issue to assist in the translation Nodejs.org to pt-br.
@khaosdoctor  is one of the people I know and he would love to help with this **[ISSUE](https://github.com/nodejs/nodejs-pt/issues/80)**.
Would you approve him as a member of Nodejs.org to help us all in this **[ISSUE](https://github.com/nodejs/nodejs-pt/issues/80)**?

[2019-06-18 20:26] Trott commented on #2266
@nodejs/build

[2019-06-18 20:29] Trott commented on #2257
Sure. They've now been sent an invitation to join `@nodejs/nodejs-pt`. Once they accept, they'll be added to that team. I'll close this out, but if they need to be added elsewhere, let me know!

(For being added to `@nodejs/website`, I'll wait for an explicit request from @fhemberger as they seem to be the one paying the most attention to that need over the last several years.)

[2019-06-18 20:29] #2257 closed, assigned to nobody

[2019-06-18 20:37] eyedean opened #2267 "Translation: "Zum Seitenanfang" in the default English docs page"
Hi,

Please check out https://prnt.sc/o3kk97

On https://nodejs.org/de/docs/guides/debugging-getting-started/ when I scroll down half the document and scroll up a little bit, I see a "Zum Seitenanfang" bubble at the bottom right of the screen.  Using Google Translate, I found it is "to the top" (which is also the `id` of the container `<a>` tag for that.)

It's happening on both Chrome and Firefox

[2019-06-18 20:46] Trott commented on #2267
@eyedean You're looking at the German page. (See the `de` in the URL?) The English version is https://nodejs.org/en/docs/guides/debugging-getting-started/ where that bubble says "Scroll to top".

Unfortunately the "German" page is mostly in English because nobody has translated this page into German yet....

[2019-06-18 21:06] eyedean commented on #2267
Hah, great catch!

I got there by googling "Nod Debug Chrome".  It's interesting that the `/de/` version is the only result from nodejs.org that shows up in Google (second result).  I tried in incognito too, and it was the same.

I tried to compare the HTML [source code of `/de`](view-source:https://nodejs.org/de/docs/guides/debugging-getting-started/) with [the `/en` version](view-source:https://

[2019-06-18 21:09] Trott commented on #2267
Easiest solution might be to see if someone might volunteer to translate that page to German so it shows up in German search results and not so much in English ones. :-D

/ping @nodejs/nodejs-de

[2019-06-18 22:07] jbergstroem commented on #2266
I fear this may be because of disk full.

[2019-06-19 02:01] rvagg commented on #2266
[code]

I'll try and get this sorted out today, sorry for the inconvenience folks!

[2019-06-19 04:21] rvagg commented on #2266
All fixed and up to date, it looks like it's been out of sync for some time now without us realising!

Unfortunately we have new problems with the machine and are locked out now. It's responding to http and rsync and should stay synchronized by itself but we're probably going to have to rebuild it and that's probably going to mean an IP address change at some point in the near future.

@nodejs/web

[2019-06-19 04:47] #2266 closed, assigned to nobody

[2019-06-19 05:30] fhemberger commented on #2267
The page doesn't exist in German. So at build time, it's generated using the English content and the translated page frame. We switched to this rather than showing users a 404 page or redirecting them to the English version, which might be confusing as they'll continue to browse the site in English.

The page uses the correct `<html lang="de">`, so this seems to be a Google ranking issue.

But I r

[2019-06-20 03:38] ghost opened #2273 "Help me to re-add my to the Collabrator, please"
Hello all:

I was "Maledong" before.

Haven't seen you for ages, because there's something wrong with my mobile phone, and I had to reset it by clearing it all, and then I forgot to do backups for my Recovery codes, for the abandon wall of Two-Factor, I couldn't log in successfully. I now unlinked my account for a new one here, please re-add my to the collabrator of Nodejs.org.

Sorry for inconven

[2019-06-20 07:10] Clark-G opened #2275 "Wrong Chinese translation"
![image](https://user-images.githubusercontent.com/16334815/59827417-39ae0380-936b-11e9-98d4-569c7113d0f9.png)
There is an error about the Chinese translation of the first sentence in [this page](https://nodejs.org/zh-cn/docs/es6/), the translation "Node.js 不是为 V8 引擎构建的。" , is just opposite meaning of the original sentence, I think the correct translation should be "Node.js是针对V8引擎构建的". @nodejs/nod

[2019-06-20 07:18] ZYSzys commented on #2275
@Clark-G Thanks for pointing this out. Are you willing to make a PR to correct this ? Or we'll correct this later.

[2019-06-20 07:18] ZYSzys commented on #2273
Maybe /cc @fhemberger

[2019-06-20 07:25] Clark-G commented on #2275
Yes, I'm willing to, it will be my first PR on github😁

[2019-06-20 12:07] marvinschopf opened #2277 "Local domains that redirect to nodejs.org"
Hello,

I am the proud owner of the domain holdirno.de (which means getno.de in German) and would now put the same landingpage as on node.js.org (Issue #2253) there. Am I allowed to do that? 😁

Thank you very much,
MarvMan

[2019-06-20 12:10] fhemberger commented on #2273
Sorry, I can't add people to the org, but @Trott or @MylesBorins can.

[2019-06-20 13:13] ZYSzys commented on #2275
Closed via #2276.

[2019-06-20 13:13] #2275 closed, assigned to nobody

[2019-06-20 15:28] MylesBorins commented on #2273
Done

[2019-06-20 15:28] #2273 closed, assigned to nobody

[2019-06-20 17:54] Trott commented on #2277
Barring alterations that would be considered misuse of the Node.js trademark, I don't think we could or would do much to stop anybody from hosting that content at another domain name.

Here's the trademark guidelines in case it's relevant, but I imagine if you're not altering the logo, it's probably not an issue. https://nodejs.org/static/documents/trademark-policy.pdf

[2019-06-20 17:56] marvinschopf commented on #2277
Okay, thanks a lot. :)

[2019-06-20 17:56] #2277 closed, assigned to nobody

[2019-06-20 19:47] fhemberger opened #2278 "Remove dead links from knowledge/other-resources"
Let's remove at least the two dead links in all languages.
Not sure on how the other content is still relevant today.

- [Nodejitsu Blog](http://blog.nodejitsu.com) → gone
- [How To Node](http://howtonode.org) → last update: 03/2016
- [The Node Beginner Book](http://nodebeginner.org/) → ebook
- [Node.js Guide](http://nodeguide.com/) → gone
- [Node Tuts](http://nodetuts.com/) → last update: 04/2016

[2019-06-20 21:10] Trott commented on #2278
I'd be OK removing the page entirely, but certainly 💯 on removing the links that do not work.

[2019-06-20 22:50] fhemberger commented on #2278
+1 for removing the page entirely.

[2019-06-21 13:46] TiagoDanin opened #2280 "Use `Code owner` in Pull Request for translations"
# Suggestion
Use [`Code owner`](https://help.github.com/en/articles/about-code-owners) in Pull Request for translations and enabled [`Require review from Code Owners`](https://help.github.com/en/articles/enabling-required-reviews-for-pull-requests).

## Reason
Improves translation feedback.
This will be of great help to https://github.com/nodejs/nodejs-pt/issues/80#issuecomment-500569698.

## Exam

[2019-06-22 13:09] alexandrtovmach opened #2284 "Russian localization team"
I've made full translation of the website by my own and already merged it to master using direct PR #2243

I'm happy to help with translation, but I need some help with process understanding and managing. Currently, official Russian [nodejs/nodejs-ru](https://github.com/nodejs/nodejs-ru) community is archived.

If it's possible I'd happy to be a contributor and/or owner of the [nodejs/nodejs-ru](h

[2019-06-22 13:10] Trott commented on #2284
@nodejs/community-committee I forget who is in charge of the internationalization effort right now or if there is a better team to @-mention than CommComm, but any help/guidance here would be greatly appreciated.

[2019-06-22 20:10] amiller-gh commented on #2284
✨Summoning @nodejs/i18n and @obensource ✨

[2019-06-24 10:56] yvele opened #2289 "Website is down"
Looks like the Website is down 🤔

https://www.isitdownrightnow.com/nodejs.org.html

![image](https://user-images.githubusercontent.com/4225430/60013750-85b8bb00-967f-11e9-8b44-b400fb7cc585.png)

[2019-06-24 11:03] hugovk commented on #2289
And it's back!

https://nodejs.org/en/

[2019-06-24 11:14] reegnz commented on #2289
Aaaaand it's gone again.

[2019-06-24 11:17] moritzvieli commented on #2289
Down for me as well. I'm also unable to install node locally, because the server is not reachable.

[2019-06-24 11:19] moritzvieli commented on #2289
...up again.

[2019-06-24 11:22] erayalakese commented on #2289
https://www.isitdownrightnow.com is down, too 🤣

[2019-06-24 11:22] reegnz commented on #2289
Could we get a postmortem on what happened?
A bunch of tools rely on that URL, and to me that screams that nodejs.org artifacts are not spread out on a CDN.
Maybe get a deal with a CDN like CloudFlare.

OR worse case scenario: It is behind a CDN and the CDN died!

[2019-06-24 11:27] richardlau commented on #2289
So https://www.isitdownrightnow.com/nodejs.org.html reports the site as down for everyone but it is working for me at work here in the UK (but there are reports in https://github.com/nodejs/node/issues/28403 that it's down for other users in the UK).

cc @nodejs/build-infra (?)

[2019-06-24 11:31] richardlau commented on #2289
From #general on Slack:

[2019-06-24 11:34] ghost commented on #2289
Well, that sucks. Fallback CDN?

[2019-06-24 11:36] ihsancemil commented on #2289
https://nodejs.org/en/ works fine in Turkey. However https://nodejs.org/dist/v10.16.0/node-v10.16.0-x64.msi is still down so that I cannot download nodejs 👎

[2019-06-24 11:36] ghost commented on #2289
looks like an issue with ipv6

  curl -v https://nodejs.org/
     Trying 104.20.22.46...
   TCP_NODELAY set
     Trying 2606:4700:10::6814:172e...
   TCP_NODELAY set
   Immediate connect fail for 2606:4700:10::6814:172e: Network is unreachable
     Trying 2606:4700:10::6814:162e...
   TCP_NODELAY set
   Immediate connect fail for 2606:4700:10::6814:162e: Network is unreachable

this instance does

[2019-06-24 11:38] yvele commented on #2289
Looks like other Websites are down or slow... Cloudflare? 🤔

Edit: Yep https://www.cloudflarestatus.com/

![image](https://user-images.githubusercontent.com/4225430/60016176-b1d73a80-9685-11e9-9372-da1ef43b85bc.png)

[2019-06-24 11:40] jrishabh55 commented on #2289
Cloudflare works for me but not nodejs, Netlify builds are broken we well

[2019-06-24 11:41] richardlau commented on #2289
There's http://unencrypted.nodejs.org as a fallback mirror.

[2019-06-24 11:58] alexandrtovmach commented on #2289
Website is down for me. Ukraine

[2019-06-24 12:01] ericmdantas commented on #2289
Down for me too. It looks like it could be related to Cloudflare's issues?

[2019-06-24 12:03] benoitmugnier commented on #2289
Not working for me too in Switzerland.

[2019-06-24 12:04] gudvinga commented on #2289
Not working for me too in Belarus.

[2019-06-24 12:15] HaeSungDev commented on #2289
Not working for me too in Korea

[2019-06-24 12:19] CreatiCoding commented on #2289
still to me...

[2019-06-24 12:20] bnb commented on #2289
This looks like a global outage. We are aware of this, and are doing what we can to resolve it as soon as possible ❤️

[2019-06-24 12:21] elacalle commented on #2289
Not working for me too in Congo

[2019-06-24 12:24] rvagg commented on #2289
Servers are healthy and CF is even reporting our load balancer origins as green. We're going to have to wait this one out, along with all the other sites impacted, sorry.

[2019-06-24 12:24] gtzinos commented on #2289
https://www.cloudflarestatus.com/

[2019-06-24 12:26] rjurado01 commented on #2289
![image](https://user-images.githubusercontent.com/1703608/60018554-fd8ce280-968b-11e9-8d5f-53e4832e5f20.png)

@cloudflarestatus.com

[2019-06-24 12:29] rvagg commented on #2289
We're back up and other sites that were down seem to be responding again now. I think this can be closed.

[2019-06-24 12:32] zawias-piwik-pro commented on #2289
What's adviced to avoid such issues (not being able to download node binary) in the future? Is  http://unencrypted.nodejs.org  recommended fallback?

[2019-06-24 12:32] bnb commented on #2289
@rvagg I'll lock to collaborators for now – the site came back up for a minute earlier so perhaps it's good to leave it open for a bit just to ensure that it's actually resolved.

[2019-06-24 12:33] bnb commented on #2289
@rvagg still getting 500 errors on some servers – CloudFlare issue is still opened. Seems to be dependent upon what edge nodes you're hitting.

[2019-06-24 12:35] bnb commented on #2289
Going to unlock given that context.

[2019-06-24 12:37] meoti commented on #2289
up and running

[2019-06-24 12:39] moritzgloeckl commented on #2289
We're still having some issues on the Azure DevOps Build Pipeline, due to Node.js not downloading.

[code]

It's basically stuck at this.

[2019-06-24 12:45] lszomoru commented on #2289
@moritzgloeckl, based on the Cloudflare status it looks like the issue has been resolved. Could you please re-queue your Azure DevOps build? Thank you!

[2019-06-24 12:47] martinwoodward commented on #2289
Azure Pipelines able to run Node builds for me now that the [CloudFlare status](https://www.cloudflarestatus.com/incidents/46z55mdhg0t5) showing good.   Thanks everyone!

[2019-06-24 12:54] moritzgloeckl commented on #2289
@lszomoru @martinwoodward

Can confirm, no issues on our side anymore. Thank you so much for looking into and fixing this.

[2019-06-24 12:59] bnb commented on #2289
If we go ~30 minutes from this comment without additional issues I'm happy to lock and close.

[2019-06-24 13:00] jbergstroem commented on #2289
Global network issues, not just Cloudflare. Relevant hacker news thread here: https://news.ycombinator.com/item?id=20262214

[2019-06-24 13:38] #2289 closed, assigned to nobody

[2019-06-24 16:04] alexandrtovmach commented on #806
Hello, I'm not sure what is the current status with language picker implementation. Can I propose something? I'm ready to implement and create PR with language picker on my own. Does it's have a reason?

[2019-06-24 16:37] srl295 commented on #806
@alexandrtovmach just an example on my above discussion, instead of flags use `українська | français | español | 日本語` etc

[2019-06-24 20:41] Nimplex opened #2291 "tu buty yip"
* **URL**:
* **Browser version**:
* **Operating system**:

.

[2019-06-24 20:53] #2291 closed, assigned to nobody

[2019-06-26 15:10] alexandrtovmach commented on #806
@srl295 could you take a look on my PR?

[2019-06-27 02:20] khaosdoctor commented on #2278
I'm kinda confused, which parts of the docs are to be removed? Can you please update me on this so I can remove from our translation efforts? (https://github.com/nodejs/nodejs-pt/issues/80)

[2019-06-27 04:29] Trott commented on #2278
We're talking about removing `locale/XX/knowledge/other-resources/` (where XX is the language code, like `en` for English and `ar` for Arabic). That directory currently only contains a single file.

[2019-06-28 14:50] june07 opened #2302 "Privacy Issue with nodejs.org Tracking Statistics and Marketing Without User Consent"
* **URL**: https://nodejs.org/en
* **Browser version**: Chrome Version 75.0.3770.100 (Official Build) (64-bit)
* **Operating system**: Windows

@fhemberger
Interesting how this has not been addressed, as it seems to clearly fit:

![image](https://user-images.githubusercontent.com/11353590/60350114-bd717c80-9977-11e9-95dd-a1ca180ca36c.png)
[Link to the full report](https://drive.google.com/file/d/1

[2019-06-29 08:14] alexandrtovmach commented on #2284
Ping @nodejs/i18n, @obensource

[2019-06-30 03:42] Trott commented on #2284
Someone more knowledgable, please correct me if I'm wrong, but my understanding is: The nodejs-ru repository wouldn't be the right place anymore. Translations can be PR'ed directly into this repository and/or there's CrowdIn which I admit I don't fully understand so someone else please explain. (Like, is that useful for translating the docs only? Or the website? Or both? Or something else?)

In th

[2019-06-30 10:33] alexandrtovmach commented on #806
This feature already merged, so I think is good idea to close this issue

[2019-06-30 10:33] #806 closed, assigned to nobody

[2019-06-30 10:40] alexandrtovmach commented on #2284
@Trott Thanks for support and help. On CrowdIn we able to translate docs only, so basically need to understand the process of website translating.

[2019-06-30 15:32] khaosdoctor commented on #2278
Oh ok! Then I'll remove this whole section out of the issue so people don't get confused :)

---

One more question here. There's a PR for section 5.11 (https://github.com/nodejs/nodejs.org/pull/2281) which has been closed due to not translating knowledge. Is that part also covered in this discussion?

[2019-07-01 00:22] MylesBorins commented on #2302
@june07 it seems like all of the unnecessary cookies on the domain are coming from google analytics, which we had attempted to [remove in 2018](https://github.com/nodejs/node/pull/23083)... it looks like we missed a couple references... I've [opened a PR](https://github.com/nodejs/nodejs.org/pull/2305) to fix that.

If I'm reading the report correctly we should be compliant after that lands as we

[2019-07-01 05:45] SimonSchick opened #2306 "TLS documentation page not loading"
* **URL**: https://nodejs.org/dist/latest-v12.x/docs/api/tls.html
* **Browser version**: Chrome (latest)
* **Operating system**: MacOS

The page isn't loading, all other pages are.

[2019-07-01 07:01] alexandrtovmach commented on #2267
We also added language picker to the website, so seems like this issue should be closed

[2019-07-01 07:06] alexandrtovmach commented on #2278
Removed this page for all locales in PR. Please check

[2019-07-01 07:10] alexandrtovmach commented on #2069
Should be closed

[2019-07-01 07:12] alexandrtovmach commented on #1977
This issue should be closed

[2019-07-01 07:14] alexandrtovmach commented on #2183
Language picker already implemented and bug seems like no more reproduce, so good to close this issue

[2019-07-01 07:14] #2183 closed, assigned to nobody

[2019-07-01 07:16] alexandrtovmach commented on #2221
The event has already passed, good to close the issue

[2019-07-01 07:16] #2221 closed, assigned to nobody

[2019-07-01 07:20] alexandrtovmach commented on #2251
Unfortunately, this file has no exist, and in that case you have 404. Seems like this page still not translated by @nodejs/nodejs-ko team.

[2019-07-01 07:21] alexandrtovmach commented on #2251
@nodejs/nodejs-ko could you add this page and all other still not translated pages from English template

[2019-07-01 11:03] ChALkeR commented on #2302
@june07 Does this issue still stand after #2305 being merged?

Thanks for locating the Google Analytics traces, btw, that was apparently missed last year when it was removed.

@MylesBorins Thanks for taking care of that!

[2019-07-01 19:08] june07 commented on #2302
@MylesBorins **"Disappointed"** would be a more apt description of my current feelings.

However I will also add that my engagement, content, and presentation has been far from brash.  I'm simply presenting FACTS from a vantage point that seems to differ widely from many here, as well as a historical (very recent) view into the different manner we are treating/have treated issues/individuals/organ

[2019-07-01 21:39] MylesBorins commented on #2302
Closing as it appears we are now compliant

<img width="741" alt="Screen Shot 2019-07-01 at 5 37 52 PM" src="https://user-images.githubusercontent.com/498775/60468231-ff741a00-9c26-11e9-8eb3-43b5ae42ebd0.png">

[2019-07-01 21:39] #2302 closed, assigned to nobody

[2019-07-01 21:50] Trott commented on #2306
Loads fine for me. Can you provide more information? Is there an HTTP error code? Does the browser load an empty page or does it load forever? Is it perhaps loading now and the problem was transitory?

[2019-07-01 22:07] SimonSchick commented on #2306
Must've been a transient issue, it was falling back to cloudflare before.

[2019-07-01 22:07] #2306 closed, assigned to nobody

[2019-07-02 01:31] missmatsuko commented on #2183
@alexandrtovmach Not sure what bug you're referring to?

https://nodejs.org/download/ still doesn't redirect to any language download page, but maybe that's going to be addressed in the new site.

[2019-07-02 08:10] #2258 closed, assigned to alexandrtovmach

[2019-07-02 08:33] alexandrtovmach commented on #2183
@missmatsuko Sorry for disappointing. The bug that you're mentioned in the issue, it's not actually a bug 🤷‍♂️. That's expected result of current architecture of the website. In the same time, we are already implemented language picker, so you can use link to English version, and users will change locale if they need.

[2019-07-02 08:35] #2267 closed, assigned to nobody

[2019-07-02 08:35] #2069 closed, assigned to nobody

[2019-07-02 08:36] #1977 closed, assigned to nobody

[2019-07-02 10:24] alexandrtovmach commented on #2265
@tlubz Thanks for your attention and help

[2019-07-02 10:27] alexandrtovmach commented on #2264
@cedricbu Thanks for reporting issue we will take a look

[2019-07-02 10:29] alexandrtovmach commented on #2250
Issue should be closed, I think

[2019-07-02 10:36] alexandrtovmach commented on #1948
@carlos-ds Thank you for help and initiative. It'd be great if you investigate it and create PR.

[2019-07-02 11:50] #2250 closed, assigned to nobody

[2019-07-02 13:57] bnb opened #2312 "Node.js Website Returning 502 Bad Gateway."
Wanted to get ahead of the issues that others may create – currently nodejs.org is returning `502 Bad Gateway` because CloudFlare is having an ongoing incident.

CloudFlare Statuspage: https://www.cloudflarestatus.com/
CloudFlare Incident Report: https://www.cloudflarestatus.com/incidents/tx4pgxs6zxdr

[2019-07-02 14:14] Trott commented on #2312
The site works for me, but I suppose this may be a depends-on-what-geographic-region-you're-in kind of thing.

[2019-07-02 14:15] bnb commented on #2312
Here's the list of affected edge nodes 😅

[code]

[2019-07-02 14:16] bnb commented on #2312
Seems like it may be resolved 👍

[2019-07-02 14:23] bnb commented on #2312
I will close this issue once the [incident](https://www.cloudflarestatus.com/incidents/tx4pgxs6zxdr) is marked as resolved 👍

[2019-07-02 14:58] bnb commented on #2312
Incident has been marked as resolved. Apologies for anyone who was inconvenienced by this ❤️

[2019-07-02 14:58] #2312 closed, assigned to nobody

[2019-07-02 15:03] missmatsuko commented on #2183
Well you said bug can't reproduced but I still don't know what you meant by that. Nevermind, I guess!

[2019-07-03 09:44] #2251 closed, assigned to nobody

[2019-07-05 07:03] #2278 closed, assigned to alexandrtovmach

[2019-07-05 07:04] #2265 closed, assigned to alexandrtovmach

[2019-07-05 23:20] Trott commented on #1653
@nodejs/n-api Any thoughts on this? This has been inactive for over a year. It would be good to get consensus on whether or not this should be done.

[2019-07-05 23:21] Trott commented on #373
@nodejs/website-redesign Is this a feature that will be in the redesigned website? If so, I'd be inclined to close this as it's been inactive for so long. But if it's not yet determined if it will be in the redesigned website, I don't want to close it....

[2019-07-08 16:32] cioffi42 opened #2322 "Links on "The built-in globals in Node.js" page are 404"
* **URL**: https://nodejs.org/en/knowledge/getting-started/globals-in-node-js/

all of the 'Read More' links and the 'Node REPL' link on this page are 404

[2019-07-09 16:13] godcrampy commented on #2322
I am willing to contribute to this issue. Is making apt changes to [this file](https://github.com/nodejs/nodejs.org/blob/master/locale/en/knowledge/getting-started/globals-in-node-js.md) enough?

[2019-07-10 03:51] godcrampy commented on #2322
Made all the required changes and fixed a few markdown errors for en, uk, ru, fa and pt-br docs.

[2019-07-11 07:33] alexandrtovmach commented on #2322
@godcrampy Thanks for contribution, great job 👍

[2019-07-11 07:33] #2322 closed, assigned to nobody

[2019-07-11 13:31] berdal84 opened #2328 "Link is missing in about page"
There is a strange text in the page https://nodejs.org/fr/about/ :

"(...) Il instaure la **[boucle événementielle][]** (en) en tant que composant (...) "

Maybe a missing link.

[2019-07-11 17:38] Trott commented on #2328
@nodejs/nodejs-fr

[2019-07-12 06:49] cedced19 commented on #2328
Yes it should be something like `[boucle événementielle](https://nodejs.org/fr/docs/guides/event-loop-timers-and-nexttick/)`

[2019-07-12 06:51] cedced19 commented on #2328
I'll submit a PR.

[2019-07-12 19:04] #2328 closed, assigned to nobody

[2019-07-13 12:28] 3imed-jaberi opened #2332 "AR : Bug in debugging-getting-started.md"
* **URL**: https://nodejs.org/ar/docs/guides/debugging-getting-started/
* **Browser version**: 75.0.3770.100 (Build officiel) (64 bits)
* **Operating system**: Windows 10

This page doesn't display well .. There is something wrong and I'm will sent a [PR](https://github.com/nodejs/nodejs.org/pull/2333) #2333 for fix that ..
![bug-demo](https://user-images.githubusercontent.com/43971542/61171613-7e

[2019-07-14 10:50] celyes commented on #2332
Have a look at #2333

[2019-07-14 13:01] Aissaoui-Ahmed commented on #2332
already merged

[2019-07-14 13:01] #2332 closed, assigned to nobody

[2019-07-14 15:45] carlos-ds commented on #1948
Ok thanks @alexandrtovmach .

I suggest the following approach:

- I'm gonna use Sitemap Generator CLI (https://www.npmjs.com/package/sitemap-generator) to generate an XML sitemap for https://nodejs.org. I'm testing the tool right now.
- I will go through the generated sitemap manually to see the result and make changes to the generator config accordingly, then re-run the generator and validate it

[2019-07-15 20:43] Trott commented on #443
@nodejs/website-redesign Any chance this content got a significant overhaul in the redesign? If so, any chance we can port it to the current site?

[2019-07-20 15:27] 3imed-jaberi opened #2345 "AR : Missing part in about/releases.md"
* **URL**: https://nodejs.org/ar/about/releases/
* **Browser version**: 75.0.3770.100 (Build officiel) (64 bits)
* **Operating system**: Windows 10

There is a missing part of the page compared to [the original page](https://nodejs.org/en/about/releases/) ..

![image](https://user-images.githubusercontent.com/43971542/61580442-b4a53e00-ab12-11e9-8a11-c7a027f444f5.png)

[2019-07-20 22:05] Aissaoui-Ahmed commented on #2345
check this #2346 !

[2019-07-21 17:31] MessaoudiHoussam opened #2348 "AR : translate "schedule" !"
*  URL : https://nodejs.org/ar/
* Browser version : Chrome 75.0.3770.142 (Official Build) (64-bit)
* OS windows 10

![Untitled](https://user-images.githubusercontent.com/46626754/61594585-539a6a80-abe5-11e9-8e41-6a4964749feb.png)

translate this term or not !

[2019-07-21 21:25] #2345 closed, assigned to nobody

[2019-07-21 21:26] Aissaoui-Ahmed commented on #2348
check #2346 !

[2019-07-21 21:26] #2348 closed, assigned to nobody

[2019-07-23 15:45] damccorm opened #2351 "Add an lts download link in the dist"
It would be nice if http://nodejs.org/dist/ contained an `lts/` directory. The scenario I'm after is I want to automate the downloading of the LTS version and would like to (a) avoid hardcoding in dates, (b) avoid having to manually update the LTS when a new version is introduced, and (c) having to parse a page to find the current LTS version. Also open to other ways to do this if I'm missing some

[2019-07-23 15:54] richardlau commented on #2351
For reference, previous discussion: https://github.com/nodejs/node/issues/11173

The tool that creates the links is https://github.com/nodejs/nodejs-latest-linker

[2019-07-23 16:47] Trott commented on #309
I don't think this is likely to happen in the current site, but is a possibility for the website redesign. Is there an appropriate repository that I can transfer this issue to? /ping @nodejs/website-redesign

[2019-07-23 16:49] Trott commented on #686
Closing as stale/inactive but also something the website redesign folks are no doubt considering.

[2019-07-23 16:49] #686 closed, assigned to nobody

[2019-07-23 16:51] Trott commented on #493
There is now a link to the LTS schedule on the front page. I think this can be closed as stale/inactive/done-ish. Feel free to re-open if you think I'm wrong.

[2019-07-23 16:51] #493 closed, assigned to nobody

[2019-07-23 17:11] damccorm commented on #2351
Oh, sorry - missed that issue or I would've linked. Happy to move this discussion wherever its best - do you think that's https://github.com/nodejs/nodejs-latest-linker?

[2019-07-30 14:36] 3imed-jaberi opened #2357 "Join Request"
I'm creating this issue because i'm interested in contributing to Node.js.
I have seen the degree of progress in the Arabic content .. I wanted to enrich this content and develop it with the current team .. You can see my recent contributions and I am really looking forward to more ..

Therefore , i ask you to invite me in these three teams ( collaborator ) :
- nodejs.org
- nodejs-ar
- i18n

Thank

[2019-07-30 16:44] 3imed-jaberi commented on #2357
@bnb , @Trott  , @MaledongGit , @mhdawson  ..

[2019-07-31 17:01] Trott commented on #2357
@3imed-jaberi I've added you to the `@nodejs/website` team which gives you write access to this repository.

[2019-07-31 17:03] Trott commented on #2357
@amiller-gh @bnb @obensource @richardlitt @zeke See above for request to join `@nodejs/i18n`. I'm not sure why they're asking for that particular group or what the process is for onboarding someone, but maybe you can point them to a link or something?

[2019-07-31 17:07] Trott commented on #2357
I think they just want repository access, not to be added to the i18n team specifically. There's probably no action to be taken there, to be honest.

I did take the liberty of adding them to the `nodejs-ar` team. There was only one other member and the associated repository is utterly inactive.

[2019-07-31 17:09] Trott commented on #2357
Closing as I don't think there's further action to take here.

[2019-07-31 17:09] #2357 closed, assigned to nobody

[2019-07-31 17:52] RichardLitt commented on #2357
Thanks, @Trott

[2019-07-31 22:42] 3imed-jaberi commented on #2357
I will assist in all projects without exception ..
I applied to join these groups in an attempt to develop Arabic content for Node.js.

Thanks @Trott

[2019-08-13 15:08] XhmikosR opened #2396 "Wrong URLs on Windows"
While playing with the source code on my Windows dev VM, I notice that there are hundreds of wrong URLs.

For example: `<a href="/en/blog/release\v10.16.2/">v10.16.2</a>`

It seems `post.path` wrongfully uses backslashes on Windows.

Not super important since most people don't use Windows, but I thought I'd report it in case someone has the time to help.

[2019-08-13 15:22] XhmikosR opened #2398 "Fix HTML validation errors"
It seems there are plenty of errors, with some of them important IMO.

For example https://validator.w3.org/nu/?doc=https%3A%2F%2Fnodejs.org%2Fen%2Fblog%2F

We could automate the checks if you agree, most should be easy to fix. Here's a first attempt to use the official HTML validator: https://travis-ci.org/XhmikosR/nodejs.org/builds/572662096

[2019-08-15 07:48] XhmikosR opened #2404 "Tighten stylint config"
While looking at #2394 I notice that stylint's config is very lax.

I'll make a PR later to tighten things a bit

[2019-08-17 06:35] XhmikosR opened #2422 "Wrong path when there's no previous yearly archive"
There's a bug somewhere that results in the wrong link in https://nodejs.org/en/blog/year-2011/

Older: https://nodejs.org/en/blog/index.md

I haven't had the time to look into it yet.

[2019-08-17 06:55] XhmikosR opened #2424 "404 links and how to handle them in the future"
[code]

For the future we could use [linkinator](https://github.com/JustinBeckwith/linkinator), although we'd need to tweak it to handle the internal docs links that are missing from this repo.

[2019-08-17 07:14] XhmikosR opened #2425 "Enable repo option for the branches to be up to date before merging"

[2019-08-17 11:03] XhmikosR opened #2429 "is npm gzip script still useful?"
Being that now Cloudflare is used, which means we have Brotli compression available, is the npm gzip script still useful and/or used at all in practice?

https://github.com/nodejs/nodejs.org/blob/229e9f07febf2f877b8a2a2a4bbdc5500f12b1b9/package.json#L11

Actually judging from the response headers, it seems Brotli isn't enabled on Cloudflare. Any special reason for not doing this and getting rid of

[2019-08-17 13:19] Trott commented on #2429
@nodejs/build

[2019-08-17 13:20] Trott commented on #2429
I know most people in build don't deal with the website infra, but I know *some* of them do. (@rvagg, I think?)

[2019-08-18 02:34] #2404 closed, assigned to nobody

[2019-08-20 01:28] rvagg commented on #2429
because new shiny things get overlooked

I've turned it on. Give it a test and if it's working then I guess you can remove the "gzip" target. Remember to remove it from the "deploy" target too.

[2019-08-20 07:55] XhmikosR commented on #2429
Looks good so far, not a huge gain but I guess that's normal since you were using gzip level 9 before. The diff is 1.29KB.

I'd say someone monitors how things will go on the server side with load etc, since files aren't cache-busted and I don't know what the cache ratio is. If all is well, we drop the script and leave Brotli on.

[2019-08-20 14:21] shirbr510 opened #2434 "releases rss feed filtering"
I have a slack bot that responds to rss from this feed https://nodejs.org/en/feed/releases.xml

the problem with this feed is that the feed is becoming cluttered with minor and patch release posts

can I somehow filter only on major releases?

I assume it is impossible due to the fact it's an xml file, but maybe there's a server in the middle that can accept a query 😄

[2019-08-21 13:06] mureinik opened #2438 "DOC: Dead link for BFJ"
The documentation mentions Big-Friendly JSON (BFJ), but links to an outdated, archived, GitHub repository (https://github.com/philbooth/bfj).
A better option would be to link to the NPM package page (https://www.npmjs.com/package/bfj), in a similar way to how JSONStream is referenced earlier in the same paragraph.

[2019-08-21 15:00] XhmikosR opened #2440 "Duplicate heading IDs"
[anchor-markdown-headings.js](https://github.com/nodejs/nodejs.org/blob/master/scripts/plugins/anchor-markdown-headings.js) generates duplicate IDs in many cases causing breakage since IDs are supposed to be unique.

An example is https://nodejs.org/en/download/package-manager/#alternatives but if you go to Windows https://nodejs.org/en/download/package-manager/#windows, you will see it also has a

[2019-08-21 15:17] XhmikosR opened #2442 "TimeoutOverflowWarning when building the site"
When building the site with `npm run build` I get:

[code]

I'm on Node.js 12.8.1 on Windows 10 64-bit but it happens on Travis too. It's just not shown because currently the build script is inside tap. You can see it on my fork though https://travis-ci.org/XhmikosR/nodejs.org/builds/574910707#L216

IMO we should run `npm run build` in an npm script and not inside tap.

[2019-08-21 15:29] XhmikosR opened #2443 "watch is broken"
Could be I'm on Windows, but whenever I edit a markdown file, the server crashes for me:

[code]

If I edit a layout or CSS file, the server reloads fine.

I tried updating chokidar (I'll make PRs for the deps tomorrow) and with the new version it doesn't crash, but throws a promised unhandled exception error.

[2019-08-21 21:57] XhmikosR commented on #2443
After the recent patches we are now down to this:

[code]

Should I try passing `localesData` in serve.js `buildLocale`?

[2019-08-22 10:34] XhmikosR opened #2450 "Translations with English content policy"
What's the policy about translations that just have the English content and in some cases old English content?

Shouldn't those files be removed from the translations until they are translated?

I feel it's bad practice to keep the English files in translations out of sync. It also slows down development.

PS. I just happened to notice this while fixing the IDs to be unique (https://github.com/nod

[2019-08-23 06:38] #2438 closed, assigned to nobody

[2019-08-24 09:39] XhmikosR opened #2459 "htmllint issues on Windows"
It seems httmllint gets confused by the missing space in the handlebar templates, but this issue only appears on Windows hence why Travis CI builds just pass.

[code]

I don't think we should change the code to add the space back. In fact I'm not sure if htmllint offers any value... The website was full of serious HTML validation errors that were caught by the official HTML validator which I plan

[2019-08-24 14:08] XhmikosR commented on #2459
https://travis-ci.org/XhmikosR/nodejs.org/jobs/576205825

If Windows on Travis CI wasn't so slow, I'd say we added it, but it's too slow.

Are there any plans to switch to GitHub Actions CI?

[2019-08-24 14:10] XhmikosR commented on #2443
@MaledongGit: here's more info

In server.js

https://github.com/nodejs/nodejs.org/blob/411eac482064734e6dfe2bab7d29c471f930a5c9/server.js#L59

But in build.js buildLocale is using `opts.localesData` which is undefined and throws on watch

https://github.com/nodejs/nodejs.org/blob/411eac482064734e6dfe2bab7d29c471f930a5c9/build.js#L78

[2019-08-25 02:30] ghost commented on #2443
@XhmikosR , fixed it, you can have a review at https://github.com/nodejs/nodejs.org/pull/2457, thanks!!!

[2019-08-25 06:44] XhmikosR opened #2463 "Split npm test scripts"
I had made #2405, but my patch wasn't accepted as it was.

That being said, I find the current situation inconvenient. We can't run just `standard` without running the whole batch of scripts in `npm run test:lint`.

I believe this should be addressed.

[2019-08-25 06:50] XhmikosR opened #2464 "Supported Browsers"
As things are right now, I can't find what the supported browsers are.

I think we should first start by adding a .browserslistrc file in the repo root, which will be used by autoprefixer.

There's also some ancient code like a `document.querySelectorAll` polyfill https://github.com/nodejs/nodejs.org/blob/e8e7d3192c418282626083189463cdcfc3370947/static/js/download.js#L5-L28

which I'm pretty confi

[2019-08-25 07:25] XhmikosR opened #2467 "Move CSS/Stylus into static folder"
I have a WIP patch, I'll make a PR in the next days because it requires a couple of my other PRs to be sorted first.

If we go with this, I'm not sure if we need metalmisth-stylus anymore. We'll see how it'll go.

[2019-08-28 22:28] traverseda opened #2477 "Advertising package"
It looks like this project depends on https://github.com/feross/funding, a project intended to show advertising in a projects build log.

It's my understanding that right now there aren't any advertising messages actually showing, but if you're uncomfortable with the possibility of advertisements in build logs that's something you might want to look into.

[2019-08-28 22:40] richardlau commented on #2477
This came in as part of the update for standard to 14 (https://github.com/nodejs/nodejs.org/pull/2451). See https://github.com/standard/standard/issues/1381.

[2019-08-29 05:17] Trott commented on #2477
Note that this does not effect end users of the site. For that matter the package does nothing at this point and will do nothing in the future as the terminal-ad thing is basically abandoned.

The dependency seems likely to be removed in a subsequent version of `standard`.

I don't think there's much reason to leave this open. However, if someone wants to open a pull request to eliminate it, any c

[2019-08-29 05:17] #2477 closed, assigned to nobody

[2019-08-29 07:07] #2443 closed, assigned to nobody

[2019-08-30 10:24] silverwind commented on #2464
I'd add it to `package.json` instead. I think that is the preferred method nowadays.

[2019-08-30 10:26] XhmikosR commented on #2464
I'd say both are fine, but keep in mind that with the package.json solution we hit [a pretty nasty bug](https://github.com/twbs/bootstrap/issues/26876) in the past. Personally, I just use a `.browserslistrc` file.

[2019-08-30 23:12] ghost commented on #2459
@XhmikosR , It seems this is also checked in CI, just like what you said in https://travis-ci.org/XhmikosR/nodejs.org/jobs/576205825, and I've fixed it in my submit ;)
![image](https://user-images.githubusercontent.com/52018749/64055294-2ebeed00-cbbe-11e9-87f8-dc1f01f6f129.png)

BTW: Do you mean the time in windows or Linux is a huge difference when using Htmllint? I'd say that we should keep it b

[2019-08-31 04:44] XhmikosR commented on #2459
@MaledongGit: yeah I meant Windows, but Travis is a no go for this currently, unfortunately.

About your PR, I commented there. These aren't real issues, and for example, it hasn't warned us for indentation issues. We shouldn't be using htmllint IMO.

[2019-08-31 09:29] ghost commented on #2459
@XhmikosR：You mean in Linux it skipped the check……？This is really strange....

[2019-08-31 09:47] XhmikosR commented on #2459
I'd say it's a bug in htmllint probably, that behaves differently on Windows hence the errors.

[2019-09-02 05:06] #2440 closed, assigned to nobody

[2019-09-02 07:22] XhmikosR commented on #2442
I managed to trace this down to

[code]

[code]

So, this needs node-version-data to bump jsonist. @rvagg any chance you could take care of this?

[2019-09-03 06:55] alexandrtovmach opened #2488 "Help needed with staled process of translation"
I've already discussed and planned a lot of stuff related to translation, but in case of @zeke is very busy the process is staled.

https://github.com/nodejs/i18n/issues/72

Could someone help me with credential to Crowdin of nodejs?

[2019-09-03 11:22] XhmikosR commented on #2459
Closing since this no longer occurs.

[2019-09-03 11:22] #2459 closed, assigned to nobody

[2019-09-03 14:06] XhmikosR commented on #2425
Friendly bump. We might as well require Travis CI to pass too.

[2019-09-03 16:55] zeke commented on #2488
Hey @alexandrtovmach. Sorry I haven't been able to unblock you on this, and thanks for being kind and patient even though this must be very frustrating. I have access to the credentials, but we use GPG to secure them, and I'm currently unable to install the `dotgpg` tool we use to extract them. It's a ruby dependency and every time I try to install it get that dreaded `extconf.rb` compilation erro

[2019-09-03 21:33] obensource commented on #2488
@zeke & @alexandrtovmach just left a comment in the issue. Very sorry for the delay – swamped at work and personal things too. I have the credentials and just safely shared them with Zeke. Let me know how you'd like to proceed and I'll do my best to help you get some momentum going with nodejs/i18n#72.

[2019-09-03 21:37] Trott commented on #2425
I'm not sure I understand the option you're speaking of....

[2019-09-03 21:38] Trott commented on #2488
(Should this issue be closed now that things are moving again in the i18n repo?)

[2019-09-03 22:20] #2488 closed, assigned to nobody

[2019-09-03 23:06] #2396 closed, assigned to nobody

[2019-09-04 00:49] ghost opened #2491 "doc：How to replace old URLs in the history blog?"
I notice that there're many old URLs that don't exist, but consider these are of old history blogs, we shouldn't change them to modify the historic tracks, and there're still some other URLs we cannot find real links of them.

e.g:

1. Not exist: http://events.linuxfoundation.org/events/node-interactive, change to 'https://events.linuxfoundation.org/events/nodejs-interactive-2019/', it won't jump

[2019-09-04 00:52] ghost commented on #2491
@nodejs/documentation

[2019-09-04 06:27] XhmikosR commented on #2491
@MaledongGit this is a duplicate of #2424. Please move the discussion there.

I plan to automate this eventually, see my comments in that issue.

[2019-09-04 06:31] XhmikosR commented on #2425
@Trott you need to go into settings -> branches and choose protect master. There you will see a lot of of options including this.

I would require Travis to pass for sure personally, too.

[2019-09-04 08:21] rokaslit6 opened #2494 "False canonical link on your pages"
* **URL**: https://nodejs.org/en/blog/ (your docs, download & other pages are affected)
* **Browser version**: Google Chrome Version 76.0.3809.132 (Official Build) (64-bit)
* **Operating system**: macOS Mojave Version 10.14.5 (18F132)

Hi,

I have noticed that a lot of pages on node.js website have a canonical link https://nodejs.org/en/false/. This link is a 404 page.

Issue is that your organic

[2019-09-04 09:10] XhmikosR commented on #2494
Locally, with `npm start` or `npm run build`, the generated HTML files don't have the issue.

I believe it's a regression in the slashes patch. I'll make a PR and remove the process.platform check.

[2019-09-04 09:17] XhmikosR commented on #2424
We really need this added. I'm gonna spend some time later to have a patch, I'm just not sure how to speed it up.

[2019-09-04 13:08] Trott commented on #2425
Ah, I see. Documentation for anyone else who needs it: https://help.github.com/en/articles/defining-the-mergeability-of-pull-requests

[2019-09-04 13:11] Trott commented on #2425
@nodejs/website Thoughts?

[2019-09-04 13:20] ZYSzys commented on #2425
TBH, I'm kind of -1 on this, we will need to click `Update branch` almost every time when we are ready to merge PRs, it's a bit annoying.

Maybe see https://github.com/nodejs/nodejs.dev/issues/160.

[2019-09-04 13:22] alexandrtovmach commented on #2425
@XhmikosR What is the benefits of this?

[2019-09-04 13:25] XhmikosR commented on #2425
Annoying as it may be, but there's no other way than having stuff land that will break CI.

Also, I assume that currently the master branch isn't even protected, which is bad.

This is the de facto, at least for me:

1. the main branch is protected, nothing can land without CI passing, branch up to date and approvals
2. when I requested about the up to date option, I assumed the master branch woul

[2019-09-04 13:26] #2494 closed, assigned to nobody

[2019-09-04 13:31] XhmikosR commented on #2424
If anyone wants to help, let me know. I'm not sure how to proceed with linkinator and I'm not aware of another package that works equally good.

The problems I hit so far with linkinator:

1. I can't do `linkinator build/` since the build folder doesn't have any html file
2. If I exclude any non-local links we don't get to see the full picture. But scanning the whole site takes **a lot** of time a

[2019-09-04 13:44] Trott commented on #2424
Exclude external links for now and figure out how to handle those later? That will at least prevent an issue like the slash-replace thing that broke a bunch of links on the site.

[2019-09-04 13:46] XhmikosR commented on #2424
Alright, I'll wrap my branch up and make a PR later. Note that for the canonical issue, it wouldn't have been caught since it's not an internal link.

[2019-09-04 13:51] XhmikosR commented on #2424
Although, there's still the first issue I have.

I made an upstream issue - https://github.com/JustinBeckwith/linkinator/issues/82

[2019-09-04 13:55] alexandrtovmach commented on #2425
I agree with you about protecting `master` branch, but I still can't understand the benefits of your request?

@Trott Could you doublecheck protecting branch?

[2019-09-04 13:57] Trott commented on #2425
We currently don't have any branch protection rules.

[2019-09-04 13:59] XhmikosR commented on #2425
Like I explained above, the benefit is that we will catch and issues before they land on master.

Now, we can't know beforehand if something will break the build, because if a PR branch is behind, it'll stay behind until it's merged.

[2019-09-04 14:03] alexandrtovmach commented on #2425
So we need turn on Travis CI checks of PR's and add rule to not allow merge it if something failed. I think it works better than "update branch" functionality

[2019-09-04 14:05] XhmikosR commented on #2425
Again, you can't know that way if something **will** break the master unless the option for the branches to be up to date is enabled.

[2019-09-04 14:06] alexandrtovmach commented on #2425
@Trott I think that's not a critical thing, because just collaborators has access to force push into `master`. But it's easy and good to add this rules. Who has permissions to repo settings?

[2019-09-04 14:08] alexandrtovmach commented on #2425
@XhmikosR Branch for the PR should be based on target branch (in our case it's `master`), and before making a PR ― developer should merge `target->current` to resolve conflicts etc. Then, on each PR, Travis run all the tests and if something failed ― nothing will go to the `master`.

[2019-09-04 14:11] XhmikosR commented on #2434
This is generated via 2 metalsmith plugins so you get what it is :)

[2019-09-04 14:25] XhmikosR commented on #2425
When there's no conflict, no one merges manually. I know I don't.

Hence why the button is useful.

[2019-09-04 15:07] alexandrtovmach commented on #2425
09:00
`feature-branch` created based on `master`

09:30
added new linter rules to `master`

10:00
`feature-branch` haven't conflicts and without merging `master` -> `feature-branch` created PR `feature-branch` -> `master`

10:01
passed Travis CI checks without new linter rules from 09:30 in `master`

10:02
PR merged

I think this scenario is edge case, and adding one annoying button to avoid just

[2019-09-04 16:29] XhmikosR commented on #2425
It's not a time issue. We have PRs open for weeks or months.

Seriously, I don't see how you don't see the usefulness of this. It's just a button to press which does not take a lot of time and ensures everything is in order **before** merging anything.

[2019-09-05 00:48] Trott commented on #2425
Anyone on the TSC (which would include me) and a few other people for various reasons, but basically I can do it if there's consensus.

[2019-09-05 02:54] rvagg commented on #2442
Published node-version-data@1.1.0 which should address this. Thanks for all the diligence around this repo @XhmikosR, good work!

[2019-09-05 07:33] silverwind commented on #2464
Fine with me either way.

[2019-09-05 07:48] shirbr510 commented on #2434
well, I can see how it is used but it still doesn't answer my question

assuming you add an additional type called `majorReleases` to all the major releases articles, you could create an additional feed that will be used only for major releases without damaging the existing feeds 💯

I hope you get what it is 😉

[2019-09-05 08:05] XhmikosR opened #2501 "Find a way to check for extraneous escapes in code blocks"
See #2493. Maybe we can have something after we switch to remark-lint. Until then, this will keep happening and it requires review before merging to catch such issues.

[2019-09-05 09:17] ask-khan opened #2502 "write huge data into a file in crashes node"
**The node crashes when writing around ~600MB of data into a file. It works fine if the writable data is smaller.
P.S. My server has 4 GB of ram.
How to solve this issue? Any help would be highly appreciated. The code is list below I am using **write** function of fs and I can used pipe for it but for this i have to readstream function in it with writestream**

`function logIntoFile (logObject){

[2019-09-05 11:00] vsemozhetbyt commented on #2502
Try to ask in https://github.com/nodejs/help, as this repository is for Node.js website source code (nodejs.org).

[2019-09-05 11:30] #2502 closed, assigned to nobody

[2019-09-05 18:25] XhmikosR commented on #2467
Any thoughts about this?

I have a WIP branch on https://github.com/nodejs/nodejs.org/compare/master...XhmikosR:master-xmr-css-target

[2019-09-06 02:06] #2442 closed, assigned to nobody

[2019-09-06 06:35] XhmikosR opened #2510 "Remove English commented out code from translations"
It seems it's common practice. We need another way for translators to follow the English files and know up to where they have translated. Maybe a simple HTML comment with the hash and then they can compare after that and see the diff.

Right now, many translations follow this practice which results in ~2x lines. All this does not come for free and it's bloating the codebase IMO.

Also, there's #24

[2019-09-07 06:25] XhmikosR opened #2523 "Use the same JS linting as the node repo"
Adapted for the frontend JS files since ES5 is used there.

[2019-09-07 06:25] XhmikosR opened #2524 "Lint inline Markdown JS"
This will ensure consistency. We should try doing this after #2523 and use the same config as upstream.

[2019-09-08 06:31] #2463 closed, assigned to nobody

[2019-09-08 06:32] XhmikosR opened #2538 "Don't minify CSS on dev"
I was thinking to use an env var for this in `npm start` so that this helps with debugging locally.

Also, this should be made for cases like #2537

[2019-09-08 06:56] XhmikosR opened #2541 "lang-switcher: make it follow history"
It seems currently `window.location.replace` is used, which doesn't follow history.

IMO we should change this to https://developer.mozilla.org/en-US/docs/Web/API/Location/assign

[2019-09-08 07:52] XhmikosR opened #2542 "Move inline JS outside of HTML"
This will make it cached, linted and should reduce the HTML size. Since we have HTTP/2, it shouldn't make a noticeable difference assuming we load it asynchronously.

Just to be clear, I personally prefer to inline small JS. But in this case here, we have ~11K HTML files.

[2019-09-08 12:32] XhmikosR opened #2545 "Switch lang-picker-toggler to a button"
Should be better for accessibility and we will probably simplify a few things.

I'll take a stab at it in the next days.

[2019-09-10 04:50] moshfeu commented on #2545
If you already touch it, it will be better to add more accessibility aspects to the list (options also should be focusable, `aria-expanded`, `aria-haspopup` etc.)

[2019-09-10 04:56] XhmikosR commented on #2545
See https://github.com/nodejs/nodejs.org/pull/2566

Only toggling aria-expanded is left.

[2019-09-10 05:06] moshfeu commented on #2545
🔥
I'm not familiar with that syntax but I can't see how the `option`s will be focusable (navigate via tabs, or even arrows)

[2019-09-10 05:11] XhmikosR commented on #2545
That doesn't work, unfortunately. Nor the toggler closes with the Esc key. But you are more than welcome to help me out in that PR :)

[2019-09-10 09:10] moshfeu commented on #2545
Ok.
I'll see what I can do :)

[2019-09-14 08:23] grodd commented on #2264
Hey! Can I work on this issue?

[2019-09-14 08:51] alexandrtovmach commented on #2264
@grodd sure. Thank you

[2019-09-15 01:41] #2264 closed, assigned to nobody

[2019-09-15 13:53] grodd commented on #2510
Hey! Can you tell me more about this issue?

[2019-09-15 14:13] XhmikosR commented on #2450
I think this can be closed. I removed most of the English files from translations.

[2019-09-15 14:13] #2450 closed, assigned to nobody

[2019-09-16 01:13] nschonni commented on #2510
EX: English text is copied into the translated documents like

https://github.com/nodejs/nodejs.org/blame/347682b75702a51d515b307aabd1e4766df55978/locale/ko/about/index.md#L9-L18

So if the English is updated, these are actually out of sync.

[2019-09-20 02:00] ghost commented on #2510
@XhmikosR and @nschonni, I know this so far, it seems this is Korean and Japanese's habit. So we don't need to worry about them.
But in order to be fair, I'd invite @nodejs/nodejs-ko and @nodejs/nodejs-ja to have a discussion about it. If they don't agree with your ideas, I have to close your issue.

[2019-09-20 02:18] yous commented on #2510
Commenting the corresponding commit hash of English file may work. But transition will take time as it requires re-sync of all translation files. I personally don't have objections to having process transition. But I have to listen how @nodejs/nodejs-ko think.

[2019-09-20 05:46] XhmikosR commented on #2510
It's also a habit in pt_BR, at least in some files.

[2019-09-20 09:15] alexandrtovmach commented on #2510
We decided to go with CrowdIn approach here https://github.com/nodejs/i18n/issues/72 and I'm now working on configuring it, so this issue will be fixed in near future.

[2019-09-23 08:03] XhmikosR commented on #2424
Here's the updated list with the 404s I have PRs that fix them removed:

[code]

Some are FP like most of the linkedin links. Let me know how to proceed.

[2019-09-23 09:11] XhmikosR commented on #2523
I'd like to take a stab at it, but I'm not sure where to start. Also, this change will probably be a big one, from a quick look. But at least this way we'll be consistent. And then we can look into #2524, which IMO is super important.

[2019-09-23 20:46] bnb opened #2598 "Add @XhmikosR as Website WG member"
A formal issue to add @XhmikosR as a Website WG member. They've made 101 Pull Requests to this repo with non-trivial changes, and are regularly helping with upkeep of the official Node.js website.

[2019-09-25 14:34] rafialhamd opened #2603 "Web page broken link (404 error)."
Web page:
[https://nodejs.org/en/knowledge/advanced/streams/what-are-streams/](https://nodejs.org/en/knowledge/advanced/streams/what-are-streams/)

The above page contains the below link that results in 404 page.
[pipe](https://nodejs.org/how-to-use-stream-pipe)

[2019-09-25 14:59] XhmikosR commented on #2603
Should think link to `/en/docs/guides/backpressuring-in-streams/`?

Or `/en/knowledge/advanced/streams/how-to-use-stream-pipe/`?

[2019-09-25 15:13] XhmikosR commented on #2603
NVM I'll make a PR

[2019-09-26 22:36] #2545 closed, assigned to nobody

[2019-09-27 22:22] #2538 closed, assigned to nobody

[2019-09-28 06:50] rafialhamd opened #2613 "Web page broken link (404 error) ../what-is-try-catch/"
Web page:
[https://nodejs.org/en/knowledge/errors/what-is-try-catch/](https://nodejs.org/en/knowledge/errors/what-is-try-catch/)

The above page contains the below link that results in 404 page.
[standard](https://nodejs.org/what-are-the-error-conventions)

[2019-09-28 07:52] XhmikosR commented on #2613
@rafialhamd No need to make a new issue, please close this and keep #2603
All of those are fixed in #2604

[2019-09-28 09:21] rafialhamd commented on #2613
@XhmikosR Closed 'this' issue, as suggested.

[2019-09-28 09:21] #2613 closed, assigned to nobody

[2019-09-28 15:05] #2422 closed, assigned to nobody

[2019-09-28 15:40] XhmikosR opened #2617 "Stop outputting site.json in the build dir"
It seems currently each locale's site.json file is output in the build dir. For example https://nodejs.org/en/site.json

Is this intentional? If not we should ignore them.

[2019-09-28 20:50] #2603 closed, assigned to nobody

[2019-09-29 11:21] #2467 closed, assigned to nobody

[2019-09-29 13:29] XhmikosR commented on #2113
I think we should move with dependabot. But before that we should definitely enable automated security fixes in the repo: https://help.github.com/en/articles/configuring-automated-security-fixes

[2019-09-29 13:35] XhmikosR commented on #1612
Agreed, the only proper solution would be to disallow GitHub flavored links and require all of them to be wrapped in `<>`. But it's not a simple change, there's so much old content and inconsistencies.

For starters, we should check how is this addressed upstream in core. Then we need to verify the release post template and tools follow this scheme, enable the check in the markdown linter and have

[2019-09-29 17:58] Trott commented on #2113
Automated security fixes are turned on for the repository (as of a few days ago, I think). IIUC, GitHub purchased dependabot and that's how automated security fixes are done. So I guess this can be closed?

[2019-09-29 18:02] XhmikosR commented on #2113
Nope, one still needs to add the dependabot app for normal dependency
updates and configure it optionally

On Sun, Sep 29, 2019, 20:58 Rich Trott <notifications@github.com> wrote:

[2019-09-30 21:10] Trott opened #2632 "Thanking contributors"
symfony.com has a box at the bottom of their main page titled "They Help Us Make Symfony" that thanks an apparently-random contributor. We should totally do something like this IMO.

<img width="1294" alt="Screen Shot 2019-09-30 at 1 45 28 PM" src="https://user-images.githubusercontent.com/718899/65917361-0af0f180-e38c-11e9-87c3-17a65f5dc277.png">

[2019-09-30 21:13] jrjohnson commented on #2632
That's my face! Which I bring up because there is some magic here in that it thanks you specifically if it knows who you are. If not, then it's random. Both of which I think you should steal (borrow).

[2019-10-01 13:25] aymen94 commented on #2113
I think it has to be added **dependabot** or similar because is also configurable etc...

[2019-10-01 14:59] KeziahMoselle commented on #2632
Can I work on this please ?

[2019-10-01 16:20] Trott commented on #2632
No need to ask! Go for it!

[2019-10-01 16:21] KeziahMoselle commented on #2632
Thank you !
Is there anything I need to know first ?

[2019-10-01 16:25] Trott commented on #2632
Yes. You can start with the README file.

[2019-10-01 16:26] KeziahMoselle commented on #2632
I mean, for the design and the location of the card (in the footer I guess ?)
Edit: I saw there was a contributor-list package in `/scripts/contributor-list` should I use it ? (I don't think so, but asking anyway) 😄

[2019-10-01 17:11] Trott commented on #2632
I don't have any good insight on how best to implement this, I'm sorry to say. I'd say look at what's there and try to comply with existing style.

[2019-10-01 17:11] KeziahMoselle commented on #2632
No problem ! Thank you

[2019-10-01 21:15] #2542 closed, assigned to nobody

[2019-10-01 23:14] Trott commented on #2425
I've protected the master branch on this repo. If that doesn't cause any issues in the next several days, we can look at doing more.

[2019-10-02 15:58] #2398 closed, assigned to nobody

[2019-10-03 18:50] Trott commented on #2632
I'm going to remove the good-first-issue label here because there's a very active draft PR at https://github.com/nodejs/nodejs.org/pull/2635 to implement this.

[2019-10-08 10:38] XhmikosR commented on #2425
@Trott I think everything is good, can you enable the option for branches to be up to date too?

[2019-10-08 13:06] XhmikosR commented on #2425
Oh, and require CI to pass if you haven't done it already.

[2019-10-08 13:44] #2284 closed, assigned to nobody

[2019-10-09 02:20] Trott commented on #2425
Done and done. If it causes problems, we can always turn it off, of course.

[2019-10-09 02:20] #2425 closed, assigned to nobody

[2019-10-09 02:26] #2617 closed, assigned to nobody

[2019-10-09 05:51] Trott commented on #2598
Done.

[2019-10-09 05:51] #2598 closed, assigned to nobody

[2019-10-09 05:51] Trott commented on #2598
(Er, I mean, invitation sent, but they still have to accept it in the GitHub interface.)

[2019-10-09 05:53] Trott opened #2652 "remove GOVERNANCE, update COLLABORATOR_GUIDE, possibly other docs"
Since the Website WG isn't a thing, the GOVERNANCE and other docs need to be updated (and in some cases perhaps removed). There are still rules we need to agree on and follow, but formal governance is less of an issue.

[2019-10-09 09:37] XhmikosR opened #2654 "`build:deploy` fails with `EMFILE: too many open files`"
I'm opening this for ideas about solving the `EMFILE: too many open files` errors that happen when running the full build on CI.

It seems the OS on CI has a maximum limit of 4096 open files which we pass. I tried using graceful-fs, but the error still happens.

* Initial patch to demonstrate the issue: https://github.com/nodejs/nodejs.org/runs/253355870.
* With graceful-fs: https://github.com/nod

[2019-10-10 18:08] XhmikosR commented on #2654
Perhaps we should use [async queue](https://caolan.github.io/async/v3/docs.html#queue)?

Any help welcome. If we go with the async queue solution #2633 will become obsolete I think.

[2019-10-10 18:44] Trott commented on #2654
@nodejs/website

[2019-10-11 12:28] jean opened #2661 "aarch64 distribution missing?"
Trying to install in [Termux](termux.com):

[code]

That returns a `404`.

(Node is also available via `pkg install node` in Termux, but I guess the install script should also be working.)

[2019-10-11 12:47] phillipj commented on #2654
You were thinking about using an async queue to not build *all* the locales at one, right? If so that sounds like a good idea 👍

It would ofcourse make the build take a bit longer, but I don't see that as an issue in practise. Sounds much more important and valuable to be able to verify a full build succeeds in CI, than be concerned about the time it takes.

[2019-10-11 14:10] XhmikosR commented on #2654
Any help welcome. We need to see how much slower it'll be also.

[2019-10-11 15:53] Trott commented on #2661
@nodejs/build Should I transfer this issue to the build repo?

[2019-10-11 16:17] richardlau commented on #2661
It's more likely an issue for https://github.com/zeit/install-node. AFAIK we call "aarch64" "arm64" so the correct URL should probably be https://nodejs.org/dist/v10.16.3/node-v10.16.3-linux-arm64.tar.gz.

[2019-10-12 06:55] rvagg commented on #2661
https://github.com/zeit/install-node/blob/8714cc5d0331c909161c28abeeb1c86311281440/install.sh#L117-L121

not supported by them, but you could PR with:

[code]

and it should be supported.

this issue can be closed.

[2019-10-12 08:01] ghost opened #2668 "Link is bad, update related files"
The link `https://github.com/nodejs/community-committee/blob/master/GOVERNANCE.md` cannot be opened in all the languages at 'locale\\{some language folder}\about\community.md'. So How to change this?

@nodejs/website , An English change is enough, and we can continue to translate them into our languages.

![image](https://user-images.githubusercontent.com/52018749/66697601-b180af00-ed09-11e9-936b-

[2019-10-12 08:17] XhmikosR commented on #2668
@MaledongGit No need to make a new issue for each 404 :)

I have all of these in #2424

[2019-10-12 08:17] #2668 closed, assigned to nobody

[2019-10-12 08:48] XhmikosR commented on #2541
Why was this closed? This is still unresolved without an explanation.

[2019-10-12 09:29] XhmikosR commented on #2424
I've pushed the branch which checks all links here https://github.com/nodejs/nodejs.org/runs/257523435

It's too much running this on each commit, so for now, I think just doing this manually from time to time is better.

Remember there are still some false positives, but most of those are really broken links.

[2019-10-12 15:46] #2661 closed, assigned to nobody

[2019-10-13 06:46] imagentleman opened #2673 "Third party community link does not work"
* **URL**: https://nodejs.org/en/get-involved/
* **Browser version**: all
* **Operating system**: all

There is a link to a community website in the "Get Involved" page that does not work.

<img width="606" alt="Screen Shot 2019-10-13 at 1 43 20 AM" src="https://user-images.githubusercontent.com/2272928/66711952-00a30000-ed5b-11e9-90a1-5985098d1424.png">

The site is nodehispano.com (listed as "Sp

[2019-10-13 13:15] XhmikosR commented on #2424
I really think we should decide about these and not have a new issue/PR for each on of them :/

Anyway, in some cases, we might need to add redirects in build.

[2019-10-13 14:25] #2652 closed, assigned to nobody

[2019-10-13 16:13] Trott commented on #2424
Are most of the ones in the GitHub Actions results in old blog posts/news items? I'd be OK with any of these to solve those:

* Archive old news/blog items at archive.org or whatever (they're probably already there) and remove them from the site. We can subsequently work with releasers to get rid of the blog. It seems like releases are the only thing that gets regularly published there, and I thin

[2019-10-13 16:28] Trott commented on #2424
https://github.com/nodejs/community-committee/blob/master/GOVERNANCE.md
 should probably be https://github.com/nodejs/community-committee/tree/master/governance

https://github.com/nodejs/nodejs-ro should probably be removed along with all the other individual repos listed in that list. That is way too much information for a brief working group summary. Each of those repos is going away, slowly. T

[2019-10-13 16:50] #2673 closed, assigned to nobody

[2019-10-14 07:22] XhmikosR commented on #2501
I'm gonna close this. Assuming we fix this in changelog-maker, it shouldn't be needed anymore.

[2019-10-14 07:22] #2501 closed, assigned to nobody

[2019-10-15 14:30] XhmikosR opened #2682 "Remove `utm_source` params?"
I notice we have some links with tracking params. Should we remove those or keep them?

[code]

[2019-10-15 14:32] XhmikosR commented on #2682
Which reminds me, maybe we should drop weekly updates altogether and just redirect to blog?

[2019-10-15 17:47] Trott commented on #2682
I'd be 👍 on removing them.

[2019-10-15 17:47] Trott commented on #2682
I'm 👍 on that too.

[2019-10-15 21:33] mattwojo opened #2684 "Add link to WSL2 install to download page"
* **Node.js Version**: ALL
* **OS**: Windows
* **Scope**: Install

Windows is recommending that Node.js be installed on WSL2 (the subsystem for Linux, running the latest version of Ubuntu) for an optimal experience doing Node.js development.

At the bottom of the [Node.js download page](https://nodejs.org/en/download/) there is a list of links:

Signed SHASUMS for release files (How to verify)
All

[2019-10-15 21:44] nschonni commented on #2684
Where are you seeing this?

[2019-10-15 22:00] mattwojo commented on #2684
https://docs.microsoft.com/windows/nodejs/
Instructions > https://docs.microsoft.com/en-us/windows/nodejs/setup-on-wsl2
Recommendation from the Beginners page > https://docs.microsoft.com/en-us/windows/nodejs/beginners

![image](https://user-images.githubusercontent.com/7566797/66873070-65797880-ef5c-11e9-92fe-3bdf46e7d6bb.png)

[2019-10-15 22:29] nschonni commented on #2684
OK, i've opened an issue over there, since suggesting that beginners change to the "Insiders" ring of Windows and install WSL2 that isn't finalized doesn't seem like great advice IMO.

[2019-10-15 22:32] mattwojo commented on #2684
Thanks @nschonni. Try it -- it will change your mind. : )
Do you have a link to the issue you opened?

*As a bit of background, the company is committed, the way Windows works, it just isn't possible to release changes like this at any time... they need to be tied to a Windows release... thus we're stuck waiting and keeping folks on the "Insiders" ring until then. Guessing that will be some time m

[2019-10-16 04:49] Trott commented on #2684
@nodejs/platform-windows

[2019-10-16 07:54] XhmikosR opened #2689 "Replace `request` with another package?"
We use request in two places, one is download.js which will be removed in #2688 and the other one is in https://github.com/nodejs/nodejs.org/blob/master/scripts/release-post.js.

Note that this won't remove any deps, since request is a node-sass dependency.

[2019-10-16 10:28] RReverser commented on #2684
The recommendation sounds strange to me, to be honest. Node.js working great across various platforms, including Windows, has always been one of its main strengths, and we haven't had any Windows-specific issues for quite a long time (not counting some outdated native packages or Linux-specific build commands, which are not fixed by this but rather the opposite).

I don't have anything against add

[2019-10-16 20:53] mattwojo commented on #2684
Thanks @RReverser. I'll connect with the stakeholders and suggest re-thinking the recommendation to start beginners out on WSL.
For this specific request, I'm really just asking to list the WSL2 install as an option for folks to try if they feel comfortable using the Insiders build... the popularity and response to using Node.js with WSL2 tells me that folks would be interested, so I'm just lookin

[2019-10-16 20:56] richardlau commented on #2684
Alternatively it could be added to https://nodejs.org/en/download/package-manager/ which already lists `nvm` and currently lists some package managers for Windows (e.g. Chocolatey).

[2019-10-16 21:10] mattwojo commented on #2684
I'm good with whatever you all think is best. I did file a PR here: https://github.com/nodejs/nodejs.org/pull/2692

Though I'm not sure that I did it correctly and can close and file another on the /package-manager page if that seems like the better option.

[2019-10-17 00:01] nschonni commented on #2524
Looks like it can be done with the markdown plugin https://github.com/eslint/eslint-plugin-markdown
I tried it with a --fix locally, but didn't PR anything since I find the "standard" config kind of makes a mess of the code

[2019-10-17 06:49] XhmikosR commented on #2524
Yup, this should go after #2523

[2019-10-17 19:45] mognia opened #2696 "Completion persian language"
there is some pages in nodejs.org that did not translated in persian and also needs some fonts and typing issues

i can translate whole website to persian and complete all persian (farsi) pages and i could use "iranSans" font to persian texts if you want!

may i fork the project and start PR?

[2019-10-18 02:32] Trott commented on #2696
Current website translations for Farsi are in https://github.com/nodejs/nodejs.org/tree/master/locale/fa. Pull requests containing updates, additions, and corrections would be very much welcome.

Translations of docs happen within CrowdIn. I'm not sure what the status of Farsi translations there are, but hopefully someone on @nodejs/nodejs-fa or @nodejs/i18n can let us all know.

[2019-10-18 05:30] mognia commented on #2696
ok im going to start Completion farsi language
 after that we can decide to choose a font family for farsi alphabets

[2019-10-19 09:35] m-esm commented on #2696
I think "about" and "get involved" are pages that need most contribution

[2019-10-21 15:26] tlhunter opened #2706 "Current behind LTS by one Minor"
* **URL**: https://nodejs.org/en/ https://nodejs.org/de/
* **Browser version**: Firefox Current
* **Operating system**: Any

I'm not sure what the expected behavior is when a new LTS is cut and there's no odd version available. I think in the past the Current link has disappeared entirely.

![20191021082259](https://user-images.githubusercontent.com/551402/67219074-43f51280-f3dc-11e9-9190-547ece2b

[2019-10-21 16:08] richardlau commented on #2706
This should be fixed tomorrow when 13.0.0 is released. We brought forward the 12.13.0 release by a day to avoid having them go out on the same day.

[2019-10-21 22:55] nschonni commented on #2706
Fixed by #2707

[2019-10-21 22:55] #2706 closed, assigned to nobody

[2019-10-22 00:31] pw007 opened #2708 "my npm(6.4.1) can not run on my windows 10 laptop in china mainland"
when I ran npm install in by customized UI source folder, error message popped up as:npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\wdy_s\AppData\Roaming\npm-cache\_logs\2019-10-22T00_12_30_650Z-debug.log
[2019-10-22T00_12_30_650Z-de

[2019-10-22 02:41] nschonni commented on #2708
As the message says, this isn't something with Node (or this website repo)

[2019-10-22 02:41] #2708 closed, assigned to nobody

[2019-10-23 13:54] OriginalEXE opened #2720 "Troubles with downloading nodejs archives"
* **URL**: https://nodejs.org/dist/v11.12.0/node-v11.12.0.tar.xz
* **Browser version**: Google Chrome 78.0.x
* **Operating system**: Ubuntu 18.04.3

Hello good people :wave:

It seems like there are currently some problems with downloading the packages archives from the nodejs.org dist folder.

Specific archive in question is this one: https://nodejs.org/dist/v11.12.0/node-v11.12.0-linux-x64.tar.x

[2019-10-23 14:16] bvitale commented on #2720
I'm seeing this too, albeit intermittently, and for a different archive
https://nodejs.org/dist/v4.8.3/node-v4.8.3-linux-x64.tar.xz

[2019-10-23 14:27] bazzas commented on #2720
Got the same issue:
**URL**: https://nodejs.org/dist/v8.16.2/node-v8.16.2-linux-x64.tar.gz

[2019-10-23 15:17] jaypeeZero commented on #2720
Also failing our builds for https://nodejs.org/dist/v12.4.0/node-v12.4.0-linux-x64.tar.gz

[2019-10-23 15:25] Rusox89 commented on #2720
For us is 10.16.3 via nodeenv.

[code]

[2019-10-23 15:46] Dr4K4n commented on #2720
Having the issue with node-v12.10.0-linux-x64.tar.gz.
My Gitlab CI builds are failing with following error (java maven-frontend-plugin):
[code]

When I try on my local machine with wget, the download is very slow...

[2019-10-23 16:08] iffa commented on #2720
Also seeing this, attempting to download https://nodejs.org/dist/v10.15.2/node-v10.15.2-linux-x64.tar.gz in an Azure DevOps build pipeline.

[2019-10-23 17:01] OriginalEXE commented on #2720
The issue seems to be resolved for now, at least on our side.

[2019-10-23 17:14] edwardloveall commented on #2720
This has also resolved for me.

[2019-10-23 17:46] nschonni commented on #2720
Looks like this is getting tracked by the OPs folks over on https://github.com/nodejs/build/issues/1993

[2019-10-23 17:46] #2720 closed, assigned to nobody

[2019-10-24 06:21] XIAHUALOU opened #2721 "nodejs v12.0.0 build failed at clearlinux"
In file included from ../deps/v8/src/code-events.h:14,
                 from ../deps/v8/src/profiler/profiler-listener.h:11,
                 from ../deps/v8/src/profiler/cpu-profiler.h:20,
                 from ../deps/v8/src/profiler/tracing-cpu-profiler.cc:7:
../deps/v8/src/objects/shared-function-info.h:743:7: note: ‘class v8::internal::SharedFunctionInfoWithID’ declared here
  743 | class Sha

[2019-10-24 13:21] nschonni commented on #2721
This is probably something for https://github.com/nodejs/node rather than the website repo.
My guess would be it's related to the minimum gcc version needed by V8 keeps increasing and probably isn't on your machine

[2019-10-24 13:21] #2721 closed, assigned to nobody

[2019-10-29 15:10] OriginalEXE commented on #2720
Looks like it's happening again

[2019-10-30 06:25] XhmikosR commented on #2113
Closing this since dependabot appears to be enabled now. 🎉

[2019-10-30 06:25] #2113 closed, assigned to nobody

[2019-10-30 18:58] hysan opened #2735 "Anchor link is incorrectly referenced in Flame Graph documentation"
* **URL**: https://nodejs.org/en/docs/guides/diagnostics-flamegraph/
* **Browser version**: All known browsers
* **Operating system**: All known OSes

The anchor link to _Filtering out Node.js internal functions_ on the Flame Graph documentation page is referenced incorrectly here:

Based on the title of the subsection, the anchor link should instead be: `#filtering-out-node-js-internal-functions`

[2019-11-05 14:39] #2735 closed, assigned to nobody

[2019-11-05 14:40] Trott commented on #2735
Fixed in https://github.com/nodejs/nodejs.org/pull/2736

[2019-11-06 12:07] AbdoliMR commented on #2280
@TiagoDanin I can do it.

[2019-11-06 12:32] okuryu commented on #2280
https://github.com/nodejs/nodejs.org/pull/2710 will probably resolve this issue.

[2019-11-07 12:02] JavierPons opened #2753 "1st Child_process run a file that itself runs another 2nd child_process. I get Error: listen EADDRINUSE: address already in use :::3002"
Node v12.8.0
Mocha 6.1.4
macOS Catalina v10.15

Error: listen EADDRINUSE: address already in use :::3002
    at Server.setupListenHandle [as _listen2] (net.js:1228:14)
    at listenInCluster (net.js:1276:12)
    at Server.listen (net.js:1364:7)

Im running a child_process(1st) in my app that runs a file with mocha that itself start a testing process and other child_process(2nd) and create somethin

[2019-11-08 01:39] nschonni commented on #2753
Hi, this is the issue tracker for the the Node website. Try https://github.com/nodejs/node

[2019-11-08 01:39] #2753 closed, assigned to nobody

[2019-11-08 07:04] JavierPons commented on #2753
Ok, I find it. Nothing of killing processes.  It was running two different app.js at same time.  I gave the correct /path. and that was.

[2019-11-10 14:23] #2280 closed, assigned to nobody

[2019-11-10 16:15] XhmikosR opened #2759 "Autogenerate docs/index.html versions"
Currently this is done manually, but it would be nice if this was done automatically on build time.

[2019-11-10 16:20] Trott commented on #2759
IIUC, the idea is that changes like https://github.com/nodejs/nodejs.org/pull/2758 would be automated rather than PR'ed in manually by individuals. If so, 👍.

[2019-11-12 07:21] AliSawari commented on #2696
Unfortunately, Only some sections like "Security" and "About" have been translated to Persian.
I'm glad that you offered to complete the translations. I hope there will be contributions and help from other members of the team as well. Godspeed :sparkles:

[2019-11-12 11:23] XhmikosR opened #2767 "Remove source/schedule.json?"
@Trott @rvagg since the deployment command always runs this, is there any reason for us to keep the file in the repository?

[2019-11-12 14:07] Trott commented on #2767
I suppose not, but I'd defer to @rvagg on that for sure.

[2019-11-13 01:05] rvagg commented on #2767
sounds fine to me, I think it's always been redundant but maybe helpful for local installs/testing?

[2019-11-13 05:52] MrBenJ commented on #2689
Hey there @XhmikosR! I think I can help out with this.

Would you be open to using something like `isomorphic-fetch` ? This is similar (if not the same) as fetch on the web. https://www.npmjs.com/package/isomorphic-fetch

It's also promised based as per the `release-post.js` script you've got there.

Let me know if you feel this approach is OK, and I'll go ahead and get started :)

[2019-11-13 07:07] XhmikosR commented on #2767
Hmm true. If we remove it it will require to grab the schedule for local development. It's OK if it's documented, I guess.

We could even add it in a `prestart` script maybe?

[2019-11-13 08:02] XhmikosR commented on #2689
Whatever does the job and is not the request package should be better nowadays :) Personally I was thinking about [got](https://www.npmjs.com/package/got), but I don't mind as long as it works.

Do note that this script isn't tested on CI.

[2019-11-13 19:56] MrBenJ commented on #2689
Sounds good! I'm going to go ahead and get started. PR incoming and I'll make sure you are a reviewer :)

[2019-11-13 20:20] MrBenJ commented on #2689
@XhmikosR - PR created :). I used got. Super cool stuff!

I ran this script locally and saw it was making all the requests successfully. Hopefully this works out for you and the rest of the awesome nodejs team. Let me know if you need me to change anything up!

[2019-11-14 00:43] nschonni commented on #2689
Doesn't matter for this project, but the reason why swapping from `request` isn't always a good idea (even if it is frozen) is that most of the other libraries have issues with proxies.

[2019-11-14 16:26] XhmikosR commented on #2767
@Trott similarly I see source/versions.json is outdated because it's generated on build time too.

I made a patch for schedule.json, but perhaps we should tackle both?

[2019-11-18 16:48] fdavis99 opened #2782 "what-is-npm page has broken link to search.npmjs.org"
* **URL**:https://nodejs.org/en/knowledge/getting-started/npm/what-is-npm/
* **Browser version**:Chrome Version 78.0.3904.87 (Official Build) (64-bit)
* **Operating system**:Windows 10

https://nodejs.org/en/knowledge/getting-started/npm/what-is-npm/ The first paragraph contains a broken link to http://search.npmjs.org/ (result: "search.npmjs.org’s server IP address could not be found.")

The corr

[2019-11-18 16:57] Trott commented on #2782
Aside: I wonder if anyone on @nodejs/npm might want to edit that page. For example, I believe the official line now is that `npm` does *not* stand for `Node.js Package Manager` so maybe that should be removed?

[2019-11-18 16:57] Trott commented on #2782
An alternative: Remove that page entirely. Anywhere it's linked can be linked to an appropriate page on npmjs.org where it is more likely to stay up-to-date.

[2019-11-18 21:42] mikemimik commented on #2782
Yeah I believe the link should jut be `npmjs.com`. Rather than what is currently there.

[2019-11-18 22:19] fdavis99 commented on #2782
Google npm node.js; the 4th result is what-is-npm.

It's linked on https://nodejs.org/en/knowledge/

[2019-11-19 00:04] Trott commented on #2782
Getting even more ambitious, we could replace the entire knowledge base (which does not get frequent scrutiny or updates) with a link to the more recent https://nodejs.dev/. (Related: https://github.com/nodejs/nodejs.org/pull/2101)

[2019-11-19 00:07] Trott commented on #2782
@fdavis99 If you'd like to see a quick fix to this, you can open a pull request updating `locale/en/knowledge/getting-started/npm/what-is-npm.md`. (By the way, it looks like Brazilian Portugese translation at `locale/pt-br/knowledge/getting-started/npm/what-is-npm.md` may have the correct URL already?)

[2019-11-19 00:07] Trott commented on #2782
Er, that applies to anyone else who wants it, of course.

[2019-11-20 08:11] #2429 closed, assigned to nobody

[2019-11-21 02:56] fdavis99 commented on #2782
I haven't done anything like that before, not too comfortable jumping into
a project where I have no history. But thanks for the suggestion.

On Mon, Nov 18, 2019 at 7:08 PM Rich Trott <notifications@github.com> wrote:

[2019-11-21 08:14] #2782 closed, assigned to nobody

[2019-11-22 03:54] bertlea opened #2796 "The date in change log for 13.2.0 is wrong"
* **URL**: https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V13.md#13.2.0
* **Browser version**: Chrome
* **Operating system**: Windows 7

The change log for v13.2.0 is showing "2019-21-19, Version 13.2.0 (Current), @MylesBorins".  The date is wrong.

[2019-11-22 23:20] MylesBorins commented on #2796
This has been fixed upstream

[2019-11-22 23:20] #2796 closed, assigned to nobody

[2019-11-22 23:21] MylesBorins commented on #2796
https://github.com/nodejs/node/commit/f6de66ee711a4159355dfc05a3f5eadb3f1b8cc2

[2019-11-23 10:26] silverwind commented on #2689
`got` will never support proxies so I would never consider using it. I like to use `make-fetch-happen` which comes with built-in proxy from environment support and it's also what `npm` uses.

[2019-11-29 08:38] mcollina opened #2805 "Add OpenJS Foundation logo"
As part of https://github.com/openjs-foundation/project-onboarding/issues/1, we need to add the OpenJS Foundation logo to our website.

The artwork are available at https://github.com/openjs-foundation/artwork/tree/master/openjs_foundation

[2019-11-29 20:59] nschonni commented on #2805
Is this something like how Linux Foundation banner is in the footer, or something else?

[2019-11-29 21:09] mcollina commented on #2805
I think we can remove the Linux Foundation collaborative process banner. Moreover, we should update the reference from the Node.js Foundation to the OpenJS Foundation.
Il 29 nov 2019, 21:59 +0100, Nick Schonning <notifications@github.com>, ha scritto:

[2019-12-05 18:47] #2805 closed, assigned to nobody

[2019-12-14 19:45] MrBenJ commented on #2689
@alexanderchoi ? Wanna help out?

[2019-12-17 13:27] rafo0183 opened #2836 ""Ó revise la Agenda de LTS" Error ortográfico"
![image](https://user-images.githubusercontent.com/31549640/70999219-b4a46c80-20b7-11ea-9ff1-aaed1ada37ee.png)

En la página principal de nodejs.org traducido al español, la frase:

Se encuentra con dos errores ortográfico. Debido a que la "Ó" debe escribirse como "O" (sin tilde) y la palabra "Agenda" debe ser con minúscula:

" **O** revise la **a**genda de LTS "

[2019-12-18 15:35] clecorre opened #2841 "nodejs.org pages in need of translations"
* **URL**:
* **Browser version**:
* **Operating system**:

Hello, french pages are not well translated, I mean most of the content is not translated at all (see attached, hoping the drag and drop works).
Also, the "change password" page does not work as mentioned. It is written "Make sure it's at least 15 characters OR at least 8 ...". If I enter a 19 characters lowercase string it is refused.
Has

[2019-12-18 16:56] Trott commented on #2841
We rely on volunteers to translate the docs. To help out with the French translations, go to https://crowdin.com/project/nodejs.

[2019-12-18 16:59] Trott commented on #2841
Oh, but *that* page is not part of the docs. That page would be improved with pull requests to this repository. Sorry about my momentary confusion.

[2019-12-18 17:00] Trott commented on #2841
To translate that page, clone this repository and create `locale/fr/docs/index.md`. Perhaps copy over `locale/en/docs/index.md` to start and translate it.  I'm sure there are many other pages that need translating into French as well.

[2019-12-18 17:01] Trott commented on #2841
/ping @nodejs/nodejs-fr for additional comments/information.

[2019-12-18 19:15] clecorre commented on #2841
Great, thank you.

[2019-12-18 23:32] nschonni commented on #2841
@Trott CrowdIn isn't setup for the website till https://github.com/nodejs/i18n/issues/72#issuecomment-535355333 is unblocked

[2019-12-20 16:55] #2541 closed, assigned to nobody

[2019-12-26 14:21] XhmikosR commented on #2464
Closing this since #2602 has landed

[2019-12-26 14:22] #2464 closed, assigned to nobody

[2019-12-27 12:13] sxa opened #2865 "Many links on the website are absolute instead of relative"
I had a quick look through the issues and couldn't see anything relating to this, but is there a reason why many of the links on the website explicitly include `https://nodejs.org` as a prefix? This makes it harder to test changes locally as you can't click on things on the main page without it going through to the main nodejs.org, not your local one.

I'm happy to take a look at changing this, bu

[2019-12-27 15:24] Trott commented on #2865
I'm unaware of any reason this can't be changed to relative paths. (You might discover the reason when you try, but I can't think of anything.)

[2019-12-27 16:00] nschonni commented on #2865
I think the only part you might run into issues with is the API docs and "dist", since those are pulled in from the Node as part of the deploy process

[2019-12-27 16:04] #2682 closed, assigned to nobody

[2019-12-27 17:28] XhmikosR commented on #2865
There's a reason for the absolute part. So that the link checker works.

[2019-12-27 17:29] XhmikosR commented on #2865
I need specific examples as to what "fails". The idea is that every page/file that exists locally, shouldn't use the full URL so that it works locally properly and also the link checker works.

[2019-12-28 14:15] DerekNonGeneric opened #2866 "Recommended way to file docs issue forms a circularity"
This issue is related to user journey.

- The currently recommended way of filing a documentation-related issue is confusing.
- There is no documentation-related issue template.

## Circularity confusion

The [core repo suggests](https://github.com/nodejs/node/issues/new/choose) filing an issue in the Node.js website repo (this one).

[This repo suggests](https://github.com/nodejs/nodejs.org/issue

[2019-12-28 15:26] DerekNonGeneric commented on #2866
- [x] I would like to work on this issue and submit a pull request.

Keep me posted on whether anyone would be available to review it.

[2019-12-28 17:36] sam-github commented on #2866
^-- should say ".... outside of the docs"

This is correct.

Lots of people are around.

[2019-12-31 15:23] sxa commented on #2865
As an example - the LTS link:
![image](https://user-images.githubusercontent.com/6487691/71625703-206ef500-2be1-11ea-98b1-e44c4c8ac454.png)
The "Other downloads" link also goes straight to node.js org despite there being a local version (which was the specific one that tripped me up while testing a change)

[2019-12-31 16:22] XhmikosR commented on #2865
Yeah, those should be relative. Patches welcome, just don't forget translations too.

[2020-01-02 23:09] #2689 closed, assigned to nobody

[2020-01-03 11:01] #2865 closed, assigned to nobody

[2020-01-09 02:42] asottile commented on #1569
via https://github.com/nodejs/build/issues/1140#issuecomment-564330014

[2020-01-09 02:42] #1569 closed, assigned to nobody

[2020-01-10 02:55] BrandonJGomez opened #2889 "Unable to download on MacOS Catalina ( version 10.15.2)"
* **URL**:
* **Browser version**:
* **Operating system**:

Newest Mac Computer with current version:
MAC OS CATALINA (version 10.15.2)

SCREENSHOT ( not sure it will come thru)
<img width="526" alt="Screen Shot 2020-01-09 at 6 49 19 PM" src="https://user-images.githubusercontent.com/59710314/72121738-c07afb80-3310-11ea-83ad-8785f48df24f.png">

FOR MOST USERS VERSION
“node-v12.14.1.pkg” can’t be op

[2020-01-10 03:31] richardlau commented on #2889
This is being tracked in https://github.com/nodejs/node/issues/29216.

[2020-01-10 03:34] #2889 closed, assigned to nobody

[2020-01-14 04:40] carterbancroft commented on #2524
What's the status of this issue, is it still something that needs to be worked on?

If so, can you share an example or two of what needs linting?

[2020-01-14 07:11] XhmikosR commented on #2524
IMO yeah. Every .md file needs to be linted.

[2020-01-14 15:08] carterbancroft commented on #2524
Roger. I'm new here and just trying to get more context so please bear with me.

So, is there no linting on markdown files at all right now? From the code (and your PR here: https://github.com/nodejs/nodejs.org/pull/2557/files) it looks like there are markdown linting rules in place and linting scripts in package.json. Is this not happening?

Or, is it just the inline javascript within .md files t

[2020-01-14 15:12] XhmikosR commented on #2524
This is issue is for linting JS code in the markdown files. You can search the locale files for the following:

[code]

There are hundreds of instances. Ideally we should use the same linting used in the main repo so that we are consistent, so this might need to be done along with #2523

[2020-01-14 15:19] carterbancroft commented on #2524
OK gotcha, thanks.

So am I understanding correctly that there are still more linting rules from the node repo that should be implemented in this repo? I made the (probably faulty) assumption that this was the last step since this is the only remaining issue referenced in https://github.com/nodejs/nodejs.org/issues/2523. The rest are merged PRs.

[2020-01-14 15:34] XhmikosR commented on #2524
TBH, I'm not aware of the internals in the upstream repo. I know they use eslint while here we use standard, which is also using eslint under the hood.

[2020-01-14 15:41] carterbancroft commented on #2524
I see, so it sounds like https://github.com/nodejs/nodejs.org/issues/2523 should be figured out before there's any movement on this one. Maybe I should move conversation over there to try to get some context on that?

[2020-01-14 15:42] XhmikosR commented on #2524
Not sure which one should be tackled first.

/CC @Trott @MylesBorins

[2020-01-15 03:00] Trott commented on #2524
I don't know that it matters which one is done first, although I guess I'd default to doing #2523 first.

[2020-01-15 23:20] carterbancroft commented on #2524
Thanks, and just to clarify, this issue and https://github.com/nodejs/nodejs.org/issues/2523 won't be made moot with the website redesign, yeah?

[2020-01-15 23:43] Trott commented on #2524
They might be, but to be honest, it's not clear to me that @nodejs/website-redesign  hasn't completely stalled. It might be unlikely to ever complete. Judging from https://github.com/nodejs/nodejs.dev/tree/master/meetings, they haven't had a meeting in almost six months.

(If that initiative is still going, great! But if not, my favored Plan B would be to iterate on this site and ditch the idea of

[2020-01-16 00:05] carterbancroft commented on #2524
Roger that, that makes sense. I don't have much context context here so I appreciate the extra explanation :)

[2020-01-16 00:15] carterbancroft commented on #2523
I'm interested in giving this a shot as well, even if it's just a piece of the overarching issue but first I'd like to clarify what I'm getting myself into. Since I'm so new to the node repos can anyone help me suss out what specifically needs to be done.

My most basic question is, does all the linting from the node repo need to be front end adapted and implemented over here? It seems like there

[2020-01-16 00:19] nschonni commented on #2523
My 2 cents would be to see if you can create a repo like https://github.com/nodejs/remark-preset-lint-node based on the config. Then that config could be used by Node-core plus other repos

[2020-01-16 00:31] carterbancroft commented on #2523
Thanks, I appreciate the 2 cents. I wondered if a new shared repo would be appropriate here. Lemme see what I can figure out.

[2020-01-22 09:22] alexandrtovmach opened #2906 "Unblock translation process"
@nodejs/website @nodejs/i18n
We need to unblock translation process here https://github.com/nodejs/i18n/issues/72. For that I need github **personal access token** generated under nodejs organization with next scopes:
![image](https://user-images.githubusercontent.com/28801003/72880957-8cd4a400-3d08-11ea-844c-399fcc579689.png)

Token will be used here:
![image](https://user-images.githubuserconten

[2020-01-22 15:09] sciamp opened #2907 "[doc] package.json doc link broken"
I'm opening another issue about broken links since every issue I can find is already closed.

Inside the getting started about `package.json` file the link to the online doc is broken.

**steps to reproduce**
1. browse to https://nodejs.org/en/knowledge/getting-started/npm/what-is-the-file-package-json/
2. scroll to bottom to this
![image](https://user-images.githubusercontent.com/234184/72905789-

[2020-01-22 17:06] Trott commented on #2907
Correct link is https://docs.npmjs.com/files/package.json if someone wants to submit a pull request.

[2020-01-22 17:09] Trott commented on #2907
As so often I do with pages in our mostly-unmaintained knowledge base, I find myself compelled to suggest removing this page entirely. The part about Node.js only being aware of the `name` and `version` fields. With ES Modules, that's no longer true. [I don't think it was true even before that. `main` surely was used by the `node` binary, no?] There could be other things too. Rather than have to u

[2020-01-22 17:11] Trott commented on #2907
The page is also written as if `npm` is the only package manager (because at the time it was written, it basically was), and while it is certainly the biggest and most well-known, and likely to stay that way for the foreseeable future, beginners trying to get started with a `yarn` project may be flummoxed.

[2020-01-24 13:03] XhmikosR commented on #2907
Just remember to redirect any removed pages. I'm all for removing obsolete content, I just don't like finding 404 pages :)

[2020-01-29 11:37] liquidbyte commented on #2907
I am facing an issue in the page below,

https://nodejs.org/en/knowledge/getting-started/what-is-require/

"it is considered an absolute path. NOTE: you can omit ".js" and require will automatically append it if needed. For more detailed information, [see the official docs](https://nodejs.org/docs/v0.4.2/api/modules.htmll#all_Together...)"

For the below link,

https://nodejs.org/docs/v0.4.2/api/m

[2020-01-31 06:01] #2632 closed, assigned to nobody

[2020-01-31 10:56] valango opened #2925 "Guidelines for treating NODE_ENV in new code"
A question of to what value should `process.env.NODE_ENV` default to if not set, is a quite important one. There is plenty of discussion about it out there, ones advocating 'production' and others 'development'. This can be confusing.

I suggest publishing the following suggestion somewhere in _**guides**_ chapter.

If `process.env.NODE_ENV` is _undefined_, the code should assume default value as

[2020-02-14 23:22] JMAC21 opened #2956 "Cannot Open Node.js file to install"
* **URL**: https://nodejs.org/en/download/current/
* **Browser version**: Chrome Version 79.0.3945.130
* **Operating system**: Mac OS Catalina

Downloaded current version of Node.js to install but upon attempt to open received this message:
'“node-v13.8.0 (2).pkg” can’t be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more