[2015-12-23 18:51] #429 closed, assigned to nobody

[2015-12-23 18:51] phillipj commented on #429
Merged 👌

[2015-12-30 00:38] forgotPassword opened #431 "against es6 in documentation"
i don't know if it was decided/voted or not, but i am against es6 features in documentation or code examples.
the docs and examples should be as simple as possible, and now even the classic createServer example ('about' page) has const, arrow functions, and template strings.

before you could just say 'copy this example, see how easy it is to create a server in node?', now you also have to explain

[2015-12-30 00:43] stevemao commented on #431
I believe these examples are in the docs of nodejs that support them. If you switch to an older version they shouldn't be there.

[2015-12-30 13:51] ghost commented on #431
thing is, the latest releases all support most ES6 features out of the box. even the LTS does that, so it's officially encouraged.
but what we might be able to do is add a link to an ES6 introduction under the code example on the about page in case someone is confused

but what @stevemao says does apply, the pre-4.x docs are still in ES5

[2015-12-30 20:33] wonderdogone commented on #431
I think it's good to push ES6 unless it's a feature set that is outside of Node internally. For example some ES6 that needs to be transpiled by external tool like babel should not be in docs because then you have to explain that workflow.

[2015-12-30 21:16] wonderdogone opened #432 "Docker security in guides"
In the docker guides(https://nodejs.org/en/docs/guides/nodejs-docker-webapp/) we show how to make a basic Dockerfile and run apps in a container using docker.This is great because containers are becoming more of a regular workflow. That said, in most cases it's not a good idea to run the containerized app as root because of security issues with the app actually having that same access to it's host

[2016-01-01 05:34] stevemao commented on #431
I don't think this is necessary. We already have docs about features in es2015. If we add a link to all the pages that have es2015 code it would be too noisy. Not to mention that there are many people already using es2015 and a there are a lot of material about es2015 online.

Closing this now. @forgotPassword if you find anything that does not work against the corresponding node version out of th

[2016-01-01 05:34] #431 closed, assigned to nobody

[2016-01-01 05:37] stevemao commented on #415
Any update on removing the sub domain?

[2016-01-01 09:58] fhemberger commented on #415
@stevemao The subdomain doesn't exist, everything `*.nodejs.org` is redirected to `nodejs.org`.
(see [nginx config](https://raw.githubusercontent.com/nodejs/build/master/setup/www/resources/config/nodejs.org).)

Closing this.

[2016-01-01 09:58] #415 closed, assigned to nobody

[2016-01-01 10:25] stevemao commented on #415
:+1:

[2016-01-01 19:19] #380 closed, assigned to nobody

[2016-01-02 14:30] neocotic opened #436 "400 Bad Request"
Anyone else getting this error on the website right now?

[2016-01-02 15:28] neocotic commented on #436
Seems to have been resolved now.

[2016-01-02 15:28] #436 closed, assigned to nobody

[2016-01-04 07:46] grateyinger opened #438 "The First issues"
i will learn Node.Js forever
please supervise me
come on
site:https://nqdeng.github.io/7-days-nodejs/#1.4.1
site:https://nodejs.org/en/

[2016-01-04 16:47] awochna opened #440 "Instructions for installing via package manager in Ubuntu / Debian lacks version choice."
The instructions explain how to get the LTS version (4.x), but don't explain that stable (5.x) is available via package manager as well. This is inconsistent with instruction patterns further down on the same page for other operating systems.

[2016-01-04 18:53] mikeal opened #443 "Better Get Involved page"
The current page isn't too great.

Could use more calls to action and should link to various contribution policies for parts of the project that have a lower barrier to entry like the website.

[2016-01-04 19:14] #440 closed, assigned to nobody

[2016-01-04 20:11] Knighton910 commented on #443
:+1:

[2016-01-05 16:24] jasnell commented on #438
@grateyinger ... for those just getting started with Node.js, the best place to start is with resources such as http://nodeschool.io or http://stackoverflow.com. General questions about Node.js can also be directed at the http://github.com/nodejs/help repository issue tracker. This particular repository is used to track technical issues and development of Node itself and is not the right place to

[2016-01-05 16:24] #438 closed, assigned to nobody

[2016-01-05 22:54] Trott opened #447 "Profiling Guide Requires Updates"
In light of https://github.com/nodejs/node/pull/3032, there is some stuff in the [simple profiling guide](https://github.com/nodejs/nodejs.org/blob/030e1dd985654c1daa3d619d68b1b637116c7fb0/locale/en/docs/guides/simple-profiling.md) that can be simplified. Maybe @matthewloring can indicate what needs to change? It might just be the part about making sure to use the same version of tick-processor as

[2016-01-06 17:02] matthewloring commented on #447
@Trott Thank you for noticing this. I'll submit a PR with updates now that the tick processor is bundled with the node binary.

[2016-01-07 09:40] phillipj commented on #355
Ping @mikeal

[2016-01-07 19:46] chrisdickinson opened #452 "Docs WG Ratification + Call for members"
Hey all! :wave:

As a heads up, there's talk going on [in the node issue tracker](https://github.com/nodejs/node/pull/4244) about ratifying the Docs WG. As part of this, we've landed on a working proposal for where the [docs will live](https://github.com/nodejs/docs/issues/50). It's similar to the original arrangement — the Docs WG will produce documentation for this WG to include — but instead of

[2016-01-07 20:06] mikeal opened #453 "Add more references to npm documentation"
I know that npm has done a bunch of new work on their documentation. We should probably be linking to the relevant resources throughout our site and documentation where appropriate.

/cc @nodejs/documentation @ashleywilliams

[2016-01-07 21:18] stevemao commented on #453
@nodejs/npm

[2016-01-08 15:45] ZibbyKeaton opened #454 "Add Student Discount Code to Individual Membership"
I noticed that we do not have the student discount code on our individual membership page or the individual membership blog. The code is NodeStudentN10HM. Could someone add it in when they have a moment? We'll be promoting this a lot on social, so want to make sure it's easy to find.

[2016-01-09 14:25] fhemberger commented on #432
I'm really +:100: on this, cc'ing @nodejs/docker for a review

[2016-01-09 20:39] Starefossen commented on #432
I thought about this for a while when I wrote the guide, and we have had extensible discussions within the @nodejs/docker Working Group on similar topics nodejs/docker-iojs#23 nodejs/docker-iojs#26 nodejs/docker-node#1

Just so we are on the same page; _yes_ you should never ever run your Docker containers as root in production!

There are some other considerations though. The first is the intende

[2016-01-10 09:14] fhemberger commented on #432
Second guide a la "Best practices running Node.js on Docker in production" sounds good as well. But we should add a note to the existing one that this guide is intended for getting started and development only and it should not be used for production.

Most devops tutorials only cover the "getting started" part (or the other far end of the range "how to set up your 100+ node datacenter on AWS") an

[2016-01-10 19:32] Starefossen commented on #363
Just out of curiosity, have you noticed any difference since introducing the "Edit" link? Too early to tell maybe :confused:

[2016-01-10 19:59] Starefossen commented on #432
Agreed.

This is a common pitfall. Lets make sure we cover both :smile:

[2016-01-10 20:24] Starefossen commented on #432
I have proposed #456 to clarity the purpose of the original Docker Guide. I will see if I find the time to draft a new guide for production deployments.

[2016-01-11 18:49] silverwind opened #458 "Icons are slightly off-color"
[favicon.ico](https://nodejs.org/static/favicon.ico) uses `#7ebf42` while the link color on the site `#80bd01`. They are supposed to match, right?

[2016-01-11 19:03] iancrowther commented on #458
Good eye

[2016-01-11 20:00] phillipj commented on #458
It would surprise me if it was made so deliberately. Good catch :+1:

[2016-01-11 20:00] #225 closed, assigned to nobody

[2016-01-11 22:07] stevemao commented on #458
There might be other inconsistent colours. #367

[2016-01-11 23:45] silverwind commented on #458
This should only affect `apple-touch-icon.png` and `favicon.ico` from the looks of it, a simple hue-rotate could suffice. I'm not really adept in Photoshop, so if someone could take over this, I'd be grateful :)

[2016-01-12 05:29] fhemberger commented on #458
BTW: Is there an exact definition of the node.js green? Some sort of brand guideline? When I started the new website, I used the tone from the SVG version of the logo. Icons were taken from the original website as well.

So if it hasn't been done already, it would be good to define the "official" colors somewhere, also as reference for future design updates, prints, stickers, etc.

/cc @mikeal

[2016-01-12 05:45] stevemao commented on #458
Hi @fhemberger , it'll depend on https://github.com/nodejs/evangelism/issues/179

[2016-01-12 06:02] fhemberger commented on #458
@stevemao I'm talking about the current status, not future iterations (as there also is no time table defined yet). We could need a clear definition now, as other node-related projects, conferences, etc. may use the color scheme as well.

[2016-01-12 10:30] bentinata commented on #458
Like [Ubuntu's Design Guideline](http://design.ubuntu.com/brand/colour-palette)? (I'm not affiliated with Canonical or others. It's because their color guides are nice.)

We can do like:
- `#83cd29` ![](http://placehold.it/10/83cd29/83cd29) Main Green
- `#404137` ![](http://placehold.it/10/404137/404137) Gray
- `#309045` ![](http://placehold.it/10/309045/309045) Foundation Green (optional)
- Could

[2016-01-12 10:54] fhemberger commented on #458
@bentinata Yes, exactly. This looks really great.

Regarding Joyent's "visual guidelines": I don't think a low res, low quality JPG embedded in a Word file, converted to PDF can seriously be used as any sort of color guideline. It would help to get the exact info from Joyent (or the designer of the logo) themselves.

[2016-01-13 00:08] silverwind commented on #458
Here's a screenshot from that design guide:

![design-guide](https://cloud.githubusercontent.com/assets/115237/12280915/fc262134-b991-11e5-842f-d5f8dfe53eb3.png)

Looks like it's something approximately to `#8cc84c` on `o` there, but JPG compression messed with heavily with that color, and the `js` part is a whole different shade. Not really a source we can work with.

[2016-01-13 05:06] rnsloan commented on #454
@ZibbyKeaton is this satisfactory: https://github.com/nodejs/nodejs.org/pull/462 ?

[2016-01-13 15:37] ZibbyKeaton commented on #454
@rnsloan 👌

[2016-01-13 15:40] #454 closed, assigned to nobody

[2016-01-13 17:01] Fishrock123 commented on #458
@mikeal Are you able to dig up a PDF or psd guidelines document, if one exists? (Or even point us to who to ask?)

[2016-01-14 03:24] wonderdogone commented on #432
ok so another more in depth "second guide" I suppose it's not really node.js responsibility to tutorial on docker but they do go hand in hand so well it kind of makes sense. If another guide will come about I have some topics I would be happy to write up. as I know it's hard to find "real" working docker production cases.

[2016-01-14 04:01] arturoromeroslc opened #464 "Update the year on the footer"
This one is a simple update to te website's footer.

The edit will be changing ©2015 to ©2016.

[2016-01-14 04:36] Knighton910 commented on #464
You didn't want to do a pull request & go about it that way? If not I'll handle it.

[2016-01-14 05:09] arturoromeroslc commented on #464
I will work on the pull request now, thanks.

[2016-01-14 05:09] Knighton910 commented on #464
No worries :)

[2016-01-14 05:10] Knighton910 commented on #464
:+1: @stevemao

[2016-01-14 05:52] arturoromeroslc commented on #464
Pull request is open.  https://github.com/nodejs/nodejs.org/pull/465

[2016-01-14 05:56] arturoromeroslc commented on #464
Pull request merged. Thank you @kelthenoble

[2016-01-14 05:56] #464 closed, assigned to nobody

[2016-01-14 05:57] Knighton910 commented on #464
Anytime man :100:

[2016-01-14 09:08] rvagg commented on #431
Thanks for the link @stevemao, I knew there was an issue in here about this recently that I couldn't find.

Folks in here, please see #467 for _possible_ way forward. Only discussion at this stage.

[2016-01-14 12:44] sumitsharma0999 opened #468 "Unable to access workflow page"
URL: http://nodejs.org/documentation/workflow/

![image](https://cloud.githubusercontent.com/assets/1701967/12324710/9da4ab08-baea-11e5-801b-75a9211e338c.png)

[2016-01-14 12:47] ghost commented on #468
for me, it redirects to https://nodejs.org/en/docs/. paging @phillipj, do you know where this is supposed to lead?

[2016-01-14 12:48] stevemao commented on #468
It redirects for me too.

[2016-01-14 12:52] ghost commented on #468
@sumitsharma0999 from where did you get to that URL?

[2016-01-14 14:50] phillipj commented on #468
Yupp, that's deliberate by the following [nginx rules](https://github.com/nodejs/build/blob/master/setup/www/resources/config/nodejs.org).

The workflow URL in question is mentioned in TJ's next-chapter blog post: https://nodejs.org/en/blog/community/next-chapter/ which is available in the old nodejs.org-archived repo: https://github.com/nodejs/nodejs.org-archive/blob/master/doc/contribute/code_co

[2016-01-14 20:19] phillipj commented on #354
@fhemberger these three was mentioned and has expressed they want to be collaborators, could you add them aswell? ..and close the issue afterwards :)

@matthewloring @kohei-takata @xcatliu

[2016-01-15 05:01] fhemberger commented on #354
Unfortunately, GitHub has changed their user role management. Only **organization owners** can send invitations for new members to join (I can only add existing org members to the website team).

@Fishrock123 You're listed as owner, can you please add the new members?

[2016-01-15 20:52] sumitsharma0999 commented on #468
For me also, it redirects now to https://nodejs.org/en/docs/ - this looks like a temporary issue.

Regarding the source of URL, I was browisng through https://nodejs.org and I am unable to the recall where exactly the link was. But I am pretty sure it was either on the home page or atmost 1 level down. I tried to find the link now, but was unable to find it.

[2016-01-16 15:27] Fishrock123 commented on #354
@fhemberger Invited all 3.

[2016-01-16 15:39] phillipj commented on #354
Closing this since the rest didn't respond.

[2016-01-16 15:39] #354 closed, assigned to nobody

[2016-01-18 05:18] rnsloan commented on #468
Should the nginx redirect be changed to the document that has superseded the old workflow document https://github.com/nodejs/dev-policy

[2016-01-18 07:04] phillipj commented on #468
Maybe... I was hesitant to reference it since it hasn't been updated in 8 months and it still says draft in the repo title. Any thoughts from @nodejs/documentation?

[2016-01-18 07:28] fhemberger commented on #468
@phillipj New Development Policy can be found here: https://nodejs.org/en/get-involved/development/

[2016-01-18 18:23] phillipj commented on #468
@fhemberger great! Does that mean we should ignore [nodejs/dev-policy](https://github.com/nodejs/dev-policy) for now, and change URLs of the three "Node.js Development Policy" links [on the contribute page](https://nodejs.org/en/get-involved/contribute/)?

[2016-01-18 18:25] jasnell commented on #468
https://github.com/nodejs/dev-policy should likely be folded in to https://github.com/nodejs/node somehow and used as the official source for what gets published to https://nodejs.org/en/get-involved/development/. /cc @nodejs/ctc

[2016-01-18 22:51] Fishrock123 commented on #468
Agreed, it's just a bunch of work no-one has done yet.

[2016-01-19 06:56] tankdeper commented on #406
@sup sorry, l will change it.

[2016-01-19 11:31] stevemao opened #471 "Order of versions in Index of /docs/"
https://nodejs.org/docs/

Currently the order is in alphabetical. Would be better if it was in reverse chronological order.

[2016-01-19 13:35] ashleygwilliams opened #472 "add inclusivity working group to list of working group on `about/working-groups`"
it is not listed.
<img width="769" alt="screen shot 2016-01-19 at 8 34 49 am" src="https://cloud.githubusercontent.com/assets/1163554/12419984/884227c2-be87-11e5-99c7-b2aa90d29b90.png">

PR incoming

[2016-01-19 13:52] lpinca commented on #471
I guess this is how directory listing works in nginx, I don't know if it can be configured to order the output.

[2016-01-19 13:58] lpinca commented on #471
https://www.nginx.com/resources/wiki/modules/fancy_index/

[2016-01-19 14:03] xcatliu commented on #471
Nginx `autoindex` options listed here:
http://nginx.org/en/docs/http/ngx_http_autoindex_module.html

[2016-01-19 14:39] ghost commented on #472
perhaps add that the inclusivity WG is chartered directly under the TSC

[2016-01-19 16:07] phillipj commented on #471
This is the [nodejs.org nginx config](https://raw.githubusercontent.com/nodejs/build/master/setup/www/resources/config/nodejs.org) for /docs ATM:

[code]

Doesn't look like autoindex has an option for sort ordering, but fancy_index does as of v0.3.3 obviously.

@nodejs/build would it be possible to install the fancy_index module for nginx?

[2016-01-19 18:32] retrohacker commented on #432
I agree there is a need here, especially since there are some cases you run into with Node.js that you don't with other images (SIGINT not being handled the same for example). I'd be willing to toss my hat in the ring for this.

I'll try to have a draft this week @Starefossen.

[2016-01-20 02:30] sbavi2 opened #474 "nodejs connection refused"
I have 2 different nodejs runtime installed on my dev server. 0.10.x and 0.12.x. The load balancer routes the traffic to port 3443 on 0.10.x (https). The request handler looks for a particular uri context pattern and if matched then it routes to 0.12.x node by using traditional http.request on port 4443. So in essence the server 0.10.x acts as a proxy to 0.12.x node.

Issue: Intermittently the API

[2016-01-20 03:25] stevemao commented on #474
This is the website issue tracker.
Please go to https://github.com/nodejs/node/issues/new

[2016-01-20 03:25] #474 closed, assigned to nobody

[2016-01-20 09:50] rvagg commented on #471
I've been tempted to do this to change the way we list filenames that get too long and are replaced with ellipses which frustrate me no end. However, the security implications of adding fancyindex have made me -1 on doing so at this point. It's an unofficial module, and not likely very widely used, we wouldn't get regular security updates to it via the normal system update system and it's just ano

[2016-01-22 04:36] chrisdickinson commented on #452
As promised, I am now closing this issue — if you still want to help out with the Docs WG, fret not, you can [sign up here](https://github.com/nodejs/docs/issues/63). Thanks all! :wave:

[2016-01-22 04:36] #452 closed, assigned to nobody

[2016-01-22 17:42] Fishrock123 commented on #355
I had to temporarily turn on Travis access to cancel some stuck builds from `readable-stream`, so I think builds might be re-enabled here?

It seems travis only gives you auth if it has private data access for some reason or other. (Maybe it needs that to view members or teams?)

[2016-01-22 18:04] phillipj commented on #355
Yupp, Travis builds branches but sadly doesn't integrate build status on PRs :(

One reply I got from Travis support might shed some light on why 3d party access is needed:

..we never found a solution around it.

[2016-01-25 22:16] retrohacker commented on #432
So I took a pass at this, and it ended up spelling out the logic put forward here: https://github.com/docker/docker-bench-security

Perhaps we should just link to the docker bench security project?

There was also an awesome comment from @Starefossen that I dug up here: https://github.com/nodejs/docker-node/issues/36#issuecomment-145938549

These two together could be enough to get us started.

[2016-01-25 22:22] retrohacker commented on #432
It would look something like this:

# Docker and Node.js Best Practices

## Environment Variables

Run with `NODE_ENV` set to `production`. This is the way you would pass inn secrets and other runtime configurations to your application as well.

[code]

## Non-root User

By default Docker runs container as root which inside of the container can pose as a security issue. You would want to run the c

[2016-01-27 04:27] kweng2 opened #484 "VM util.inspect context tutorial contains error"
When inspecting a context that was run in a context, should not be using sandbox to inspect

[Imgur](http://i.imgur.com/DOeESRz.png?1)

[2016-01-27 06:15] cafutor opened #486 "where is the configuration documentation"

[2016-01-27 06:45] xcatliu commented on #486
What do you mean by configuration documentation?
Perhaps you should read [CONTRIBUTING](https://github.com/nodejs/nodejs.org/blob/master/CONTRIBUTING.md) first

[2016-01-27 07:18] stevemao commented on #486
What is the issue here?

@cafutor if you wanna ask a question, please open an issue at https://github.com/nodejs/help or stackoverflow. This is the issue tracker for the nodejs website only. Thanks.

[2016-01-27 07:18] #486 closed, assigned to nobody

[2016-01-28 12:46] sebakerckhof opened #488 "es6 per version"
This page specifies what features of es6 are available: https://nodejs.org/en/docs/es6/

However, it's not clear to me to which version this applies (LTS or latest) and if it's the latest how I can find what's available in an older version. It would be good if this page was versioned per node version.

[2016-01-28 12:51] benjamingr commented on #488
Thanks for the report!

Some features explicitly have a footnote saying: "[2]: Only available in Node.js >= 5.x.x"

Everything else is available in the LTS release. That is - it's documented, but only for the two current versions (LTS and Latest stable).

How do you think we can clarify that page so users get a clearer idea of what's available where?

[2016-01-28 18:10] aberant opened #489 "release date for Node.js v0.9.3 is comically wrong year."
I now know why node.js is so fast! Time machines!

Actually it just looks to be a bit of a typo.  Node.js v0.9.3 is listed as having a release date of 2015-10-14 but was actually released in 2012

[2016-01-29 05:22] #489 closed, assigned to nobody

[2016-01-29 05:23] rvagg commented on #489
Good catch, thanks for reporting @aberant, it looks like a few have slipped through as 2015: https://nodejs.org/download/release/index.tab

The cause was poor date sorting @ https://github.com/nodejs/build/commit/73d1682f429e61fbbb759c3bd3fbbd3ae826e96b combined with newer SHASUM256.txt files that have been put into some of these older directories, so they have a new modified timestamp on them.

[2016-01-29 17:57] mikeal opened #493 "LTS Roadmap on website"
We've been getting questions about LTS a lot and it would be good to have it one the website rather than just in the README on the LTS repo.

@nodejs/documentation

For reference:

![screen shot 2016-01-29 at 12 44 22 pm](https://cloud.githubusercontent.com/assets/579/12683554/ba04b088-c66e-11e5-928a-87c913960833.png)

[2016-01-29 18:30] eljefedelrodeodeljefe commented on #493
The easiest I can come up with immediately would be... (Link to: https://raw.githubusercontent.com/nodejs/LTS/master/schedule.png)

![node_js](https://cloud.githubusercontent.com/assets/3899684/12684312/8a350a56-c6be-11e5-900a-3a20f4954894.png)

[2016-01-29 18:42] gtewallace commented on #493
+1 thanks @eljefedelrodeodeljefe

[2016-01-29 18:49] mikeal commented on #493
I think we need more that just the graphic, the graphic is great but a lot of the context for what LTS is we need text for.

[2016-01-29 18:51] eljefedelrodeodeljefe commented on #493
Should we make it incremental? ...have the above not and create some whole subpage? This would probably take way bigger effort, since I wouldn't just append `LTS` to the navbar.

[2016-01-29 18:58] mikeal commented on #493
Ya, you're right, getting _something_ up soon is best, I'm just wondering if we should link to the whole README or just to the graphic?

[2016-01-29 19:00] eljefedelrodeodeljefe commented on #493
If we could have an anchor on the readme above the image that should be fine. I'll open a pull request for the above and on the readme.

[2016-01-29 19:02] strawbrary commented on #488
Yeah I agree, as new versions are released with new features it will become harder to tell which features are available since which version. Perhaps we could either add a column next to each feature to say "Available Since" with the version number, or organize it like a changelog and list the features that were added in each version?

[2016-01-29 19:07] MylesBorins commented on #493
Long term I think having some sort of interactive info graphic that is accurate as of the current time would be very useful

[2016-01-30 02:46] stevemao commented on #488
#434 is the PR that resolve this issue.

[2016-01-30 06:06] hanzgit opened #495 "Create "Getting started" guide for Node.js beginners"
I usually use windows7 and have never use node.js in any platform.
In this time I start to use node.js.

For the first time, I tried to install node.js on windows7
and feel hard to know how to check operation after installation.

I estimate to be described about operation check at
 node.js HP(https://nodejs.org/en/)
  ->[DOWNLOADS](https://nodejs.org/en/download/)
  ->[Installing Node.js via packa

[2016-01-30 08:46] NikIvan opened #496 "Mistype in docs"
[Docs  -> Assertion Testing -> assert.notDeepEqual](https://nodejs.org/dist/latest-v4.x/docs/api/assert.html#assert_assert_notdeepequal_actual_expected_message)

Function calls in examples are **`assert.deepEqual()`**, not **`assert.notDeepEqual()`**.
Results seems to be correct.
True for v4 & v5.
Thanks.

[2016-01-30 09:25] stevemao commented on #496
Good catch @NikIvan , PR welcome :)

[2016-01-30 13:33] JungMinu commented on #496
I'll handle this issue :)

[2016-01-31 00:04] eljefedelrodeodeljefe commented on #493
The interim change would be ready.

[2016-01-31 08:46] Dzenly opened #497 "Guide 'Anatomy of an http transaction' refers to deprecated module 'Domain'."
https://nodejs.org/en/docs/guides/anatomy-of-an-http-transaction/

[2016-01-31 12:56] #497 closed, assigned to nobody

[2016-01-31 16:34] jrit opened #501 "$node-green #80bd01 on white background does not pass accessible contrast ratio"
Currently standard links on the website appear in `#80bd01` most often on a white background. Chrome accessibility tools indicate the contrast ratio is 2.28 and passing for AA level accessibility at the ~15px font-size on the API docs, like this page https://nodejs.org/api/fs.html would be a contrast ratio of ~3 which equates to a suggested `#6ea400`.

I personally think it is important that the w

[2016-01-31 22:30] stevemao commented on #501
Ref: #458

[2016-02-01 07:09] lpinca commented on #496
Closing, thank you.

[2016-02-01 07:09] #496 closed, assigned to JungMinu

[2016-02-01 07:14] lpinca commented on #484
It's not exactly an error. In that case `sandbox === context`.
Are you suggesting to change it as follow?

[code]

[2016-02-01 19:24] phillipj commented on #501
Agreed. @mikeal who should we ping to double check if and which colours could be altered to increase accessibility, without violating brand rules?

[2016-02-01 20:53] kahwee commented on #495
Do you mean that you like instructions on how to validate that your Node.js installation is working correctly?

[2016-02-01 21:03] ghost commented on #495
if you want to confirm that your node.js has installed correctly, then the steps you have described should be enough. if that is not your issue, could you give some more information please? we would appreciate it :)

[2016-02-02 03:32] wonderdogone commented on #484
I dont see how this is an error?

[2016-02-02 16:49] shelleyp opened #503 "In API, reference to non-existent function hash.final()"
In API documentation at https://nodejs.org/api/crypto.html#crypto_class_hash a reference to a non-existent API function, hash.final(). It should be hash.digest().

[2016-02-03 02:32] JungMinu commented on #503
I'll take care of this :)

[2016-02-03 02:34] rvagg commented on #503
@shelleyp for future reference, the docs are maintained @ https://github.com/nodejs/node/tree/master/doc/api, you're more than welcome to submit a pull request to fix or improve docs when you see something in need.

[2016-02-03 02:44] stevemao commented on #496
@NikIvan for future reference, the docs are maintained @ https://github.com/nodejs/node/tree/master/doc/api, you're more than welcome to submit a pull request to fix or improve docs when you see something in need

https://github.com/nodejs/nodejs.org/issues/503#issuecomment-178964591

[2016-02-03 02:47] stevemao commented on #503
Closing as PR is raised nodejs/node#5050

[2016-02-03 02:47] #503 closed, assigned to JungMinu

[2016-02-03 15:09] borisovg opened #504 "Broken links for 0.12.8 and 0.12.9 changelogs"
On this page: https://nodejs.org/en/download/releases/

404 for links:
- https://github.com/nodejs/node-v0.x-archive/blob/v0.12.9/ChangeLog
- https://github.com/nodejs/node-v0.x-archive/blob/v0.12.8/ChangeLog

[2016-02-03 17:07] MylesBorins commented on #504
@rvagg

[2016-02-03 17:16] Fishrock123 commented on #504
Those appear to be the two 0.12 releases so far made off of the nodejs/node repo. No releases are done from the archive anymore.

There's probably a regex wrong somewhere.

[2016-02-03 17:19] Fishrock123 commented on #504
Working on a fix.

[2016-02-03 21:31] #504 closed, assigned to nobody

[2016-02-04 16:06] fbaiodias commented on #443
I also feel like the [learning section](https://nodejs.org/en/get-involved/#learning) should be more proeminent on the website.
If a new comer visits [nodejs.org](https://nodejs.org) there's no "Get started" at first sight, so maybe we could add a link to the menu bar or event a section to the home page?

[2016-02-04 18:49] mikeal commented on #443
We should call out the `help` repo as the default place to ask any question if you can't figure out where or how you should participate.

[2016-02-04 18:52] Knighton910 commented on #443
seconded  `help repo`

[2016-02-04 19:25] kahwee commented on #443
Django folks have a good start page that we can take cues from -- https://www.djangoproject.com/start/

[2016-02-07 05:32] gdennie opened #506 "The documentation on streams is not very good."
For example, the following:

[code]

To state that `the output is in some way computed from the input` as a distinguishing characteristics of Transform streams necessitating Duplex functionality is not helpful since all streams would necessarily seem to calculate their outputs from their inputs.

[2016-02-07 12:16] stevemao commented on #506
The stream documentation in general has a lot of problems. see https://github.com/nodejs/readable-stream/issues/181

[2016-02-07 20:07] Knighton910 commented on #506
Like @stevemao has referenced, we're having issues with `streams documentation` right now. But we are working on that. This `Docs Issue` is a priority for us, so we'll have it fixed soon. :100:

[2016-02-08 18:36] leo opened #508 "New layout"
I thought the current site might need an overhauled look, since it feels a bit old and packed to me. So I've decided to start designing a new one that's a lot lighter. Before continuing with those other pages and different responsive sizes, I'd like to make sure that you guys like this kind of design.

So what do you think? :blush:

**Important:** I've uploaded a [bigger size](https://cloud.github

[2016-02-08 18:41] mikeal commented on #508
One thing to keep in mind, we're about to put out an updated logo that would need to be worked in. I'll post it here once the legal side of it is all finished up.

[2016-02-08 19:32] ghost commented on #508
+99 from me, looks VERY nice

[2016-02-08 20:16] evanlucas commented on #508
I really like that

[2016-02-08 20:17] mikeal commented on #508
A few things we need to consider in the design this time, rather than just tossing it on like we did with the last design, is that there are things we tend to promote temporarily at the top level on our website:
- Major security upgrades
- Specials events the foundation puts on like Node.js Interactive

And maybe we _should_ do a better job of promoting other stuff temporarily (last non-release bl

[2016-02-08 20:32] danjenkins commented on #508
I was about to say the same thing @mikeal - there is the effort to make "getting started" etc easier so these should definitely be thought about here. It is nice though and we shouldn't try to overload the minimalism of the design, let alone confuse people more. Just bringing in @nodejs/documentation so that they're aware

[2016-02-08 21:32] a0viedo commented on #508
Looks really nice!

@mikeal I like the idea of having a section for content that's not related to releases. I remember some videos were displayed on an older version of the website, what happened with that section?

[2016-02-08 21:58] thisismyoldaccount commented on #508
@danjenkins I'm with you.

I really like the simplicity. It's awesome. However, it needs some colors imo. The color would be better by adding just a blur background imho. And making texts white.

Plus, you can decrease right section width to fit the two buttons and make some room for the left section to put some important and eye-catching features of Node.js in very short and comprehensive sentenc

[2016-02-08 22:30] danjenkins commented on #508
And something that I'm sure is already being thought about is accessibility. I was at Chrome Dev Summit in November (?) and heard a [great talk about accessibility, colour contrast etc](https://www.youtube.com/watch?v=RkKl1O56w-c&feature=youtu.be) - using the [Accessibility Developer Tools extension](https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipec

[2016-02-08 23:59] Knighton910 commented on #508
:+1: That's a good look

[2016-02-09 02:41] thefourtheye commented on #508
I love simplicity ergo I love this as well :)

[2016-02-09 03:18] stevemao commented on #508
@leo it doesn't hurt if you could push up your changes and do a PR (since you have already done the changes). We can start reviewing it.

I can't promise your PR will be merged soon but since a lot of people like it, it should be merged when the time comes :)

[2016-02-09 04:50] silverwind opened #510 "Nightly builds on download page"
[Nightly builds](https://nodejs.org/download/nightly/) are very hard to find right now and not even reachable through directory navigation from [nodejs.org/dist](https://nodejs.org/dist). Can we agree to feature them more prominently on the [downloads](https://nodejs.org/en/download/) page, maybe in a small paragraph below the table?

[2016-02-09 05:36] fhemberger commented on #508
Looks nice, but the overall contrast is _way_ too low. This is a serious issue for a11y.

[2016-02-09 05:38] fhemberger commented on #510
Good catch, let's do this. :+1:

[2016-02-09 05:55] rvagg commented on #510
We'll have a new line that can go with this too soon, name uncertain but it'll be `master` on perhaps a weekly schedule with slightly less scary version strings than nightlies https://github.com/nodejs/node/issues/4856

[2016-02-09 08:33] 3buddy opened #511 "regarding node setup"
can you please tell me it is possible to install node.js on shared hosting , if yes then can you please guide me regarding the same . if not can you please  tell me regarding the server configuration

[2016-02-09 08:36] stevemao commented on #511
open an issue at https://github.com/nodejs/help or stackoverflow :)
This issue tracker is for the website itself only :)

[2016-02-09 08:36] #511 closed, assigned to nobody

[2016-02-09 08:36] 3buddy opened #512 "regarding node setup"
can you please tell me the step to install node.js from source code that i downloaded from node.org site

[2016-02-09 08:38] stevemao commented on #512
https://github.com/nodejs/nodejs.org/issues/511#issuecomment-181759779

[2016-02-09 08:38] #512 closed, assigned to nobody

[2016-02-09 08:40] ghost opened #513 "[Question] Why there is that gradient background at the bottom of the sidebar?"
![](https://cloud.githubusercontent.com/assets/2175645/12899736/8cba2752-cebb-11e5-85cf-23993209f3bc.png)

I'm sorry, but it looks so ugly...
- Safari latest version (I think it's 9) (OS X El Capitan)
- Scrollbars are shown when scrolled.
- https://nodejs.org/dist/latest-v5.x/docs/api/
- On Google Chrome (Windows 7) the gradient is on top of the scrollbars.

[2016-02-09 09:25] leo commented on #513
I don't like it either, but it probably indicates that there are other API categories below the visible ones.

[2016-02-09 09:28] leo commented on #508
@stevemao It's just a exported Sketch artboard, not yet coded... :blush:

[2016-02-09 12:01] leo commented on #508
Here are more iterations. It looks like you'd like to add more important content to the front page, so I thought that it might be better to make some of them scrollable (not like a one-pager, pages will still be separate). They also have a bigger contrast between interaction elements and their background (so that everything is easily readable).

I'd like to focus on the first section and the eleme

[2016-02-09 12:06] ghost commented on #508
@leo i like the dark version better, it also helps with a11y and people who don't visit sites that have a white background (those exist). is the 'learn more' box intended to be alerting visitors to scroll down? if so, maybe add a visual indicator, such as an arrow to show that you can scroll down.

[2016-02-09 12:08] leo commented on #508
@sup I really like the dark version, too! Not many sites on today's web are dark. The "learn more" thingy is intended to be a clickable button that scrolls down to the next section (only on the last one it's meant to forward the user to a different page). :blush:

[2016-02-09 12:11] thefourtheye commented on #508
I like all of them :( Wish I could switch between them. But I like the dark version the most.

[2016-02-09 12:11] eljefedelrodeodeljefe commented on #508
@leo definitely don't omit the download thing, also not the multi-version part, since those are the most important informations for professional users and users in general. Don't mind too much on newcomers.

Also I was thinking whether the "What is Node.js" Section could be just one item of a rotating gallery, where more LTS info, amongst others, could be scrubbed though.

[2016-02-09 12:41] silverwind commented on #510
Oh, and we probably should mention that semver issue with npm warning because of the version string not matching.

@rvagg would you recommend linking to the current nightlies, or should we wait?

[2016-02-09 12:46] rvagg commented on #510
I think they did something about the semver warning in a recent 3.x didn't they? They should be pretty nice to use now.

@silverwind no point waiting, just keep in mind that we'll want to make room for another kind of download. It's unclear whether `nightly` should be off stable or master or both when we have this new channel. Currently nightlies are turned on for both, so you can get v5 and v6 fr

[2016-02-09 12:54] silverwind commented on #510
The version issue still persists with the npm provided in the package:

[code]

[2016-02-09 13:00] #305 closed, assigned to nobody

[2016-02-09 13:01] rvagg commented on #510
https://github.com/npm/npm/blob/master/CHANGELOG.md#better-node-pre-release-support

looks like it's in 3.6.0, which queued up in core waiting to be unblocked by some graceful-fs drama before it can land but will be in both v5 and v6 nightlies very soon

[2016-02-09 13:04] silverwind commented on #510
Ah, nice to hear. I'd say we defer linking until then, so we don't have to deal with this headache.

[2016-02-09 17:26] joshmanders commented on #508
Beautiful work @leo!

[2016-02-09 19:55] r-52 commented on #513
@dkfiresky https://github.com/nodejs/node/pull/4748 describes your problem and a fix for it. If I use Safari with El Cap and the latest docs I can't see a gradient.
The commit landed in the 4.x staging, but I believe there was no release between the landing of the commit and now.
/cc @silverwind

[2016-02-09 20:02] Knighton910 commented on #510
:+1: @silverwind I'd be nice to have on the `downloads page`.

[2016-02-09 20:04] silverwind commented on #513
The bugged gradient on Safari was fixed in https://github.com/nodejs/node/pull/4748 and the fix has been released with the 5.6.0 docs a few hours ago, so you should see it working as intended now:

![gradient](https://cloud.githubusercontent.com/assets/115237/12928933/8ea90b04-cf70-11e5-9119-c7fe4df64b6d.png)

The purpose is simply to indicate the scrollability of the sidebar, which might not be o

[2016-02-09 20:06] silverwind commented on #513
I wasn't seeing this, could you check if it's still an issue right now?

[2016-02-09 23:13] stevemao commented on #513
@silverwind I confirm it is on https://nodejs.org/dist/latest-v4.x/docs/api/
But not on https://nodejs.org/dist/latest-v5.x/docs/api/ anymore.
I'm on Windows 7 Chrome, oh it is on bottom not top.

[2016-02-09 23:16] stevemao commented on #513
![node js 4 3 0 docs](https://cloud.githubusercontent.com/assets/6316590/12933964/4d92dd60-cfdf-11e5-8f2a-23ef844df481.png)

[2016-02-10 00:18] silverwind commented on #513
@stevemao that's because the backport of https://github.com/nodejs/node/pull/4748 hasn't been released yet. It's a bit unfortunate, but we have to wait for the next LTS release for the 4.x docs.

[2016-02-10 02:42] zen-crab opened #515 "Stable Node.js ARMv6 download link missing."
Page: [https://nodejs.org/en/download/stable/](https://nodejs.org/en/download/stable/)

Clicking "ARMv6" results in a 404.

[https://nodejs.org/dist/v5.6.0/node-v5.6.0-linux-armv6l.tar.xz](https://nodejs.org/dist/v5.6.0/node-v5.6.0-linux-armv6l.tar.xz)

[2016-02-10 07:28] wonderdogone commented on #508
Dark version.. Looks good

[2016-02-10 08:17] wonderdogone commented on #515
Yea it looks like those builds are literally missing. I filed an issue with the build group to see if maybe they just did not make it over or at least we can see if they built successfully already.

https://github.com/nodejs/build/issues/326

[2016-02-10 08:27] evanlucas commented on #515
/cc @jasnell did those not get promoted?

[2016-02-10 09:31] rvagg commented on #515
Yeah, armv6l binaries are waiting in staging, must have not quite been finished when 5.6.0 was released (which we do allow to happen occasionally). This'll have to wait until @jasnell is awake and able to promote the builds, they can only be promoted and signed by the individual doing the release.

In the meantime, you can fetch the exact binaries from Jenkins which makes its own copies during bui

[2016-02-10 09:56] ghost commented on #513
Why simply showing scrollbars is not enough for indication of more content in the sidebar? It looks like overkill for me. Also the text color almost matches the gradient color (as posted in original screenshot) which makes text unreadable.

[2016-02-10 10:09] rvagg commented on #508
@nodejs/website FYI if you ever want to set up a temporary subdomain to host WIP changes that you're not comfortable pushing to `master` then open an issue on nodejs/build with the details of the domain name and the branch here that you want built and we can make it happen fairly easily. Same setup as we have now is preferred but if you want to change the build procedure then let us know what that

[2016-02-10 10:13] wonderdogone commented on #515
Once these get promoted the website links will work so I will wait a few hours (until I wake back up for real) and if we still have not seen them promoted I can consider pr to update the website links to be direct to jenkins. I just dont want to do it now if it's going to be all fixed in the morning and avoid the revert back again.

[2016-02-10 10:19] rvagg commented on #515
It's 2am for James, so give him a bit of time.

[2016-02-10 10:24] stevemao commented on #508
Thanks @rvagg , I suggest to name it "nightly" (the same as nodejs nightly).

[2016-02-10 10:26] leo commented on #508
@stevemao :+1:

[2016-02-10 14:23] jasnell commented on #515
Promoted! Sorry for the delay. Had been planning to get it done last night but I succumbed to the cold medicine and crashed early.

[2016-02-10 14:23] jasnell commented on #515
(I'll update the blog posts a bit later this morning)

[2016-02-10 14:25] Fishrock123 commented on #508
Does this use the same colors? It's pretty hard to read on white imo.

Also how does it scale to mobile?

[2016-02-10 14:41] silverwind commented on #513
I was going for a more "modern" style, and I think it looks cleaner without a scrollbar.

The rendering in your original screenshot was a bug. Chrome, Firefox and IE didn't show it, and I learned my lesson for not testing Safari :)

[2016-02-10 15:08] leo commented on #508
@Fishrock123 Are you talking about the dark version? No, it's using lighter text colors than the versions with a light background. If you're talking about the initial version: It uses slightly different colours than the current site (I still need the new logo to find out which colours are the best).

I haven't yet thought about those other responsive sizes, since I'd like to make sure that we all

[2016-02-10 15:31] joepie91 commented on #508
The typical accessibility concerns apply, of course - I don't know whether they're a problem in this proposed design, but figured it's better to be safe than sorry. I might as well highlight them, since they are overlooked a lot in the design community as of late:
- Don't do scroll-jacking. Just leave the browser's scrolling functionality untouched.
- Don't require JavaScript to view the site. It'

[2016-02-10 15:57] leo commented on #508
@joepie91 Thanks! That's exactly what I'll keep in mind. If I'll be chosen to code it, too, it will of course be [mobile-first](https://abookapart.com/products/mobile-first), completely responsive and free of such techniques.

[2016-02-10 19:22] wonderdogone commented on #515
Awesome. It's all working now

[2016-02-10 19:22] #515 closed, assigned to nobody

[2016-02-10 19:30] ghost commented on #513
@silverwind

Now we got another bug. If you want to scroll on the sidebar only, it scrolls all content and after content is scrolled top till the end, sidebar starts scrolling. Same happening when you scroll bottom.
Here is a video:
![node_doc_issue](https://cloud.githubusercontent.com/assets/2175645/12959058/64fd2f10-d03d-11e5-8e55-bc0e479d55ae.gif)

As shown on the video, I'm scrolling on the si

[2016-02-10 22:38] silverwind commented on #513
@dkfiresky that behaviour is very browser-specific (Chromes does bubble the scroll event when the limit is reached, Firefox does not) from what I've tested, but I assume improvements can be made to have make it behave more like http://devdocs.io/node/ for example.

[2016-02-11 06:34] rvagg commented on #515
@jasnell I have done exactly the same thing with these builds in the past, on multiple occasions, sans the cold medicine. "I'll do that later when it builds" then I get a ping on GitHub or Twitter or email from a user who can't find them. Given this pattern and the fact that the downloads page doesn't care whether they exist or not but still links to them I think we might need to enshrine in the r

[2016-02-11 06:36] jasnell commented on #515
I think that would be a good idea.
On Feb 10, 2016 10:34 PM, "Rod Vagg" notifications@github.com wrote:

[2016-02-11 06:36] wonderdogone commented on #515
you mean wait for armv6l to release officially or announce on website? Maybe thats the same thing?

[2016-02-11 06:37] wonderdogone commented on #515
but yes I agree with you @jasnell

[2016-02-11 06:37] jasnell commented on #515
Wait for the arm release builds to complete before promoting and
announcing, so it's done all at once.
On Feb 10, 2016 10:36 PM, "wonderdogone" notifications@github.com wrote:

[2016-02-11 06:56] wonderdogone commented on #515
i mean really whats the process of letting the website "people" know that an update is ready and to be posted? It seems really manual to me.  Maybe if thought about we could make it so that when Jenkins actually finishes all builds it creates a github issue/email/whatever or something via api to alert web teams to update?

[2016-02-11 13:27] jasnell commented on #515
Yes, it is very manual right now. Some sort of notification would be very
good, I think.
On Feb 10, 2016 10:56 PM, "wonderdogone" notifications@github.com wrote:

[2016-02-11 16:50] silverwind commented on #513
I'm working on the scrolling issues and other misc things on the API docs's CSS.

[2016-02-11 19:05] ghost commented on #513
@silverwind

They got nice scrolling, and I think they somehow prevent scrolling on areas which are not under the mouse cursor.

[2016-02-11 19:30] silverwind commented on #513
@dkfiresky yes, I already figured out how they do it, took me some time though :wink:

See https://github.com/nodejs/node/pull/5198 for my propsed changes.

[2016-02-11 19:35] ghost commented on #513
Well done, @silverwind :+1:

I will close this issue as soon as your pull request will be merged.

[2016-02-11 20:18] silverwind commented on #501
+1 to `#6ea400`, still looks acceptable to me.

[2016-02-11 22:49] silverwind commented on #458
Accessibility (#501) dictates that we use a darker green on he links and buttons if we are to keep the white background. With a dark background there would of course be no concern, and we could make those colors match.

[2016-02-12 01:27] stevemao commented on #513
I really think `doc/api_assets` should be managed here in this repo. I know this was brought a long time ago and requires build scripts changes so yeah :)

[2016-02-12 02:16] silverwind commented on #513
Yeah that'd be my preference as well for faster propagation of stuff like this. On the other hand, it's kind of nice that each API release has its own standalone package of docs.

[2016-02-12 12:44] wonderdogone commented on #515
probably  should do another thread to keep discussion but maybe a "status" page that feeds/api from jenkins? Im just not sure how the details of the Jenkins workflow. Assuming the builds are scripted to create a new directory in /dist, possibly we can fire of a trigger from jenkins with each new build that allows said status page to be monitored for releases?

[2016-02-12 17:26] ghost commented on #513
I close this issue now, as my questions were resolved. Thanks everyone for participation.

[2016-02-12 17:26] #513 closed, assigned to silverwind

[2016-02-13 21:18] phillipj commented on #508
Really love the simplicity in those sketches @leo!

Got any thoughts about what's going to appear when clicking these question marks?

<img width="344" alt="screen shot 2016-02-13 at 22 15 14" src="https://cloud.githubusercontent.com/assets/1231635/13030088/59e58ec4-d29f-11e5-97fd-56649a25b384.png">

[2016-02-13 22:59] stevemao commented on #508
I believe when you hover over them, say LTS, it'll say "Mature and Dependable".

[2016-02-14 05:36] fhemberger commented on #508
What about mobile users, which don't have :hover?

[2016-02-14 05:40] stevemao commented on #508
Probably display it below the buttons.

[2016-02-14 08:13] leo commented on #508
@stevemao Exactly. Thanks for the explanation! It might even show links to the API docs, to the changelog and to other related downloads of this version.

Also glad that you like it, @phillipj. :blush:

[2016-02-15 17:59] Mattabat opened #518 "Downloads not working"
Tried download Node.Js the regular links and the dir. Neither will download. Downloads get to say .5 of around 10mbs, then stop... Had a friend a few states away try it same thing.

[2016-02-15 18:00] evanlucas commented on #518
Which links in particular are you trying to download that are failing?

[2016-02-15 18:21] Mattabat commented on #518
um node.js  from the main download page
tried both v4 and 5.60  the lts and stable tried both
neither work

[2016-02-15 18:22] MylesBorins commented on #518
I just was able to successfully download the v5.6 installer. This is odd

/cc @nodejs/build

[2016-02-15 18:33] Mattabat commented on #518
Ya duno i can download everything else from any other sitee fine up to a few gigs in 10-20 mins but not a 10 mb download from here, really strange.

[2016-02-15 18:56] ghost commented on #518
@Mattabat just to make sure, can you try to download from https://nodejs.org/dist/v5.6.0/ and see if the issue persists?

[2016-02-15 19:21] Mattabat commented on #518
ya we did

[2016-02-15 20:29] Mattabat commented on #518
so appears to be a comcast outage in a lot of place i'm to assume maybe related to that just weird i can download like 1%  at a time and then it stops

[2016-02-15 20:31] MylesBorins commented on #518
I'm going to close for now as it appears to not be related to the project. Feel free to keep the conversation going

[2016-02-15 20:31] #518 closed, assigned to nobody

[2016-02-16 11:04] stevemao commented on #506
Closing as the issue is already posted in relevant repos. This one doesn't belong here.

[2016-02-16 11:04] #506 closed, assigned to nobody

[2016-02-19 06:10] laggingreflex opened #522 "Yellow text on white background is hard to read"
The strong yellow #a2bd01 link text color on white background is a little difficult on the eyes

![](http://i.imgur.com/2EuXOoP.png)

It might work better with a dark background:

![](http://i.imgur.com/UuKc1pZ.png)

[2016-02-19 07:29] stevemao commented on #522
I didn't notice that :open_mouth: I thought it was green colour :confused:

[2016-02-19 08:02] fhemberger commented on #522
@stevemao It _is_ green. ;) But yes, it hasn't a good contrast ratio, we should pick a different color.

[2016-02-20 03:23] maewnamcom opened #523 "Suggesion. Please register "node dot js" domain name."
For easy to type in address bar
Please register node.js domain name

[2016-02-20 03:28] Trott commented on #523
`.js` is not currently a valid TLD so it is not possible to register a `.js` domain name.

[2016-02-20 07:00] stevemao commented on #523
@aekseed did you mean node.js.com?

there is no `.js` domain as far as i know

[2016-02-20 12:20] silverwind commented on #501
The [new logo](https://github.com/nodejs/nodejs.org/commit/d7296082bd1b655206a3867e6b037380d08bdd66) looks to be `#669f64` in the JS part, @jrit can you check if this color meets the guidelines on the `#fff` background?

[2016-02-20 18:57] jrit commented on #501
`#669f64` does not for the expected font sizes because the required contrast ratio is 4.5:1 and that comes out to 3.13:1.

The dark green on the bottom left of the "o" in "node" is `#3e863d` which comes in at 4.49:1 which is functionally close enough, but to officially pass it would need to be pulled down to `#3e853d`

If anyone else wants to check these, this is the easiest place http://webaim.or

[2016-02-22 13:28] okuryu opened #526 "Downloadable new logo"
The new logo has been shipped in nodejs.org by #521, but I can't find the downloadable new logo assets.

https://nodejs.org/en/about/resources/

[2016-02-22 17:32] mikeal commented on #526
I have a series of images but I don't have time to put together a page for them right now. If anyone wants to pick this up I can send you the images.

[2016-02-23 06:02] kahwee commented on #522
I'm sorry you're having difficulty with reading the documentation. I didn't find `#a2bd01` (yellow) in our documentation CSS. The closest I can find is `#80BD01`.

Related to #501

[2016-02-23 06:03] kahwee commented on #526
Sure I can do it. Send them to my GitHub email.

[2016-02-23 06:57] JungMinu opened #529 "Evangelism: Weekly Update for February 23 ~"
Let's write down for next week :gift:
As @Trott mentioned in https://github.com/nodejs/nodejs.org/pull/525, I will gather items for Weekly Update in this repo

[2016-02-23 10:40] laggingreflex commented on #522
Yup, it seems I got the color wrong but that's the exact same issue, thanks for pointing out. Closing this one then.

[2016-02-23 10:40] #522 closed, assigned to nobody

[2016-02-23 18:26] eljefedelrodeodeljefe commented on #526
@kahwee some stuff is here https://drive.google.com/folderview?id=0B2SAGsHi4DjIcHB0cTZZcXFZNG8&usp=sharing

[2016-02-23 18:31] mikeal commented on #526
@kahwee sent to your email :)

[2016-02-23 18:53] fhemberger commented on #526
Oh great, finally some brand logo and color guidelines! :100: :tada:

[2016-02-23 20:22] julianduque opened #531 "Wrong date formatting on Express Announcement"
Current date shows post as of Oct 02

![](https://cldup.com/Hqy7eD0v_x.png)

[2016-02-23 21:40] silverwind commented on #526
The RGB values for colors on that document are off for 357-c and 360-c, but I found this:

http://rgb.to/pantone/357-c
http://rgb.to/pantone/7741-c
http://rgb.to/pantone/360-c

[2016-02-23 21:43] gtewallace commented on #526
@silverwind thanks you very much. I've shared this with the designer so we can get the document updated

[2016-02-23 21:48] silverwind commented on #501
We have a new [set of colors](https://github.com/nodejs/nodejs.org/issues/526#issuecomment-187926078) from a preliminary document for the new logo design: `#215732`, `#44883e` and `#6cc24a`. The first one would pass all tests on above site on `#fff` background, but I'd argue it's a bit too dark.

Maybe `#44883e` is the way to go, it passes WCAG AA for large text, but fails on small one.

[2016-02-23 22:35] #531 closed, assigned to nobody

[2016-02-23 23:06] stevemao commented on #529
@JungMinu You could ping us in evangelism repo if you don't wanna duplicate the items.

[2016-02-23 23:07] kahwee commented on #526
I added in the logos in PR #533

By the way, are we still having the hexagonal logo in https://nodejs.org/en/about/resources/ It's the one that just writes JS.

The visual guidelines to due for an update as well: https://nodejs.org/static/documents/foundation-visual-guidelines.pdf

@gtewallace Can we get this from the designer?

[2016-02-23 23:18] mikeal commented on #526
A few thing, one is that in _our_ use we're going with the new hexagon but we probably don't want to encourage other's to use it because it isn't independently trademarked the like hexa-js is. We can probably just remove it from the old site.

[2016-02-23 23:24] #526 closed, assigned to nobody

[2016-02-24 00:00] #458 closed, assigned to nobody

[2016-02-24 00:15] silverwind commented on #523
Not possible, read up on https://github.com/ozten/TLD.js/issues/8 :wink:

[2016-02-24 00:15] #523 closed, assigned to nobody

[2016-02-25 02:16] jrit commented on #501
The WCAG validation is supposed to set the floor for contrast, so on that basis it would have to be `#215732` from those 3 colors to pass. `#43853d` is the lightest in the hue of `#44883e` that passes and I think that is also likely OK.

Unless there are objections to that, since the colors are documented now, a pull request seems appropriate to update this.

[2016-02-25 16:47] ZibbyKeaton opened #535 "Adding Ashley Williams and Feross Aboukhadijeh to Board Page"
I just noticed that Ashley and Feross were not on our list of  Board of Directors page. Here: https://nodejs.org/en/foundation/board/. Could we get the two of them added in there. Thanks in advance for help here :)

[2016-02-25 17:17] mikeal commented on #535
They have to be officially admitted by a vote of the current board in Monday's meeting. It's just a formality but we should just hold off until Monday afternoon.

[2016-02-25 22:56] phillipj commented on #355
So when Travis can't help us, we've got to fix it ourselfs, right?

I just created [nodejs-github-bot](https://github.com/nodejs-github-bot) to help us get integrated build status from Travis, in the form of comments seen in https://github.com/nodejs/nodejs.org/pull/539#issuecomment-189016995. It starts polling Travis as soon as a new PR opens. Haven't implemented PR updates yet. We'll have to see

[2016-02-25 22:56] #355 closed, assigned to nobody

[2016-02-25 23:18] stevemao commented on #377
Since we've disabled third-party app integrations, we can't use greenkeeper any more :( should we close this issue?

[2016-02-25 23:21] stevemao commented on #355
Just out of curiosity, @phillipj is the script of the bot open source?

[2016-02-26 01:12] mikeal commented on #377
I just got a ping from @janl letting me know that they have a greenkeeper enterprise that might work for us on this. I'll work with Jan and the build team to get something in place.

[2016-02-26 06:24] phillipj commented on #355
Absolutely @stevemao! Its in a throw-it-together state atm, I'll push it up after cleaning it up :)

[2016-02-26 08:35] phillipj commented on #355
@stevemao https://github.com/nodejs-github-bot/bot

[2016-02-26 11:29] stevemao commented on #355
Looks good @phillipj :)

[2016-02-26 12:08] leo commented on #508
Is the logo ready?

[2016-02-26 12:25] bentinata commented on #508
@leo Yep, along with the new color schemes.

https://drive.google.com/folderview?id=0B2SAGsHi4DjIcHB0cTZZcXFZNG8&usp=sharing

[2016-02-26 12:28] leo commented on #508
@bentinata Perfect, thanks! :metal:

[2016-02-26 15:12] mhdawson opened #540 "Comments/help on benchmarks pages."
We recently started publishing benchmark results here:  https://benchmarking.nodejs.org/. under issue https://github.com/nodejs/build/issues/281.

For that I put together a simple page but we thought we should get comments/help from this WG.

The overall process flow for how the benchmark data is collected and published is documented here: https://github.com/nodejs/benchmarking/blob/master/benchma

[2016-02-26 21:24] toddbluhm opened #541 "Mention what version of npm node ships with on downloads page/release notes"
Would it be possible to also include what default version of npm Node ships with on the downloads page...or even in the release notes (maybe its already in the release notes and I have missed it?).

[2016-02-26 22:31] kahwee commented on #541
The `npm` change is in the CHANGELOG.md. For example: https://github.com/nodejs/node/blob/v5.6.0/CHANGELOG.md

It doesn't change in v5.7.0 so no mention is made.

[2016-02-26 22:45] toddbluhm commented on #541
I see that. I just didn't go back far enough.

[2016-02-26 22:45] #541 closed, assigned to nobody

[2016-02-27 00:37] rvagg commented on #541
it's all here too https://nodejs.org/en/download/releases/

[2016-03-01 13:21] quattroman opened #544 "WGET command results in error 404: Not Found"
Hi,

I am trying to get node JS installed on my Raspberry Pi 2 (running raspbian).  Unfortunately when I run the following;

https://nodejs.org/dist/v5.7.0/node-v5.7.0-linux-armv7l.tar.gz does not work. (5.7.0 being the latest)

The Pi connects to the nodejs.org website, sends the HTTP request, awaits response and then fails ….404 not found.

Can you help please.

Thanks

Peter

[2016-03-01 13:34] ghost commented on #544
hi peter, in what browser are you querying the website?

[2016-03-01 13:55] JungMinu opened #546 "Evangelism: Weekly Update for March 1 ~"
Let's write down for next week :gift:

[2016-03-01 13:55] #529 closed, assigned to nobody

[2016-03-01 14:05] quattroman commented on #544
using the terminal application on a Raspberry Pi 2; so typing sudo wget..............

[2016-03-01 14:11] ghost commented on #544
@quattroman ah sorry, didn't catch that. doing `sudo wget https://nodejs.org/dist/v5.7.0/node-v5.7.0-linux-armv7l.tar.gz` works for me.

can you try downloading it with `curl`? run `sudo curl -O https://nodejs.org/dist/v5.7.0/node-v5.7.0-linux-armv7l.tar.gz` and it should (hopefully) download the file.

[2016-03-02 17:11] gtewallace commented on #526
@silverwind This PDF has the correct RGB codes. I think you already figured it out, but for anyone else who needs/wants it, here's the brand reference. Thanks again for catching that.
[NodeJS_NewLogo_v2.pdf](https://github.com/nodejs/nodejs.org/files/155257/NodeJS_NewLogo_v2.pdf)

@kahwee yes - they are working on the new visual guidelines and it should be available next week. As soon as I get it

[2016-03-02 17:15] silverwind commented on #526
@gtewallace colors are looking good now, thanks!

[2016-03-03 16:59] #501 closed, assigned to nobody

[2016-03-03 18:26] jrit opened #552 "Propose adding WCAG validation to build process"
Now that most of the colors are updated to better contrast in #536 I think it would be a good idea to add WCAG validation into the build process to help clean up anything else that is not compliant, and to prevent regression in future design changes. I'd be willing to take this on, but wanted to get a consensus that it is desired first.

I am assuming that validation will point to some minor issue

[2016-03-03 18:56] mikeal commented on #535
BTW, this was all certified on the meeting on Monday so we should get this up :)

[2016-03-03 20:00] mhdawson commented on #540
Addressed through https://github.com/nodejs/benchmarking/pull/32, closing.

[2016-03-03 20:00] #540 closed, assigned to nobody

[2016-03-04 05:48] retrohacker commented on #432
@nodejs/docker can we get a :+1: here, would like to ship this and close https://github.com/nodejs/docker-node/issues/1

[2016-03-04 06:38] Starefossen commented on #432
+1 to go ahead and create a PR for this @retrohacker

[2016-03-04 20:54] gtewallace commented on #526
hi everyone - attached here is the brand guidelines doc.
[NodeJS_BrandGuide_2.pdf](https://github.com/nodejs/nodejs.org/files/159368/NodeJS_BrandGuide_2.pdf)

[2016-03-04 22:00] silverwind commented on #526
@gtewallace can you possibly provide the logo in vector format? Would be great for the homepage.

[2016-03-04 22:00] mikeal commented on #526
I have a zip file with a bunch of the noted variants in different formats.

[2016-03-05 22:14] stevemao commented on #471
ping @nodejs/build @jbergstroem :)

[2016-03-06 02:54] jbergstroem commented on #471
Agree with @rvagg here; there's no real good way of maintaining nginx 3rd party modules from the current standpoint. Next nginx stable release will support a 3rd party module system that doesn't have to be compiled as part of the binary which likely makes this much easier but ultimately (also) think that building it as part of the website is likely a better solution.

[2016-03-07 06:32] williamkapke commented on #546
There is a "governance" section in the 5.7.1 CHANGELOG that I think should have gone in a Weekly Update:
https://github.com/nodejs/node/blob/36436709cf274e2d641b592a978abf2d108fbb9b/CHANGELOG.md

[2016-03-07 07:48] williamkapke commented on #535
Where are the board meeting notices posted? Are the minutes posted?

[2016-03-07 12:43] silverwind commented on #552
Would that require something like PhantomJS as a test dependency?

[2016-03-07 13:39] JungMinu commented on #546
Thanks, a PR for this weekly update : https://github.com/nodejs/nodejs.org/pull/557

[2016-03-07 15:38] jrit commented on #552
Yes, if we use https://www.npmjs.com/package/accessibility-developer-tools which is what I'd recommend, then it runs within a browser, and PhantomJS is generally the easiest to configure in CI. Would that create a problem @silverwind ?

[2016-03-07 16:17] silverwind commented on #552
To be honest, I'm not sure it's worth the complexity it adds for something that can be done manually once in a while.

[2016-03-07 16:36] jeanlucaslima opened #558 "Layout breaking for Resources page on Firefox"
The page [Logos and Graphics](https://nodejs.org/en/about/resources/) layout is breaking on Firefox 44.0.2 Linux Ubuntu. Screenshot:

![nodejsresources](https://cloud.githubusercontent.com/assets/1311402/13575825/2fd4c4c8-e461-11e5-8a43-d8b0810b2232.png)

[2016-03-07 19:02] #558 closed, assigned to nobody

[2016-03-07 19:03] fhemberger commented on #558
Same on Firefox (Mac).

[code]

fixed it.

[2016-03-07 23:04] jeanlucaslima commented on #558
Thanks @fhemberger :+1:

[2016-03-08 00:53] jrit commented on #552
I'll spend some time with it and see if there is an effective but less burdensome way to set it up. Possibly just a simple to run script that is not part of the build process. Thanks for your thoughts.

[2016-03-08 11:49] stevemao commented on #510
Fixed by #559

[2016-03-08 11:49] #510 closed, assigned to nobody

[2016-03-08 15:39] JungMinu opened #560 "Evangelism: Weekly Update for March 9 ~"
Let's write down for next week :gift:

[2016-03-08 15:39] #546 closed, assigned to nobody

[2016-03-09 00:08] silverwind commented on #544
@quattroman can you post your wget output?

[2016-03-09 06:30] williamkapke commented on #535
@mikeal your PR #561 makes this closable. I'm still curious about my question above though ;)

[2016-03-09 08:08] williamkapke opened #563 "IRC logging has stopped"
[The #nodejs logs have stopped recording](http://logs.nodejs.org/node.js/index) as of 2016-02-17.

Last I remember, I think @piscisaureus was the one to kick the machine to get it going again. lol. That was aloooong time ago. I have no idea who deals with that now.

Also: I only posted this here because `logs` is a subdomain of nodejs.org- I'm not sure where else this would go.

[2016-03-09 08:19] benjamingr commented on #495
@hg @kahwee I think OP is suggesting that we add these sort of instructions to the website.

[2016-03-09 08:25] wonderdogone commented on #495
I think the ask is for a "getting started" in the guides? https://nodejs.org/en/docs/guides/?

[2016-03-09 08:34] williamkapke commented on #488
Perhaps http://node.green will help you?

[2016-03-09 10:11] sebakerckhof commented on #488
@williamkapke thanks, very good reference site.

[2016-03-09 15:50] Fishrock123 opened #566 "Can't make v5.8.0 release post"
[code]

cc @TheAlphaNerd I don't see any v4.4.0 blog, did you have the same issue?

[2016-03-09 16:01] Fishrock123 commented on #566
Nvm, looks like I had a period instead of a comma in the message. Not much i can do about that since it's already tagged, but I also don;t think it warrants updating the regex except locally to make this one. Closing.

[2016-03-09 16:01] #566 closed, assigned to nobody

[2016-03-09 16:03] Fishrock123 commented on #563
Hmmm, I still see the `{slurp-nodejs}` bot in #node-dev, but not in #nodejs. cc @jasnell could you give Bert a bit of a poke to get it up again?

[2016-03-09 17:04] MylesBorins commented on #566
@Fishrock123 I was waiting until this morning to release the post

edit: and it is done :smile:

[2016-03-09 19:59] piscisaureus commented on #563
The logging has stopped because some bright light decided to ban the bot from #node.js. I don't really look at this particular IRC channel, that's why I didn't catch it earlier.

If you want to the logging to continue, talk to a channel op and get the bot unbanned, _then_ talk to me again and I'll make the bot rejoin.

Here's the bot's output (if it helps debugging):

[code]

And `ifconfig`:

[cod

[2016-03-09 20:23] ljharb commented on #563
@piscisaureus I'm the bright light that banned the bot, not realizing it was the official logging bot (we've had a rash of not-explicitly-allowed logging bots lately). It's now unbanned - please do make sure it always uses the authed nickserv account too (which it wasn't at the time I banned it, making it appear all the more suspicious).

[2016-03-09 20:28] piscisaureus commented on #563
Ok, the bot is back: http://logs.libuv.org/node.js/latest.

Note that although the bot uses a few different nicknames (`{slurp}`, `{slurp-nodejs}`), it always authenticates itself to nickserv, with login `slurp`.

[2016-03-09 20:31] piscisaureus commented on #563
@ljharb Just curious - what's the point of banning "unofficial" log bots? As long as they're quiet and don't engage in excessive join/part traffic, I don't see any harm in having them around.

[2016-03-10 15:16] danjenkins opened #571 "Should new.nodejs.org be showing up in Google SEO results?"
I searched for node.js on google and got given back some results. It seems wrong that new.nodejs.org is showing up. It does redirect to nodejs.org when visited which to me confirms that google shouldn't be indexing `new.nodejs.org`

Do we have Google Webmaster tools setup etc? If so we can remove the url/ask google to change how ti indexes etc.

Should we also add to [robots.txt](https://github.co

[2016-03-10 15:18] Fishrock123 commented on #571
It probably shouldn't show up, but it also just redirects to the main site, so it's not a huge problem.

[2016-03-10 15:25] ghost commented on #571
doesn't show up for me:
<img width="544" alt="screen shot 2016-03-10 at 16 24 44" src="https://cloud.githubusercontent.com/assets/6078550/13674134/ac0f01a2-e6dc-11e5-8b14-324b376cbad3.png">

weird.

[2016-03-10 15:40] danjenkins commented on #571
@hg how very odd!

[2016-03-10 22:02] williamkapke commented on #563
It has continued to keep running now - mission accomplished :+1:

Thanks all.

[2016-03-10 22:04] williamkapke commented on #563
Oops- that last issue didn't show until after I closed. Sorry @piscisaureus didn't mean to cut you off with your question to @ljharb

[2016-03-10 22:09] ljharb commented on #563
@piscisaureus for one, it's against freenode policy for a bot to log content without explicit permission of the channel owner.

[2016-03-10 23:43] stevemao commented on #571
Tried both nodejs and node.js, it doesn't show up for me. But the result is different than @hg's. since I live in Australia, I see nodejs.org.au before nodejs.org. @danjenkins try a different country? I believe the cached server in your area is outdated.

[2016-03-11 02:58] danjenkins commented on #571
Yeah I'm currently in the bahamas (google.bs) and it's outdated - google.co.uk is fine

Seems like we shouldn't just ignore this though

[2016-03-13 08:10] CreatCodeBuild opened #573 "Child Process Typo"
The third paragraph:
The child_process.spawn() method spawns the child process asynchronously, without blocking the Node.js event loop. The child_process.spawnSync() function provides equivalent functionality in a synchronous manner that blocks the event loop until the spawned process either exits of is terminated.

The last phrase has a typo: 'exits of is terminated' should be 'exits or is termin

[2016-03-13 08:33] benjamingr commented on #573
Thanks for the report :)
Made a pull request, assuming all is well will be merged soon.

[2016-03-13 12:11] #573 closed, assigned to benjamingr

[2016-03-13 17:08] srlowe commented on #447
The page is still referring to the v8 profiling tools in the source code (which I believe are no longer included).

[2016-03-14 19:26] matthewloring commented on #447
Good catch. Actually, the integration of the `--prof-process` flag into the LTS branch means we should remove all mention of scripts from the guide.

[2016-03-14 20:26] #447 closed, assigned to nobody

[2016-03-14 21:49] peterjosvai opened #577 "in the OSs list why is Linux no. 3?"
okay, I suppose, the concept is something like:  most used OSs (Win and Mac) are on top of the list because most people use it :)

but if it was that, it'd make no logical sense....
It'd only be logical if one user wanted to download the Windows-version most of the times -- in this case, it'd be a help for the users, cause their most used version would be there...

but this is not the case, obviou

[2016-03-14 22:04] MylesBorins commented on #577
Hey @peterjosvai thanks for posting.

One thing that is worth paying attention to on that list is that the `double click installers` are included first. Specifically the `.msi` and the `.pkg`.  There is currently no double click installer for the linux platform, and likely never will be.

If we start with the premise that individuals newer to learning development are more likely be on Windows or M

[2016-03-14 22:35] rvagg commented on #577
Without digging in to details, I bet that if you trim the Linux download stats to include only those using a browser, the numbers would be a tiny fraction of the total.

It's the installers that matter most here, particularly for Windows where they don't have easier ways to download Node (OSX has Brew and can also use `curl|tar`). So I'm with @TheAlphaNerd on not touching this, although we are loo

[2016-03-15 02:34] williamkapke opened #578 "Pardot integration (email subscription) needs help"
Pardot is used for the "subscribe to news about the Node.js Foundation" in these locations:
https://github.com/nodejs/nodejs.org/search?q=pardot

After filling out the form, it just disappears... and stays missing even after refresh. Not even an email confirmation.

After some digging I found:

... I'm guessing that the _Thank You Content_ is blank...?

See: [Control What A Prospect Sees After the

[2016-03-15 03:06] mikeal commented on #577
Here's the website stats.

<img width="401" alt="screen shot 2016-03-14 at 8 06 12 pm" src="https://cloud.githubusercontent.com/assets/579/13766576/499161ea-ea20-11e5-9fc1-c3f7a3c423f7.png">

[2016-03-15 04:03] stevemao commented on #578
Yup, and I don't think i have received any news.

[2016-03-15 11:57] susongyan opened #579 "chinese homepage"
i visit the chinese homepage of node,  but it  only shows the menu in chinese    .    Can I help to translate it in  Chinese  and How?

[2016-03-15 12:41] benjamingr commented on #579
@nodejs/nodejs-cn

[2016-03-15 12:59] susongyan commented on #579
404   ~

[2016-03-15 15:32] benjamingr commented on #579
@minorpoet I pinged people so they see your post - it'll take a little bit :)

[2016-03-15 16:07] JungMinu opened #580 "Evangelism: Weekly Update for March 16 ~"
Let's write down for next week :gift:

[2016-03-15 16:08] #560 closed, assigned to nobody

[2016-03-15 22:33] stevemao commented on #579
@minorpoet the Chinese repos sit at https://github.com/nodejs/nodejs-zh-CN and https://github.com/nodejs/nodejs-zh-TW

[2016-03-16 08:36] susongyan commented on #579
thanks  : )

[2016-03-16 09:55] peterjosvai commented on #577
hi Myles,

thanks for giving it a thought...

however, I think that you're still thinking within a certain logic ...
namely that if MORE people use Windows, it should be on the top if the
list ...
I think this is a wrong logic in every sense...

how would a new (or old) developer be hurt if they find their presently
used OS in alphabetical order, and (OMG) next to Linux ? :)

the logic of "putting

[2016-03-16 10:01] benjamingr commented on #577
I vote we keep the current behavior with Windows on top.
Linux users would likely not install it from the website anyway (I don't).

[2016-03-16 10:12] peterjosvai commented on #577
Mikeal, hi, I don't want to interrupt.. butt to insert one note...

I can see you're conversation is boiling down to
deciding what's fair in regards of user statistics ...

BUT --

[code]

once again (I won't bring it up again):

[code]

thanks to all of you for giving a thought to considerations!

the future -- including the future of free software -- is our common
responsibility.... just like en

[2016-03-16 16:44] mikeal opened #581 "New Foundation Microsite"
Heya,

It has been a bit problematic having some of the foundation content on the regular website because the contribution flow is a bit too developer specific for people from marketing and PR to edit the content. Examples of this content are:
- Press Releases (currently https://nodejs.org/en/foundation/announcements/)
- "In the News" articles (currently https://nodejs.org/en/foundation/in-the-new

[2016-03-16 17:00] ghostbar commented on #581
Is there no way to adapt prose.io? http://prose.io/#about https://github.com/prose/prose

The metadata looks pretty much like what jekyll uses and that's handled already by prose.

[2016-03-16 17:31] mikeal commented on #581
@ghostbar the problem isn't just editing the metadata, it's that there's a bunch of boilerplate metadata that you need to understand in order to add any content. I tried to get prose to work, I tried all of the markdown editors, and it just isn't a good flow, especially for editing content.

[2016-03-16 17:57] williamkapke commented on #581
@mikeal I'm concerned that putting the content in Mongo (via KeystoneJS or whatever) with a system that needs logins doesn't offer a place for the community to iterate/collaborate on the content before and after publishing.

...maybe, in this case, the Foundation content is solely owned and controlled by Marketing/PR..?

[2016-03-16 17:57] Starefossen commented on #581
I am curious how the Marketing and PR people at the Foundation fits in with the open and collaborative efforts put forward by the Evangelism and Website working groups? Will the foundation take over all responsibilities for publishing content on the nodejs.org website in the future?

[2016-03-16 20:08] peterjosvai commented on #577
Bejamin, just a hint: I am a linux user... and guess what I am doing at
this very moment, too...

/OFF  --  I don't want to disturb your conversation... I understand that
this is not really a place where a "user" gets a say, although software
developing meritocracy originally involves the user as a contributor, too ..

bu, as for what I'm doing right now:  I'm downloading a version which
would run

[2016-03-16 20:15] mikeal commented on #581
@williamkapke ya, this content is primarily, if not entirely, created and edited by marketing/PR, who currently can't collaborate in the existing website (to date I've had to do almost all the writing and edits myself).

@Starefossen So, for the last 6 months both Evangelism and Marketing/PR have been working in an independent but complimentary way. Evangelism posts to the Node.js blog (they actua

[2016-03-16 21:29] retrohacker commented on #432
Landed in https://github.com/nodejs/docker-node/pull/122

[2016-03-16 21:34] Starefossen commented on #432
Should we create a link to this guide from the [current Docker guide](https://nodejs.org/en/docs/guides/nodejs-docker-webapp/)?

[2016-03-16 23:38] jbergstroem commented on #581
@mikeal quick q: searched for a marketing team but couldn't find any members? https://github.com/orgs/nodejs/teams?utf8=✓&query=marketing. Is this separate from github?

[2016-03-16 23:51] mikeal commented on #581
@jbergstroem A few of them have GitHub accounts but mostly aren't on GitHub :) These are people employed by the Linux Foundation to do this work for the Node.js Foundation in coordination with the Marketing Committee (which is a foundation member committee).

[2016-03-17 00:42] rvagg commented on #581
/cc @jedwatson who is behind KeystoneJS.

I'm concerned that the Build team may not have the stomach to administer or be responsible for a Mongo deployment but reckon that we might be able to find a mutually beneficial arrangement with Jed & Keystone, either by their contributing to the Build team to help shoulder responsibility or perhaps even taking that load entirely. It'd be good for Keystone

[2016-03-17 01:04] JedWatson commented on #581
Thanks @mikeal! Stoked to hear that.

:+1: Just had a quick chat with the team at Thinkmill, would love to take this on. We're happy to support the deployment and help make sure things go smoothly. Also on board for design / development if that helps.

FWIW we're also embarking on a project to implement database adapters in Keystone (to remove the hard dependency on MongoDB) and are looking initia

[2016-03-17 01:10] mikeal commented on #581
The whole setup will end up behind Cloudflare so we could use a remotely hosted MongoDB if there is a reasonable hosting service. Any performance issues we might be worried about are probably negligible given it'll be behind a cache.

[2016-03-17 01:12] JedWatson commented on #581
We generally use https://mlab.com for hosting with servers at AWS

[2016-03-17 01:17] williamkapke commented on #581
+1 on [mlab](https://mlab.com) (prev known as MongoLab). I've had great success with them... even with their FREE version. They been handling a ton of Tinder's load.

[2016-03-17 08:39] peterjosvai opened #584 "download page (#2), could there be a Linux “fast track” logo, too, at the top?"
// this issue (suggestion) is related to issue #577 //
![node-website-dl_page-top](https://cloud.githubusercontent.com/assets/13543101/13840496/1af19a76-ec23-11e5-913f-08f55bb3c853.jpg)

dear node.js site-admins,

I am a Linux user, too, and I download node.js a couple of times lately, that is, I am a new node.js user, and I think that the download page does not help me as much as it would if I wa

[2016-03-17 16:04] MylesBorins commented on #584
@peterjosvai for this issue in particular you might want to take a stab at doing an implementation and submitting a PR that we can comment on / critique

[2016-03-18 07:48] laosb commented on #579
@minorpoet which "chinese homepage"?

[2016-03-18 12:37] stevemao commented on #579
I'm gonna close this but you guys can keep talking.

[2016-03-18 12:37] #579 closed, assigned to nobody

[2016-03-18 12:39] benjamingr commented on #584
Are you really claiming NodeJS, a Linux Foundation collaborative project (with a big logo saying that on every page of NodeJS.org) whose foundation members are all linux foundation members is somehow biased against Linux :D ?

Node is not operating in a "windows dominated culture", Node has always been a linux-support first project. All the tools in the ecosystem are linux first (like npm updating

[2016-03-18 16:17] mikeal commented on #584
That's not true. The Linux Foundation and Node.js Foundation are independent 501(c)6 orgs and have their own independent membership. While many of the Node.js Foundation members are also LF members there are many that aren't and being an LF member is not a requirement of being a Node.js Foundation member.

We use metrics for this stuff because people's opinions tend to be pretty biased. Those metr

[2016-03-19 23:29] wonderdogone commented on #581
mlab will work if it's def going to be mongo. What about the host? I using Digital Ocean for some smaller (and budget conscious) projects/ They do have nice API's to work with.

[2016-03-20 01:04] mikeal commented on #581
@wonderdogone the build group has donated compute resources across several providers, including digitalocean.

[2016-03-21 06:39] susongyan commented on #579
@laosb  http://nodejs.cn/

[2016-03-21 22:21] mikeal commented on #581
Created a new repo https://github.com/nodejs/foundation.nodejs.org

I signed up for mlab for the foundation, I can share the credentials with the build team.

@JedWatson the site.css doesn't seem to be loading, wondering what the deal is there.

[2016-03-21 23:04] mxstbr commented on #581
I [submitted a PR](https://github.com/nodejs/foundation.nodejs.org/pull/1) checking `site.css` into git so the next person won't have to manually start the stylus compilation after the first clone. That should solve the problem!

[2016-03-21 23:28] jbergstroem commented on #581
@mxstbr wouldn't that mean that the site.css needs to be updated every time a change is made? Looking at the gulpfile I'm getting the impression that it should handle spawning `keystone.js` (and generate css).

[2016-03-21 23:40] mxstbr commented on #581
Yes the gulpfile handles all of that, but you need to change and save one of the `.styl` files for it to compile the CSS. When you first run `$ gulp` in your terminal, it doesn't compile.

I checked the `site.css` into git so new developers can start immediately without having to save one of the files to get the CSS, the other option would be to run the `stylus` task once when `$ gulp` is started.

[2016-03-21 23:42] MylesBorins commented on #581
that seems wrong to me. I've done work on the website, without touching styles, and never needed to manually run stylus.

[2016-03-22 00:01] mxstbr commented on #581
You don't need to manually run stylus, it runs automatically when you change styles in `.styl` files! Because no styles had been changed before, the stylus compilation had never happened and the `site.css` file didn't exist.

[2016-03-22 00:15] MylesBorins commented on #581
@mxstbr MY BAD... I thought you were talking about nodejs.org

[2016-03-22 00:19] jbergstroem commented on #581
How about adding a check in whatever runner that just calls compile if style.css doesn't exist then? I don't think checking a file that will get out of date quickly is the way here.

[2016-03-22 00:24] mxstbr commented on #581
That sounds reasonable @jbergstroem!

[2016-03-22 05:34] williamkapke opened #589 ""Governance" link on Foundation page goes to TSC github"
On https://nodejs.org/en/foundation/, under "Core documents" the "Governance" link just sends me to https://github.com/nodejs/TSC.

I would expect this link to take me to something that explains the governance of  The Node.js Foundation.

Remove? Replace with...?

[2016-03-22 05:43] rvagg commented on #589
probably consider this a WIP for now, hopefully we'll have more in a couple of weeks, both the TSC and the Board are discussing things around this.

[2016-03-22 09:58] ronkorving opened #590 "Visual Guidelines are outdated"
The Node.js logo in https://nodejs.org/static/documents/foundation-visual-guidelines.pdf is outdated.

[2016-03-22 17:56] williamkapke opened #591 "Invalid video link"
The link for the video recording does not work on this page:
https://nodejs.org/en/foundation/tsc/minutes/2014-12-10/

[2016-03-22 17:57] williamkapke opened #592 "Url doesn't match heading"
The heading says "2015-04-17" but the URL is:
https://nodejs.org/en/foundation/tsc/minutes/2015-04-16/

[2016-03-22 18:16] williamkapke opened #593 "Website WG Meetings"
From: https://github.com/nodejs/nodejs.org/blob/master/GOVERNANCE.md#wg-meetings

Which YouTube account has the videos?
Where can I view the past agendas/minutes?
Where do future meetings get announced?

[2016-03-22 19:11] MylesBorins commented on #593
@williamkapke afaik there has not been a WG meeting for the website team since I joined the org in october...

I bet that copy is old and should likely be updated

[2016-03-22 19:23] phillipj commented on #593
No WG meetings since I got involved in august either. Could be there were some meetings in the io.js periode, possibly something @fhemberger knows more about.

Both `README.md` and `GOVERANCE.md` really needs updating.

[2016-03-22 19:42] phillipj commented on #592
@williamkapke Good catch! I've located the original PR https://github.com/nodejs/nodejs.org-archive/pull/107 which created the minutes doc, but can't see any hint about which date the meeting was held.

I'm closing this for now as the difference between the two dates are not significant, and not sure using hours on digging into this is is worthwhile. Feel free to re-open the issue if you feel diff

[2016-03-22 19:42] #592 closed, assigned to nobody

[2016-03-22 19:52] phillipj commented on #591
@misterdjules you know whether or not old TSC meeting videos hosted at bluejeans.com should be available, or available elsewhere?

The broken video link in question: https://bluejeans.com/s/7_j@/

[2016-03-22 19:58] fhemberger commented on #593
I only participated once on an io.js call last year when I started working on the website. ;) So yes, this is old and should be updated. The GitHub flow worked so well for the website team so far, there simply wasn't the need to get together in a call. Also we have far more contributors working on the site compared to last year, so everything is just running smoothly. :+1:

[2016-03-22 21:24] misterdjules commented on #591
Bluejeans had been used a few times around that time, but I was not the owner of the account we had used to host the calls, and so I have no idea how to retrieve that recording. @tjfontaine might know.

[2016-03-23 17:07] phillipj commented on #581
Looking forward to see the site live :+1:

Closing this for now as the microsite announcement has been made, and further discussions should be held in the [nodejs/foundation.nodejs.org](https://github.com/nodejs/foundation.nodejs.org) repo.

[2016-03-23 17:07] #581 closed, assigned to nobody

[2016-03-24 07:42] justsml commented on #593
Good to know, I thought I was missing out.

[2016-03-24 16:50] fhemberger opened #599 "Website WG members"
The list [here](https://github.com/nodejs/nodejs.org/blob/master/README.md#website-working-group-members) seems a bit outdated, right? I don't remember the exact WG onboarding process and the differentiation between WG admin, WG member and contributor any more. :confused:

Also, contributors should point to https://github.com/orgs/nodejs/teams/website.

[2016-03-24 17:23] phillipj commented on #599
Absolutely. Lots of collaborators who should be added to that list a long time ago.

I've always thought of collaborators as WG members. Therefore the WG has admins (https://github.com/nodejs/nodejs.org/issues/228) and collaborators.

There hasn't really been an official onboarding process as far as I remember. IMO we don't need one either. Although creating a `COLLABORATOR_GUIDE.md` might be valu

[2016-03-24 17:35] avindra opened #600 "Logo colors in AI file are incorrect"
They are showing up as tones of blue, purple, etc, instead of green.

[@ChALkeR pointed this out 28 days ago](https://github.com/nodejs/evangelism/issues/179#issuecomment-188994710)

Page:

https://nodejs.org/en/about/resources/

AI File:

https://nodejs.org/static/images/logos/nodejs-new-pantone-black.ai

Additionally, there is no .svg available, only the proprietary adobe format.

[2016-03-24 17:38] fhemberger commented on #599
@phillipj Ah, thanks for brushing up my memory. ;)

Tried the link above from a different browser and you're right, the list is not visible for people outside the org. :(

[2016-03-24 17:56] mikeal commented on #593
This WG works really well without meetings, adding them would only end up excluding some people who have timezone difficulties.

[2016-03-24 18:30] fhemberger commented on #599
Ok, wrote a little script to get all members of the team, list is here: 96bb9dbdebc371ae3b8ebc95667f85b42cc1315a

[2016-03-24 18:30] #599 closed, assigned to nobody

[2016-03-24 18:33] fhemberger commented on #593
Closed via a1e54a8cc3f6b81fea8b3c45813a491696f7e384.

[2016-03-24 18:33] #593 closed, assigned to nobody

[2016-03-24 18:47] williamkapke commented on #593
This is a FAST group! :D

...however I missed my chance to comment before the merge:
https://github.com/nodejs/nodejs.org/pull/598#issuecomment-200964250

I had just said:

Thoughts?

[2016-03-24 18:50] phillipj commented on #593
Just answered your comment in #598.

[2016-03-24 19:01] phillipj commented on #577
Closing this for now as all votes has been in favor of keeping it as is.

[2016-03-24 19:01] #577 closed, assigned to nobody

[2016-03-24 21:22] phillipj commented on #600
@gtewallace seemed to have some insights into the colours and the logo in #526

[2016-03-25 14:50] lpinca commented on #535
Fixed by #561 as @williamkapke said.

[2016-03-25 14:50] #535 closed, assigned to nobody

[2016-03-26 07:49] #174 closed, assigned to nobody

[2016-03-26 09:26] #580 closed, assigned to nobody

[2016-03-26 09:27] JungMinu opened #607 "Evangelism: Weekly Update for March 26 ~"
Let's write down for next week :gift:

[2016-03-28 14:10] piermarcobarbe opened #610 "Mozilla Firefox 45.0.1 home page bug"
<img width="1440" alt="screen shot 2016-03-28 at 16 09 00" src="https://cloud.githubusercontent.com/assets/9352238/14079633/82734386-f4ff-11e5-9698-fb4efae6fd8f.png">
<img width="1440" alt="screen shot 2016-03-28 at 16 08 56" src="https://cloud.githubusercontent.com/assets/9352238/14079635/85ab3f18-f4ff-11e5-9879-9aa2826b80d7.png">
I think there are come problems with the width for Firefox..

[2016-03-28 14:17] fhemberger commented on #610
While trying to check this, my Firefox went straight from 45.0 to 46.0b5. This behavior doesn't occur on this version on OS X at least. Can someone please verify different versions/OSes?

[2016-03-28 14:22] hiroppy commented on #610
My firefox(47.0a2)
<img width="1440" alt="2016-03-28 23 16 03" src="https://cloud.githubusercontent.com/assets/3367801/14079799/5c80b10e-f53b-11e5-976a-50ac9fca04de.png">

2320 x 700
<img width="1440" alt="2016-03-28 23 18 47" src="https://cloud.githubusercontent.com/assets/3367801/14079816/86d25ac0-f53b-11e5-8913-f1c75828aa28.png">

I think I'll be OK though.
I checked Mac and Linux mint.

[2016-03-28 14:25] piermarcobarbe commented on #610
Same bug on Ubuntu 14.04 LTS - Firefox 45.0
Same bug on Windows 10 - Internet Explorer 11.162.10586.0
Same bug on Windows 10 - Firefox 45.0

[2016-03-28 14:33] fhemberger commented on #610
Looks okay for me on Chrome 49, 51 (Canary) and Safari 9.1 on OS X, tested on 2560 x 1440 and below.

[2016-03-28 16:39] diagramatics commented on #610
Managed to replicate the bug in Firefox 44.0.2 and OS X. Investigating this.

<img width="1440" alt="screen shot 2016-03-28 at 11 38 09 pm" src="https://cloud.githubusercontent.com/assets/5153378/14083125/313145a6-f53e-11e5-858b-0b2a657b82d0.png">

[2016-03-28 17:11] diagramatics commented on #610
Found it. It's a flexbox issue documented in Philip Walton's flexbugs [here](https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored). Firefox got omitted from the list of browsers with the issue in philipwalton/flexbugs#103.

Set up a PR in #611.

[2016-03-29 23:27] williamkapke commented on #591
Perhaps it is lost forever...? :(

[2016-03-29 23:29] misterdjules commented on #591
@williamkapke It is possible. What information are you missing?

[2016-03-29 23:35] williamkapke commented on #591
@misterdjules I'm just trying to fix broken links and keep any available process minutia available to all that want it

[2016-03-29 23:39] misterdjules commented on #591
@williamkapke Sounds good. Then I'm afraid I won't be able to help you fix that broken link :(

[2016-03-29 23:45] williamkapke commented on #591
Ok thanks anyhow. I'll leave this open for another week or so to see if @tjfontaine or any others help out.

If not, I'll make a PR to remove it.

[2016-03-29 23:53] williamkapke commented on #563
Logs appear to have been doing fine for awhile now. Closing.

[2016-03-29 23:53] #563 closed, assigned to nobody

[2016-04-01 01:44] MylesBorins commented on #610
This is fixed! thanks @diagramatics

[2016-04-01 01:44] #610 closed, assigned to nobody

[2016-04-01 05:34] stevemao commented on #174
Is this problem solved @fhemberger ?

[2016-04-01 06:08] stevemao commented on #174
answering myself: looks like this issue is stale.

[2016-04-01 06:14] fhemberger commented on #174
@stevemao As we now have Stable/LTS everywhere on the site, we're good.

[2016-04-03 06:30] bitinn opened #629 "Question: should document encourage/discourage userland code from introducing error code name?"
Apologize if this is not the place to discuss this.

I am thinking about standardizing error object for one of my module, but I can't seem to make up my mind on whether `err.code` should follow `E`-style naming like node.js core and linux, or introduce a custom `err.type` attribute with my custom name.

Does Node.js has a preference on this? Should it be in document? On client-side error standardi

[2016-04-03 07:11] fhemberger commented on #629
You are right, you got the wrong place. This is the issue tracker of the **Node.js website**.
Please head over to https://github.com/nodejs/help.

(But to shed some light on your question: If it's just a regular error, use an instance of `Error`. If it's a special type of error, define a new one inheriting from `Error`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objec

[2016-04-03 07:11] #629 closed, assigned to nobody

[2016-04-03 14:53] JungMinu opened #631 "Evangelism: Weekly Update for April ~"
Let's write down for next week :gift:

[2016-04-03 14:53] #607 closed, assigned to nobody

[2016-04-03 18:15] fhemberger commented on #344
@mikeal There are again a few people to be added as contributors. Can you please put your script into the repo so we can create the list again? (Also unfortunately, you have to be org **owner** to add new members to GitHub teams)

[2016-04-03 18:46] fhemberger commented on #432
@Starefossen Yes, please.

[2016-04-04 13:32] Starefossen commented on #432
PR is up at #632 :smile:

[2016-04-04 14:21] fhemberger commented on #432
Awesome, already merged. I'm closing this issue.

[2016-04-04 14:21] #432 closed, assigned to nobody

[2016-04-04 14:40] amirmohsen opened #633 "Separate doc pages for ES2015, ES2016, etc"
I noticed that in https://github.com/nodejs/nodejs.org/blob/master/locale/en/docs/es6.md , there's a mention of Array.prototype.includes. Isn't that technically ES2016 and not 2015?
Wouldn't it be better to have separate pages for each ES version?
Another option is to have a table that maps node versions with individual features regardless of the ES release they are included in.
Or at the very lea

[2016-04-04 14:46] fhemberger commented on #633
Work on that has already started: https://github.com/nodejs/nodejs.org/pull/434

[2016-04-04 16:39] amirmohsen commented on #633
Cool. I had a look through the issues before posting. I guess I should have checked the PRs as well. Good to know that progress is being made.

[2016-04-04 16:39] #633 closed, assigned to nobody

[2016-04-04 21:34] Trott commented on #631
NodeUp podcast episode 100: A Creative Coding Show with Mariko Kosaka, Kassandra Perch, Myles Borins, and Rich Trott. http://nodeup.com/onehundred

[2016-04-06 15:42] hiroppy opened #636 "Discuss about the design at `foundation/in-the-news/`"
I think that  it is better for this page to use a list.
This is because I think that this page is hard to watch on Smartphone if it is not the list.
## now
### PC

<img width="1066" alt="2016-04-07 0 22 53" src="https://cloud.githubusercontent.com/assets/3367801/14322692/bc743404-fc58-11e5-8ff6-03faab85302d.png">
### Smartphone

![screenshot_20160407-001812](https://cloud.githubusercontent.com/ass

[2016-04-07 01:12] stevemao commented on #355
Hi @phillipj , I received an email saying org let travis access our private data. But I still can't see status on our new PR?

[2016-04-07 02:46] Fishrock123 commented on #355
@stevemao I'm not sure why you got that email, but I enabled and disabled it to let citgm get Travis builds.

We aren't going to let Travis have full time private access. Sorry. This is a problem on travis' end but they don't seem to have any interest fixing it.

[2016-04-07 03:41] stevemao commented on #355
No worries @Fishrock123 ,
I think everyone in the org got the email.
Why don't we do the same with this repo then?

[2016-04-07 05:49] phillipj commented on #355
@stevemao this repo has a Travis partially turned on :) Read more about it in  https://github.com/nodejs/citgm/issues/102

[2016-04-07 06:01] MylesBorins commented on #355
@Fishrock123 I think the entire org got that email when you flipped the bit

[2016-04-07 10:31] lpinca commented on #636
I don't have a preference I'm fine with both.
Maybe it would be better to use a date as prefix instead of a bullet.
I mean something like the "Announcements" page.

[2016-04-07 12:21] fhemberger commented on #636
It would be great if both "Announcements" and "In the News" would use the same style (regardless of list bullets or not).

[2016-04-07 13:29] Fishrock123 commented on #355
Eh, oh well.

[2016-04-07 13:38] fhemberger commented on #636
Added a PR. @abouthiroppy Would you still favor the bullet point list variant?

[2016-04-07 14:17] hiroppy commented on #636
@fhemberger  Thank you so much! I think that's ok.

[2016-04-07 15:45] #636 closed, assigned to nobody

[2016-04-09 13:10] lpinca commented on #344
I woul like to see @abouthiroppy added as collaborator. He made some nice [contributions](https://github.com/nodejs/nodejs.org/pulls?q=is%3Apr+author%3Aabouthiroppy+is%3Aclosed) lately.

[2016-04-09 13:19] ghost commented on #344
@lpinca absolutely!!!

[2016-04-09 17:10] hiroppy commented on #344
@lpinca @59 Thank you! I want to participate and cooperate:)

[2016-04-12 08:19] fhemberger commented on #281
Closed by #409

[2016-04-12 08:19] #281 closed, assigned to nobody

[2016-04-12 19:24] hiroppy commented on #344
@mikeal Can I participate as collaborator?

[2016-04-12 19:29] MylesBorins commented on #344
@fhemberger I'd like to be added if that is possible

[2016-04-12 20:29] Fishrock123 commented on #344
Can someone from the @nodejs/website group (other than myself) sum up who should be added? I'll go through it and invite the people.

[2016-04-13 04:54] fhemberger commented on #344
@Fishrock123 Unfortunately not. Since GitHub changed its organization roles, as "Team Maintainer" I can only remove people, not invite them to a team (which is IMHO pretty silly).

@everyone: Sorry for the inconvenience and thanks for your patience so far. We'll try to figure out how to optimize the onboarding process in the future. I plan to work on a script that generates the output of the first

[2016-04-14 16:38] Fishrock123 commented on #344
Sorry it's not clear to me who needs to be added and to which team. :(

I have org owner access permissions fwiw.

[2016-04-14 17:09] ghost commented on #344
@Fishrock123 so far:
- @abouthiroppy
- @TheAlphaNerd

[2016-04-14 17:10] evanlucas commented on #344
+1 to @TheAlphaNerd and @abouthiroppy from me. Should I add them?

[2016-04-14 17:12] ghost commented on #344
+1 from me for them as well, i'd say go ahead

[2016-04-14 18:06] Fishrock123 commented on #344
do we technically need someone from the admin group to approve them? most of the governance here changed a bit since I was last active on the website

[2016-04-14 18:13] phillipj commented on #344
No doubt @abouthiroppy and @TheAlphaNerd should be added 👍

[2016-04-14 18:23] Fishrock123 commented on #344
Added/invited both to the website team.

[2016-04-14 18:25] Knighton910 commented on #631
👍

[2016-04-14 18:30] phillipj commented on #344
Awesome, welcome to both of you 🎆

[2016-04-14 18:31] ghost commented on #344
woot 🎉

[2016-04-14 21:10] MylesBorins commented on #344
thx 🎉

[2016-04-14 21:31] hiroppy commented on #344
Thank you so much :tada:

[2016-04-15 15:29] thlorenz opened #652 "UI - Lines appear on top of the commit links on hover in the release notes"
It's a minor issue, but I'm pretty sure you'd want to underline the link instead when I hover over it.

The below image shows the line when hovering over the first link.
![screen shot 2016-04-15 at 10 10 45 am](https://cloud.githubusercontent.com/assets/192891/14566327/cb322fbc-02f4-11e6-826c-734e33301a61.png)

Screenshot taken here: https://nodejs.org/en/blog/release/v4.3.1/

[2016-04-15 15:32] Fishrock123 commented on #652
Can confirm.

[2016-04-15 19:43] hiroppy commented on #652
I think it is a difficult problem.
Because we can not attach `class` to this elements.(because it is unfolded in markdown by metalsmith)

I tried to use `{: .fuga}` but could not apply class selector in metalsmith;(

https://github.com/nodejs/nodejs.org/blob/master/layouts/css/base.styl#L32

[2016-04-15 21:14] kahwee commented on #652
This does the trick:

[code]

It pads it as such where you cannot see the green background.

[2016-04-15 21:23] hiroppy commented on #652
@kahwee I do not recommend it. Because it is not improved in IE11.

IE11 needs `.32em`.

[2016-04-15 21:33] kahwee commented on #652
Good note. I didn't have IE to test on. This is one way too:

[code]

[2016-04-16 02:10] hiroppy commented on #652
nice :+1:
however I notice [this page](https://nodejs.org/en/about/) has same problem... :cry:
how do we resolve above?

[2016-04-16 16:52] batjko opened #653 "Docs: Default es6 features should clarify type of Spread operator"
Hi guys,

When I read through this list of features shipped by default:
https://nodejs.org/en/docs/es6/#which-features-ship-with-node-js-by-default-no-runtime-flag-required
... I thought it great that the Spread operator is now supported without any flags.

So I went and tried the spread operator on an object and was promptly met with an `Unexpected token ...` error, despite having node v5.10 inst

[2016-04-17 06:43] JungMinu commented on #631
Thanks, a PR for this weekly update: https://github.com/nodejs/nodejs.org/pull/655

[2016-04-17 06:43] #631 closed, assigned to nobody

[2016-04-17 19:20] phillipj commented on #591
@williamkapke are up for removing the link, or should we label this a good first contribution?

[2016-04-17 19:24] phillipj commented on #544
Closing this as reporter stopped responding, and there hasn't been similar reports lately.

[2016-04-17 19:24] #544 closed, assigned to nobody

[2016-04-17 19:43] williamkapke commented on #591
yeah. I have it stashed. I'll open a PR now.

[2016-04-18 04:29] #591 closed, assigned to nobody

[2016-04-18 16:25] lpinca commented on #653
I've filed a pr for this, but I think the issue is invalid. The feature is not part of ES2015.

[2016-04-18 16:52] fhemberger commented on #571
I created a PR on the @nodejs/build repo.

[2016-04-18 16:55] fhemberger commented on #322
@mikeal Is this issue still relevant? Or do we need a v4 vs v5 vs v6 page soon? 😃

[2016-04-18 17:09] MylesBorins commented on #322
It would only be v4 vs v6. 5 is eol after this month
On Apr 18, 2016 1:55 PM, "Frederic Hemberger" notifications@github.com
wrote:

[2016-04-18 18:36] batjko commented on #653
The issue isn't about whether object spread operators are included in ES2015 or not.
It's about the phrase "Spread Operator" being ambiguous for anybody who doesn't know off the top of their head what is or isn't part of any given standard.

When I look at a list of supported features in my version of node, I don't care if it is in ES2015 or ES2017. I just want to know if I should be able to use i

[2016-04-18 18:57] fhemberger commented on #653
@lpinca There is an open issue to rename that page to "ES6 and beyond", so it's still okay.

[2016-04-18 18:59] lpinca commented on #653
Ok.

[2016-04-18 20:21] jsumners opened #662 "rsync support for /dist mirroring"
Way back in 2012 you asked on Twitter if there are any public mirrors -- https://twitter.com/nodejs/status/211311765479374848

Someone asked you how, and you were silent. Today, I find myself wanting to mirror at least v4.x and v5.x of /dist to a local system for other systems I run that can't access the Internet. Using wget is a rather poor solution, and you probably don't want that load on the w

[2016-04-18 23:43] stevemao commented on #662
ping @nodejs/build
This should be probably asked in the build or help repo.

[2016-04-18 23:45] jsumners commented on #662
Okay. I wasn't sure where it should go.

[2016-04-18 23:58] stevemao opened #663 "Add links to "Node.js Live" events under 'conferences'"
I don't think http://live.nodejs.org/ is linked under the main website. If it is, it's probably not very obvious.

[2016-04-19 03:38] fhemberger commented on #662
This may help:
https://github.com/nodejs/nodejs.org-archive/issues/23
https://gist.github.com/rgbkrk/5499863

[2016-04-19 09:22] rameshpasunoori opened #664 "Node.js compilation for QNX"
Hello All

How to build Node.js for QNX.
Document not available for cross compilation.
Provide some info .
Thanks
Ramesh

[2016-04-19 09:41] phillipj commented on #664
Hi @rameshpasunoori,

this repository is strictly for our website (https://nodejs.org). I'm assuming this is related to the actual Node.js runtime, which is located in the [nodejs/node](https://github.com/nodejs/node) repository. Head over there and [create a new issue](https://github.com/nodejs/node/issues/new) and you'll probably get more answers.

[2016-04-19 09:41] #664 closed, assigned to nobody

[2016-04-19 09:48] stevemao commented on #664
I think you should probably ask here @rameshpasunoori https://github.com/nodejs/help

[2016-04-19 12:12] jsumners commented on #662
@fhemberger I already know of the python script. It's a decent stop-gap, but it isn't a good replacement for rsync.

[2016-04-19 12:30] fhemberger commented on #663
No, it's not linked yet. And I don't know a good place to do so. The homepage would be best, but we already have the huge Node Interactive banner there.

[2016-04-19 14:20] fhemberger commented on #662
@rvagg @nodejs/build Do we need to change something in `/dist` to allow rsync mirroring?

[2016-04-19 15:40] mikeal commented on #663
These events are pretty localized so the best place is probably just in the events page next to other conferences.

[2016-04-19 15:42] JungMinu opened #665 "Evangelism: Weekly Update for April ~"
Let's write down for next week :gift:

[2016-04-19 15:43] jsumners commented on #662
@fhemberger no. You just need to add an rsync server definition:

`/etc/rsyncd.conf`:

[code]

[2016-04-19 19:06] jsumners commented on #662
For the interim, or if you decide to not implement rsync, I wrote a better script, bandwidth saving, script:

https://gist.github.com/jsumners/4d1861c586708fab7c758f711952ed85

[2016-04-19 19:09] ghost commented on #662
@jsumners could you put that in a gist and link it here? kinda clutters up the issue a bit 😶

[2016-04-19 21:20] dotnetCarpenter opened #667 "Document ReadStream.prototype.destroy"
[`ReadStream.prototype.destroy`](https://github.com/nodejs/node/blob/697790c1176bb4bb8062458c765fecc5e8a07646/lib/fs.js#L1739) is missing from the [documentation](https://nodejs.org/api/stream.html). Others, than me, [have had question](http://stackoverflow.com/questions/19277094/how-to-close-a-readable-stream-before-end)s about it. I think it's about time to get the method documented :dancers:

[2016-04-20 01:09] stevemao commented on #653
Closing as #661 is closed

[2016-04-20 01:09] #653 closed, assigned to nobody

[2016-04-20 05:37] lpinca commented on #667
@dotnetCarpenter maybe it's better to open this issue in [node](https://github.com/nodejs/node) repository. API documentation lives there.

[2016-04-20 08:33] batjko commented on #653
I don't understand why the related PR was getting rejected. I don't see why adding a little note to clarify that object spread operators are not supported, is so controversial that it must not be pointed out to readers seeking information about it.

[2016-04-20 10:25] UroosaSehar commented on #571
It's working fine with me!

[2016-04-20 10:45] stevemao commented on #653
Reason already stated in the PR.

[2016-04-20 13:10] dotnetCarpenter commented on #667
@lpinca thanks - wasn't sure and made the wrong guess. [#5898](https://github.com/nodejs/node/issues/5898) is amended.

[2016-04-20 13:10] #667 closed, assigned to nobody

[2016-04-20 15:43] MylesBorins commented on #653
@batjko the reason is that v5 will be end of life once v6 is released next week, which has better support for the spread operator. If we added the change we would have to revert it next week

[2016-04-20 16:14] lpinca commented on #653
Actually the note was generic enough to not include the fact that spread operator did not work on destructuring assignments. Destructuring in not available in node 5 anyway.

The reason is that spread operator documentation already makes it clear that it only works on array literals, function calls and destructuring so the note is redundant imho.

[2016-04-20 16:25] lpinca commented on #653
Also as @fhemberger stated above, there is an ongoing work to create an "ES6 and beyond" page that should replace the current "ES6 in Node.js" page.
That seems a better place to put notes about future features of the language.

[2016-04-20 17:42] mikeal opened #669 "Re-brand "Stable" channel to "Current""
There's been pretty wide agreement that we should do this for some time, we should pull the trigger before the v6 release.

[2016-04-20 17:58] MylesBorins commented on #669
I'm +1 on this. Who needs to sign off on a change this big? @nodejs/tsc? @nodejs/ctc?

[2016-04-20 18:00] mscdex commented on #669
Did we decide on the name "Current?"

[2016-04-20 18:01] MylesBorins commented on #669
fwiw I'm +1 on a change... I'm up for whatever and will avoid getting into the naming bike shed.

"Stable" in particular has been causing some misconceptions.

[2016-04-20 18:02] evanlucas commented on #669
I like "Current"

[2016-04-20 18:10] mikeal commented on #669
@mscdex we have several other threads, mostly around the LTS branding, where we talked about this. A lot of those threads are side tracked by proposing re-branding LTS (which we decided not to do and survey results show that people actually do understand it pretty well) but having "Stable" and "LTS" is still confusing especially when it just isn't accurate.

[2016-04-20 18:10] mikeal commented on #669
oh, also, _many_ other projects use the term "Current" for exactly what we're using it for.

[2016-04-20 18:42] batjko commented on #653
Ah, Another thing I wasn't aware of, @TheAlphaNerd . That of course makes total sense to me.

I suppose my concern was simply that the generic phrasing simply assumes that everyone keeps closely up-to-date with all features and at which stage of their discussion / implementation they are at any given point.

A lot of people just don't have the time to do that, so clarity is always preferable to "y

[2016-04-20 20:58] evanlucas opened #671 "ES6 page should be ready to be updated when Node.js v6 drops."
Node.js v6.0.0 is in the rc phase. See https://github.com/nodejs/node/issues/5766 for status updates. This will include a jump to v8 5.0. That jump will greatly increase the amount of ES2015 features and we need to update the ES6 page (https://nodejs.org/en/docs/es6/).

[2016-04-20 21:44] kahwee commented on #669
"Current" seems to be a better word indeed, since "LTS" is stable too.

[2016-04-20 21:45] ghost commented on #669
+1 because 'stable' is confusing. LTS is 'stable' too

[2016-04-20 21:46] ghost commented on #669
also i have a bit of free time, so once this is signed off, can i make the PR?

[2016-04-20 21:48] jasnell commented on #669
This is fine. I can add this into the release but since v6 is going out before the next CTC call we'll need to get agreement here. /cc @nodejs/ctc

[2016-04-20 22:00] kahwee commented on #652
This doesn't scale well:

[code]

What do you think?

[2016-04-20 22:43] Trott commented on #669
I have always found our usage of `Stable` problematic and am in favor of `Current` as a replacement.

[2016-04-20 23:43] mikeal commented on #671
Should we maybe just start directing people to node.green?

[2016-04-20 23:44] evanlucas commented on #671
I thought node.green included some staging flags. We probably do not want to include things that require staging flags IMO

[2016-04-20 23:47] mikeal commented on #669
go ahead and prepare a PR and we can get whatever signoff necessary.

[2016-04-20 23:47] jasnell commented on #671
It does, but there is a toggle (barely visible) at the top of the page to turn off the things that require flags. Perhaps we could ask @williamkapke to make that toggle more evident? Or perhaps visually distinguish the things that do require a flag?

[2016-04-20 23:48] williamkapke commented on #671
see: https://github.com/williamkapke/node-compat-table/issues/1

I will change the colors soon (just swamped at the moment). PR welcome ;)

[2016-04-20 23:49] evanlucas commented on #671
ok, I'm +1 for removing the page entirely and linking to node.green if we can get work out the flag issue

[2016-04-21 00:01] MylesBorins commented on #669
on it

[2016-04-21 00:14] MylesBorins commented on #669
@mikeal So I sent this simplest PR which is to update the docs in the main repo

We will also have to update the site, I think it might make sense for @fhemberger to handle that or at least someone more familiar with the code base as the word "stable" is used not only in the copy, but in css selectors and hard coded within the tests. That being said I think we should get 100% sign off before that

[2016-04-21 00:30] stevemao commented on #671
Linking https://github.com/nodejs/nodejs.org/pull/434

[2016-04-21 00:40] hiroppy commented on #652
I agree with your opinion. This code doesn't scale well.
The best is to attach a class but I think it difficult.
@fhemberger Do you have any thoughts?

[2016-04-21 05:29] fhemberger commented on #652
This seems to work well (just a quick test):

[code]

So the hover effect just looks the same as for regular links.

[2016-04-21 05:40] lpinca commented on #652
Was playing with this last day and ended up with the same solution proposed by @fhemberger.
I think it's the simplest one, and it's consistent with other links.

[2016-04-21 05:44] lpinca commented on #671
Also linking #653.

[2016-04-21 05:54] hiroppy commented on #652
I feel the same way.

[2016-04-21 06:17] fhemberger commented on #669
I prepared a PR for this in #672, please have a look …

[2016-04-21 06:17] ChALkeR commented on #669
+1 on this change.

[2016-04-21 06:22] fhemberger commented on #584
Closing this for now, feel free to file a PR with the proposed changes as @TheAlphaNerd already suggested.

[2016-04-21 06:22] #584 closed, assigned to nobody

[2016-04-21 06:45] fhemberger commented on #495
If anyone wants to help creating a simple "getting started" guide (aka "How do I start with Node.js after I downloaded/installed it"), please feel free to submit a PR.

[2016-04-21 06:49] fhemberger commented on #671
Linking #488 as well.

[2016-04-21 06:50] fhemberger commented on #373
@Fishrock123 Is this ticket still relevant or can we close it?

[2016-04-21 08:18] kahwee commented on #652
@fhemberger's solution looks good to me.

[2016-04-21 10:30] #652 closed, assigned to nobody

[2016-04-21 10:50] fhemberger commented on #671
PR is ready: #674.
Requires a redirect of `https://nodejs.org/en/docs/es6/` => `http://node.green` as well: https://github.com/nodejs/build/pull/394

[2016-04-21 11:31] ChALkeR commented on #671
@fhemberger

Does node.green explain the «shipping»/«staged»/«in progress» status of the features and the `--es_staging`/`--harmony`/`--harmony-*` flags? Afaik it doesn't, and that information is valuable there.

It should be moved somehwere, perhaps to a new page.

[2016-04-21 12:48] jbergstroem commented on #671
@fhemberger: does this mean we should look at hosting node.green as well?

[2016-04-21 12:51] jbergstroem commented on #671
My 2c would be to keep it separate.

[2016-04-21 12:56] stevemao commented on #488
Closing because of #671

[2016-04-21 12:56] #488 closed, assigned to nobody

[2016-04-21 13:04] stevemao commented on #495
ping @nodejs/documentation

[2016-04-21 13:44] mikemaccana opened #676 "Make getting packages for Linux easier"
There are excellent packages for most of the popular Linux distros, however nodejs.org primarily directs people to fetch .xz archives. There are a couple of drawbacks here:
- Installing archives takes longer - you have to make dirs, set up symlinks to binaries in $PATH, etc.
- Packages can be easily updated along with the rest of the OS - if a new security update comes out, you can use yum / apt t

[2016-04-21 14:14] eljefedelrodeodeljefe commented on #495
I regard Kubernetes' getting started guides as really nice. The sheer amount is too bloated for us (they needed though naturally), but they usually serve as a good starting point not only for novices.

https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides

[2016-04-21 16:23] MylesBorins commented on #676
@mikemaccana nice to see you :smile:

I believe that most of the "Official packages" are fairly out of date, which is part of the reason we don't have them as first class options. That being said, at least for myself, this is something that should be fixed. Are the MariaDB official packages "official" from the distro maintainers, or official as in debs created by the project?

There is a bunch of

[2016-04-21 16:46] Knighton910 commented on #676
+1

[2016-04-21 16:54] eljefedelrodeodeljefe commented on #676
Was there a problem with official package managers not adopting fast enough or is just no-one tending to a pipeline for every release? I agree that it would be nice to `apt-get install node`.

I see that there are some possibilities to set the repos those package managers to some binaries nodesource is providing though.

[2016-04-21 16:55] benjamingr commented on #676
-1 I think the thought is very nice but honestly I've told at least 100 students who usually complain about everything and run various linux distros (mostly ubuntu and debian though) to "install nodejs" and none of them have ever had any issues with installation. I couldn't find any question related to it in StackOverflow and I've never heard or seen anyone complain about it.

I think this is a pr

[2016-04-21 17:58] mhdawson commented on #669
+1 on this change.

[2016-04-21 18:04] benjamingr commented on #671
I think node.green is not a good idea for the page (but is amazing otherwise) because the page should be a lot more reader friendly.

[2016-04-21 18:14] lpinca commented on #671
@benjamingr honestly I think that we will end with something very similar to node.green if we continue #434.

[2016-04-21 22:42] williamkapke commented on #671
FYI, I pushed the gold color & percent changes. I am not opposed to turning it over to the node community... that's what I built it for!

At minimum, I'd like to have contributors/collaborators. ;)

[2016-04-22 14:30] fhemberger commented on #344
I just worked on [a script](https://github.com/fhemberger/contribution-report) to produce a similar output as above, so I checked the commits since January for people not already being a collaborator:
- @rvagg 8 commits
- @williamkapke 6 commits
- @detailyang 6 commits
- @preco21 4 commits
- @JustinBeckwith 1 commits
- @jjlangholtz 1 commits
- @Starefossen 1 commits
- @saadq 1 commits
- @paazmaya

[2016-04-22 14:33] flowirtz opened #680 "[Discussion] Node.js in Docker for production"
So, in the [official guide](https://nodejs.org/en/docs/guides/nodejs-docker-webapp/) it states that the Dockerfile is _not ment for production_, however there is just very little information on **what a production environment whould actually look like**.
I am curious now and really want to create a list of differences in here.

So far I've got the following:
A production environment
- might use no

[2016-04-22 16:27] williamkapke commented on #344
@fhemberger cool- I just checked out your script, I was going to do that for [the bot](https://github.com/nodejs-github-bot/github-bot) to produce the report automatically (on whatever schedule) and post it. Maybe you can look into writing the bot script! :D

@phillipj @Fishrock123 and myself can help you out- just let us know.

[2016-04-22 16:32] ghost commented on #344
@fhemberger i'm up for all of those people to be added! before that, we should wait for their individual consent tho

[2016-04-22 18:25] detailyang commented on #344
ping @fhemberger  be willing to as a collaborator :grin:

[2016-04-22 19:31] gh-amistry opened #682 "add 'use strict' in documentation for ES6 classes"
Examples in the "Events" section of the documentation relating to newly introduced ES6 functionality, like classes, don't work unless strict mode is specified, but `'use strict'`doesn't appear in the example.

My suggestion is to include `'use strict'` in these examples so that the code can simply be copied and pasted as-is and run as working examples.

[2016-04-22 19:32] jasnell commented on #682
SGTM. Interested in submitting a PR? :-)

[2016-04-22 19:32] evanlucas commented on #682
IIRC that will no longer be an issue once v6 drops, but a good idea IMO

[2016-04-22 20:13] gh-amistry commented on #682
Where do I find this content in the repo?
https://nodejs.org/dist/latest-v5.x/docs/api/events.html

[2016-04-22 20:21] phillipj commented on #682
@gh-amistry https://github.com/nodejs/node/blob/master/doc/api/events.md :)

[2016-04-22 20:26] gh-amistry commented on #682
@phillipj Thanks!

[2016-04-22 20:37] phillipj commented on #682
@gh-amistry np! I'm closing this issue for now, but don't hesitate to comment here if you've got any questions. See you in the node repo.

[2016-04-22 20:37] #682 closed, assigned to nobody

[2016-04-23 12:23] flowirtz commented on #680
I am **SO** sorry! I just now found out that there is a docker-node repo where this issue is WAY better located at!
Closing this immidiately over here.

[2016-04-23 12:23] #680 closed, assigned to nobody

[2016-04-23 13:21] benjamingr commented on #671
I'm in favor with the direction the PR is taking: keeping the part explaining what ES6 is about and then linking to node.green in the "what ES6 features are supported" part.

I'm also in favor of the foundation taking over node.green and @williamkapke joining the node foundation and maintaining it from within.

[2016-04-23 14:53] jasnell commented on #671
I'm not sure I would characterize it as "taking it over" :-) We're more
than happy to give node.green a home here and to help promote it. It's a
fantastic tool and definitely something that's needed.

Question for @williamkapke: how closely does this follow test262?
On Apr 23, 2016 6:21 AM, "Benjamin Gruenbaum" notifications@github.com
wrote:

[2016-04-23 19:12] williamkapke commented on #671
@jasnell All of the tests are pulled from [Kangax's project](https://github.com/kangax/compat-table)\- so I'm not sure. They are quite active at adding/updating/improving the tests. It is all automatic- tests are pulled and run daily.

[2016-04-23 20:27] Fishrock123 commented on #669
I'm still **not** ok with this if it ~~directly~~ leads to LTS being called Stable. The Stable/Current release line(s) are intended and maintained so as to be usable, and are not to be taken as experimental. If you want experimental, that is nightlies.

Additionally, if LTS renames to Stable, it's going to be a hell of a time whenever someone looks back at discussions and tries to decipher exactly

[2016-04-23 20:29] MylesBorins commented on #669
There was no intention to rename lts. This was specifically to deal with
the misconceptions around the term stable

[2016-04-23 20:29] jasnell commented on #669
This only impacts the Stable branch  naming, not LTS naming.

[2016-04-23 20:31] Fishrock123 commented on #669
Right, and we all know that this discussion in the past has not just touched on the stable branch. So I'd like to make sure of it.

[2016-04-24 00:28] Fishrock123 commented on #669
Ok. I definitely think we should really take this past evangelism/marketing. I'm afraid a shift without warning may rub off on downstream customers badly and people may be increasingly hesitant about things if we do it with no prior publicly communicated indicator.

[2016-04-25 14:36] vsemozhetbyt opened #684 "Wrong Node versions in the link text content"
I don't know, if it is so important before v6 release tomorrow, but just to be on the safe side.

Now [in this page](https://nodejs.org/en/docs/) in the left toc column the "v4.4.2 API LTS" link actually directs to "Node.js v4.4.3 Documentation", and the "v5.10.1 API" link actually directs to "Node.js v5.11.0 Documentation".

I does not dare to create a PR because I'm not familiar with all the tem

[2016-04-25 22:25] arifcakiroglu commented on #508
Looks good

[2016-04-25 22:43] mikeal opened #686 "More messaging on the front page?"
I think it might be a good idea to redo the content on the front page to say a bit more about _what_ Node.js is, _why_ people use it, and _what_ they are doing with it.

We have a lot of new and solid messaging around this now like "Node.js Everywhere" and "The New FUll Stack" that we can lean on, along with some good new art like this:

![full](https://cloud.githubusercontent.com/assets/579/14801

[2016-04-26 02:07] mikeal commented on #344
Do you still need someone who's an org owner to add people?

[2016-04-26 02:24] fhemberger commented on #344
@mikeal Yes. I'm just allowed to remove people.

[2016-04-26 03:10] mikeal commented on #344
Ok, added all the people in the contrib report :)

[2016-04-26 03:11] detailyang commented on #344
awesome!!! :grin:

[2016-04-26 03:17] fhemberger commented on #684
This has just been fixed by @tianp, I'm keeping this ticket open as a reminder for the 6.0 release.

Maybe we can modify `scripts/plugins/navigation.js` to pull the current Node.js versions and inject them into the navigation template.

[2016-04-26 03:20] detailyang commented on #684
+1 agree with @fhemberger, but how to get the current correct Node.js versions?

[2016-04-26 03:39] fhemberger commented on #684
We have a script for that: https://github.com/nodejs/nodejs.org/blob/master/build.js#L243

[2016-04-26 05:55] phillipj commented on #684
+1 to improving the navigation generator so we don't have to update our `locale/*/site.json` files every time a new version gets released. IIRC there's nothing else on the website that needs to be updated cause of new releases.

[2016-04-26 06:14] preco21 commented on #508
I think this is even better for `simple` :+1:

[2016-04-26 09:11] fhemberger commented on #571
@danjenkins We have a `canonical` meta tag on each page referencing `nodejs.org`, so this shouldn't happen. I also tried to reproduce this in an incognito session, but everything works fine for me:
https://www.google.de/search?as_sitesearch=new.nodejs.org

Does this issue still occur for you?

[2016-04-26 09:41] jbergstroem commented on #571
I can't really reproduce this either but catered for it in my updated commit.

[2016-04-26 13:20] danjenkins commented on #571
I couldn't reproduce except when I was in the bahamas - using google.bs it seems like it doesn't happen anymore so can close this issue

[2016-04-26 13:20] #571 closed, assigned to nobody

[2016-04-26 21:06] jbergstroem commented on #571
So, should we take it into consideration or not?

[2016-04-27 01:02] stevemao commented on #669
Can we close this since #672 is merged?

[2016-04-27 04:16] #669 closed, assigned to nobody

[2016-04-27 04:30] fhemberger commented on #571
PR is already there, 'new.nodejs.org' is not used …

[2016-04-27 04:42] #671 closed, assigned to nobody

[2016-04-27 04:42] fhemberger opened #694 "ES6: Clarify difference between --es_staging vs --harmony flags"
Quoting @williamkapke https://github.com/nodejs/nodejs.org/pull/674#issuecomment-214133370

I've never used those flags myself, can someone explain the difference?
/cc @nodejs/collaborators

[2016-04-27 04:46] jbergstroem commented on #571
Yes, as but part of my PR (ssl redirection) I already added this. I guess I should remove it again, then.

[2016-04-27 05:02] saadq commented on #508
I really like the dark version as well, it inspired me to start making a theme for Sublime Text based on it:

![](http://i.imgur.com/0IzE246.png)

[2016-04-27 05:09] fhemberger commented on #344
Closing this now, we'll create a new issue for the next onboarding.

[2016-04-27 05:09] #344 closed, assigned to nobody

[2016-04-27 05:17] fhemberger commented on #578
ping @mikeal

[2016-04-27 05:19] fhemberger commented on #571
@jbergstroem I think your PR is just fine …

[2016-04-27 08:48] bnoordhuis commented on #694
In v4 and v5, they're synonyms for beta-level features: considered complete but not battle-tested yet; can still have bugs.

In v6, `--es_staging` is `--harmony` plus a few alpha-level features; currently `--harmony_regexp_lookbehind` and `--harmony_tailcalls` but that can change at any time.

[2016-04-27 10:27] hacksparrow opened #696 "Update link to 6.x docs"
On https://nodejs.org/en/docs/, the doc link to https://nodejs.org/dist/latest-v6.x/docs/api/ is missing.

[2016-04-27 11:07] Navajyoth opened #697 "Mobile view Style issue in page "http://events.linuxfoundation.org/events/node-interactive""

[2016-04-27 11:08] fhemberger commented on #696
Already waiting in PR #695 …

[2016-04-27 11:10] #684 closed, assigned to nobody

[2016-04-27 11:12] fhemberger commented on #697
Even if the Node Interactive website is not maintained by the Website WG, can you provide a bit more detail and/or a screenshot?

[2016-04-27 11:13] fhemberger commented on #696
PR merged.

[2016-04-27 11:13] #696 closed, assigned to nobody

[2016-04-27 13:53] detailyang commented on #508
@leo good design and simplicity :grinning:
![c36d47f4-cf2c-11e5-8672-ce9e5835e249](https://cloud.githubusercontent.com/assets/3370345/14854290/c043f71c-0cc1-11e6-9c50-e5c0e873b5c1.png)

[2016-04-27 15:57] leo commented on #508
Thank you all for your feedback on this! I'm sorry that I haven't added this to the issue earlier, but I'm currently in the process of discussing this a little further with some members of the technical steering commitee because I'd like to start off in a completely separate repo within which I could use the issue tracker to ask the community for feedback on the design.

This simply ensures enough

[2016-04-29 20:48] papertigers opened #702 "Node 0.12 is hard to get to"
It would be nice to have a link to the node 0.12 docs on this page https://nodejs.org/en/docs/
rather than clicking a doc and guessing at the URL.

In addition to the docs issue finding node 0.12 releases is difficult.  When looking to update node on my laptop I have to hunt for the release in order to determine what the latest version is with security fixes.

[2016-04-29 20:50] papertigers commented on #702
Well, never mind on the docs I did eventually spot the link on the docs page further down the page.

[2016-04-30 01:50] mprobst opened #703 "Downloads section is offline"
E.g. https://nodejs.org/dist/v6.0.0/node-v6.0.0.pkg times out between CloudFlare and the backend.

[code]

[2016-04-30 02:05] mprobst commented on #703
Appears to be back up.

[2016-04-30 02:05] #703 closed, assigned to nobody

[2016-04-30 11:54] phillipj commented on #703
@mprobst thanks for reporting 👍

[2016-04-30 19:09] bluejellybean opened #706 "Question about promises"
Is there a way to not have to type 'return new Promise(( resolve, reject ) => {' every single function?

I almost want to get rid of all callbacks from javascript hah!

[2016-04-30 19:14] ghost commented on #706
hi @bluejellybean! you may have stumbled upon the wrong repository here. you may be looking for https://github.com/nodejs/help! please [open your issue](https://github.com/nodejs/help/issues/new) there, thanks ❤️

[2016-04-30 19:14] #706 closed, assigned to nobody

[2016-05-01 04:30] fhemberger commented on #702
There is https://nodejs.org/en/download/releases/ and also https://nodejs.org/dist/latest-v0.12.x/

[2016-05-01 04:30] #702 closed, assigned to nobody

[2016-05-01 05:37] fhemberger commented on #665
Done. 😄

[2016-05-01 05:37] #665 closed, assigned to nobody

[2016-05-01 05:37] #322 closed, assigned to nobody

[2016-05-01 05:44] fhemberger commented on #697
The only thing I noticed is a font loading issue on the page:

Maybe @mikeal can reach out to the foundation to fix this.

[2016-05-01 07:58] fhemberger commented on #472
Inclusivity WG can be found here: https://nodejs.org/en/about/working-groups/#current-top-level-working-groups

[2016-05-01 07:58] #472 closed, assigned to nobody

[2016-05-01 08:02] fhemberger commented on #330
@mikeal README looks fine for me, can we close this issue?

[2016-05-01 08:10] #590 closed, assigned to nobody

[2016-05-01 08:11] fhemberger commented on #590
Thanks, I updated the brand guidelines with this PDF:
https://github.com/nodejs/nodejs.org/issues/526#issuecomment-192464051

[2016-05-01 10:36] ronkorving commented on #590
:+1:

[2016-05-01 18:27] fhemberger commented on #697
Issue reported to the events team, closing.

[2016-05-01 18:27] #697 closed, assigned to nobody

[2016-05-01 21:59] jasnell opened #709 "Adding Google Analytics to doc pages?"
See https://github.com/nodejs/node/pull/6462 for context.

Original from @mikeal:

And my comment [here](https://github.com/nodejs/node/pull/6462#issuecomment-215620135):

[2016-05-02 03:09] luanmuniz commented on #709
I don't know if you guys have another ways to do that. But it will be a nice thing to know what parts of the documentation are more accessed because that way we can come to the conclusion that a specific module or a specific page is not well documented or that the people are using more or less a specific module and with that information the foundation can prioritise what is nice to work on. I don'

[2016-05-02 08:43] phillipj commented on #709
@jasnell would a localhost check suffice?

[code]

[2016-05-02 12:54] jasnell commented on #709
Not so much. If I'm on a private network and want to throw the docs up on
an internal system I don't necessarily want it sending analytics data out
to Google and that data wouldn't be very valuable to us here. This should
only be injected when the docs are on the website.
On May 2, 2016 1:43 AM, "Phillip Johnsen" notifications@github.com wrote:

@jasnell https://github.com/jasnell would a localhos

[2016-05-02 17:41] Fishrock123 commented on #373
Still relevant. Ideally I'd be able to link to these rendered-pages per version.

That is pretty complex though. It means doing some ngnix hackery. I'll try to work on it soon.

[2016-05-03 04:21] jbergstroem opened #712 "Store gzip representations of common files on deploy"
Since we're using `gzip_static on` in the server we could shave off an considerable amount of cpu power by storing a gzip representation of each file we deploy (for instance `index.html` would be accompanied by `index.html.gz`). Additionally, since we default to `-6` in nginx, we'd likely make each file a bit smaller by using `-9` on deploy.

[2016-05-03 04:29] jbergstroem commented on #709
Two server-side options using nginx. Both needs testing and I'd honestly like to avoid it seeing how we'd put a strain on our server(s), but lets get it in here for completeness.
- [SSI](http://nginx.org/en/docs/http/ngx_http_ssi_module.html)

[code]
- [The sub module](http://nginx.org/en/docs/http/ngx_http_sub_module.html)

[code]

[2016-05-03 04:30] jbergstroem commented on #709
This should be possible injecting as part of the deploy process though?

[2016-05-03 04:44] fhemberger commented on #712
We could add a npm task, which is only run on the build machine:
`find -E build -type f -regex ".*(html|css|js|xml|json)$" -exec gzip -9 -k {} \;`

Takes 0.75s on my MacBook Pro for the current website.

[2016-05-03 07:20] #712 closed, assigned to nobody

[2016-05-03 07:26] ChALkeR commented on #694
Note that `--es-staging` is labeled as «for internal use only» and exposes more unstable features, while the change that got landed promotes `--es-staging` over `--harmony`.

[code]

[2016-05-03 11:14] JungMinu opened #716 "Evangelism: Weekly Update for May ~"
Let's write down for next week :gift:

[2016-05-03 17:33] fhemberger commented on #694
@ChALkeR Good catch, the "for internal use" remark was not present in Node.js 4.3.1. So we should rather document the `--harmony` flag only and leave out `--es_staging`?

[2016-05-03 17:50] ChALkeR commented on #694
@fhemberger In Node.js 4.3.1 those two were equivalent.

/cc @nodejs/documentation

[2016-05-03 18:41] fhemberger commented on #694
@ChALkeR Yes, but in Node.js 6.0 they are not and `--es_staging` is flagged "for internal use". But in all versions `--harmony` does the same, so we should use this flag in our documentation and omit the internal flag `--es_staging`.

[2016-05-03 19:45] ChALkeR commented on #694
… except for 0.10/0.12.

[2016-05-03 20:15] lpinca commented on #694
I agree.

[2016-05-03 21:23] fhemberger commented on #694
Fixed on 139393e.

[2016-05-03 21:23] #694 closed, assigned to nobody

[2016-05-04 14:44] phillipj commented on #709
@jbergstroem we could possibly do a `$NODE_ENV==production` check when running the build process?

[code]

plus some changes in `build.js` and `layout/*.hbs` files.

[2016-05-05 01:16] jbergstroem commented on #709
@phillipj should be feasible.

[2016-05-05 06:15] phillipj commented on #709
Ohh I just realized this was a docs issue which has a different setup (in nodejs/node) than the website. Although $NODE_ENV could be a viable option anyway.

[2016-05-06 16:51] williamkapke commented on #671
@jasnell [The V8 blog has more info](http://v8project.blogspot.com/2016/04/es6-es7-and-beyond.html) on your question about test262.

[2016-05-09 19:55] bengl opened #731 "download pages need clear indicators about npm versions"
As it stands, this page https://nodejs.org/en/download/current/ doesn't make it very clear at all which version of npm is included with a version of node. It's also pretty easy to be mistaken and think that you can only use the included npm with a given node release. Needs better messaging here.

[2016-05-09 19:58] Fishrock123 commented on #731
All the versions are included in https://nodejs.org/en/download/releases/ -- shouldn't be too hard if someone wants to pick it up.

We don't keep pages for older releases though, so messaging users of older versions about this isn't really possible in this way.

[2016-05-09 20:09] MylesBorins commented on #731
we could include a note at the end similar to the python disclaimer.

[2016-05-10 01:36] rvagg commented on #709
So .. this can't be achieved directly out of this repo since this repo is completely unrelated to docs, they all come out of nodejs/node and we'd have to do something there, even if it's an SSI.

And, since whatever way this is going to be achieved we're going to be serving modified documents in all of the docs/ directories in release directories then how about we take this back to the node repo a

[2016-05-10 01:38] rvagg commented on #709
Oh, sorry, I see that @phillipj's PR is attempting to do this over there. Closing this as I don't think it makes sense to be here.

[2016-05-10 01:38] #709 closed, assigned to nobody

[2016-05-11 11:31] JungMinu opened #732 "Evangelism: Weekly Update for May ~"
Let's write down for next week :gift:

[2016-05-11 11:31] #716 closed, assigned to nobody

[2016-05-11 13:25] rvagg commented on #731
"This version of Node.js is bundled with npm vx.y.z." I'm hesitant to support the upgrade advice, there's good a reason we ship npm's v2 LTS with our LTS.

As already noted, the information about which version of npm is included is already live in the build system for the site so it wouldn't be hard to pick it up for this if someone wants to find a place to put the note on the download page.

[2016-05-11 15:47] jasnell opened #733 "Update changelog tool for https://github.com/nodejs/node/pull/6503"
The `scripts/release-post.sh` tool will need to be updated to understand the new changelog structure once https://github.com/nodejs/node/pull/6503 lands. The new PR moves the specific changelogs for each release line into separate files in `doc/changelogs/*`. The pattern is simple: v4 releases will go into `doc/changelogs/CHANGELOG_V4.md`, v5 releases go into `doc/changelogs/CHANGELOG_V5`, etc. Th

[2016-05-12 06:04] imyller opened #734 "package-managers: OpenEmbedded package recipes for Node.js"
- **URL**: https://nodejs.org/en/download/package-manager/

Latest Node.js releases package recipes (a "layer" in OE terminology) for OpenEmbedded/Yocto Linux are available at:

https://github.com/imyller/meta-nodejs

Also listed in OpenEmbedded Layer Index:

http://layers.openembedded.org/layerindex/branch/master/layer/meta-nodejs/

OpenEmbedded layers do not provide binary packages by design, bu

[2016-05-12 07:07] fhemberger commented on #734
Thanks for the info. Would you be willing to add a Pull Request for that?

[2016-05-12 07:55] fhemberger commented on #731
Added a PR for this.

[2016-05-12 11:57] #731 closed, assigned to nobody

[2016-05-12 14:47] zacharyhamm opened #738 ""All download options" link broken"
- **URL**: https://nodejs.org/en/download/current/
- **Browser version**: Chrome 50
- **Operating system**: Linux

The link to "All download options" at the bottom of the page points to https://nodejs.org/dist/[object%20Object]

Looks like someone is passing an object where a string was wanted.

[2016-05-12 15:23] #738 closed, assigned to nobody

[2016-05-12 15:24] fhemberger commented on #738
Great, thanks for catching that! This was introduced with 6063d53727c7cc41244911ea5972b95f6bfb95d2, I just pushed the fix.

[2016-05-12 18:43] Knighton910 commented on #732
+1

[2016-05-13 09:23] crazyluffy opened #741 "nodejs.org API doc mistake？"
- **URL**:
- **Browser version**:
- **Operating system**:

[2016-05-13 09:41] crazyluffy commented on #741
URL: https://nodejs.org/dist/latest-v6.x/docs/api/http.html;
question:
    http header message should be [ [key, value], [key2, value2],...], not [key, value, key2, value2,...] ？
    I wonder if it's my mistake of my understand or it's a really mistake. though it's almost not to be used

[2016-05-13 09:51] fhemberger commented on #741
Hi,

a) This rather belongs into 'nodejs/node'
b) `message.headers` is a key-value-representation of received HTTP headers, `request.rawHeaders` is an array. As the docs say:

You probably want to use `message.headers`, as there's usually no real need to access the raw header data.

[2016-05-13 10:51] crazyluffy commented on #741
Hi,
    @fhemberger,
    Thanks for your reply, I know what I was wrong,
    this **_options.headers_** is not the **_message.headers_**
    in addition, I'm very appreciate that you can understand what I said.

.--------------------------------------------------------------------------------------------------
var options = {
  hostname: 'www.google.com',
  port: 80,
  path: '/upload',
  method: '

[2016-05-13 11:28] #741 closed, assigned to nobody

[2016-05-13 12:16] stevemao commented on #741
@crazyluffy You might want to use markdown properly to make it more readable as well 😄 Thanks!

[2016-05-14 20:30] raphaelokon opened #742 "Add shasums to download page"
- **URL**: https://nodejs.org/en/download/current/

I think it would be really helpful to have a direct link to SHASUMS (eg. [SHASUMS256.txt](https://nodejs.org/dist/v6.1.0/SHASUMS256.txt) right on the nodejs.org download page. This would save some users searching for it and extra clicks on _All download options_ to find it there.

A naive implementation may look like …

<img width="1333" alt="sha

[2016-05-15 09:29] fhemberger opened #743 "Create blog post: Changes between v4 and v6"
As Node.js v6 will become the new LTS release in a few months, it would be good to have a blog posts explaining the differences between the two to be ready for the update phase.

That could be a simple diff between [4.x API docs](https://nodejs.org/dist/latest-v4.x/docs/api/all.html) and [6.x API docs](https://nodejs.org/dist/latest-v6.x/docs/api/all.html) or based on the Wiki articles [Breaking c

[2016-05-15 09:59] PatrickHeneise commented on #743
Context: I was using Buffer.from() as documented in 5+ docs, and there was no information it's not available in 4.x; problem was Buffer.from() didn't break with a 'is not a function' but a TypeError, which was very confusing.

I think these changes should also be documented somewhere in machine readable form (.json f.e.) so we could analyse projects/code and tell developers they're using functions

[2016-05-15 12:58] rvagg commented on #742
"for current releases" doesn't make much sense, so probably something like "Signed SHASUMS for vx.y.z release files" and link to the .txt.asc file.

Would you mind sending a pull request to this repo with a change like this along with a screenshot so it can be reviewed?

[2016-05-15 13:38] raphaelokon commented on #742
@rvagg Yeah, sorry, I didn't look into the wording that much – was more about the UX to have the functionality straight there. I think `Signed SHASUMS for vx.y.z release files` makes much more sense.

I will give it a bash tonight. Cheers.

[2016-05-16 03:46] crazyluffy commented on #741
@stevemao   yes, I edited it for more readable cause I suddenly remembered the markdown.
also I'm learning both node.js and markdown,  and... english. and sorry to trouble you. Thandks

[2016-05-16 20:19] jrit commented on #552
I'm closing since manual checking seems pretty reasonable to me after working on some of the validation. A weekly review of PRs for issues is probably a good idea, I'll try and stay on top of it.

[2016-05-16 20:19] #552 closed, assigned to nobody

[2016-05-18 18:11] gtewallace opened #750 "Please replace Sauce Labs logo with new one"
- **URL**:
- **Browser version**:
- **Operating system**:

On Foundation > Members, need to replace the Sauce Labs logo with the attached.

thanks!

![sauce-labs_vert_red-grey_200x200](https://cloud.githubusercontent.com/assets/12159820/15369802/3a874b50-1d02-11e6-9bab-0317d718c4a4.png)

[2016-05-18 18:25] MylesBorins commented on #750
@gtewallace here is a pull for that update --> https://github.com/nodejs/nodejs.org/pull/751

Do they have a better copy of the logo though? That one is pretty blury

[2016-05-18 21:31] #750 closed, assigned to nobody

[2016-05-19 11:58] evanlucas commented on #733
I've been meaning to do this. I ended up just doing v6.2.0 manually. I'll try to get to it in the next few days though.

[2016-05-19 12:00] evanlucas commented on #733
Ah, scratch that, didn't realize @lpinca had already started on it. Thanks!!!!

[2016-05-20 10:17] dfahlander opened #753 "Not all globals are documented"
- **URL**: [https://nodejs.org/api/globals.html](https://nodejs.org/api/globals.html)
- **Browser version**: N/A
- **Operating system**: N/A

In the list of globals, I don't find some globals, such as Uint16Array, Uint8Array, etc even though they are obviously globals and don't need to be required in.

For people trying to write universal javascript, it would be quite nice to have a proper documen

[2016-05-20 10:26] lpinca commented on #753
@dfahlander thanks, but you are in the wrong repo.
This should be reported to https://github.com/nodejs/node/issues.

[2016-05-20 10:34] dfahlander commented on #753
I thought this was the website, right? Doesn't this belong here since it's about missing content on the web site?

[2016-05-20 10:36] lpinca commented on #753
Yes, this is the website repo but API [documentation](https://github.com/nodejs/node/tree/master/doc/api) lives in the main repo.

[2016-05-20 10:39] dfahlander commented on #753
Ok, thanks.

[2016-05-20 10:39] #753 closed, assigned to nobody

[2016-05-20 11:07] ghost commented on #753
to be fair we should probably put a note somewhere that the docs live in the main repo

[2016-05-20 11:17] lpinca commented on #753
@tentakel yes I agree. Right now the website seems the natural place where to post API docs issues.

[2016-05-20 11:20] lpinca commented on #753
We can probably update the issue template as discussed in https://github.com/nodejs/nodejs.org/pull/707 and add this info.

[2016-05-20 11:40] fhemberger commented on #753
It's already in the issue template: https://raw.githubusercontent.com/nodejs/nodejs.org/master/.github/ISSUE_TEMPLATE.md

[2016-05-20 11:40] lpinca commented on #753
ops, I should have read it more carefully 😄

[2016-05-20 16:00] gtewallace opened #755 "swap current YLD logo with new one attached"
- **URL**:
- **Browser version**:
- **Operating system**:

Hi all,

Node.js Foundation member YLD has gone through a rebrand and asks that we swap out their [old logo](https://nodejs.org/static/images/foundation/yldLogo2.png) on https://nodejs.org/en/foundation/members/ with the attached.

Many thanks!
[BLACK YLD logo (1).zip](https://github.com/nodejs/nodejs.org/files/274950/BLACK.YLD.logo.1.zip)

[2016-05-21 08:02] fredrikgrohn opened #757 "CloudFlare blocking nodejs.org web site access for users running Tor"
- **URL**: https://nodejs.org/
- **Browser version**: Tor Browser 5.5.5 (Mozilla Firefox 38.8.0)
- **Operating system**: Windows 7 SP1

In case there is someone not familiar with Tor: Tor is a network that enables users to maintain online anonymity and resist censorship and surveillance. It is the biggest network of its kind. For further refernce please see the Tor web site (https://torproject.org

[2016-05-21 08:08] mikeal commented on #757
@nodejs/build

[2016-05-21 08:09] #755 closed, assigned to nobody

[2016-05-22 04:34] Trott opened #758 "outdated governance information"
- **URL**: https://nodejs.org/en/get-involved/development/#collaborators
- **Browser version**: n/a
- **Operating system**: n/a

The information in https://github.com/nodejs/nodejs.org/blob/master/locale/en/get-involved/development.md is out of date. Primarily, it mentions the TSC many times but there is no mention of the CTC. It seems like it duplicates info in the nodejs/node repo. I wonder if i

[2016-05-22 17:43] fhemberger commented on #758
You are right, it's too long and too complicated. Nobody is going to read that entire page before submitting something for the first time. Having a shorter version (or linking to CONTRIBUTING.md in nodejs/node) would be a great idea.

IIRC part of the texts still date back to the old Node.js website and were extended with new content. So maybe a general review would make sense as well.

[2016-05-23 15:27] Fishrock123 commented on #743
Sounds like you're actually asking for https://github.com/nodejs/node/issues/6578?

[2016-05-23 16:45] fhemberger commented on #743
@Fishrock123 I think that's at least a big part of the solution, still as soon as v6 becomes the new LTS, people want to know what's changed since v4 (just like the "breaking changes" wiki article you already did for past versions).

[2016-05-23 17:00] williamkapke commented on #758
I also agree. The information on that page is important, but too granular. For **anything** in these areas on the website, I think things should stay pretty high level.

Because the website is the entry point for the general public, I like to think to myself "If a typical journalist were to see this page, would they be able to understand of the majority of the content?"

[2016-05-29 02:57] JungMinu opened #763 "Evangelism: Weekly Update for June ~"
Let's write down for next week :gift:

[2016-05-29 08:56] undownding opened #764 "Dead link in non-English language"
- **URL**: https://nodejs.org/zh-cn/
- **Browser version**: Chrome 50
- **Operating system**: Ubuntu 16.04

![404](https://cloud.githubusercontent.com/assets/11864301/15632238/e2faf282-25bd-11e6-8f9c-9bcdacd0fb6a.png)

What's the right way to solve this problem? Add a translated `index.md` in `locale/zh-cn/download`, or change this link to [https://nodejs.org/en/download/](https://nodejs.org/en/do

[2016-05-29 09:56] lpinca commented on #764
I think that adding the translated *.md files is the correct way to handle this.
If I'm not wrong there is also an open pr (https://github.com/nodejs/nodejs.org/pull/490) to "fix" this.

[2016-05-29 10:27] undownding commented on #764
OK, I will fix zh-cn language.

[2016-05-29 11:03] ghost commented on #764
yeah, the zh-cn locale basically only has the index and a couple more pages. there's a huge amount missing, which is why #490 would help

[2016-05-30 14:59] Fishrock123 commented on #764
#490 does not actually help this.

That only helps if you run it locally.

The actual issue is https://github.com/nodejs/build/pull/316

[2016-05-31 08:36] gergelyke commented on #763
Hey,
we have just published a new tutorial on how to get logging right in Node.js apps / modules. I believe it can be a valuable article for most of us: https://blog.risingstack.com/node-js-logging-tutorial/

[2016-05-31 13:30] glennschler opened #767 "Add São Paulo NodeConf Brazil 2016 to events page"
As recognized in pull #766 discussion, the Nodeconf Brazil 2016 is actually the first international Node conference planned to occur in Latin America. It should be added to the https://nodejs.org/en/get-involved/events page

[2016-05-31 14:09] glennschler commented on #767
@alanhoff If you would like, I can add the Brazil conference when I edit the Argentina description I recently submitted. If you send a description, plus lat/lon coordinates for the map.

[2016-05-31 15:37] bnb opened #768 "New Node.js Desktop Background?"
- **URL**: https://nodejs.org/en/about/resources/

The Desktop Background is out of date - old logo. It should definitely be kept somewhere for nostalgia purposes, but we should either commission or request a new Desktop Background.

**As a member of the Evangelism WG:**
Would the Website WG be opposed if we held a contest or some other form of community event advertised on our blog and over our s

[2016-05-31 15:43] bnb commented on #508
@leo: I've been thinking about re-working the site generally in the past couple days, and I just found this. Would you be able to give a status update? Simply if it's still in development or if it's been dropped would be great. If it hasn't been dropped, I would very much like to start working on it with you, if you're accepting help at the moment.

[2016-05-31 16:43] leo commented on #508
@bnb Not yet. But I'm sure I'll receive the final answer that will allow us to make some real progress on this in the next few days.

Since I haven't yet announced anything: No, it's not in development either. Besides of that, developing it would be the last step to happen on this. Like I said it above, design would be first... :blush:

[2016-05-31 17:05] alanhoff commented on #767
@glennschler that would be awesome

**Description**
This is the first edition of NodeConf in Latin America and is also the first major event focused exclusively on Node.js of Brazil. We'll have an amazing experience in São Paulo on 2 days filled with large lectures and some surprises waiting for you.
In this first edition, we will be bringing news about how is the current scenario of Node.js. We w

[2016-05-31 18:07] #733 closed, assigned to nobody

[2016-05-31 22:46] bnb commented on #508
@leo In that case, I'd still be up for helping to design before developing! Please, do alert me if and when there's a start to designing it.

[2016-06-01 07:06] leo commented on #508
@bnb Alright. Will do! :blush:

[2016-06-01 21:20] williamkapke commented on #578
To date, I still have not gotten any emails. 2 board meetings have been hosted online now- and I didn't know either of them were happening. I would think I an email would be sent about that :/

[2016-06-01 21:23] mikeal commented on #578
We haven't announced the meetings anywhere but twitter, not have we really used that email list much.

We're working on a new newsletter (kicking off in July when the new budget rolls around) that will replace that.

@hackygolucky is working on a PR to add a page about the board meetings to the website.

[2016-06-01 21:28] williamkapke commented on #578
Should we just remove this feature then?

[2016-06-01 21:29] mikeal commented on #578
This does sign you up for something, I'm just not sure that we've ever used it :/

[2016-06-01 21:32] gtewallace commented on #578
Hi all,

I'll look into the thank you field.

It adds you to our master email list, which we haven't used too much but we do use it.

Lately we've been sending emails to encourage people to submit talks for Node.js Interactive and also to announce early bird registration prices.

Earlier in the year we used it to ask people to take the Node.js User Survey.

Definitely more we can be doing with thi

[2016-06-01 21:45] williamkapke commented on #578
@gtewallace great thanks! FWIW, I searched my inbox and found just 1 email on May 4th about Node.js Interactive. Nothing about early bird prices or a survey though.

[2016-06-01 21:56] gtewallace commented on #578
survey email would have been in January, so maybe before you signed up?

some of our emails only go to certain geos - for instance the early bird pricing email is going only to EMEA contacts.

[2016-06-02 05:50] #767 closed, assigned to nobody

[2016-06-02 05:50] lpinca commented on #767
Closed as the event has been added.

[2016-06-02 11:07] ilfroloff opened #772 "Highlight deprecated API components in "Table of Contents""
Hello All!

I have a proposal of how to increase understanding on which of properties/methods in module API are deprecated. When someone opens module's API page, he/she sees "Table of Contents" and it's not clear which part is deprecated (especially in `util` module).

My vision of deprecated parts in "Table of Contents":
![Change the color](https://cloud.githubusercontent.com/assets/2785744/15742

[2016-06-02 13:24] gtewallace commented on #578
thank you field has been set-up and should work as expected now.

[2016-06-02 17:24] shobhitg opened #773 "Newer npm versions in https://nodejs.org/dist"
Hi,

Please refer this issue: https://github.com/npm/npm/issues/12930

I am trying to use frontend-maven-plugin for installing nodejs.

But unfortunately it seems that NodeJS is sooo much fragmented from NPM itself in terms of responsibility.

frontend-maven-plugin downloads nodejs from this place: https://nodejs.org/dist
For nodejs, we have the latest versions (v6.2.0).
But it seems that newer np

[2016-06-02 17:32] MylesBorins commented on #773
@shobhitg we ship node.js with a version of npm that has been sent to us as stable by the npm team and tested to work with that specific version of node. We have not been publishing specific versions of npm without node to the download site, but have kept old versions on there to not break things.

I am not under the impression that we are going to change this.

Node.js comes packed with a working

[2016-06-02 17:32] #773 closed, assigned to nobody

[2016-06-02 17:42] shobhitg commented on #773
Yes, it is not the best workflow. I agree.
But we live in a Java dominated world. And maven is to Java what npm is to Node.

Therefore in large products that are dominated by Java, the NodeJS lovers need to squeeze themselves in somehow.
The 1st important step for that is to be part of the build system.
Till now things were cool, frontend-maven-plugin would handle it. But as npm 3 is becoming a no

[2016-06-02 17:47] MylesBorins commented on #773
@shobhitg I think it worked by accident to be honest. If it were setup to be using the latest npm available in the download page you would have been always getting npm v1 which is not only less reliable, but also ships with some security vulns...

0.10 / 0.12 / 4 all ship with npm v2
5 / 6 ships with npm v3

I think opening an issue on build about fitting into the java ecosystem is a great start..

[2016-06-02 22:31] williamkapke commented on #578
Thanks for fixing this @gtewallace. I just tested and got the "Thank You For Signing Up!" message.

[2016-06-02 22:31] #578 closed, assigned to nobody

[2016-06-02 23:21] MylesBorins commented on #772
I really like this idea

/cc @nodejs/documentation

@ilfroloff I think you will want to send a PR against the main repo to this file https://github.com/nodejs/node/blob/master/doc/api_assets/style.css

[2016-06-03 01:47] evanlucas opened #775 "We should consider updating the changelog links"
- **URL**: https://nodejs.org/en/
- **Browser version**: *
- **Operating system**: *

Recently, there was a large change made to the way the changelog for core is structured. We have now split the changelog up by version. Both of the changelog links for the latest release lines point to the specific tag for that version. However, only the changelog on master is guaranteed to be updated/correct.

W

[2016-06-03 01:51] MylesBorins commented on #775
It is worth mentioning that v4 is still using the old changelog... so that link works as expected

[2016-06-03 01:51] evanlucas commented on #775
ooooo thanks for the heads up @TheAlphaNerd. Are there plans to backport it to v4?

[2016-06-03 02:03] MylesBorins commented on #775
Tbh I wasn't planning to as the original changelog just works in v4.
Totally willing to do it if it helps simplify the website /cc @jasnell

[2016-06-03 02:04] jasnell commented on #775
I've had an open low priority to-do to backport the changelog changes. I'll likely get to it next week.

[2016-06-03 06:14] lpinca commented on #772
👍

[2016-06-03 10:25] ghost commented on #772
sounds good, yeah!

[2016-06-04 22:28] benjamingr commented on #772
I think graying it out rather than making it red would be better since red catches the eye.

[2016-06-04 23:14] Knighton910 commented on #772
LGTM
+1 GRAY

[2016-06-05 19:19] steebchen commented on #772
What about striking through deprecated lines: ~~deprecated~~
Or striking through while colored grey?

[code]

[2016-06-05 19:24] evanlucas commented on #772
I think I would like gray. It would be awesome to see some prototypes though

[2016-06-05 20:42] benjamingr commented on #772
@evanlucas sure, run this in the chrome devtools at the production docs and it will strikethrough and change the color of all deprecated APIs.

[code]

[2016-06-05 20:59] evanlucas commented on #772
thanks @benjamingr. So the link becomes a lot less readable on hover would be my only complaint with that. I'm sure we could fix that quite easily though. I think the best think to do here would be to have a pr with one of these on nodejs/node and we can go from there?

[2016-06-05 22:28] addaleax commented on #772
As much as I would find gray more intuitive, too, I’d be worried that the low contrast from graying out entries might not work out as well as striking through for people with visual impairments. But then again I’m also definitely not an expert on that topic.

[2016-06-05 22:39] Knighton910 commented on #772
I was thinking about a `dark blue`, but at the same time i don't want the docs to look like a rainbow. no offense to rainbows. But something of `grey` or `dark grey` or even `vanilla white` should be fine, i guess.

[2016-06-05 22:44] benjamingr commented on #772
@addaleax that's a good point, `#999999` doesn't meat [the contrast accessibility standard](http://webaim.org/resources/contrastchecker/), we should go with something more like `#555555`.

[2016-06-06 07:26] RafaelKr commented on #772
You could make deprecated items grey and add a toogle-button at the top to also strike them through (Or don't show them at all, when button is toggled).

[2016-06-06 09:24] homj opened #778 "Website inscure due to SHA-1"
- **URL**: https://nodejs.org/en/
- **Browser version**: Google Chrome 51.0.2704.79 m (64-bit)
- **Operating system**: Windows 8.1 Pro

Chrome is reporting that the page is insecure (broken HTTPS):

[2016-06-06 15:04] Fishrock123 commented on #778
hmmm @nodejs/build @mikeal

[2016-06-06 15:40] fhemberger commented on #778
Cert is SHA-265:
<img width="417" alt="bildschirmfoto 2016-06-06 um 17 39 16" src="https://cloud.githubusercontent.com/assets/153481/15827954/bae7fc4e-2c0d-11e6-817f-5264fcd8e205.png">

[code]

[2016-06-06 21:37] Starefossen commented on #778
[QYALYS SSL LABS](https://www.ssllabs.com/ssltest/analyze.html?d=nodejs.org&latest) reports all As for all four (4) IP addresses associated with the nodejs.org domain.

<img width="1047" alt="screen shot 2016-06-06 at 23 36 42" src="https://cloud.githubusercontent.com/assets/968267/15838658/9444e9da-2c3f-11e6-9838-c66eff506c2e.png">

[2016-06-06 21:39] MylesBorins commented on #778
@homj where were you accessing the site from?

[2016-06-07 08:27] hfeeri commented on #763
Hello,

We wrote a detailed tutorial on Node.js unit testing as well. Check it out here: https://blog.risingstack.com/node-hero-node-js-unit-testing-tutorial/

Thanks, Ferenc

[2016-06-07 09:51] ilfroloff commented on #772
Created PR https://github.com/nodejs/node/pull/7189

[2016-06-07 16:20] homj commented on #778
I found the issue:

I'm using Avast as my anti-virus and the setting "Avast HTTPS-Scanning" was active.
Thus, Avasts' certificate was contained in the certificate-path.

I hope I didn't cause that many inconveniences!
And thanks for all that feedback!

[2016-06-07 16:20] #778 closed, assigned to nobody

[2016-06-07 19:18] leo opened #779 "Collaborating on the next redesign"
Hey awesome people!

After many emails between me and the technical steering committee, @mikeal and I finally worked out a plan for me continuing with the [design](https://github.com/nodejs/nodejs.org/issues/508) for the new site:

We're going to set up a new repo within which I'm going to ask the community for feedback in the process of designing the site. After the design is ironed out, I'm goin

[2016-06-07 19:22] ghost commented on #779
woot! the website wg is gonna do their best to help migrate the content!

[2016-06-07 19:27] mikeal commented on #779
Created a repo for the re-design assets https://github.com/nodejs/nodejs.org-redesign

[2016-06-07 19:28] ghost commented on #779
@mikeal what do you mean by 'html and css assets' specifically?

[2016-06-07 19:29] mikeal commented on #779
@ore So, it is quite challenging to do the whole design and iteration on top of all the tools and templates we have in this repo. The basic idea is to create image mockups and then implement as static html/css in the other repo until the design is correct. Once it is what people want we can port that back over to this repo and all the tools and templating.

[2016-06-07 19:32] ghost commented on #779
@mikeal yeah, that sounds fair enough.

also, while we're basically redoing the whole site, i'd like to take the opportunity and unfuddle and modernize the backend a little bit. it's very hack-ish in some places and i'd like to see if i can make something work there.

[2016-06-07 19:33] leo commented on #779
Exactly like @mikeal said it! It's already pretty hard to gather the most relevant feedback of a big group of people. So doing the design in a separate repo makes it a lot easer.

@ore Yey, great to hear!

[2016-06-07 19:38] MylesBorins commented on #779
first issue opened over at https://github.com/nodejs/nodejs.org-redesign/issues/1

Around making sure download page can support more than 2 release lines (for upcoming v6 lts)

[2016-06-08 00:42] rvagg commented on #779
please ping the build WG when you have some content to work with so we can set up a `redesign.nodejs.org` or similar that automatically builds from `master`, it'll help you but also us when we finally need to ship it so we can iron out any surprises along the way

[2016-06-08 11:58] rvagg commented on #757
I've whitelisted the "Tor" country, could you give it a try now and report back if you have further problems with this please @fredrikgrohn?

[2016-06-08 11:58] #757 closed, assigned to nobody

[2016-06-08 15:18] fredrikgrohn commented on #757
Yes I have verified about 10 exit nodes. It seems to be unblocked now. Thanks for your help!

[2016-06-09 05:04] marler8997 opened #780 "Why does nodejs.org use cloudflare-nginx?"

[2016-06-09 06:10] stevemao commented on #780
Can you elaborate what the problem is?

[2016-06-09 07:16] marler8997 commented on #780
Why doesn't it use nodejs?

[2016-06-09 19:08] GaryWayneSmith opened #781 "Error 522 on cloudflare"
Error 522 Ray ID: 2b06db3818810da9 • 2016-06-09 19:05:54 UTC
Error 522 Ray ID: 2b06de40df221ed1 • 2016-06-09 19:07:59 UTC
Connection timed out

Windows 7 x64, tried multiple browsers

Can't download Windows binaries or installers.

[2016-06-09 19:35] PatrickHeneise commented on #780
CloudFlare is a content delivery network to distribute the website around the globe, that's why you see `cloudflare-nginx`.

[2016-06-09 19:36] marler8997 commented on #780
Ah oh, makes sense

[2016-06-09 19:36] #780 closed, assigned to nobody

[2016-06-12 17:20] leo commented on #779
@rvagg Got it! The plan is to start working on a separate branch of this repo (as soon as the design is finished and we're ready to implement it).

[2016-06-12 20:02] pgorbas opened #782 "Why is the displayed "current version" so out of date?"
- **URL**: https://nodejs.org/en/download/
- **Browser version**: Chrome Version 51.0.2704.84 m
- **Operating system**: Windows 10

I thought I needed to update my NPM to get it to install angular2/rc-1.

The Download page states the most current version is "Current version: v4.4.5 (includes npm 2.15.5)",
but when I tried to install it I could not because I already had a more current version insta

[2016-06-12 21:13] ghost commented on #782
hi! basically there's two release lines. we have _LTS_, which is currently at 4.4.5. this is kept at an earlier version in order to make it more stable and reliable. lots of enterprise companies use the LTS releases because of that.

then we also have _current_ (https://nodejs.org/en/download/current/). this is the brand new, fresh-off-the-press release that has the latest features. this one's at

[2016-06-13 04:57] #782 closed, assigned to nobody

[2016-06-13 11:34] rvagg commented on #781
@GaryWayneSmith I'm going to close this as I'm assuming it was a temporary blip. Please let us know if this is persistent for you and we might be able to dig deeper.

[2016-06-13 11:34] #781 closed, assigned to nobody

[2016-06-14 05:48] williamkapke commented on #589
This was fixed by @mikeal via 521b9efc

[2016-06-14 05:48] #589 closed, assigned to nobody

[2016-06-16 23:10] JungMinu commented on #763
https://nodejs.org/en/blog/weekly-updates/weekly-update.2016-06-16/

[2016-06-17 02:47] ghost opened #788 "Unable to start the site through "npm start""
- **localhost**:
- **Chrome Latest Version**:
- **Windows 7 64-bit**:

I just downloaded the code and am trying to run the project.  As given in the instructions I typed
`--npm install` (this worked fine)
`--npm start`:  When I run this I get the following error

[code]

[2016-06-17 08:12] saadq commented on #788
What version of Node are you using? The [README](https://github.com/nodejs/nodejs.org#contributing) states:

You can check your version by doing `node --version` inside the command line.

[2016-06-18 02:40] #763 closed, assigned to nobody

[2016-06-18 02:40] JungMinu opened #790 "Evangelism: Weekly Update for June ~"
Let's write down for next week :gift:

[2016-06-18 18:02] williamkapke opened #791 "TSC minutes page is off track"
There is [a page on the website](https://nodejs.org/en/foundation/tsc/minutes/) that isn't too easy to find but it, in theory, to be for posting the TSC minutes. It doesn't have TSC minutes, it has other working groups.... and nothing has been added since last year :(

No biggie- this page lost steam. Let's put it on the radar for doing SOMETHING with it :)

I came across this while adding the min

[2016-06-18 18:27] fhemberger commented on #791
The TSC minutes on that page were imported from the old Node.js website.

[2016-06-20 15:38] mikeal commented on #791
Maybe we should just link to the minutes directory in all the related projects? Maybe also link to the videos?

[2016-06-20 16:12] williamkapke commented on #791
@fhemberger ah yep, that sounds right!

@mikeal It would be nice to link all the projects. I'll do more PRs adding them as I go. The videos are linked in the meeting minutes markdown (well, they are for the TSC).

[2016-06-20 18:24] Fishrock123 commented on #791
Yeah maintaining the list here seems difficult unless it is generated somehow.

[2016-06-22 19:21] williamkapke opened #796 "Update Code + Learn page"
There will be Code + Learn events in Amsterdam and Austin: See [here](http://events.linuxfoundation.org/events/node-interactive-europe/attend/agenda) and [here](http://events.linuxfoundation.org/events/node-interactive/attend/agenda).

[The Code + Learn page](https://nodejs.org/en/get-involved/code-and-learn/) should be updated. I am, unfortunately, unlikely able to do a PR for this anytime soon s

[2016-06-23 23:34] MylesBorins opened #802 "release post script breaking without ### Notable Changes"
If a release post does not include`### Notable Changes` the tool blows up

[2016-06-24 02:12] italoacasas commented on #779
@leo any status about the design, I would like to give you a hand to implement it.

[2016-06-24 07:07] lpinca commented on #802
I think it makes sense to always include a `### Notable Changes` section even if it is a security only release. For example this is what @rvagg did with `0.12.15` and `0.10.46`:
- https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V012.md#2016-06-23-version-01215-maintenance-rvagg
- https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V010.md#2016-06-23-version-0104

[2016-06-24 11:21] leo commented on #779
@italoacasas I'm on it! But for the official start, I'm still waiting for @mikeal to make me a collaborator on this repo (for the reasons mentioned above). He's probably pretty busy currently (tried email)...

[2016-06-24 13:27] Fishrock123 commented on #779
@leo Where is the discussion about access? I don't see it here. I can add you though if you need it...

[2016-06-24 13:36] leo commented on #779
@Fishrock123 @mikeal didn't say exactly that he "will add me as a collaborator". But he did say that "adding me to the WG wouldn't be a problem" and he "would advocate for that" (we've discussed it via email).

[2016-06-24 13:44] Fishrock123 commented on #779
cc @nodejs/website ^^

[2016-06-24 21:17] phillipj commented on #802
IMO the release script should never stand in the way of getting a release post out the door asap. Ideally it would be forgiving and try to do as best as it can, and maybe print a warning or two if something is missing. Of course it simplifies the release post script if could be confident the changelog is formatted correctly, but that would imply linting the changelog somehow before it's merged int

[2016-06-25 05:11] lpinca commented on #802
The changelog should definitely be linted before being commited.
I agree that the release script should be forgiving but to a certain degree. If an important section is missing, for example, it should throw an error, like it does now.

[2016-06-25 05:13] lpinca commented on #802
Ref: https://github.com/nodejs/node/pull/7394.

[2016-06-25 11:02] ghost commented on #779
i mean, sure

[2016-06-26 10:28] #788 closed, assigned to nobody

[2016-06-27 15:17] #790 closed, assigned to nobody

[2016-06-27 15:18] JungMinu opened #805 "Evangelism: Weekly Update for July ~"
Let's write down for next week :gift:

[2016-06-28 09:51] hfeeri commented on #805
Hello,

We wrote a tutorial post on debugging Node.js apps:
https://blog.risingstack.com/node-hero-node-js-debugging-tutorial/

Please include if you think it's worthy,
Thanks

[2016-06-28 10:22] fhemberger commented on #764
This has been fixed now: Links are falling back to the English version.

[2016-06-28 10:22] #764 closed, assigned to nobody

[2016-06-28 10:25] fhemberger commented on #732
I guess this can be closed now. ;)

[2016-06-28 10:25] #732 closed, assigned to nobody

[2016-06-28 10:30] fhemberger commented on #471
Closing this for now. We might reconsider this issue, once the new nginx module is available and has been thoroughly tested.

[2016-06-28 10:30] #471 closed, assigned to nobody

[2016-06-28 10:33] fhemberger commented on #663
Can someone please add a PR for this? /cc @nodejs/website

[2016-06-28 10:33] fhemberger commented on #796
Can someone please add a PR for this? /cc @nodejs/website

[2016-06-28 10:40] fhemberger commented on #388
Is it really worth it to add such complexity? I think we already offer a great service of listing all these groups, performing several checks to determine activity is a little bit out of scope IMHO.

Even if an event is dormant in your region, you may want to get in touch with the organizers to set up a new meeting (or take over the group). As there hasn't been any activity on this issue for six m

[2016-06-28 10:44] fhemberger commented on #278
@nodejs/build Can someone please have a look at the Linux install instructions? Separate `npm` hay or nay?

[2016-06-28 10:53] Fishrock123 opened #806 "Language picker"
Now that https://github.com/nodejs/nodejs.org/pull/490 has landed and the related build/deployment work seems to be completed, we should be able to get the language groups once again more involved with the website.

We should also start thinking of a way to choose the language.

I'm not sure io.js's way was really that great. I know we discussed the flag thing before, but to me that is the most ea

[2016-06-28 11:00] leo commented on #806
That seems like something that should be implemented with the next redesign. So it would be great if you could add it to [this repo](https://github.com/nodejs/nodejs.org-new/issues). More details [here](https://github.com/nodejs/nodejs.org/issues/779):

[2016-06-28 11:05] Fishrock123 commented on #806
Sure, I guess? But we kinda need it before then. Can't hold everything up for that.

[2016-06-28 11:06] ghost commented on #806
one thing we could do if we're really getting translation efforts back up again is probe for the activeness of the i18n WGs

[2016-06-28 11:07] fhemberger commented on #806
Quoting myself here from https://github.com/nodejs/iojs.org/issues/235:

**EDIT** New link: https://www.nginx.com/resources/wiki/modules/accept_language/

I think it's the most reliable way to determine a user's language without the need for user interaction.

[2016-06-28 11:07] ghost commented on #806
we should also probably assemble a separate team to control translation efforts. the iojs way wasn't the best

[2016-06-28 11:08] leo commented on #806
@Fishrock123 Ahh, no problem! Didn't know that.

[2016-06-28 11:09] ghost commented on #806
@fhemberger i wouldn't do it automatically though. maybe a hint from somewhere within the site asking if you want to switch to the version of the site in your language

[2016-06-28 11:10] Fishrock123 commented on #806
@ore https://github.com/nodejs/nodejs-ko is quite active.

---

My point also, but we shouldn't have the selection be flags, only the initial, along with the Language indicator.

I.e.

[🇩🇪 DE] is a little more visible than [DE] for such a thing.

perhaps but idk if I'm comfortable not having an easy way to adjust it?

I'm willing to look into the nginx thing though

[2016-06-28 11:13] ghost commented on #806
@Fishrock123 yeah, but that's one of the only ones 😞

[2016-06-28 11:15] fhemberger commented on #806
@ore You still could add a cookie for example: "Nah, I want to browse the site in Klingon". In case we're adding a manual selection dropdown, this should be done anyway.

[2016-06-28 11:17] fhemberger commented on #806
Link to the nginx module is now https://www.nginx.com/resources/wiki/modules/accept_language/
… and meh, it's a 3rd party module. Thought it was a core feature.

[2016-06-28 15:24] srl295 commented on #806
I'd recommend (1) content negotiation and then (2) a simple popup with a textual list of languages.

I would NOT recommend flags. You could put a little stylized globe for an icon to represent the language choice perhaps. [English 🇦🇺](http://www.unicode.org/cldr/charts/latest/supplemental/language_territory_information.html#en)  is spoken in a lot of places, as is [French🇧🇱](http://www.unicode.org

[2016-06-28 17:07] ghost commented on #806
i am going to open a separate issue regarding translation in general in this repo

[2016-06-28 17:15] ghost opened #807 "Translation"
this is a general thread for bringing translation efforts for the website back on track. in a way, a continuation from #806.

list of potential things to do:
- check i18n WGs for activeness, if needed, call for new translators
- assemble a dedicated team/WG for translation (?)

[2016-06-29 05:43] rvagg commented on #278
It's inconsistent because it actually is inconsistent across packagers. Many distros dictate that you can't install these things in a single bundle--one of the reasons that we bundle them together in the [NodeSource Linux distributions](https://github.com/nodesource/distributions) is because we think these rules are (mostly) stupid.

If Arch comes with an `npm` package and a `nodejs` package which

[2016-06-29 05:52] lpinca commented on #663
Does this mean that the live events should be added in `events.md`?
For example:

[code]

[2016-06-29 06:14] fhemberger commented on #663
Yes, that would be great.

[2016-06-29 12:31] #796 closed, assigned to nobody

[2016-06-29 17:01] Fishrock123 commented on #806
From The Korean Translation Group: https://github.com/nodejs/nodejs-ko/issues/381#issuecomment-229031422:

[2016-07-01 20:47] naugtur opened #813 "EU/US confusion"
Should this link open a page starting with SAN FRANCISCO, June 29, 2016?

https://nodejs.org/en/blog/announcements/interactive-2016-ams/
It's been advertised as the european one on twitter

[code]

[2016-07-01 21:15] mikeal commented on #813
It's a press release, press releases always start with a day and location they originate.

[2016-07-01 21:20] naugtur commented on #813
That's not the most intuitive thing ever, but sorry for spamming you guys anyway ;)

[2016-07-01 21:20] #813 closed, assigned to nobody

[2016-07-02 08:50] #663 closed, assigned to nobody

[2016-07-04 09:59] Fishrock123 commented on #807
Made possible by https://github.com/nodejs/nodejs.org/pull/490 / https://github.com/nodejs/build/pull/316

[2016-07-04 12:33] #775 closed, assigned to nobody

[2016-07-06 23:59] Coder206 commented on #443
Maybe something like this: http://whatcanidoformozilla.org/

[2016-07-07 09:09] lpinca commented on #742
Can we use "Signed SHASUMS for release files" without specifying the version?
This will simplify the translation as the version position in the sentence depends on the language. Otherwise we have to split the sentence in 3 parts (prefix, version, suffix).
An alternative is to put the version always at the end using something like "Signed SHASUMS for release files (vx.y.z)" but I think it can be om

[2016-07-07 11:36] fhemberger commented on #742
I think it's fine to omit the version number, as you said, download pages always refer to a Node.js version anyway.

[2016-07-07 15:26] raphaelokon commented on #742
Oh. Damn … I forgot to push my code. I had the change locally since May 16th and forgot to create the PR for it since then … :(

[2016-07-07 15:28] lpinca commented on #742
oops sorry @raphaelokon I should have pinged you before creating a new pr. If yours is better I'm fine with closing mine.

[2016-07-07 23:01] stevemao commented on #742
@raphaelokon competing PR is always encouraged :)

[2016-07-08 08:17] raphaelokon commented on #742
@lpinca Hey no worries :-) I just forgot to push mine. The only difference between yours and mine:
I included the shasum text in the `download` section of `locale/en/site.json`

@stevemao True :-)

[2016-07-08 08:21] raphaelokon commented on #779
If you guys have a need for an MA Interaction/Interface designer with +10 years of frontend/JS experience … give me a ping. I am using Node in production and would like to give back a bit what I got out of Node.

[2016-07-08 13:46] fhemberger commented on #742
Closed by #819.

[2016-07-08 13:46] #742 closed, assigned to nobody

[2016-07-08 17:42] raphaelokon commented on #508
Has this design be evaluated against any UX metrics, user needs (target user group[s] data, stakeholders etc.)? Just asking because the ☰ hamburger icon is clearly an UX anti-pattern (tho a very adopted one).

[2016-07-11 14:15] #805 closed, assigned to nobody

[2016-07-11 14:16] JungMinu opened #822 "Evangelism: Weekly Update for July ~"
Let's write down for next week :gift:

[2016-07-12 13:44] hfeeri commented on #822
Hey,

We wrote a detailed article on how should Node developers secure their applications - with 10 rules to follow.

You can find it here: https://blog.risingstack.com/node-hero-node-js-security-tutorial/

Cheers,

[2016-07-13 04:57] edsadr commented on #807
quick question, what would be the minimum amount of content suggested to create the locale? we are currently planning to translate a lot here:

https://github.com/nodejs/nodejs-es/issues/139 (Warning: Spanish there)

But we already have some basic content translated and reviewed here: https://github.com/nodejs/nodejs-es/pull/138

When should we create the PR?

[2016-07-13 07:01] fhemberger commented on #807
I'd say whenever you think the site's state useful for the visitor.

[2016-07-13 12:42] rvagg commented on #662
If anyone here's interested in beta testing an rsync endpoint, please hit me up @ rod@vagg.org and @jbergstroem and I will get you set up to try out our shiny new experiment.

[2016-07-14 05:59] raphaelokon commented on #223
Hey. Is this considered fixed then? I would like to tackle this one.

[2016-07-14 08:31] shunanya opened #824 "Seems, 'url.parse' isn't working properly"
- **URL**: doesn't matter
- **Browser version**: doesn't matter
- **Operating system**: Ubuntu 14.x
- **Node.js version**: 4.3.1

Seems, 'url.parse' isn't working properly in case when the query string in URL is ended by '&'.
The parsing contains **blank key with blank value** (see below example)

[code]

The output of this code is the following

[code]

[2016-07-14 08:45] ghost commented on #824
hey! you might want to repost this issue at http://github.com/nodejs/help, since this is the repository for the _website_, not for node.js itself. thanks 👍

[2016-07-14 08:45] #824 closed, assigned to nobody

[2016-07-15 16:46] Fishrock123 commented on #807
@edsadr I'd say the top-level `home`, `about`, `downloads`, and `docs` pages. `404` is also simple and important.

Even better, also include the top-level `foundation`, `get-involved`, and `security` pages.

[2016-07-15 16:51] Fishrock123 opened #825 "Always translate header & footer templates?"
I'm not sure this is feasible, but maybe we should build all possible pages that exist from `en` in every language using the localized templates (header, footer, etc), and use those pages as the fall-backs rather than the actual english pages.

This has two obvious downsides, beyonds complexity:
1. Build times would be dramatically increased.
2. Build output size.
##

Perhaps a bit more involved,

[2016-07-15 16:57] gtewallace opened #826 "Add New Case Study to Resources Page"
- **URL**:
- **Browser version**:
- **Operating system**:

We have a new Node.js Foundation Case Study that we'd like added below the Uber Case Study on https://nodejs.org/en/foundation/case-studies/

Title: Node.js Helps Fusion Marketing Build Memorable Digital Experiences

Description: Fusion Marketing is a St. Louis, MO-based event marketing firm that specializes in creating custom interactive

[2016-07-15 18:28] edsadr commented on #807
ok @Fishrock123  home, downloads, security and 404 are done, working on about and then we will see about docs so hopefully next week we could have a basic PR for ES locale

[2016-07-16 09:30] #826 closed, assigned to nobody

[2016-07-17 08:30] outsideris opened #830 "questions for "about" documents"
We're working on translating the website as Korean, see https://github.com/nodejs/nodejs-ko/issues/381. We encounter a few issue with content.
1. In [locale/en/about](https://github.com/nodejs/nodejs.org/tree/master/locale/en/about/), there is an `advisory-board` folder, but we can't found where it is used on the website. we guess it is a missing link.
2. [locale/en/about/organization.md](https://

[2016-07-17 08:49] stevemao commented on #830
This must be a mistake.

[2016-07-17 09:15] Fishrock123 commented on #830
You'd need to check the website nginx config: https://raw.githubusercontent.com/nodejs/build/master/setup/www/resources/config/nodejs.org

I've copied the relevant bits below:

<details>

[code]

</details>

[2016-07-17 10:00] fhemberger commented on #830
@outsideris @stevemao This was taken originally from the io.js website, but all occurrences of "io.js" were replaced with "Node.js". Thanks, you're the first who found this mistake.

[2016-07-18 08:40] outsideris commented on #830
@Fishrock123 Thanks for providing nginx conf.
There are URLs for the documents that I said, but I can't find which links on the website point to it.
- [about/organization](https://github.com/nodejs/nodejs.org/blob/master/locale/en/about/organization.md) is same with [foundation/tsc/index](https://github.com/nodejs/nodejs.org/blob/master/locale/en/foundation/tsc/index.md). I think `about/organizati

[2016-07-18 08:40] outsideris commented on #830
@fhemberger Thank you for confirming it. I will fix it.

[2016-07-18 09:06] Fishrock123 commented on #830
@outsideris Hmm, that could be correct.

Yes, the `advisory-board` has been replaced by the actual foundation board.

[2016-07-18 09:12] outsideris commented on #830
@Fishrock123  Can I remove `about/organization` and `about/advisory-board`? Or, I should keep them and translate them as Korean because there is a reason for keeping theses file.

[2016-07-18 11:06] Fishrock123 commented on #830
@outsideris You definitely do not need to translate them in my opinion, see my comment at https://github.com/nodejs/nodejs.org/issues/807#issuecomment-233004811

[2016-07-19 09:42] outsideris commented on #830
@Fishrock123 Thank you.

[2016-07-19 09:42] #830 closed, assigned to nobody

[2016-07-19 10:04] fhemberger commented on #223
@raphaelokon This issue is still open, it would be great if you could look into it.

[FYI] Node.js on Medium: https://medium.com/@nodejs/latest

[2016-07-19 14:46] #822 closed, assigned to nobody

[2016-07-19 14:46] JungMinu opened #832 "Evangelism: Weekly Update for July ~"
Let's write down for next week :gift:

[2016-07-22 07:49] rgoupil opened #834 "Error 522 on nodejs v5.5.0 download"
- https://nodejs.org/dist/v5.5.0
- Curl | Chrome 49.0.2623.112
- Debian |  Windows 7 SP1

While https://nodejs.org/dist/ or https://nodejs.org/dist/index.json seems to be working fine, I get an error 522 when ever I try to download any build of Nodejs.
So far I tried without success:
- https://nodejs.org/dist/v5.5.0/node-v5.5.0-linux-x64.tar.gz
- https://nodejs.org/dist/v5.5.0/node-v5.5.0-linux-ar

[2016-07-22 07:51] fhemberger commented on #834
Seemed to be a temporary glitch, works fine for me (Germany).

[2016-07-22 07:54] rgoupil commented on #834
Oh yes, as you might guess by the 'Paris', I am located in France, thanks for the quick answer anyway.

[2016-07-22 09:02] rgoupil commented on #834
Just tried again, I am able to download the archive correctly.

Have a good day.

[2016-07-22 09:02] #834 closed, assigned to nobody

[2016-07-22 12:21] evanlucas opened #837 "release-post script breaks if there is a line after a header link"
If there is a line after the `<a id="6.3.1"></a>` header link in node changelogs, the release-post script breaks

[2016-07-22 12:59] lpinca commented on #837
The problem is in these two regex [1](https://github.com/nodejs/nodejs.org/blob/bd2149b90b8f04b994efe664758b04e071a9780f/scripts/release-post.js#L103), [2](https://github.com/nodejs/nodejs.org/blob/bd2149b90b8f04b994efe664758b04e071a9780f/scripts/release-post.js#L150). The second one does not match as there is a leading `\n`.
I think the beast approach to fix this is to trim the matched [section](

[2016-07-23 04:51] JungMinu opened #839 "Allow squash merging"
Repository administrators now have a few options to choose from when deciding how to handle history.
<img width="757" alt="r" src="https://cloud.githubusercontent.com/assets/5035902/17075841/9bbd0e8e-50db-11e6-8bda-3023764ab704.png">
This is a new option which lets you force commit squashing on all pull requests merged via the merge button.

Allowing squash commits via the merge button would be re

[2016-07-23 05:05] fhemberger commented on #839
I'd really like to see that for this repo as well.

Unfortunately, I can't enable it myself: Only one of the WG Admins (i.e. @rvagg) is a repo owner (and thus can administrate stuff) along with @Trott @Fishrock123 and @evanlucas.